:root {
  --viewport-height: 100vh;
}

@supports (height: -webkit-fill-available) {
  :root {
    --viewport-height: -webkit-fill-available;
  }
}

body {

  min-height: var(--viewport-height);

  &.n-type a.n-btn[href],
  a.n-btn[href],
  button.n-btn,
  video {
    border-radius: var(--nui-border-radius, 0);
  }
}

html {
  height: var(--viewport-height);
  margin: 0;
  padding: 0;
  overflow: hidden; // Safari bug when zoomed in
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  // background: darkcyan;
  height: 100%;
  line-height: 1.333;
  color: white;
}

pre {
  overflow: auto;
  color: var(--nui-list-color);
}

li pre {
  display: inline;
}

.n-carousel:not(.n-carousel--lightbox) > .n-carousel__content > * > :not(.n-carousel--overlay) {
  padding: 0 1rem;
  box-sizing: border-box;
}

.n-carousel:not(.n-carousel--lightbox) > .n-carousel__content > * > :first-child,
.n-carousel:not(.n-carousel--lightbox) > .n-carousel__content > * > :last-child {
  padding: 1rem;
}

.demo .n-carousel:not(.n-carousel--auto-height):not(.n-carousel--lightbox) > .n-carousel__content > *,
.demo .n-carousel.n-carousel--vertical:not(.n-carousel--lightbox):not(.n-carousel--auto-height) > .n-carousel__content > * {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // aspect-ratio: 2;
}

html {
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */
}

.demo .n-carousel.n-carousel--overlay .n-carousel__content {
  @media (min-width: 900px) {
    p {
      columns: 1;
      max-width: 100rem;
      margin: auto;
    }
  }
}

.n-carousel--lightbox > .n-carousel__content > * {
  padding: 0;
  margin: 0;
}

.n-carousel__content > [aria-current] {
  z-index: 1;
}

@media (min-width: 600px) {
  .demo-grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .demo-grid > * {
    text-align: center;
  }
}

.demo {

  &,
  .n-carousel__content > * {
    background: var(--nui-bg);
    transition: background-color .2s ease-in-out;

    .n-carousel {
      --nui-bg: white;
    }
  }

  color: var(--nui-color);
  transition: color .2s ease-in-out;

  &.n-carousel.n-carousel--vertical:not(.n-carousel--auto-height),
  &.n-carousel.n-carousel--vertical:not(.n-carousel--auto-height) > .n-carousel__content {
    --max-height: 100%;
  }

  max-width: 1366.666px;

  > .n-carousel__content {
    > * {
      // display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  margin: auto;

  &.n-carousel.n-carousel--tabs > .n-carousel__index {
    max-height: 100%;
    overflow: auto;
    flex-wrap: nowrap;
    // padding: 1ch 0;

  }

  .source {
    display: flex;

    > * {
      margin-inline-end: 3ch;
    }

    pre {
      all: initial;
      font: inherit;
    }
  }

  a[href] {
    color: inherit;
  }

  a[href]:visited {
    text-decoration: none;
  }
}

code[class*="language-"] {
  font-family: Monaco, monospace !important;
  line-height: 1.9 !important;
  display: block;
  font-size: 0.812em;
}

.code {
  position: relative;
  margin: 1.5em 0;
  display: inline-block;
  width: 100%;

  pre {
    padding: 1em;
    margin: 0 !important;
    // background: #f1f3f8 !important;
  }

  button.n-btn {
    position: absolute;
    bottom: 0;
    inset-inline-end: 0;
    font-size: 0.75em;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: var(--nui-border-radius, 0);
  }

  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
    background: white;
  }
}

// @media (min-width: 600px) {
// 	h1,
// 	h2 {
// 		&:first-child {
// 			margin-top: 0;
// 		}
// 	}
// }
// #home h1:after {
//   content: attr(data-version);
//   padding-inline-start: 1ch;
//   font-size: 0.5em;
//   font-weight: normal;
//   vertical-align: super;
// }

#home {
  ul.n-masonry {
    // margin: 0;
  }

  .demo-pages img {
    border-radius: var(--nui-border-radius, 0);
    box-shadow: 0 0 2px 1px #0000800d;
    aspect-ratio: 1;
  }
}

[href*=".min.css"],
[href*=".min.js"] {
  // text-decoration: none;
  white-space: nowrap;

  &:after {
    content: attr(data-size);
    padding-inline-start: 0.5ch;
    min-width: 5ch;
    display: inline-block;
    font-size: 0.75em;
    vertical-align: top;
  }

  &[data-size="0.0 KB"]:after {
    opacity: 0;
  }

  b {
    text-decoration: underline;
    min-width: 4ch;
    display: inline-block;
  }
}

// Safari only
_::-webkit-full-page-media,
_:future,
:root .demo {
  height: -webkit-fill-available;
}

// Guide theme
:root {
  --nui-color: #333;
  --nui-bg: #fdf9e2;
  --nui-control-color: white;
  --nui-control-bg: #018383;
  --nui-control-active-bg: #cc7c7e;
  --nui-control-active-color: black;
  --nui-control-highlight: #2abfb0;
  --nui-input-color: darkslateblue;
  --nui-input-bg: aliceblue;
  --nui-list-color: darkmagenta;
  --nui-list-bg: #4888cb;

  --nui-color-dark: lightgrey;
  --nui-bg-dark: #222;
  --nui-control-color-dark: white;
  --nui-control-bg-dark: #018383;
  --nui-control-active-bg-dark: #cc7c7e;
  --nui-control-active-color-dark: black;
  --nui-control-highlight-dark: #2abfb0;
  --nui-input-color-dark: darkslateblue;
  --nui-input-bg-dark: aliceblue;
  --nui-list-color-color: darkmagenta;
  --nui-list-bg-dark: #4888cb;
}

.n-list {

  pre {
    --nui-list-color: darkmagenta;
  }
}

.n-lightbox__thumbnails {
  --thumb-size: 3em;
}

nav li[aria-haspopup][aria-expanded="true"],
html:not(.can-touch) nav li[aria-haspopup]:hover {
  --nui-control-bg: #d47171;
}

nav li li[aria-haspopup][aria-expanded="true"],
html:not(.can-touch) nav li li[aria-haspopup]:hover {
  --nui-control-bg: #b76262;
}

.n-row.grid-demo > * {
  background: var(--nui-color);
  color: #fff;
  border-radius: var(--nui-border-radius, 0);
}