/* niui WordPress – rado.bg */
@charset 'utf-8';

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

body .n-contain {
	max-width: 1312px;
}

:root {
	--color-teal: #488e89;
}

.n-carousel {
	background: #eee;
}

.n-wp {
	.n-carousel.n-carousel--thumbnails > .n-carousel__index > * span {
		padding: 0;
	}

	body {
		margin: 0;
	}
}

.n-wp .n-carousel.n-carousel--lightbox {

	// grid-template-areas:
	// 	"f c a3 a3 a3 a3"
	// 	"prev a2 a2 a2 a2 next"
	// 	"v v v v v v"
	// 	"i i i i i i";

	> .n-carousel__content {
		grid-row: 1/-2;
	}

	&.n-carousel--overlay {
		margin: 0;
		// grid-template-areas:
		// 	"f c a3 a3 a3 a3"
		// 	"prev a2 a2 a2 a2 next"
		// 	"i i i i i i";

		> .n-carousel__content {
			grid-row: 1/-1;
		}

		// .n-aspect {
		// 	display: contents;
		// }

		.gallery {
			flex-wrap: nowrap;
			margin: 0;
			overflow: auto;
			overflow-y: hidden;

			a {
				width: 2em;
			}
		}
	}

	&:-webkit-full-screen {
		margin: 0;
		// grid-template-areas:
		// 	"f c a3 a3 a3 a3"
		// 	"prev a2 a2 a2 a2 next"
		// 	"i i i i i i";

		> .n-carousel__content {
			grid-row: 1/-1;
		}

		// .n-aspect {
		// 	display: contents;
		// }

		.gallery {
			flex-wrap: nowrap;
			margin: 0;

			a {
				width: 2em;
			}
		}
	}

	&:fullscreen {
		margin: 0;
		// grid-template-areas:
		// 	"f c a3 a3 a3 a3"
		// 	"prev a2 a2 a2 a2 next"
		// 	"i i i i i i";

		> .n-carousel__content {
			grid-row: 1/-1;
		}

		// .n-aspect {
		// 	display: contents;
		// }

		.gallery {
			flex-wrap: nowrap;
			margin: 0;

			a {
				width: 2em;
			}
		}
	}

}

.n-carousel__content.featured {
	margin-bottom: 22px;
}

.n-carousel__content.featured h2 a[href] {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.n-carousel .n-carousel__content.featured {
	margin-bottom: 0;
}

.n-carousel__content.featured > * {
	position: relative;
	text-align: center;
	padding: 9% 0;
	overflow: visible;
}

.n-carousel__content.featured a[href],
.n-carousel__content.featured p {
	color: #fff;
}

.n-carousel__content.featured > div > * {
	padding: 0 0.5em;
	display: inline-block;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.n-wp .n-carousel__content.featured img {
	display: none;
}

.n-wp .n-carousel__content.featured picture img[class*="thumbnail"] {
	position: absolute;
	z-index: -1;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-height: none;
	padding: 0;
	display: block;
}

.n-wp .sidebar form {
	margin: 0;
	padding: 0;
}

.n-wp img {
	display: block;
	max-width: 100%;
	height: auto;

	:not(.avatar) {
		margin: 0 auto;
	}
}

.n-wp .n-aspect img,
.n-wp .wp-caption > img {
	display: inline-block;
}

.n-wp .sidebar ul,
.n-wp .sidebar li,
.n-wp .comments ul,
.n-wp .sidebar li a[href] {
	list-style: none;
	padding-left: 0;
	margin: 0;
	display: block;
}

.n-wp .sidebar li {
	margin-bottom: 0.5em;
}

button.search-submit {
	display: none;
}

.n-wp .n-carousel--lightbox {

	margin-top: 1.5em;

	.n-aspect {
		max-height: 100%;
		display: flex;
	}

	.gallery {
		margin: 0.5em -0.7em;
		display: flex;
		flex-wrap: wrap;
		max-width: 100%;
		margin: 1rem 0;
		justify-content: flex-start;
		max-height: 20em;
		// overflow: hidden;
		position: relative;
		max-width: 100%;
		width: 100%;

		-webkit-mask-image: -webkit-linear-gradient(270deg, black, black 95%, transparent); // Chrome
		-webkit-mask-size: 100% 20em;
		-webkit-mask-repeat: no-repeat;
		mask-image: linear-gradient(180deg, black, black 95%, transparent); // Safari, Firefox
		mask-size: 100% 20em;
		mask-repeat: no-repeat;

		a {
			display: block;
			width: 20%;
			margin: 0;
			border: 1px solid transparent;
			text-align: center;
			box-sizing: border-box;

			&:not([aria-current]) {
				--nui-control-bg: transparent;
			}

			img {
				display: inline-block;
				vertical-align: middle;
				width: auto;
				height: auto;
			}
		}

	}

	&.n-carousel--overlay {

		.gallery {
			justify-content: center;
		}

	}

	&.n-carousel--inline:not(.n-carousel--overlay) {
		.gallery [aria-current] {
			--nui-control-bg: transparent;
		}
	}
}

.n-wp .n-carousel--lightbox .gallery body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.n-wp.n-type h2 a[href] {
	color: #fff;
}

#full-window .n-carousel__previous,
#full-window .n-carousel__next {
	top: 49%;
}

.wp-caption,
iframe {
	max-width: 100%;
}

iframe,
article h2 a {
	margin: 0 auto;
	display: block;
}

.home article,
.archive article,
.search-results article {
	margin-bottom: 44px;
	position: relative;
	//	overflow: hidden;
}

.n-type.n-wp section > article > {

	p:not(.has-image):not(.has-iframe),
	ol,
	ul,
	blockquote {
		max-width: 40em;
		margin: 1.5em auto;
		box-sizing: border-box;
	}

	p.has-image {
		text-align: center;

		//		font-size: 0; // Disable legacy images' captions, because they appear in the wrong place
		img {
			display: inline-block;
		}
	}

	.headline + p.has-image {
		margin-top: 0.5em;
	}
}

article {
	ul {
		padding-left: 2px;

		ul {
			margin-inline-start: 2rem;
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
	}

	.n-aspect {
		// background-size: contain;
		// background-repeat: no-repeat;
		// background-image: var(--placeholder, none);
		z-index: 0;
		position: relative;
		overflow: hidden;
		// display: inline-flex; // breaks aspect-ratio

		&:before {
			content: "";
			background-size: contain;
			background-repeat: no-repeat;
			background-image: var(--placeholder, none);
			position: absolute;
			inset: 0;
			filter: blur(4px);
			z-index: -1;
		}
	}

	p.has-image .n-aspect {
		max-width: calc(1px * var(--width));
		margin: auto;
	}
}

.comments {
	li {
		margin-bottom: 2em;
	}

	p {
		width: 100%;
		margin-bottom: 0;
	}

	.n-form {
		padding: 0;
	}

	.n-form.n-form--wide label span {
		display: inline;
	}

	.comments form input {
		border: 0;
	}

	.comment-meta.commentmetadata {
		font-size: 0.75em;
	}

	.n-form label {
		min-height: 2em;
	}

	.comment-body {
		padding-right: 1em;
	}

	textarea {
		width: 100%;
	}
}

.n-wp .img-crop {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: transparent;
	overflow: hidden;
	position: relative;
	white-space: nowrap;

	&:before {
		display: inline-block;
		vertical-align: middle;
		content: "";
		padding-top: 25vmin;
	}

	&:after {
		content: "";
		position: absolute;
		inset: 0;
		background: var(--placeholder, none) center no-repeat;
		background-size: cover;
		filter: blur(4px);
		overflow: hidden;
	}

	img {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.img-crop h2,
article h2 a[href] {
	display: inline-block;
	vertical-align: bottom;
	padding: 0.5em;
	font-size: 1.5rem;
	background: var(--color-teal);
	color: #fff;
	text-decoration: none;
}

article h2 a[href]:after {
	content: " →";
}

.comment-author img {
	padding-bottom: 0;
}

/*
#head .logo a {
	
	display: block;
	max-width: calc(100% - .5em);

}
*/
.menu .current_page_item a:link,
.menu .current_page_item a:visited,
.img-crop:hover h2,
.n-form button.search-submit:hover,
.n-type article .img-crop:hover h2,
.n-wp.n-type article .headline:hover h2 a[href] {
	color: #e82;
}

/*
article {
	
	overflow: hidden;

}
*/
.n-header .logo {
	// display: flex;
	max-width: 480px;

	~ .n-accordion {
		margin-top: 1em;
	}

	div {
		// padding: 0 1em;
		flex-grow: 1;

		h2,
		h3 {
			padding-top: 0;
		}

		h2 {
			font-size: 2em;
		}
	}
}

.logo-img {
	min-height: 37px;
}

.rsswidget img {
	display: none;
}

footer {
	// Stick footer to the bottom
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	padding-bottom: 1em;
}

.comment-form p label {
	display: block;
}

nav.n-nav {
	a {
		color: var(--nui-control-color, #666);
		text-transform: uppercase;
		text-decoration: none;

		&.active[href],
		&[href]:hover {
			color: var(--nui-control-highlight, #ee8822);
		}
	}

	&.n-nav--drop {
		--nui-control-bg: #eee;

		li.current_page_item {
			--nui-control-bg: #ddd;
		}
	}
}

.single h1 {
	margin-top: 0.25em;
}

.n-type {
	h3.comment-reply-title {
		padding-top: 0;
	}

	a[href] {
		color: lightcoral;
		text-decoration: none;
	}

	a[href]:hover,
	input[type="submit"]:hover,
	a.n-btn[href]:hover,
	button.n-btn:hover {
		color: var(--nui-control-highlight, #ee8822);
	}

	.page_item a[href] {
		color: unset;
		padding: 0 0.5em;
		line-height: 1.5;
	}

	p {
		text-align: left;
	}

	article {

		h1,
		h2,
		h3,
		h4,
		h5 {
			font-weight: 500;
			color: var(--color-teal);
		}

		.headline > h2 {
			padding: 0;
			line-height: 1.33;
		}

		.img-crop {
			h2 {
				color: #fff;
				position: relative;
				white-space: normal;
				line-height: 1.33;
				background: rgba(72, 142, 137, 0.88);
				transition: background-color 0.2s ease-in-out;
				margin-bottom: 0;
				z-index: 1;
			}

			&:hover h2 {
				background: rgb(72, 142, 137);
			}
		}
	}
}

.wp-block-image {
	margin: 1em 0;
	max-width: 100%;

	figure,
	figure[class*="align"] {
		display: block;
		margin: 0;
	}

	&,
	figure,
	figure[class*="align"] {
		display: inline-flex;
		flex-direction: column;
		max-width: 100%;
	}

	& {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		&:has(> .aligncenter) {
			justify-content: center;
		}

		&:has(> .alignright) {
			justify-content: flex-end;
		}
	}

	.aligncenter {
		// text-align: center;

		.n-aspect {
			margin: 0 auto;
		}
	}

	.alignright {
		// text-align: right;

		.n-aspect {
			margin: 0 0 0 auto;
		}
	}
}

.n-aspect.aligncenter {
	display: flex;
	margin: 0 auto;
}

.n-aspect.alignright {
	display: flex;
	margin: 0 0 0 auto;
}

.n-header .n-accordion.n-accordion--mobile {
	//	display: inline-block; // Enable closing the n-burger by tapping on its right
}

/*
	.n-accordion span.n-burger:before { // Workaround for the weirdest bug where the fallback value of the CSS variable disappears
		
	    --nui-control-color: #333;
	   
	}
	*/
// Image captions
.wp-caption {
	margin: 0.5em auto;

	a[href] {
		display: inline-block;
		max-width: 100%;
	}

	&.alignright {
		margin: 0 0 0 auto;
	}

	p.wp-caption-text {
		margin: 0;
		font-size: 12px;
		line-height: 24px;
		padding: 0;
	}
}

a.n-backtotop[href] {
	background: none;
	bottom: -1em;
}

.textwidget a {
	margin-bottom: 0.5em;
	display: inline-block;
}

@media (min-width: 600px) {

	.home section {
		display: flex;
		flex-wrap: wrap;
	}

	.home section article {
		width: calc(50% - 0.75em);
		margin: 0 0 3em 0;
	}

	.home section article:nth-child(2) ~ :nth-child(2n + 1),
	.home.paged section article:first-child {
		margin-right: 1.5em;
	}

	.home:not(.paged) section article:nth-child(1),
	.home:not(.paged) section article:nth-child(2),
	.home section .pagination {
		width: 100%;

		.n-carousel--lightbox:not(.n-carousel--overlay) .gallery a {
			// Retina thumbnails
			width: 10%;
		}

		.img-crop {
			background-size: cover;
		}

	}

	.n-wp .n-carousel--lightbox .gallery a {
		// Retina thumbnails
		width: 10%;
	}

	.comments {
		display: grid;
		grid-template-columns: 1fr 1fr;

		> h2 {
			grid-column: 1 / 3;
		}

		> ul {
			grid-column: 1 / 2;
		}

		> div {
			grid-column: 2 / 3;
		}
	}
}

.n-nav--drop li[aria-haspopup] {
	padding-right: 1em;
}

.wp-video {
	margin: 1.5em auto 0 auto;
}

@media (max-width: 599.9px) {
	.single h1 {
		font-size: 1.5em;
	}
}

// Color scheme
.n-carousel__previous,
.n-carousel__next,
.n-carousel__full-screen,
.n-carousel__close,
.n-carousel__index .n-tool:after,
.n-btn,
.n-form input[type="submit"],
.n-form button[type="submit"],
.n-form button[type="reset"],
button.n-btn,
a.n-btn[href],
.n-type a.n-btn[href],
.n-accordion__label,
.n-nav--drop,
.n-form,
.n-ovrl > .n-ovrl--close,
.n-nav--drop ul li,
.n-type nav.n-nav a[href] {
	--nui-control-bg: lightcoral;
	--nui-control-color: #222;
	--nui-control-active-bg: #cc7c7e;
	--nui-control-active-color: #eee;
	--nui-control-highlight: #bf2a2a;
}

.n-form input,
.n-form textarea {
	--nui-input-color: darkslateblue;
	--nui-input-bg: aliceblue;
}

// Auto dark mode
@media (prefers-color-scheme: dark) {

	body,
	.n-ovrl > *,
	.n-carousel {
		background: #000;
	}

	.n-type {
		color: #ddd;
	}

	.img-crop {
		background-color: #222;
	}

	.n-form input,
	.n-form textarea {
		--nui-input-color: #ddd;
		--nui-input-bg: #222;
	}

	.logo .default-logo {
		background: url(img/logo-white.svg) top left no-repeat;
		background-size: contain;

		img {
			opacity: 0;
		}
	}
}

figcaption:empty {
	display: none;
}

article .featured-image {
	text-align: center;

	.n-aspect:before {
		max-width: calc(1px * var(--width));
		max-height: calc(1px * var(--height));
		margin: 0 auto;
	}
}

.n-carousel--lightbox > .n-carousel__content picture:not([data-loaded]) > * {
	// background-image: inherit !important;
	// background-image: var(--placeholder);
	--placeholder: inherit !important;
}

// Clip images border while loading
.n-wp picture[style*="--placeholder"],
.headline picture {
	&:not([data-loaded="true"]) img {
		-webkit-mask: -webkit-linear-gradient(0deg, red, red) no-repeat center / calc(100% - 3px) calc(100% - 3px);
		mask: linear-gradient(0deg, red, red) no-repeat center / calc(100% - 3px) calc(100% - 3px);
	}
}

// Use the .n-aspect child instead
.n-carousel--lightbox > .n-carousel__content picture:not([data-loaded]):before,
article .n-carousel--lightbox > .n-carousel__content [data-loaded] > .n-aspect:before {
	display: none;
}