$yellow: #fd0;

header a.button[href] {
	
	background: $yellow;
	color: #404040;
	font-size: .75em;
	font-weight: bold;
	padding: .5em 2em;

}

.header-and-banner .contain {
	
	max-width: 990px;
	padding-top: 1em;

}

header img[src*="logo"] {
	
	height: 68px;

}

header img[src*="d850-logo"] {
	
	height: 35px;

}

header form {
	
	padding: .25em 0;
	font-size: .75em;

}

header form input, header p {
	
	margin: 0;
	
}

header input[type=search] {
	
	padding-right: 5em;

}

header nav.drop {

	background: #e6e6e6;
	width: 100%;
	margin-bottom: 2em;
	z-index: 1;

}

header nav.drop > ul {
	
	display: flex;
	flex-wrap: nowrap;
	overflow: visible;

}

nav.drop ul li {
	
	flex-grow: 1;
	text-align: center;
	padding: 0;

}

nav.drop ul li b.sub {
	
	display: none;

}

.banner {
	
	background: url(hero-bg-xl.jpg) center center no-repeat;
	color: #fff;
	padding: 4em 0 0;
	margin-top: 1em;

}

.banner .band {

    background: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0.4) 75%);
    background-color: rgba(255,255,255,0.1);
    padding: 1em;
    margin-top: 20em;
   
}

.banner img {
	
	height: 7em;

}

.banner li {

	text-align: center;

}

.banner ul b {
	
	display: block;
	
}

.panel-discussion {
	
	background: url(livestream-bg-xl.jpg) center center no-repeat;
	color: #fff;

}

.lenses {
	
	padding: 1em 0;
	background: url(nikkor-bg-xl.jpg) center center no-repeat;
	color: #fff;

}

.dark {
	
	color: #fff;

}