$yellow: #fd0;

* {

	box-sizing: border-box;

}

body {

	font-size: 14px;
	margin: 0;

}

.n-contain {

	max-width: 1152px;

}

.n-type {

	h3 {

		font-size: 24px;
		font-weight: 300;

	}

	h1,
	h2 {

		font-size: 48px;
		font-weight: 300;

	}

}

.n-header-banner .n-header.n-contain {

	max-width: 990px;
	padding-top: 1em;

}

.n-header {

	a.n-btn[href] {

		background: $yellow;
		color: #404040;
		font-size: .75em;
		font-weight: bold;
		padding: .5em 2em;

	}

	._1\/1 {

		z-index: 1;

	}

	img[src*="logo"] {

		height: 68px;

	}

	img[src*="d850-logo"] {

		height: 35px;

	}

	.n-form {

		padding: 0;
		font-size: .75em;
		margin: .75em 0;

	}

	.n-form input,
	p {

		margin: 0;

	}

	a[href] {

		text-decoration: none;

	}

	a small {

		font-size: .7em;

	}

	.n-form input[type=search] {

		padding-right: 5em;
		background: none;
		border: 1px solid #ddd;

	}

	.n-form input[type=submit] {

		background: #ddd url(search_12x12.png) center center no-repeat;
		padding: 0 1.5em;

	}

	nav.n-nav.n-nav--drop {

		background: #e6e6e6;
		width: 100%;
		margin-bottom: 2em;
		z-index: 1;
		border-radius: 4px;
		max-width: none;
		overflow: visible;
		// 	overflow-x: scroll;
		--nui-control-bg: lightgray;

		li:hover {

			--nui-control-bg: $yellow;

		}

	}

	nav.n-nav.n-nav--drop > ul.n-list {

		display: flex;
		flex-wrap: wrap;
		overflow: visible;
		border-bottom: 1px solid #ccc;
		border-radius: 4px;
		padding: 0;

		li li {

			width: 100%;

		}

	}

	.n-nav--drop ul[role=menubar] li[aria-haspopup] > a {

		margin-right: 1.75em;

	}

	.n-nav--drop li:not([tabindex]) > ul ~ a {

		padding-right: 1.75em;

	}

	.n-nav li:before {
		--nui-control-color: grey;
	}
}

a[href] img {

	max-width: 100%;

}

nav.n-nav.n-nav--drop ul.n-list li {

	flex-grow: 1;
	text-align: center;
	padding: 0;
	background-color: lightgray;
	justify-content: center;

}

nav.n-nav.n-nav--drop > ul.n-list > li {

	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

}

nav.n-nav.n-nav--drop > ul.n-list > li:first-child {

	border-radius: 4px 0 0 4px;
	border-left: none;

}

nav.n-nav.n-nav--drop li ul.n-list li:last-child {

	border-radius: 0 0 4px 4px;
}

html:not(.can-touch) nav.n-nav.n-nav--drop ul.n-list li:hover {

	background: $yellow;
	color: #000;

}

html:not(.can-touch) nav.n-nav.n-nav--drop ul.n-list li li:hover a {

	background: inherit;

}

nav.n-nav .active a[href] {

	opacity: initial;

}

nav.n-nav.n-nav--drop ul.n-list li.active {

	background: #666;
	color: #fff;

}

nav.n-nav.n-nav--drop ul.n-list li b.sub {

	display: none;

}

.n-banner {

	background: #000 url(hero-bg-xl.jpg) center center no-repeat;
	background-size: 100%;
	color: #fff;
	padding: 9em 0 0;
	margin-top: 1em;

	.band {

		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4) 75%);
		background-color: rgba(255, 255, 255, 0.1);
		padding: 1.25em 0 2em 0;
		margin-top: 20em;

	}

	.band ul.n-list.n-list--inline {

		padding: 0 5px;

	}

	img {

		height: 8em;

	}

	li {

		text-align: center;
		font-weight: 200;

	}

	ul.n-list b {

		display: block;
		font-size: 36px;
		font-weight: 200;

	}

}

.panel-discussion {

	background: url(livestream-bg-xl.jpg) center center no-repeat;
	color: #fff;

}

.lenses {

	padding: 1em 0;
	background: url(nikkor-bg-xl.jpg) center center no-repeat;
	color: #fff;

}

.dark {

	color: #fff;

}

footer {

	background: #e6e6e6;
	border-top: 1px solid #d8d8d8;
	font-size: 12px;
	color: #666;

}

footer ul.n-list.social li {

	margin: 0 1em;
	font-size: .83333em;

}

footer .corporate-links {

	font-size: .83333em;

}

footer .corporate-links a[href] {

	padding-inline-start: 1.5em;
	padding-inline-end: 1rem;
	background: url(icon_link_black.gif) no-repeat center left;

}

footer a[href]:not(:hover) {

	text-decoration: none;

}

footer ul.n-list.third-level {

	border-top: 1px solid #ccc;
	padding-top: 1em;

}

footer ul.n-list.third-level a[href] {

	padding: .25em 0;

}

footer ul.n-list.social li a {

	padding-left: 30px;
	min-height: 24px;
	display: block;

}

footer ul.n-list.social li a span {

	line-height: 2.25;

}

footer li:before {

	display: none;

}

footer h4 {

	font-size: 1.5em;
	font-weight: normal;
	padding-bottom: 0;

}

footer li li {

	margin: 0;


}

footer ul.n-list.n-row > li {

	--width: 1/6;

}

footer .n-contain > div {

	max-width: 912px;
	margin: 0 auto;

}

footer ul.n-list.n-row > li > span {

	font-weight: bold;

}

.picture-control {

	background: #f2f2f2;

}

.picture-control .n-carousel__content div {

	background-size: cover;
	background-position: center center;

}

.picture-control .n-carousel__content .n-row > * {

	min-height: 20em;
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;

}

.picture-control .n-pad {

	padding: 4em 3em;
	display: flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;

}

.picture-control .n-pad p {

	flex-grow: 1;

}

.picture-control > :first-child {

	min-height: 20em;

}

.picture-control > :first-child > div {

	height: 100%;

}

.round-images img {

	border-radius: 50%;
	max-width: 75%;
	display: inline-block;
	margin: 0 auto;

}

.headlines {

	padding: 5em 0;

}

.n-accordion {

	border-bottom: 1px solid #ddd;

}

.n-accordion .n-accordion__label {

	font-size: 30px;
	font-weight: 300;
	padding: .25em .5em;

}

.n-carousel.n-carousel--tabs > .n-carousel__index.n-row {

	text-transform: uppercase;
	font-weight: bold;
	font-size: .75em;
	z-index: 2;

}

.n-carousel.n-carousel--tabs .n-row .n-middle {

	padding-top: 3em;

}

.n-carousel.n-carousel--tabs > .n-carousel__index > *,
.n-carousel.n-carousel--tabs > .n-carousel__index [aria-current] {

	background: none;
	color: #000;
	border-bottom: 9px solid #ddd;
	text-align: center;
	margin: 0 1em;
	padding-bottom: .5em;
	text-transform: uppercase;
	font-weight: bold;

}

.n-carousel.n-carousel--tabs > .n-carousel__index [aria-current] {

	border-bottom-color: $yellow;

}

.n-carousel:not(.n-carousel__content--vertical) .n-carousel__index > *:first-child {

	margin-left: 1em;

}

.n-carousel__index > * {

	// text-indent: -9em;
	overflow: hidden;
	background: #d8d8d8;

}

.n-carousel__index [aria-current] {

	background: $yellow;

}

.n-carousel__content--arrow.left {

	display: none;

}

.zoom {

	position: relative;
	overflow: hidden;

}

.zoom img {

	display: block;

}

.zoom .loupe {

	position: absolute;
	top: 20%;
	left: 25%;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 3px solid #fff;
	background: url(zoom.jpg) center center no-repeat;
	background-position: -580px -300px;

}

ul.n-list:not(.n-list--no-bullet):not(.n-list--inline) li {

	margin: 0;

}

@media (min-width: 600px) {

	.photographer .n-carousel.n-carousel--tabs > .n-carousel__index.n-row {

		margin-left: 50%;

	}

	.n-carousel.n-carousel--tabs > .n-carousel__index.n-row {

		width: calc(50% - 2em);
		margin: 0 1em -5em 0;
		float: left;

	}

	ul.n-list.two-column {

		column-count: 2;

	}

	nav.n-nav.n-nav--drop ul.n-list li input ~ a[href] {

		width: auto;

	}

}

@media (max-width: 599.9px) {

	header > .n-row:first-child div {

		text-align: center;

	}

	header nav.n-nav.n-nav--drop ul.n-list li a,
	nav.n-nav.n-nav--drop ul.n-list li input ~ a[href] {

		width: 100%;

	}

	.n-carousel.n-carousel--tabs > .n-carousel__index > *,
	.n-carousel.n-carousel--tabs > .n-carousel__index [aria-current],
	.n-carousel:not(.n-carousel__content--vertical) .n-carousel__index > *:first-child {

		margin: 0;

	}

	nav.n-nav.n-nav--drop > ul.n-list > li {

		width: 100%;

	}

	.n-nav--drop ul ul:not([aria-expanded]) {

		padding: 0;
		width: 100%;

	}

	.n-banner img {

		max-width: 100%;
		height: auto;

	}

	.n-accordion .n-accordion__label {

		font-size: 1rem;
		background: none;

	}

}

.n-banner .band ul.n-list.n-list--inline li {

	margin: 0 .5em;
	flex-direction: column;

}

.n-nav--drop.n-nav li > a {
	padding-inline-end: 1.5em;
}