$green: #09872b;

.contain {
	
	max-width: 1000px;

}

body {
	
    background: url(bg.gif) repeat 0 0;

}

.slider-arrow {
	
	display: none;

}

header > .row > :first-child {
	
	background: #000;

}

header nav.drop {
	
	--nav-bg: #000;
	color: #fff;

}

header nav.drop li.search {
	
	background: #fff;

}

.banner {
	
	background: url(mainvisual-bg.png) center center no-repeat;
	background-size: contain;
	
}

footer {
	
	background-color: #33322f;
	padding-top: 0;
	color: #fff;
	    
}

footer .banners {
		
	background-color: $green;
	    
}
