$green: #09872b;
$greendark: #00771b;
$orange: #f57f31;
$blue: #1e5e86;

.contain {
	
	max-width: 1000px;

}

body {
	
    background: url(bg.gif) repeat 0 0;
    font-size: 14px;

}

.n-slider--arrow {
	
	display: none;

}

nav.n-nav.n-drop ul {

	justify-content: flex-end;	

}

.n-header {
	
	> .row > :first-child {
	
		background: #333;
	
	}
	
	nav.n-nav.n-drop {
		
		--nav-bg: #333;
		color: #fff;
		font-size: .85em;
	    display: block;
	
		li.search {
			
			background: #fff;
		
		}
	
	}

}

nav.n-nav.n-drop ul[role=menubar] li > a {
	
	padding: .5em;

}

nav.n-nav {
	
    a[href] {
	    
	    text-decoration: none;
	    
    }


}

.n-header .contain nav.n-nav {

	background-color: #fff;
    border: 2px solid #f4eacc;
    padding: 1.25em 2em;
    
    a[href] {
	    
	    padding-left: 2em;
	    padding-right: 1.5em;
	    background: url(icon-side.png) top left no-repeat;
	    display: inline-block;

    }
    
    ul {
	    
	    width: auto;
	    
    }
    
    li {
	    
	    margin: .25em 0;
	   
    }
    
    li:nth-child(2) a[href] {
	    
	    background-position: 0 -77px;	    
	    
    }
    
    li:nth-child(3) a[href] {
	    
	    background-position: 0 -157px;	    
	    
    }
    
    li:nth-child(4) a[href] {
	    
	    background-position: 0 -226px;	    
	    
    }
    
    li:nth-child(5) a[href] {
	    
	    background-position: 0 -312px;	    
	    
    }
    
    li:nth-child(6) a[href] {
	    
	    background-position: 0 -393px;	    
	    
    }
    
    li:last-child a[href] {
	    
	    padding-right: 0;
	    
    }
    
}

.n-banner {
	
	background: url(mainvisual-bg.png) center center no-repeat;
// 	background-size: contain;
	
}

.n-banner .n-slider--nav a {
	
	font-size: 0;
	--nav-size: 12px;
	margin: 0 6px;
	
}

.n-banner .n-slider--nav a[data-active] {
	
	background: $green;

}

main {
	
	padding-top: 3em;
	position: relative;

}

.n-type a[href].box-shadow {

	background: #f57f31;
    display: block;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
    text-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.1);
    padding: .5em;
    margin: .5em auto;

}

.box-strike {
	
	border: 1px solid $green;
	border-radius: 5px;
	background: #e7f3dc;
	padding: .5em 1em;
	
	.title {
		
		color: $greendark;
		text-align: center;
		position: relative;
		display: flex;
		justify-content: center;
		padding: 0 0 .5em 0;
		
		span {
			
			background: #e7f3dc;
			padding: 0 .5em;
			z-index: 1;
			display: inline-block;
			
		}

	}
	
	.title:before {
		
		content: '';
		position: absolute;
		border-bottom: 1px solid $green;
		top: 40%;
		left: 0;
		right: 0;
		display: block;
		
	}

}

.n-type a {
	
	color: #666;

}

a.attention {
	
	padding-left: 1.5em;
	background: url(icon-att-s@2x.png) left center no-repeat;
	background-size: contain;
	
}

.arrow-links a[href] {
	
	background: url(icon-link-square.png) top left no-repeat;
	background-position-y: .85em;
	padding-right: 1em;
	padding: .5em .5em .5em 1.25em;
	display: inline-block;
	
}

.arrow-links.orange a[href] {
	
	background-position-y: -14.25em;

}

b.circle {
	
	display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 3px solid green;
    margin-right: .5em;
    transform: translateY(2px);

}

.totop {

    position: absolute;
    right: -6em;
    bottom: -3em;
    width: 56px;
    transition: bottom .2s ease-in-out;

}

.totop:hover, .totop:focus {

    bottom: -1.5em;

}

.row.border {
	
	--color: #e2e2e2;
	background: #fff;

	> div {
		
		border-left: 1px solid #e2e2e2;
		
	}
	
	a[href] {
		
		text-decoration: none;

	}

}

.vertical-text {
	
    transform: rotate(90deg);
	transform-origin: -1em 0em 0;
    white-space: nowrap;
    position: absolute;
    text-transform: uppercase;
    font-size: 7px;
    color: $green;
    
    + p {
	    
	    margin: .25em 0 0 .75em;
	    line-height: 1.25;
	    font-size: 1.25em;
	
    }

}

.banners img {
	
	margin: .5em;
	display: inline-block;
	text-decoration: none;

}

.row.banners {
	
	border: 1px solid #e2e2e2;
	background: #fff;
	color: transparent;

}

.n-slider[data-peek] > * > img {
	
	padding: 0 5%;

}

footer {
	
	background-color: #33322f;
	padding-top: 0;
	color: #fff;
	    
}

footer .banners {
		
	background-color: $green;
	    
}

footer .contain {
	
	padding: 1em;

}

.news {
	
	background: #fff;
	border: 1px solid #e2e2e2;
	border-top: none;
	
	.tabs > .n-slider--nav.row {
		
		display: block;
		
	}
	
	ul, li {
		
		margin: 0;
		
	}
	
	li {
		
		padding: .75em .5em;
		border-bottom: 1px dashed #e2e2e2;
		display: flex;

	}
	
	li:last-child {
		
		border: none;

	}
	
	b {
		
		min-width: 66px;
		text-align: center;
		background-color: #1e5e86;

	}
	
	date {
		
		margin: 0 1em;
		font-size: .85em;

	}
	
	.tag {
		
		background-color: #d0ac49;
		margin: 0 .5em;
		border-radius: 2px;
		
	}
	
	.tag, b {
		
		color: #fff;
		font-size: .75em;
		padding: .1em .25em;
		display: inline-block;
		
	}
	
	b {
		
		padding: .33em;
		
	}
	
	.meta {
		
		flex-shrink: 0;

	}
	
	.n-slider--nav {
		
		padding-bottom: 1em;

	}
	
	.n-slider--nav a {
		
		color: #33322f;
		background: none;
		border-bottom: 2px solid transparent;
		
		&[data-active] {
			
			border-color: $green;
			
		}

	}

	.n-slider--nav a[data-active] {

		border-bottom: 2px solid green;

	}
		
	.n-slider--wrap {
		
		padding: 1em;
		
	}
	
}

.news .n-slider--wrap.tabs > .n-slider--nav a {
	
		padding: .5em 1em;
		display: inline-block;
	
}

.news .n-tabs > .n-slider--nav.row {
	
	margin-bottom: 1em;
	border-bottom: 1px solid #e2e2e2;

}

.green-top > .top {
	
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	background: $green;
	color: #fff;
	padding: 1em;
	display: flex;
	
	> span {
		
		flex-grow: 1;
		text-align: right;
		display: flex;
		flex-direction: column;
		justify-content: center;
    		
	}
	
	a {
		
		position: relative;
		padding-left: 20px;
		
		&:before {
			
			content: "";
		    display: block;
		    width: 16px;
		    height: 16px;
		    position: absolute;
		    background: url(icon-link-circle2.png) no-repeat;
		    top: 50%;
		    right: "";
		    bottom: "";
		    left: 0;
		    z-index: 10;
		    margin-top: -8px;
		    background-position: 0 0;
    
		}
    
	}

}
