.n-masonry > * {
	
	margin: 1.5em 0 0 0;
	padding: .5em 0;

}

a[href]:not(:hover) {
	
	text-decoration: none;

}

time {
	
	color: #999;
	margin: 0 1em;

}

.banner .slider-nav a {
	
	display: none;

}

.contain {
	
	max-width: 1536px;

}

.vertical > .slider-nav {
	
	display: none;
	
}

.n-slider--vertical > .slider-arrow, .n-slider--vertical > .slider-arrow.right {
	
	top: auto;
	right: 1em;
	left: auto;
	transform: none;
	bottom: 2em;
	color: #000;
	background-color: rgba(255, 255, 255, 0.75);

}

.n-slider--vertical>.slider-arrow.n-slider--right {
	
	left: auto;
	right: 1em;
	
}

.n-slider--vertical > .slider-arrow {
	
	bottom: 6em;

}

.banner h2 {
	
	font-size: 3em;
	margin: 1em 0 1.5em 0;
	
}

h1, h2, h3, h4 {
	
	font-weight: 300;
	line-height: 1.2em;
	
}

main h1 {
	
	font-size: 3em;

}

main h3 {
	
	font-size: 2em;

}

main .pad {
	
	padding: 1em 2em;

}

.cta {
	
	text-transform: uppercase;
	font-weight: bold;
	
}

.cta:after {
	
	content: ' →';

}

main .slider-arrow {
	
	display: none;
	
}

main .n-slider h4 {
	
	background: #fff;
	margin: 0;
	padding: 3em 0;

}

main .slider-nav {
	
	bottom: 5em;

}

.banner .pad {
	
	padding: 5em;

}

main strong {
	
	text-transform: uppercase;
	margin: .5em 0;
	display: block;

}

footer h3 {
	
	text-transform: uppercase;

}

.n-masonry > * {
	
	margin: 0;
	
}

@media screen and (max-width: 768px) {


	main .pad, .banner .pad, footer {
	
		padding: 1em;
	
	}
	
	.n-masonry.col4 {
		
		column-count: 1;

	}

}
