$dark: #82372B;
$darker: #622a21;
$light: #FAF6EF;

html, body, .row.wrap > *, nav.sub a, p, li, .lightbox a, .button, input[type=submit], button, label, form .checkbox span, .tip, label span .tip, h4, h5, form label > span {
	
	font-size: 16px;

}

p, #content li {
	
	font-size: 18px;
	margin-top: 0;

}

.contain {
	
	max-width: 69rem;

}

body {
	
	background: $light;
	color: $darker;
	font-family: 'Josefin Sans', sans-serif;

}

a[href] {
	
	color: $light;
	text-decoration: none;
	font-weight: bold;

}

#content a[href] {
	
	color: $darker;
	
}

header {
	
	background: $darker;
	margin: 0;
		
}

header form, header nav {
	
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	margin-right: 1em;

}

header nav {
	
	line-height: 3em;

}

nav li {
	
	display: inline-block;
	
}

header nav ul {
	
	display: block;

}

ul li {
	
	margin: 0;
	
}

nav a[href] {
	
	font-size: 1em;
	padding-right: 1em;
	white-space: nowrap;

}

header form input, header form input[type=submit] {
	
	width: auto;
	float: none;
	min-width: 0;
	margin: 0;
	background: transparent;
	min-height: 0;
	padding: 0;

}

form#search {
	
	width: 12em;

}

form#search input {
	
	vertical-align: middle;

}

form#search input[type=text] {
	
	width: calc(100% - 2em);
	color: $light;
	line-height: 1.5em;
	padding: .3em .5em;
	display: inline-block;

}

.banner, footer {
	
	background: $dark;
	color: $light;

}

.banner {
	
	padding-top: 1em;
	background: $dark url(train-mountain.jpg) bottom center no-repeat;
	background-size: cover;

}

.banner label {

	margin: 0;
	width: 100%;
	background: url(arrow.svg) right center no-repeat;	
	background-size: auto 25%;
	background-position: calc(100% - .7em) 1em;
	clear: both;

}

.banner form select {
	
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	color: $light;
	background: none;
	padding-right: 1.77em;
	z-index: 9;
	width: 100%;

}

.banner h1 {
	
	margin: .4em 0 .5em 0;
	font-size: 4em;
	line-height: 1em;

}

footer {
	
	padding: 1em 0 2em 0;
	
}

.ads {
	
	overflow: hidden;

}

.ads img {
	
	display: inline-block;
	margin: .2em .5em;
	
}

table {
	
	margin: 1em 0;
	
}

table p {
	
	margin: 0;
	
}

h2 {
	
	font-size: 1.8em;

}

h3 {
	
	font-size: 1.4em;

}

h4 {
	
	font-size: 1.2em;

}

.slider.lightbox > * p {
	
	background: rgba(0, 0, 0, .5);
	
}

@media (max-width: 600px) {
	
	form#search {
		
		width: 100%;
		margin-top: 4em;
		
	}
	
	form#search input[type=text] {
		
		width: calc(100% - 2em);
		
	}
	
	header .row > nav {
		
		position: fixed;
		left: 0;
		z-index: 9;
		
	}
	
	header.fixed-mobile .n-fold.mobile.open .content {
		
		width: 100%;
	
	}

	.n-fold.mobile > .label, header.fixed-mobile .n-fold.mobile.open .content {
	
		margin-left: -.3em;
		
	}
	
	header.fixed-mobile .n-fold.mobile[aria-expanded] .content {
		
	    width: 100%;
	    left: 0;		
	    padding-top: 1em;
		
	}

	header nav li {
		
		text-align: left;
		display: block;
	
	}

	header nav a[href] {
		
		color: #333;
	
	}
	
	.banner img {
		
		display: none;
		
	}
	
	.banner h1 {
		
		margin: 0;

	}
	
}
