$blue: #306FAA;
$orange: #ff9900;
$dark-blue: #004990;
$darker-blue: #00245D;
$light-blue: #33507d;
$lighter-blue: #f1f5f8;
$line-height: 19px;

body, .button, .n-lightbox a, .row.wrap>*, .tip, body, button, .n-form .n-form--check span, .n-form label>span, h4, h5, html, input[type=submit], label, label span .tip, li, nav.n-nav.sub a, p {
	 
	font-size: 12px;
	font-family: 'Helvetica Neue', sans-serif;
	line-height: $line-height;

}

.n-form label {
	
	display: inline;

}

.row>*>.row {
	
// 	margin: 0;
	width: 100%;

}

.unpad {
	
	margin: 0 -.375em;
	width: calc(100% + .75em);
	
}

p {
	
	margin: $line-height/2 0;

}
 
a[href] {
	
	color: $blue;
	text-decoration: none;
	font-weight: bold;

} 

a[href]:hover {
	
	color: $dark-blue;
	text-decoration: underline;

}

.contain {
	
	max-width: 83rem;
	overflow: visible;

}

body:before {
	
	content: '';
	display: block;
	position: absolute;
	height: 183px;
	width: 400px;
	top: 0;
	left: -220px;
	background: url(bg-jetblue-body-logoonly.png);
	
}

.logo {
	
	color: #fff;
	font-size: 2em;

}

.logo img {
	
	width: 90px;
	margin-bottom: -7px;

}

button, a[href].button, input[type=submit], a.button {
	
	background: $blue;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	padding: .3em 1.1em;

}

button:href, a[href].button:hover, input[type=submit]:hover, a.button:hover {
	
	background: $dark-blue;
	color: #fff;
	text-decoration: none;

}

button.rounded {
	
	border-radius: 3em;
	background: $lighter-blue;
	border: 2px solid #D0DEEB;
	color: $darker-blue;
	padding: .3em 3em;
	position: relative;

}

button.rounded.active {
	
	background: $dark-blue;
	border-color: $dark-blue;
	color: #fff;

}

button.rounded.active:after {
	
	content: '';
	display: block;
	position: absolute;
	height: 0;
	width: 0;
	border: solid transparent;
	border-top-color: #004990;
	border-width: 7px;
	margin-left: -7px;
	top: 100%;
	left: 50%;

}

a.button.icon img { 
	
	display: inline-block;
	vertical-align: middle;

}

ul li {
	
	margin: 0;

}

header {
	
	margin: 0;

}

header .row > * {
	
	margin: 0;
	padding: 0;

}

header nav.n-nav {
	
	display: inline-block;

}

nav.n-nav a {
	
	font-size: 1em;
	line-height: $line-height;
	min-height: $line-height;

}

nav.n-nav.n-drop li[aria-haspopup] {
	
	background-position: calc(100% - .75em) 1.75em;
	
}

header nav.n-nav.n-drop ul li b.sub {
	
	margin: 0;
	mix-blend-mode: normal;
	color: transparent;
	
}

nav.n-nav.n-drop ul ul {

	flex-direction: column;	
	padding: 0;
	
}

.no-touch nav.n-nav.n-drop ul li:hover {
	
	background: $orange;

}

.banner.row form .row {
	
	padding: 0;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	margin-top: 0;
	display: flex;

}

.n-form input[type=submit] {
	
	display: inline-block;
	float: none;
	margin: 0;
	min-height: $line-height*2;

}

.n-form label, .n-form .n-form--check {
	
	display: inline-block;
	width: auto;
	margin: 0;
	float: none;
	
}

.n-form .row > div > label {
	
	width: 100%;

}

.n-form .row > div > label input {
	
	margin: 0;

}

.n-form .n-form--check {
	
	line-height: $line-height*2;
	padding: 0 $line-height/2;

}

.n-form .checkbox label:first-of-type {
	
	margin-top: 0;
	padding-right: $line-height/2;

}

.buy .n-form input[type=submit] {
	
	background: $orange;

}

.buy .pad {
	
	padding-top: 0;
	padding-bottom: 0;
	
}

.buy .row > * {
	
	margin-top: 0;
	

}

.travel-alert b {
	
	color: $orange;
	text-transform: uppercase;
	
}

.travel-alert b:before {
	
	content: '!';
	display: inline-block;
	margin-right: $line-height/2;
	background: $orange;
	color: #fff;
	border-radius: 50%;
	width: $line-height;
	height: $line-height;
	text-align: center;
	
}

.travel-alert a[href] {

	font-weight: normal;	
	
}

a.arrow:after {

	content: '▶︎';
	display: inline-block;
	font-size: .8em;
	margin-left: .5em;
	
}

.hi {
	
	background: $darker-blue;
	color: #fff;
	border-radius: 3px;

}

.hi a[href] {
	
	color: #fff;

}

.hi input[type=email], .hi input[type=password] {
	
	background: $light-blue;
	color: #fff;
	
}

.hi p {
	
	margin: $line-height/2 0;

}

.hi .n-form .n-form--check {
	
	padding: 0;

}

.box {
	
	background: $lighter-blue;
	
}

.box input[type=text] {
	
	background: #fff;
	border-radius: 3px;
	box-shadow: -1px -1px 0 0px #ccc;
	margin: 0;

}

.box h2, .hi h2 {
	
	padding: $line-height/2 0;
	font-size: 4em;

}

.box h2 {
	
	color: $dark-blue;

}

.box .row > * {
	
	padding-right: 0;

}

.box .row > *:first-child {
	
	padding-left: 0;

}

.slider-arrow {
	
	display: none;

}

.slider-nav {
	
	background: #fff;
	border-radius: 3px 3px 0 0;
	bottom: 0;
	padding: .1em .3em;

}

.slider-nav a {
	
	background: $lighter-blue;
	text-indent: -100%;
	overflow: hidden;
	--nav-size: 1.1em;

}

.slider-nav a[data-active] {
	
	background: $orange;

}

input[type=radio] + .n-form--check-icon {
	
	background: #fff;
	border: 2px solid #999;
	width: .9em;
	height: .9em;

}

input[type=radio]:checked + .n-form--check-icon {
	
	background: $dark-blue;
	box-shadow: 0 0 1px 2px $orange;
	border-color: #fff;

}

input[type=radio]:checked + .n-form--check-icon:before {
	
	background: $dark-blue;
	
}

.n-form select, a.button.icon {
	
	box-shadow: 1px 1px 0 #ccc;
	height: auto;
	border-radius: 3px;
	background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);
	cursor: pointer;
	color: $dark-blue;

}

.n-form select {
	
	line-height: 2em;
	background: url(up-dwn-arrows.png) no-repeat center center;
	background-position: calc(100% - .5em) center;
	padding-right: 2em;
	color: $blue;
	font-weight: bold;
	height: auto;
	margin: 0;
	padding-left: .6em
	
}

nav.n-nav.n-drop {
	
	width: 100%;

}

nav.n-nav.n-drop ul {
	
	display: flex;

}

nav.n-nav.n-drop ul li {
	
	border-radius: 3px;
	flex-grow: 1;
	margin: 0 .5rem;

}

nav.n-nav.n-drop ul li:first-child {
	
	margin-left: 0;
	
}

nav.n-nav.n-drop ul li:last-child {
	
	margin-right: 0;
	background: $dark-blue;
	
}

nav.n-nav.n-drop ul ul li {

	margin-left: 0;

}

nav.n-nav.n-drop ul li, nav.n-nav.n-drop ul li b.sub, nav.n-nav.n-drop ul li .trigger:checked ~ b.sub, nav.n-nav.n-drop ul ul li, nav.n-nav.n-drop ul li li a, .no-touch nav.n-nav.n-drop ul li li:hover a {
	
	background: $orange;

}

nav.n-nav.n-drop ul li a[href] {
	
	color: #fff;
	display: block;
	cursor: pointer;
	font-size: 1.2rem;
	white-space: normal;

}

nav.n-nav.n-drop input.trigger, nav.n-nav.n-drop input:checked ~ input[type=reset] {
	
	top: 50%;
	height: 50%;

}

nav.n-nav.n-drop ul ul li {
	
	margin: 0;

}

nav.n-nav.n-drop ul li b.sub:after {
	
	background: url(arrow-down-white.png) no-repeat center center;
	width: 10px;
	display: inline-block;
	padding: 1px;

}

.n-slider-wrap {
	
	margin-right: 1em;

}

.n-slider a {
	
	display: block;
	
}

.n-slider img {
	
	width: 100%;
	
}

.n-slider > * {
	
	text-align: center;

}

a p {
	
	font-weight: normal;
	color: #333;

}

footer nav.n-nav a, footer nav.n-nav a[href]+a[href] {
	
	padding: 0 .5em;
	margin: 0;

}

.featured {
	
	color: $blue;
	padding: 1rem !important;

}

.featured b {
	
	color: $dark-blue;

}

.featured h3 {
	
	text-transform: uppercase;
	font-size: 1.7em;
	color: $dark-blue;
	margin-bottom: -$line-height/2;

}

.featured em {
	
	font-size: 3em;
	font-style: normal;
	font-weight: bold;
	display: block;
	color: $dark-blue;
	white-space: nowrap;

}

hr {
	
	border-top-color: $blue;

}

.more-links ul {
	
	list-style: none;

}

.more-links li.list-head {
	
	color: $darker-blue;
	font-weight: bold;
	font-size: 1.2em;

}

input[type=text].search {
	
	 margin-right: 1em; width: calc(50% - 1em);

}

@media screen and (max-width: 599.9px) {
	
	body.contain {
		
	    padding: 1em;
	    width: calc(100% - 2em);

	}
	
	nav.n-nav.n-drop ul li {
		
		margin: 0;
		
	}
	
	header nav.n-nav ul.n-list--inline li {
		
		background: #fff;

	}
	
	nav.n-nav.n-drop input:checked ~ input[type=reset] {
		
		top: 0;
		height: 100%;

	}
	
	.no-touch nav.n-nav.n-drop ul li li:hover {
		
		background: transparent;
		
	}
	
	nav.n-nav.n-drop input.trigger.burger {
		
		top: 0;
		height: 3em;
		width: 3em;
		
	}
	
	.box .row > * {
		
		padding: 0;
		
	}
	
	.actions img {
		
		margin: 0 auto;
		display: block;
		
	}

	input[type=text].search {
		
		margin: 1em;
		width: calc(100% - 2em);
	
	}

	nav.n-nav.n-drop ul {
		
		display: block;
	
	}

}

.main-form label, .main-form label input[type=text] {
	
	display: block;
	width: 100%;
	
}
