/* natUIve – Grid with inline popups */

@import '../../css/natuive-setup';

// Grid with inline popup

.grid-inline-popup {
	
	> .grid-inline-popup--popup {
	
		width: 100%;
	    flex-basis: 100%;
		order: 0;
		will-change: max-height;
		/* avoid glitchy animation: */
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		
		&:not([aria-expanded]) {
		
			display: none;
		
		}
		
	}

	> div:not(.grid-inline-popup--popup) {
		
		cursor: zoom-in;
	
		&[aria-expanded] {
			
			cursor: zoom-out;
		
		}
	
	}
	
	&:not([data-ready]) > div:not(.grid-inline-popup--popup):focus + .grid-inline-popup--popup {
		
		display: block;
		
	}
	
}
