.sitemap-box-row {
  margin-bottom: 30px;
}
.sitemap-box-row a {
  text-decoration: none;
}
.sitemap-box-row a:hover {
  text-decoration: underline;
}

.sitemap-box-title {
  margin-bottom: 10px;
  font-size: 18px;
}
.sitemap-box-title a {
  padding-left: 25px;
  text-decoration: none;
}
.sitemap-box-title a:hover {
  text-decoration: underline;
}
.sitemap-box-main .sitemap-box-title a {
  color: #09872b;
  position: relative;
}
.sitemap-box-main .sitemap-box-title a:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  background: url("../images/base/icon-link-circle2.png") no-repeat;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  z-index: 10;
  background-position: 0 -114px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .sitemap-box-main .sitemap-box-title a:before {
    background-image: url("../images/base/icon-link-circle2@2x.png");
    -moz-background-size: 15px auto;
    -o-background-size: 15px auto;
    -webkit-background-size: 15px auto;
    background-size: 15px auto;
  }
}
.sitemap-box-train .sitemap-box-title a {
  color: #14a94b;
  position: relative;
}
.sitemap-box-train .sitemap-box-title a:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  background: url("../images/base/icon-link-circle2.png") no-repeat;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  z-index: 10;
  background-position: 0 -229px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .sitemap-box-train .sitemap-box-title a:before {
    background-image: url("../images/base/icon-link-circle2@2x.png");
    -moz-background-size: 15px auto;
    -o-background-size: 15px auto;
    -webkit-background-size: 15px auto;
    background-size: 15px auto;
  }
}
.sitemap-box-bus .sitemap-box-title a {
  color: #f57f31;
  position: relative;
}
.sitemap-box-bus .sitemap-box-title a:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  background: url("../images/base/icon-link-circle2.png") no-repeat;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  z-index: 10;
  background-position: 0 -344px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .sitemap-box-bus .sitemap-box-title a:before {
    background-image: url("../images/base/icon-link-circle2@2x.png");
    -moz-background-size: 15px auto;
    -o-background-size: 15px auto;
    -webkit-background-size: 15px auto;
    background-size: 15px auto;
  }
}
.sitemap-box-tourism .sitemap-box-title a {
  color: #1e5e86;
  position: relative;
}
.sitemap-box-tourism .sitemap-box-title a:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  background: url("../images/base/icon-link-circle2.png") no-repeat;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  z-index: 10;
  background-position: 0 -794px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .sitemap-box-tourism .sitemap-box-title a:before {
    background-image: url("../images/base/icon-link-circle2@2x.png");
    -moz-background-size: 15px auto;
    -o-background-size: 15px auto;
    -webkit-background-size: 15px auto;
    background-size: 15px auto;
  }
}
.sitemap-box-estate .sitemap-box-title a {
  color: #2fa6dd;
  position: relative;
}
.sitemap-box-estate .sitemap-box-title a:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  background: url("../images/base/icon-link-circle2.png") no-repeat;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  z-index: 10;
  background-position: 0 -459px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .sitemap-box-estate .sitemap-box-title a:before {
    background-image: url("../images/base/icon-link-circle2@2x.png");
    -moz-background-size: 15px auto;
    -o-background-size: 15px auto;
    -webkit-background-size: 15px auto;
    background-size: 15px auto;
  }
}
.sitemap-box-goods .sitemap-box-title a {
  color: #a4c54c;
  position: relative;
}
.sitemap-box-goods .sitemap-box-title a:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  background: url("../images/base/icon-link-circle2.png") no-repeat;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  z-index: 10;
  background-position: 0 -679px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .sitemap-box-goods .sitemap-box-title a:before {
    background-image: url("../images/base/icon-link-circle2@2x.png");
    -moz-background-size: 15px auto;
    -o-background-size: 15px auto;
    -webkit-background-size: 15px auto;
    background-size: 15px auto;
  }
}

.sitemap-box-list.level-1 > li {
  padding-left: 25px;
  margin-bottom: 5px;
}
.sitemap-box-list.level-1 > li .sitemap-page {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}
.sitemap-box-list.level-1 > li .sitemap-page a {
  padding-left: 15px;
  position: relative;
}
.sitemap-box-list.level-1 > li .sitemap-page a:before {
  content: "";
  display: block;
  width: 6px;
  height: 10px;
  position: absolute;
  background: url("../images/base/icon-link-blt.png") no-repeat;
  top: 2px;
  right: "";
  bottom: "";
  left: 0;
  background-position: -1px -230px;
}
@media screen and (max-width: 640px) {
  .sitemap-box-list.level-1 > li .sitemap-page a:before {
    background-image: url("../images/base/icon-link-blt@2x.png");
    -moz-background-size: auto 890px;
    -o-background-size: auto 890px;
    -webkit-background-size: auto 890px;
    background-size: auto 890px;
  }
}
.sitemap-box-train .sitemap-box-list.level-1 > li .sitemap-page a {
  position: relative;
}
.sitemap-box-train .sitemap-box-list.level-1 > li .sitemap-page a:before {
  content: "";
  display: block;
  width: 6px;
  height: 10px;
  position: absolute;
  background: url("../images/base/icon-link-blt.png") no-repeat;
  top: 2px;
  right: "";
  bottom: "";
  left: 0;
  background-position: -1px -350px;
}
@media screen and (max-width: 640px) {
  .sitemap-box-train .sitemap-box-list.level-1 > li .sitemap-page a:before {
    background-image: url("../images/base/icon-link-blt@2x.png");
    -moz-background-size: auto 890px;
    -o-background-size: auto 890px;
    -webkit-background-size: auto 890px;
    background-size: auto 890px;
  }
}
.sitemap-box-bus .sitemap-box-list.level-1 > li .sitemap-page a {
  position: relative;
}
.sitemap-box-bus .sitemap-box-list.level-1 > li .sitemap-page a:before {
  content: "";
  display: block;
  width: 6px;
  height: 10px;
  position: absolute;
  background: url("../images/base/icon-link-blt.png") no-repeat;
  top: 2px;
  right: "";
  bottom: "";
  left: 0;
  background-position: -1px -460px;
}
@media screen and (max-width: 640px) {
  .sitemap-box-bus .sitemap-box-list.level-1 > li .sitemap-page a:before {
    background-image: url("../images/base/icon-link-blt@2x.png");
    -moz-background-size: auto 890px;
    -o-background-size: auto 890px;
    -webkit-background-size: auto 890px;
    background-size: auto 890px;
  }
}
.sitemap-box-tourism .sitemap-box-list.level-1 > li .sitemap-page a {
  position: relative;
}
.sitemap-box-tourism .sitemap-box-list.level-1 > li .sitemap-page a:before {
  content: "";
  display: block;
  width: 6px;
  height: 10px;
  position: absolute;
  background: url("../images/base/icon-link-blt.png") no-repeat;
  top: 2px;
  right: "";
  bottom: "";
  left: 0;
  background-position: -1px -880px;
}
@media screen and (max-width: 640px) {
  .sitemap-box-tourism .sitemap-box-list.level-1 > li .sitemap-page a:before {
    background-image: url("../images/base/icon-link-blt@2x.png");
    -moz-background-size: auto 890px;
    -o-background-size: auto 890px;
    -webkit-background-size: auto 890px;
    background-size: auto 890px;
  }
}
.sitemap-box-estate .sitemap-box-list.level-1 > li .sitemap-page a {
  position: relative;
}
.sitemap-box-estate .sitemap-box-list.level-1 > li .sitemap-page a:before {
  content: "";
  display: block;
  width: 6px;
  height: 10px;
  position: absolute;
  background: url("../images/base/icon-link-blt.png") no-repeat;
  top: 2px;
  right: "";
  bottom: "";
  left: 0;
  background-position: -1px -569px;
}
@media screen and (max-width: 640px) {
  .sitemap-box-estate .sitemap-box-list.level-1 > li .sitemap-page a:before {
    background-image: url("../images/base/icon-link-blt@2x.png");
    -moz-background-size: auto 890px;
    -o-background-size: auto 890px;
    -webkit-background-size: auto 890px;
    background-size: auto 890px;
  }
}
.sitemap-box-goods .sitemap-box-list.level-1 > li .sitemap-page a {
  position: relative;
}
.sitemap-box-goods .sitemap-box-list.level-1 > li .sitemap-page a:before {
  content: "";
  display: block;
  width: 6px;
  height: 10px;
  position: absolute;
  background: url("../images/base/icon-link-blt.png") no-repeat;
  top: 2px;
  right: "";
  bottom: "";
  left: 0;
  background-position: -1px -680px;
}
@media screen and (max-width: 640px) {
  .sitemap-box-goods .sitemap-box-list.level-1 > li .sitemap-page a:before {
    background-image: url("../images/base/icon-link-blt@2x.png");
    -moz-background-size: auto 890px;
    -o-background-size: auto 890px;
    -webkit-background-size: auto 890px;
    background-size: auto 890px;
  }
}
.sitemap-box-list .level-2 {
  margin-bottom: 10px;
}
.sitemap-box-list .level-2 > li {
  padding-left: 25px;
}
.sitemap-box-list .level-3 {
  margin-bottom: 10px;
}
.sitemap-box-list .level-3 > li {
  padding-left: 25px;
}

.sitemap-box-train .level-1 {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 768px) {
  .sitemap-box-train .level-1 {
    width: auto;
    display: block;
  }
}
.sitemap-box-train a[target="_blank"] {
  position: relative;
}
.sitemap-box-train a[target="_blank"]:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background: url("../images/base/icon-blank.png") no-repeat;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  background-position: 0px -200px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .sitemap-box-train a[target="_blank"]:before {
    background-image: url("../images/base/icon-blank@2x.png");
    -moz-background-size: 13px auto;
    -o-background-size: 13px auto;
    -webkit-background-size: 13px auto;
    background-size: 13px auto;
  }
}

.sitemap-box-bus a[target="_blank"] {
  padding-left: 22px;
  position: relative;
}
.sitemap-box-bus a[target="_blank"]:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background: url("../images/base/icon-blank.png") no-repeat;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
  background-position: 0px -298px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .sitemap-box-bus a[target="_blank"]:before {
    background-image: url("../images/base/icon-blank@2x.png");
    -moz-background-size: 13px auto;
    -o-background-size: 13px auto;
    -webkit-background-size: 13px auto;
    background-size: 13px auto;
  }
}

.sitemap-box-tourism a[target="_blank"] {
  padding-left: 22px;
  position: relative;
}
.sitemap-box-tourism a[target="_blank"]:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background: url("../images/base/icon-blank.png") no-repeat;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .sitemap-box-tourism a[target="_blank"]:before {
    background-image: url("../images/base/icon-blank@2x.png");
    -moz-background-size: 13px auto;
    -o-background-size: 13px auto;
    -webkit-background-size: 13px auto;
    background-size: 13px auto;
  }
}

.sitemap-box-goods a[target="_blank"] {
  padding-left: 22px;
  position: relative;
}
.sitemap-box-goods a[target="_blank"]:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background: url("../images/base/icon-blank.png") no-repeat;
  top: 0;
  right: "";
  bottom: "";
  left: 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .sitemap-box-goods a[target="_blank"]:before {
    background-image: url("../images/base/icon-blank@2x.png");
    -moz-background-size: 13px auto;
    -o-background-size: 13px auto;
    -webkit-background-size: 13px auto;
    background-size: 13px auto;
  }
}

.sitemap-float-box .sitemap-box-row {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 768px) {
  .sitemap-float-box .sitemap-box-row {
    width: auto;
    display: block;
  }
}
.sitemap-float-box .sitemap-box-row.sitemap-box-bus {
  width: 20%;
  margin-right: 5%;
}
@media screen and (max-width: 768px) {
  .sitemap-float-box .sitemap-box-row.sitemap-box-bus {
    width: auto;
    margin-right: 0;
  }
}
.sitemap-float-box .sitemap-box-row.sitemap-box-tourism {
  width: 40%;
  margin-right: 5%;
}
@media screen and (max-width: 768px) {
  .sitemap-float-box .sitemap-box-row.sitemap-box-tourism {
    width: auto;
    margin-right: 0;
  }
}
.sitemap-float-box .sitemap-box-row.sitemap-box-esgo {
  width: 20%;
}
@media screen and (max-width: 768px) {
  .sitemap-float-box .sitemap-box-row.sitemap-box-esgo {
    width: auto;
  }
}

.sitemap-box-goods {
  margin-top: 30px;
}

.site-header-navigation .lang {
  position: relative;
  padding-left: 17px;
  position: relative;
}
.site-header-navigation .lang:before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  position: absolute;
  background: url("../images/base/icon-link-blt-down.png") no-repeat;
  top: 8px;
  right: "";
  bottom: "";
  left: 0;
  background-position: 0 4px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .site-header-navigation .lang:before {
    background-image: url("../images/base/icon-link-blt-down@2x.png");
    -moz-background-size: 11px auto;
    -o-background-size: 11px auto;
    -webkit-background-size: 11px auto;
    background-size: 11px auto;
  }
}
.site-header-navigation .lang:before {
  background-position: 0 0;
}
.site-header-navigation .lang ul {
  width: 100px;
  background-color: #33322f;
  z-index: 10;
  position: absolute;
  right: -20px;
  padding-top: 5px;
  padding-bottom: 5px;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.4s cubic-bezier(0.52, 0.48, 0.15, 0.97);
  -o-transition: all 0.4s cubic-bezier(0.52, 0.48, 0.15, 0.97);
  -webkit-transition: all 0.4s cubic-bezier(0.52, 0.48, 0.15, 0.97);
  transition: all 0.4s cubic-bezier(0.52, 0.48, 0.15, 0.97);
}
.site-header-navigation .lang ul:hover {
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.site-header-navigation .lang ul li {
  display: block;
  text-align: left;
  padding: 0;
  margin-left: 0;
}
.site-header-navigation .lang ul li a {
  display: block;
  padding-left: 20px;
}
.site-header-navigation .lang:hover ul {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.top-menu-link-col {
  display: inline-block;
}

.site-train .menu-box-col.menu-box-please a:after {
  background-position: -973px 4px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .site-bus .global-header-navigation-menu ul li a {
    background-image: none;
  }
}
