@font-face {
    font-family: "MuseoSans";
    font-weight: 100;
    src: url("MuseoSans-100-85323ac89b5d9267dbf2ec49ff860b3c.otf") format("opentype")
}

@font-face {
    font-family: "MuseoSans";
    font-weight: 300;
    src: url("MuseoSans-300-2ec358e0bec522bd9174e80fc18c5783.otf") format("opentype")
}

@font-face {
    font-family: "MuseoSans";
    font-weight: 500;
    src: url("MuseoSans-500-284ca48266672e9dd5b78754157d29db.otf") format("opentype")
}

@font-face {
    font-family: "MuseoSans";
    font-weight: 700;
    src: url("MuseoSans-700-92bb915413ce9c46cc8a06c5f3e16225.otf") format("opentype")
}

@font-face {
    font-family: "MuseoSans";
    font-weight: 900;
    src: url("MuseoSans-900-9b5a2d9ec6f7d87966e00002f3b0129b.otf") format("opentype")
}

body {
	
	background: url(Unknown.jpg) top center no-repeat;
	background-size: contain;

}

.n-type {

	h1, h2 {
		
		font-family: MuseoSans, sans-serif;
		font-weight: 100;
		font-size: 3.5em;
	
	}
	
	h2 {
		
		font-size: 3em;
		
	}

	a.n-btn[href] {
		
		border-radius: 2em;
		padding: 1em 3em;
		font-size: .8em;
	    font-weight: 900;
		
	}
	
	a.n-btn[href]:hover, .n-btn:hover {
		
		color: #fff;	
		
	}

}

body {
	
	font-family: MuseoSans, sans-serif;

}

footer li, footer form input, footer form input[type=submit], footer p, a.n-btn[href], a[href]:not(.box * ):not(header *):not(footer *) {
	
	font-size: .8em;
	font-weight: 900;
	
}

footer li {
	
	font-weight: normal;

}

.n-header-banner {
	
	text-align: center;
	padding-bottom: 1em;
	
}

.n-header {
	
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 70%, transparent 100%);
	padding: 1em 0;
	margin: 0;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9;

	nav.n-nav, nav.n-nav a[href] {
		
		display: inline-block;
		color: #fff;
		text-decoration: none;
		font-size: .8em;
		
	}
	
	nav.n-nav {
		
		text-align: right;
		    --nui-control-bg: transparent;
		
	}
	
	nav.n-nav:first-of-type {
		
		text-transform: uppercase;
		text-align: left;
		font-weight: 900;
	
	}

}

.n-banner .n-row {
	
	min-height: 45em;
	
}

.n-banner a {
	
	color: #00b5f3;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 2em;
	font-size: .8em;
    font-weight: 900;
	
}

.n-banner a.n-btn {
	
	background-color: #00b5f3;
	text-transform: uppercase;
	
}

.n-banner a[href]:not(.n-btn):hover {
	
	opacity: .7;

}

main {
	
	color: #fff;

}

main a[href] {
	
	color: inherit;
	text-decoration: none;
	font-weight: bold;

}

.box {
	
	text-align: center;
	padding-bottom: 5em;
	position: relative;
	margin: 0 auto;
	z-index: 1;
	
}

.box, .n-contain {
	
	max-width: 72rem;

}

.box:before {
	
	position: absolute;
	content: '';
	display: block;
	transform: skewY(-3deg);
	background: #21a7b6;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	margin-top: -2px; // FF fix
	
}

.box.orange:before {
	
	background: #ff9633;

}

.box.yellow:before {
	
	background: #f7dc42;

}

.box.green:before {
	
	background: #a0cf67;

}

.box.red:before {
	
	background: #f7dc42;

}

.box.blue:before {
	
	background: #0068dc;

}

.box.green, .box.yellow, .box.orange {
	
	color: #000;

}

.box img {
	
	margin-top: -2em;
	max-width: 100%;

}

.bottom-section {
	
	background: #a0cf67;
	text-align: center;
	margin-top: -6em;
	padding-top: 9em;
	padding-bottom: 2em;

}

.bottom-section .n-btn {
	
	position: relative;
	display: inline-block;
	margin: 14em 0;
	z-index: 1;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: 900;

}

.bottom-section .n-btn:before {
	
	content: '';
	position: absolute;
	top: -12em;
	right: -12em;
	bottom: -12em;
	left: -12em;
	background: url(Unknown-11.png) center center no-repeat;
	z-index: -1;
	
}

.bottom-section .n-btn:after {
	
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #371e75;
	z-index: -1;
	border-radius: 2em;
	
}

.bottom-section h3 {
	
	font-weight: 900;
	font-size: 3em;

}

footer {
	
	background: #000;
	color: #fff;

}

footer nav.n-nav ul.n-list {
	
	vertical-align: top;
	margin-top: 22px;

}

footer nav.n-nav ul:not(:last-child) {

	margin-right: 4em;	

}

footer li {
	
	display: block;
	margin-top: 0;
    font-size: .8em;	
	
}

footer li.header {
	
	text-transform: uppercase;
	color: #666665;
	margin-bottom: 11px;
	
}

footer nav.n-nav a[href] {
	
	font-size: 1em;
	text-decoration: none;
	color: #fff;
	line-height: 1;
	min-height: 0;
	display: block;
	margin: .5em 0;

}

footer nav.n-nav ul.social li:not(.header) {
	
	display: inline-block;

}

.n-type footer p {
	
	color: #666665;
	border-top: 1px solid #666665;
	padding: 1em 0;
	font-weight: normal;
	font-size: .8em;
	margin: 0;
	
}

footer nav.n-nav form.n-form--wide label input {
	
	background: #000;
	border: 1px solid #666665;
	border-radius: 2em;
	padding-right: 7em;
	color: #fff;
	margin: 0;
	font-weight: normal;
	font-size: .8em;

}

footer nav.n-nav form.n-form--wide label input[type=submit] {
	
	position: absolute;
	text-transform: uppercase;
	background: transparent;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	margin: -.3em 0 0 0;
	border: none;
	font-weight: 900;
	padding: 0 1em 0 0 ;

}

footer a[href]:hover, footer nav.n-nav form.n-form--wide label input[type=submit]:hover, footer nav.n-nav label input:hover {
	
	color: #00b5f3;
	border-color: #00b5f3;
	
}

footer form .mandatory:before {
	
	display: none;
	
}

@media screen and (max-width: 599.9px) {
	
	form.n-form--wide input[type=submit] {
		
		width: auto;
		
	}
	
	.n-banner {
		
		padding-top: 10em;

	}
	
}

@media screen and (max-width: 1280px) {
	
	body {
		
		background-size: auto;
		
	}

}
