body {
	
	font-family: Roboto, sans-serif;
	
}

.contain {
	
    max-width: 1302px;
	    
}

header {
	
	background: #282828;
	color: #fff;
	
}

.banner {
	
	padding: 0 .25em;

}

.banner div {
	
	background-position: center center;
	background-size: cover;
	color: #fff;

}

.banner h2 {

	font-size: 30px;

}

.banner a[href].button {
	
	color: #49b293;
	background: #fff;
	
}

main a[href].button {
	
	color: #fff;
	background-color: #f93d66;	

}

main a[href].button.big {
	
	background: none;
	color: #82b541;
	border-radius: 4px;
	border: 2px #82b541 solid;	

}

.n-form {
	
	padding: 0;

}

input[type=search] {
	
	margin: 0;
	border: 1px solid #666;
	border-radius: 4px;
    min-height: 2em;

}

.banner .vertical.row > div > div {
	
	padding: 1em;

}

.n-card > img {
	
	width: 100%;

}

.n-card .n-card--content {
	
	padding: .5em;

}

.dark-grey {
	
	background-color: #303030;
	color: #fff;
	
	.n-card {
		
		background: #fff;
		color: #000;

	}
	
	.row.card-grid > * {
		
		border: none;
	
	}

}

.row.card-grid {
	
	padding: 1em 0;
	
	> * {
		
		background: #fff;
		border-radius: 3px;
		border: solid 1px #e4e4e4;
		box-sizing: border-box;
		padding: 0;
		
	}
	
	.n-card, .n-card .n-card--content {
		
		background: none;
		margin: 0;
	
	}

}

.meta {
	
	font-size: .75em;	
	
	&.row > * > img {
		
		display: inline-block;
	    width: 34px;
	    float: left;
	    margin-right: .5em;
	    border-radius: 50%;
	
	}
	
	a[href] {
	
		color: #c94e4b;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
	
	}

}

header a[href] {
	
	text-decoration: none;

}

header nav.n-nav.n-drop {
	
	
	--nav-bg: #282828;
	
}



header nav.n-nav.n-drop a[href] {
	
	color: #fff;
	
}

.diagram {
	
	padding: 100px 0;
	background-image: url(landingpage_tuts_bg1@2x-936130b73bdc6b8299071bfc0a322608.jpg), url(landingpage_tuts_bg2@2x-b8124807eafcda4a5d4d358a2398225b.jpg);
	background-repeat: no-repeat;
	background-size: auto 125%;
	background-position: calc(50% - 950px) 70%, calc(50% + 950px) 70%;
	background-origin: right, left;
	
	.row {
		
		max-width: 1180px;
		margin: 0 auto;

	}
	
	.row .row img {
		
		width: 82px;
		display: block;
		margin: 1em auto;
		
	}

}

nav.n-nav.n-drop li[aria-haspopup] {
	
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%22100%22%20height%3D%22100%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M50%20100L0%200h100z%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E);
	
}


footer {
	
	background: #000;
	color: #fff;
	
	a[href] {
		
		text-decoration: none;

	}

}

a[href].button {
	
	border-radius: 4px;
	padding: .5em 2em;
	
}

a[href].button.big {

	padding-left: 2.5em;
	padding-right: 2.5em;

}
