/* natUIve – Button */

@import '../../css/natuive-setup';

.n-btn, .n-form input[type=submit], .n-form button[type=submit], .n-form button[type=reset], button.n-btn, a.n-btn[href], .n-type a.n-btn[href] {

	font-size: inherit;
	line-height: $line-height;
	min-height: $line-height-em;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	width: auto;
	word-break: break-word;
	padding: 0 .7em;
	-webkit-appearance: none;
	background-color: var(--control-bg, #333);
	color: var(--control-color, #eee);
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
	border: none;
	font-family: inherit;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border-radius: 0;
	
	&:hover {
		
		background: #eee;
		color: #333;
		
	}

}

	button.n-btn[disabled] {
		
		cursor: default;
		opacity: .2;
		margin: 0;
		font-size: inherit;

	}

	.n-btn.n-btn--big, a[href].n-btn.n-btn--big, .n-form input[type=submit], .n-form button {

		margin: $line-height-em/3 0; // Re-calculate margin, because font-size has changed. To do: fix baseline.
		font-size: 1.2em;
		padding: .75em 1em;
		line-height: 1.05em;
		min-height: 0;
		font-weight: 500;

	}

/* Back to top button */

a.backtotop[href] {

	line-height: 1;
	margin: .7333em auto;
	font-weight: bold;
	background: transparent;
	background: rgba(0,0,0,.2);
	color: #fff;
	border-radius: 2em;
	font-family: 'Hiragino Mincho ProN'; /* fix for iOS */
	cursor: pointer;
	position: absolute;
	bottom: -1em;
	left: 50%;
    transform: translateX(-50%);
	text-decoration: none;
	z-index: 999;
    padding: .5em;
    width: 2em;
    text-align: center;
	box-sizing: border-box;

}

// A group of buttons etc with proper horizontal margins also when wrapped

.n-btn--group {
	
	margin: 0 -.25em;

	> *, .n-btn.n-btn--big, > a[href].n-btn.n-btn--big {
		
		margin-right: .25em;
		margin-left: .25em;
		
	}

}

@media screen and (max-width: $screen-narrow-max) {

	.n-btn.n-btn--big {
		
		display: block;
		text-align: center;
		
	}
	
}