/*
	
Theme:

--control-color: red;
--control-bg: lightgoldenrodyellow;

--control-active-color: chocolate;
--control-active-bg: beige;

--control-highlight: red;

*/
@keyframes n-select {
  100% {
    opacity: 0; } }

@keyframes n-select-native {
  100% {
    opacity: 1; } }

body.n-select--open {
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none; }

.n-select {
  position: relative;
  height: var(--active-option-height, auto);
  display: inline-grid;
  vertical-align: middle;
  max-width: 100%;
  width: var(--width, auto);
  line-height: 1.3;
  z-index: 0;
  background-color: var(--control-bg, #fff); }
  .n-select[data-ready] {
    font-size: 1em;
    transition: height 0.2s ease-in-out; }
    .n-select[data-ready] > .n-select--options > :not([aria-selected]) {
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
      visibility: hidden;
      overflow: hidden;
      display: block; }
  .n-select:before {
    content: '';
    position: absolute;
    cursor: pointer;
    background-color: var(--control-color, #fff);
    --chevron: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M16.003 18.626l7.081-7.081L25 13.46l-8.997 8.998-9.003-9 1.917-1.916z'/%3E%3C/svg%3E");
    -webkit-mask: var(--chevron) no-repeat 0 0/contain;
    mask: var(--chevron) no-repeat 0 0/contain;
    width: .75em;
    height: .75em;
    right: .4em;
    top: .7em;
    z-index: -1; }
  .n-select:after {
    position: absolute;
    top: 0;
    z-index: 5; }
  .n-select:not([data-ready]) .n-select--options, .n-select:not([data-ready]) select {
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-delay: 2s; }
  .n-select:not([data-ready]) select {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    padding: 0;
    width: 100%;
    padding-inline-start: .5em;
    padding-inline-end: 1.961em;
    line-height: 2.25; }
  .n-select:not([data-ready]) .n-select--options {
    display: inline-grid; }
    .n-select:not([data-ready]) .n-select--options > * {
      grid-column: 1/2;
      grid-row: 1/2; }
    .n-select:not([data-ready]) .n-select--options > :not(:first-child):not([aria-selected]) {
      opacity: 0; }
    .n-select:not([data-ready]) .n-select--options ~ select {
      animation-name: n-select-native;
      opacity: 0; }

.n-select--options, .n-select {
  --padding: .5em; }

.n-select--options, .n-select select {
  width: auto;
  max-width: 100%;
  color: var(--control-color, #333);
  background-color: transparent;
  top: 0;
  z-index: 5;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  border-radius: 0;
  border: none;
  grid-column: 1/1;
  grid-row: 1/1;
  overflow: hidden; }

.n-select select {
  padding: var(--padding, 0.5em);
  padding-inline-end: 1.961em;
  cursor: pointer; }

.n-select--options {
  animation-name: n-select; }
  .n-select--options > * {
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none; }
  .n-select--options button {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    cursor: pointer;
    border: 0;
    width: 100%;
    text-align: start;
    margin: 0;
    font-size: 1em;
    position: relative;
    color: var(--control-color, #333);
    background-color: var(--control-bg, #fff); }
    .n-select--options button * {
      pointer-events: none; }
  .n-select--options.n-scrollbar::-webkit-scrollbar {
    width: 10px; }
  .n-select--options.n-scrollbar::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 20px; }
  .n-select--options.n-scrollbar::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px; }
  .n-select--options[aria-expanded] {
    position: absolute;
    margin-top: calc(-1px * (var(--active-option-offset, 0) - var(--top-offset, 0)) - 1px*var(--scroll-help-top, 0));
    max-height: var(--max-height);
    overflow: auto;
    background: transparent;
    padding: var(--padding, 0.5em);
    margin-inline-start: calc(-1 * var(--padding, .5em));
    margin-inline-end: calc(-1 * var(--padding, .5em));
    left: calc(1px * var(--body-offset-x));
    top: calc(1px * var(--body-offset-y));
    box-sizing: content-box; }
    .n-select--options[aria-expanded].n-select__crop-top {
      top: calc(1px * var(--body-offset-y) - 2*var(--padding)); }
    .n-select--options[aria-expanded]:not(.n-select__crop-top) {
      padding-top: calc(1px*var(--scroll-help-top, 0)); }
      .n-select--options[aria-expanded]:not(.n-select__crop-top):before {
        margin-top: calc(1px*var(--scroll-help-top, 0)); }
    .n-select--options[aria-expanded] [aria-selected] {
      background-color: var(--control-active-bg, #eee);
      color: var(--control-active-color, #000); }
    .n-select--options[aria-expanded] button, .n-select--options[aria-expanded] a[href] {
      line-height: 1.3;
      width: 100%;
      box-sizing: border-box;
      /*
			&:not(:first-of-type) {
				
				margin-top: 1px;
				
			}
*/ }
      .n-select--options[aria-expanded] button:not([aria-selected]):hover, .n-select--options[aria-expanded] a[href]:not([aria-selected]):hover {
        background-color: var(--control-highlight, #ececec);
        color: var(--control-active-color, inherit); }
      .n-select--options[aria-expanded] button:focus, .n-select--options[aria-expanded] a[href]:focus {
        z-index: 1; }
    .n-select--options[aria-expanded]:before {
      content: '';
      position: absolute;
      background-color: var(--control-bg, #fff);
      top: var(--padding, 0.5em);
      left: var(--padding, 0.5em);
      right: var(--padding, 0.5em);
      height: calc(var(--select-scroll-height) - calc(2 * var(--padding, .5em))); }
    .n-select--options[aria-expanded].n-select__shadow:before {
      box-shadow: 0 0 2px 2px; }
  .n-select--options:not([aria-expanded]) {
    cursor: pointer; }
    .n-select--options:not([aria-expanded]) button {
      white-space: nowrap;
      overflow: hidden;
      max-width: calc(100% - 1.5em);
      width: auto;
      margin: 0;
      outline-offset: -1.5px;
      font-size: 1em;
      border: none;
      padding: .5em;
      padding-inline-end: 2em;
      line-height: 1.3;
      font-weight: normal;
      min-height: 0;
      color: var(--control-color, #333);
      background: none; }
  .n-select--options > * {
    padding: .5em;
    padding-inline-end: 2em;
    position: relative;
    font-family: inherit; }

/*
.n-select--options.n-select__crop-top[aria-expanded] {

	margin-top: calc(-1px * (var(--active-option-offset, 0) - var(--top-offset, 0)) - .5px);
	
}

[data-nui-chrome] .n-select--options.n-select__crop-top[aria-expanded] {

	margin-top: calc(-1px * (var(--active-option-offset, 0) - var(--top-offset, 0)));
	
}
*/
/*
[data-nui-chrome]:not(.n-select) > .n-select--options.n-select__crop-top[aria-expanded] {
	
    top: calc(1px * var(--body-offset-y) - 1px);
	
}
*/
@-moz-document url-prefix() {
  .n-select--options.n-select__crop-top[aria-expanded] {
    margin-top: calc(-1px * (var(--active-option-offset, 0) - var(--top-offset, 0)) - var(--padding, .5em));
    max-height: calc(var(--max-height) + 2 * var(--padding, .5em)); }
    .n-select--options.n-select__crop-top[aria-expanded]:after {
      content: '';
      height: var(--padding, 0.5em);
      display: block; }
    .n-select--options.n-select__crop-top[aria-expanded] > :last-child {
      margin-block-end: var(--padding, 0.5em); } }

select[data-n_select], .n-select[data-ready] select, .n-select[data-ready] + select {
  display: none; }

.n-form__wide .n-select, .n-form__wide .n-select--options, .n-form__wide .n-select select {
  width: 100%; }

.n-select--options[aria-expanded] {
  -webkit-mask: linear-gradient(0, #000, #000) no-repeat 0 var(--mask-position-y)/calc(var(--max-width) + .5em) var(--mask-size-y); }
  .n-select--options[aria-expanded][data-n-select-animation] {
    transition: -webkit-mask-size 0.15s ease-in-out, -webkit-mask-position-y 0.15s ease-in-out;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position-y: 0; }

@media (prefers-reduced-motion: reduce) {
  .n-select--options[aria-expanded][data-n-select-animation] {
    transition: none; } }

@media (min-width: 600px) {
  .n-select--options[aria-expanded] {
    width: calc(var(--max-width) + var(--padding)); } }
