// Rich select

/*
	
Theme:

--control-color: red;
--control-bg: lightgoldenrodyellow;

--control-active-color: chocolate;
--control-active-bg: beige;

--control-highlight: red;

*/

@keyframes n-select {
    
    100% {
	    
		visibility: hidden;
	    
    }
    
}
	
@keyframes n-select-native {
    
    100% {
	    
		visibility: visible;

    }
    
}

body.n-select--open {
	
/*
	overflow: hidden;
	-webkit-user-select: none;
	user-select: none;
*/

}
    							
.n-select {
	
	position: relative;
	height: var(--active-option-height, auto);
	display: inline-grid;
	vertical-align: middle;
	max-width: 100%;
	width: var(--width, auto);
	line-height: 1.3;
	z-index: 0;
    background-color: var(--control-bg,#fff);

	&[data-ready] {
		
		font-size: 1em;
		transition: height .2s ease-in-out;
		
		> .n-select__options > :not([aria-selected]) {
		
    		height: 0;
			padding-top: 0;
			padding-bottom: 0;
			visibility: hidden;
			overflow: hidden;
			display: block;
    			
		}

	}
	
	&:before {
		
		content: '';
		position: absolute;
		cursor: pointer;
		background-color: var(--control-color, #333);
		--chevron: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M16.003 18.626l7.081-7.081L25 13.46l-8.997 8.998-9.003-9 1.917-1.916z'/%3E%3C/svg%3E");
		-webkit-mask: var(--chevron) no-repeat 0 0 / contain;
		mask: var(--chevron) no-repeat 0 0 / contain;
		width: .75em;
		height: .75em;
		right: .4em;
	    top: calc(50% - .375em);
		z-index: -1;

	}
		
	&:after {
		
		position: absolute;
		top: 0;
		z-index: 5;
		
	}

	&:not([data-ready]) {
	
		// If no init in 2", display native fallback
	
	    .n-select__options, select {
		    
		    animation-duration: .1s;
		    animation-fill-mode: forwards;
		    animation-delay: 2s;
	
	    }
	    
		select {
		    
			-webkit-appearance: none;
			appearance: none;
			border: none;
			padding: 0;
			width: 100%;
			padding-inline-start: .5em;
			padding-inline-end: 1.961em;
			line-height: 2.25;
			height: auto;
			margin: 0;
			background: none;
			visibility: hidden;
		    animation-name: n-select-native;
		
		}

		.n-select__options {
			
			display: inline-grid;
			
			> * {
				
				grid-column: 1/2;
				grid-row: 1/2;
				
			}
			
			> :not(:first-child):not([aria-selected]) {
				
				opacity: 0;
				
			}
		
		}

	}
	
	> input {
		
		display: none;

	}

}

.n-select__options, .n-select {

	--padding: .5em;

}

.n-select__options, .n-select select {
	
	width: auto;
    max-width: 100%;
    color: var(--control-color, #333);
	background-color: transparent;
	top: 0;
	z-index: 5;
	box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
    font: inherit;
    border-radius: 0;
    border: none;
    
    grid-column: 1/1;
    grid-row: 1/1;
    overflow: hidden;

}

.n-select select {
	
	padding: var(--padding, .5em);
    padding-inline-end: 1.961em;
	cursor: pointer;
	
	~ .n-select__options {
	
	    animation-name: n-select;
	
	}

}

.n-select__options {

	> * {
		
		display: block;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		user-select: none;

	}

	button {
		
		-webkit-appearance: none;
		appearance: none;
		background: none;
		cursor: pointer;
		border: 0;
		width: 100%;
		text-align: start;
		margin: 0;
		font-size: 1em;
		position: relative;
		color: var(--control-color, #333);
		background-color: var(--control-bg, #fff);
		
		* {
			
			pointer-events: none; // Disable dragging of images inside the option
			vertical-align: middle;

		}
		
		img { // Must have default dimensions to avoid layout jump while loading
			
			width: 2em;
			height: 2em;
			margin-inline-end: .5em;
			
		}
		
	}
	
	&.n-scrollbar {

		&::-webkit-scrollbar {
		
		  width: .333em;
		
		}
 
		&::-webkit-scrollbar-thumb {
		
		  background: #999;
		  border-radius: .333em;
		
		}
		
		&::-webkit-scrollbar-track {
		
		  background: #eee;
		  border-radius: .333em;
		
		}
		
		scrollbar-width: .333em;
		scrollbar-color: #999 #eee;
	
	}

	&[aria-expanded] {
	
		position: absolute;
		margin-top: calc(-1px * (var(--active-option-offset, 0) - var(--top-offset, 0)) - 1px*var(--scroll-help-top, 0)); // Align to the current option's vertical offset
		max-height: var(--max-height);
		overflow: auto;
	    background: transparent;
	    padding: 0 1em;
	    margin-inline-start: -1em;
/*
	    margin-inline-start: calc(-1 * var(--padding, .5em));
	    margin-inline-end: calc(-1 * var(--padding, .5em));
*/
	    left: calc(1px * var(--body-offset-x));
	    top: calc(1px * var(--body-offset-y));
	    box-sizing: content-box;
	    
	    min-width: var(--max-width); // For when the closed select is wider than the options
	    
	    > :first-child {
		    
		    margin-top: 1em;

	    }

	    > :last-child {
		    
		    margin-bottom: 1em;

	    }

	    &.n-select--crop-top {
		    
			top: calc(1px * var(--body-offset-y));
			margin-top: calc(-1px * (var(--active-option-offset, 0) - var(--top-offset, 0)) - 1px * var(--scroll-help-top, 0)); // Align to the current option's vertical offset
    		    
	    }
    
	    &:not(.n-select--crop-top) { // Already taken whole upper space
	
		    padding-top: calc(1px*var(--scroll-help-top, 0));
		    
		    &:before {
			
				margin-top: calc(1px*var(--scroll-help-top, 0));
			    
		    }
	    
	    }
    
		[aria-selected] {
			
			background-color: var(--control-active-bg, #eee);
			color: var(--control-active-color, #000);

		}
		
		button, a[href] {
			
			line-height: 1.3;
			width: 100%;
			box-sizing: border-box;

			@media (hover: hover) {

// 				outline-offset: -5px;

			}
			
			&:not([aria-selected]) {
			
				&:hover {
					
					background-color: var(--control-highlight, #ececec);
					color: var(--control-active-color, inherit);
					
				}
			
			}

/*
			&:not(:first-of-type) {
				
				margin-top: 1px;
				
			}
*/
			
			&:focus {
				
				z-index: 1;
// 				outline-offset: -3px;
				
			}
		
		}
		
		&:before {
			
			content: '';
			position: absolute;
			background-color: var(--control-bg, #fff);
// 			background-color: red;
		    top: 1em;
		    left: 1em;
		    right: 1em;
		    height: calc(var(--select-scroll-height) - 2 * 1em);
    			
		}
		
		&.n-select--scroll-help-top:before {
			
		    height: calc(100% + 1px*var(--top-offset, 0));
    			
		}
		
		&.n-select--shadow:before {
			
		    box-shadow: 0 0 2px 2px #333;
			
		}
	
	}

	&:not([aria-expanded]) {
		
		cursor: pointer;
		
		button {
			
			white-space: nowrap;
			overflow: hidden;
			max-width: calc(100% - 1.5em);
			width: auto;
			margin: 0;
			outline-offset: -1.5px;
			font-size: 1em;
		    border: none;
		    padding: .5em;
		    padding-inline-end: 2em;
			line-height: 1.3;
			font-weight: normal;
			min-height: 0;
		    color: var(--control-color,#333);
		    background: none;
        			
		}
		
	}

	> * {
		
		padding: .5em;
		padding-inline-end: 2em;
		position: relative; // To show it above the background
		font-family: inherit; // iOS bug
		
	}
	
}

/*
@-moz-document url-prefix() {

	.n-select__options.n-select--crop-top[aria-expanded] {
	
		margin-top: calc(-1px * (var(--active-option-offset, 0) - var(--top-offset, 0)) - var(--padding, .5em)); // Remove padding when cropped on top on Firefox
		max-height: calc(var(--max-height) + 2 * var(--padding, .5em));

		&:after {
			
			content: '';
			height: var(--padding, .5em);
			display: block;

		}
		
		> :last-child {
			
			margin-block-end: var(--padding, .5em);
			
		}
		
	}

}
*/

select[data-n_select], .n-select[data-ready] select, .n-select[data-ready] + select { // Hide the associated native select, which can be specified in 3 different ways
	
	display: none;
	
}

.n-form__wide { 
	
	.n-select, .n-select__options, .n-select select {
		
		width: 100%;
		
	}
	
}

// Animation

.n-select__options[aria-expanded] {

	-webkit-mask: 					linear-gradient(0, #000, #000) no-repeat 0 calc((var(--mask-position-y) + var(--scroll-help-top, 0)) * 1px) / calc(var(--max-width) + .5em) var(--mask-size-y);

	&[data-n-select-animation] {
	
		transition: 				-webkit-mask-size .15s ease-in-out, -webkit-mask-position-y .15s ease-in-out;
		-webkit-mask-size: 			100% 100%; 
		-webkit-mask-position-y: 	0;
	
	}

}

@media (prefers-reduced-motion: reduce) {

	.n-select__options[aria-expanded][data-n-select-animation] {
	
		transition: none;
	
	}

}

@media (min-width: 600px) {
	
	.n-select .n-select__options[aria-expanded] {
		
		width: calc(var(--max-width) + var(--padding));
		
	}
	
}
