/*

Theme:

--control-color: red;
--control-bg: lightgoldenrodyellow;

--control-selected-color: blueviolet;
--control-selected-bg: aliceblue;

--control-active-color: chocolate;
--control-active-bg: beige;

*/
@keyframes n-select {
  100% {
    height: 0;
  }
}
@keyframes n-select-native {
  100% {
    height: auto;
  }
}
.n-select {
  position: relative;
}
.n-select[data-ready] {
  height: var(--active-option-height, 1em);
  font-size: 1em;
  transition: height 0.2s ease-in-out;
}
.n-select:after {
  position: absolute;
  top: 0;
  z-index: 5;
}
.n-select:not([data-ready]) {
  animation-name: n-select;
  overflow: hidden;
}
.n-select:not([data-ready]), .n-select:not([data-ready]) + select {
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.n-select:not([data-ready]) + select {
  animation-name: n-select-native;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 0;
}
.n-select:not([data-ready]) > :not([aria-expanded]) {
  position: relative;
}
.n-select:not([data-ready]) > :not([aria-expanded]) > :not([aria-selected]):first-child {
  display: block;
}
.n-select:not([data-ready]) > :not([aria-expanded]) > :not([aria-selected]):first-child ~ [aria-selected] {
  display: block;
  position: absolute;
  top: 0;
}

.n-select--options {
  width: 100%;
  max-width: var(--max-width, 100%);
  background-color: var(--control-bg, #fff);
  position: absolute;
  top: 0;
  z-index: 5;
  box-sizing: border-box;
}
.n-select--options > * {
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.n-select--options button {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  border: 0;
  width: 100%;
  text-align: start;
  margin: 0;
  font-size: 1em;
  position: relative;
  color: var(--control-color, #333);
  background-color: var(--control-bg, #fff);
}
.n-select--options button * {
  pointer-events: none;
}
.n-select--options.n-scrollbar::-webkit-scrollbar {
  width: 10px;
}
.n-select--options.n-scrollbar::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 20px;
}
.n-select--options.n-scrollbar::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}
.n-select--options[aria-expanded] {
  margin-top: calc(-1px * (var(--active-option-offset, 0) - var(--top-offset, 0)));
  max-height: var(--max-height);
  overflow: auto;
  background: transparent;
  padding: 0.5em;
  margin-left: -0.5em;
  max-width: calc(var(--max-width) + 1em);
  border-radius: 0.5em;
}
.n-select--options[aria-expanded] [aria-selected] {
  background-color: var(--control-selected-bg, #eee);
  color: var(--control-selected-color, #000);
}
.n-select--options[aria-expanded] button {
  line-height: 1.3;
  width: 100%;
}
.n-select--options[aria-expanded] button:not([aria-selected]):hover {
  background-color: var(--control-active-bg, #ececec);
  color: var(--control-active-color, inherit);
}
.n-select--options[aria-expanded] button:not(:first-of-type) {
  margin-top: 1px;
}
.n-select--options[aria-expanded] button:focus {
  z-index: 1;
}
.n-select--options[aria-expanded]:before {
  content: "";
  position: absolute;
  background-color: var(--control-bg, #fff);
  top: 0.5em;
  left: 0.5em;
  right: 0.5em;
  height: calc(var(--select-scroll-height) - 1em);
  box-shadow: 0 0 2px 2px;
  z-index: -1;
}
.n-select--options:not([aria-expanded]) {
  cursor: pointer;
  background-color: var(--control-selected-bg, #fff);
  background-image: linear-gradient(-113deg, transparent 60%, var(--control-selected-bg, #fff) 63%), linear-gradient(113deg, transparent 60%, var(--control-selected-bg, #fff) 63%), linear-gradient(to bottom, var(--control-selected-color, #333), var(--control-selected-color, #333));
  background-size: 0.75em 0.75em;
  background-repeat: no-repeat;
  background-position: calc(100% - .5em) 0.75em;
}
.n-select--options:not([aria-expanded]) button {
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 1.5em);
  outline-offset: -1.5px;
  font-size: 1em;
  border: none;
  padding: 0.5em;
  line-height: 1.3;
  font-weight: normal;
  min-height: 0;
  color: var(--control-selected-color, #333);
  background-color: var(--control-selected-bg, #fff);
}
.n-select--options:not([aria-expanded]) > :not([aria-selected]) {
  display: none;
}
.n-select--options > * {
  padding: 0.5em;
}

.n-select--options.n-select__crop-top[aria-expanded] {
  margin-top: calc(-1px * (var(--active-option-offset, 0) - var(--top-offset, 0)) - 1px);
}

@-moz-document url-prefix() {
  .n-select--options.n-select__crop-top[aria-expanded] {
    margin-top: calc(-1px * (var(--active-option-offset, 0) - var(--top-offset, 0)) - .5em - .5px);
  }
}
select[data-n_select], .n-select[data-ready] select, .n-select[data-ready] + select {
  display: none;
}

.n-select--options[aria-expanded] {
  -webkit-mask: linear-gradient(0, #000, #000) no-repeat 0 var(--mask-position-y)/100% var(--mask-size-y);
}

.n-select--options[aria-expanded][data-n-select-animation] {
  transition: -webkit-mask-size 0.15s ease-in-out, -webkit-mask-position-y 0.15s ease-in-out;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position-y: 0;
}

:not(.n-select) > .n-select--options {
  position: absolute;
  left: calc(1px * var(--body-offset-x));
  top: calc(1px * var(--body-offset-y));
}

/*# sourceMappingURL=n-select.css.map */
