/*

Theme:

--control-color: red;
--control-bg: lightgoldenrodyellow;

--control-selected-color: blueviolet;
--control-selected-bg: aliceblue;

--control-active-color: chocolate;
--control-active-bg: beige;

*/
@keyframes n-select {
  100% {
    height: 0;
  }
}
@keyframes n-select-native {
  100% {
    height: auto;
  }
}
.n-select {
  position: relative;
  cursor: pointer;
}
.n-select[aria-expanded] [aria-selected] {
  background-color: var(--control-selected-bg, #eee);
  color: var(--control-selected-color, #000);
}
.n-select[aria-expanded] > div {
  margin-top: calc(-1px * (var(--active-option-offset, 0) - var(--top-offset, 0)));
  max-height: var(--max-height);
  overflow: auto;
}
.n-select[aria-expanded] button {
  outline-offset: -3px;
}
@media (hover: hover) {
  .n-select[aria-expanded] button {
    outline-offset: -5px;
  }
}
.n-select[aria-expanded] button:not([aria-selected]):hover {
  background-color: var(--control-active-bg, #ececec);
  color: var(--control-active-color, inherit);
}
.n-select button {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  border: 0;
  width: 100%;
  text-align: start;
  padding: 0;
  margin: 0;
  font-size: 1em;
  position: relative;
  color: var(--control-color, #333);
  background-color: var(--control-bg, #fff);
}
.n-select button * {
  pointer-events: none;
}
.n-select[data-ready]:before {
  content: "";
  display: block;
  height: var(--active-option-height, 1em);
  font-size: 1em;
}
.n-select:after, .n-select > div {
  position: absolute;
  top: 0;
  z-index: 5;
}
.n-select > div {
  width: 100%;
  background-color: var(--control-bg, #fff);
}
.n-select > div > * {
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.n-select > div.n-scrollbar::-webkit-scrollbar {
  width: 10px;
}
.n-select > div.n-scrollbar::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 20px;
}
.n-select > div.n-scrollbar::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}
.n-select:not([aria-expanded]) > div {
  background-image: linear-gradient(-113deg, transparent 60%, var(--control-bg, #fff) 63%), linear-gradient(113deg, transparent 60%, var(--control-bg, #fff) 63%), linear-gradient(to bottom, var(--control-color, #333), var(--control-color, #333));
  background-size: 0.75em 0.75em;
  background-repeat: no-repeat;
  background-position: calc(100% - .5em) 0.75em;
}
.n-select:not([aria-expanded]) button {
  white-space: nowrap;
  overflow: hidden;
  width: calc(100% - 1.5em);
  outline-offset: -1.5px;
}
.n-select:not([aria-expanded]) > div > :not([aria-selected]) {
  display: none;
}
.n-select div > *, .n-select button {
  padding: 0.5em;
}

.n-select:not([data-ready]) {
  animation-name: n-select;
  overflow: hidden;
}
.n-select:not([data-ready]), .n-select:not([data-ready]) + select {
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.n-select:not([data-ready]) + select {
  animation-name: n-select-native;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 0;
}
.n-select:not([data-ready]):not([aria-expanded]) > div {
  position: relative;
}
.n-select:not([data-ready]):not([aria-expanded]) > div > :not([aria-selected]):first-child {
  display: block;
}
.n-select:not([data-ready]):not([aria-expanded]) > div > :not([aria-selected]):first-child ~ [aria-selected] {
  display: block;
  position: absolute;
  top: 0;
}

select[data-n_select], .n-select[data-ready] select, .n-select[data-ready] + select {
  display: none;
}

.n-select[aria-expanded] > div {
  -webkit-mask: linear-gradient(0, #000, #000) no-repeat 0 calc(1px * (var(--active-option-offset) - var(--top-offset, 0)))/100% var(--active-option-height);
  transition: -webkit-mask-size 0.2s ease-in-out, -webkit-mask-position-y 0.2s ease-in-out;
}

.n-select[aria-expanded][data-anim] > div {
  -webkit-mask-size: 100% 100% !important;
  -webkit-mask-position-y: 0 !important;
}

@keyframes n-select-reveal {
  to {
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: 0 0;
  }
}

/*# sourceMappingURL=n-select.css.map */
