@charset "UTF-8";
/* natUIve  – Form */
/*
$color: #fff;
$bg: #1E8DaC;
*/
:root {
  /*
  // Crashes Chrome 49 Beta, FF 44 bug can't calc properly
  	--line-height: 2;
  	--line-height-em: calc(var(--line-height)*1em);
  */
  /*
  	--color: #fff;
  	--bg: #1E8DaC;
  */
  /*
  	--color: #333;
  	--bg: #fff;
  */ }

.n-form {
  --placeholder_color: #aaa; }
  .n-form * {
    box-sizing: border-box; }
  .n-form label, .n-form input, .n-form textarea {
    display: inline-block;
    vertical-align: middle; }
  .n-form ::-webkit-input-placeholder {
    color: #aaa;
    color: var(--placeholder_color);
    -webkit-text-fill-color: #aaa;
    -webkit-text-fill-color: var(--placeholder_color); }
  .n-form input[type=submit], .n-form button[type=submit], .n-form label, .n-form .n-form--check span, .n-form label > span {
    line-height: 1.5;
    min-height: 1.5em; }
  .n-form input[type=submit], .n-form button[type=submit], .n-form button, .n-form input[type=submit], .n-form .n-form--file, .n-form .n-form--file span {
    line-height: 3;
    min-height: 3em; }
  .n-form label {
    font-weight: bold;
    max-width: 100%;
    position: relative;
    padding: 0;
    margin: 0 0 1.5em 0;
    min-height: 3em; }
  .n-form input[type=submit], .n-form button, .n-form button[type=submit] {
    height: auto;
    line-height: 1.5;
    white-space: normal;
    word-break: break-all;
    margin: 0;
    min-width: 50%;
    max-width: 100%;
    padding: 0 1em; }
  .n-form input, .n-form select, .n-form textarea, .n-form input[type=search], .n-form button {
    /*
    		background-color: #eee;
    		background-color: rgba(0, 0, 0, .1);
    */
    font-family: inherit;
    display: inline-block;
    overflow: hidden;
    resize: none;
    vertical-align: top;
    border-radius: 0;
    padding: 0 0.75em;
    min-height: 3em;
    border: 0;
    font-size: 1em;
    border: 1px dotted transparent; }
  .n-form textarea {
    border-bottom: 1px dotted transparent;
    height: 0;
    min-height: 4.5em;
    padding-top: 0.75em;
    margin: 1.5em 0; }
    .n-form textarea:not([data-auto]) {
      overflow: auto; }
    .n-form textarea[data-auto] {
      transform: translate3d(0, 0, 0); }
  .n-form select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    min-height: 0;
    text-indent: 0px;
    padding: 0 1.6em 0 .8em;
    height: 3em;
    white-space: nowrap;
    text-indent: -1px;
    text-overflow: '';
    margin: 0;
    text-indent: 1px;
    cursor: pointer;
    background-image: linear-gradient(-113deg, transparent 60%, var(--control-bg, #fff) 63%), linear-gradient(113deg, transparent 60%, var(--control-bg, #fff) 63%), linear-gradient(to bottom, var(--control-color, #333), var(--control-color, #333));
    background-size: 1em 1em;
    background-repeat: no-repeat;
    background-position: calc(100% - .5em) center;
    color: var(--control-color, #333);
    background-color: var(--control-bg, #eee); }
    .n-form select option {
      padding: 0 1.5em 0 0; }
  .n-form select, .n-form .n-form--file {
    vertical-align: top;
    border: none;
    margin-left: 0; }
  .n-form input[type=search] {
    -webkit-appearance: none;
    border-radius: 0; }
    .n-form input[type=search]::-webkit-search-decoration, .n-form input[type=search]::-webkit-search-cancel-button {
      -webkit-appearance: none; }
  .n-form label, .n-form label span, .n-form .n-form--check span {
    margin: 0;
    text-align: start; }
  .n-form input, .n-form select {
    display: inline-block;
    width: auto;
    padding-top: 0;
    margin: 1.5em 0;
    vertical-align: middle; }
  .n-form.sticky-submit {
    position: relative; }
    .n-form.sticky-submit input[type=submit], .n-form.sticky-submit button[type=submit] {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%); }
  .n-form .n-form--check {
    display: block;
    min-height: 1.5em;
    margin-bottom: 1.5em; }
    .n-form .n-form--check span {
      display: inline-block;
      font-weight: bold;
      margin-top: 0;
      cursor: default; }
    .n-form .n-form--check:after {
      content: '';
      display: block;
      clear: both; }
    .n-form .n-form--check label {
      text-align: start;
      font-weight: normal;
      clear: right;
      margin: 0;
      cursor: pointer;
      min-height: 0;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      user-select: none; }
      .n-form .n-form--check label span {
        width: auto; }
      .n-form .n-form--check label:last-child {
        margin-bottom: 0; }
      .n-form .n-form--check label input[type=checkbox], .n-form .n-form--check label input[type=radio] {
        margin: -.25em .2em 0 0; }
  .n-form .n-form--check-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    background-color: var(--control-bg, #eee);
    line-height: 1.66667;
    font-size: -0.33333em;
    text-align: center;
    color: var(--control-color, #333);
    display: none;
    border: none;
    margin: 0;
    position: absolute;
    left: 0;
    z-index: 1;
    top: .05em; }
  .n-form.n-form--mast .n-form--check-icon {
    top: .25em; }
  .n-form.n-form--wide .n-form--check-icon {
    top: .08em; }
  .n-form input[type=checkbox] + .n-form--check-icon:before {
    content: '✓';
    opacity: 0;
    display: block;
    height: 1em;
    line-height: 1; }
  .n-form input[type=checkbox]:checked + .n-form--check-icon:before {
    opacity: 1; }
  .n-form input[type=checkbox], .n-form input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: window;
    -ms-appearance: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    min-height: 0;
    height: 1em;
    width: 1em;
    display: inline-block;
    margin: 0;
    border: none; }
  .n-form input[type=radio] + .n-form--check-icon {
    border-radius: 50%; }
  .n-form input[type=radio]:checked + .n-form--check-icon:before {
    content: '';
    position: absolute;
    background-color: var(--control-color, #333);
    top: 25%;
    right: 25%;
    bottom: 25%;
    left: 25%;
    border-radius: 50%; }
  .n-form .n-form--mandatory span.n-form--check:before, .n-form .n-form--mandatory span.tip:after, .n-form select::-ms-expand {
    display: none; }
  .n-form .n-form--mandatory {
    position: relative; }
    .n-form .n-form--mandatory:before {
      content: '*';
      color: #a00;
      position: absolute;
      top: 0;
      font-weight: bold;
      left: auto;
      right: 0; }
  .n-form .n-form--alert span, .n-form .n-form--alert p {
    background: #666;
    color: #eee; }
  .n-form .n-form--alert span.n-form--check {
    background: none;
    color: #555; }
  .n-form .n-form--alert span.tip {
    background: #222; }
  .n-form .n-form--file {
    font-weight: normal;
    margin: 0 0 1.5em 0;
    cursor: pointer;
    font-style: italic;
    padding: 0;
    position: relative; }
    .n-form .n-form--file span {
      text-align: start;
      border: none;
      white-space: nowrap;
      overflow: hidden;
      background-color: var(--control-bg, #ddd);
      color: var(--control-color, inherit);
      padding: 0 0.75em 0 0.75em;
      display: block;
      line-height: 1.5em;
      padding-top: 0.75em;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      .n-form .n-form--file span .n-form--file-tag {
        display: none; }
      .n-form .n-form--file span .n-form--file-name:empty ~ .n-form--file-tag {
        display: block; }
    .n-form .n-form--file input[type=file] {
      width: 100%;
      cursor: pointer;
      border: none;
      margin: 0; }
      .n-form .n-form--file input[type=file]:focus + span {
        outline: auto; }
  .n-form input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    background: none;
    margin: 0;
    padding: 0;
    /*
    		&::-ms-track {
    		
    			width: 100%;
    			height: .7125em;
    			cursor: pointer;
    			background: transparent;
    			border-color: transparent;
    			color: transparent;
    		
    		}
    		
    		&::-ms-fill-lower {
    		
    			background: rgba(0, 0, 0, 0.1);
    		
    		}
    		
    		&::-ms-fill-upper {
    		
    			background: rgba(0, 0, 0, 0.1);
    		
    		}
    		
    		&::-ms-thumb {
    		
    			border: 0px solid rgba(0, 0, 0, 0);
    			height: 1.625em;
    			width: 1.625em;
    			border-radius: .9375em;
    			background: var(--thumb-color);
    			cursor: pointer;
    			height: .7125em;
    		
    		}
    		
    		&:focus::-ms-fill-lower {
    		
    			background: rgba(0, 0, 0, 0.1);
    		
    		}
    		
    		&:focus::-ms-fill-upper {
    		
    			background: rgba(5, 5, 5, 0.1);
    		
    		}
    */ }
    .n-form input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: .7125em;
      cursor: pointer;
      background: var(--control-bg, rgba(0, 0, 0, 0.1)); }
    .n-form input[type=range]::-webkit-slider-thumb {
      height: 1.625em;
      width: 1.625em;
      border-radius: 50%;
      background: var(--control-bg, rgba(0, 0, 0, 0.1));
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -.45625em; }
    .n-form input[type=range]:focus::-webkit-slider-runnable-track {
      background: var(--control-bg, rgba(0, 0, 0, 0.1)); }
    .n-form input[type=range]::-moz-range-track {
      width: 100%;
      height: .7125em;
      cursor: pointer;
      background: var(--control-bg, rgba(0, 0, 0, 0.1)); }
    .n-form input[type=range]::-moz-range-thumb {
      border: 0px solid transparent;
      height: 1.625em;
      width: 1.625em;
      border-radius: 50%;
      background: var(--control-bg, rgba(0, 0, 0, 0.1));
      cursor: pointer; }
  .n-form legend {
    padding: 0 .5em; }
  .n-form fieldset {
    border: 1px solid;
    display: block;
    margin: 0.75em 0; }
    .n-form fieldset input:last-of-type {
      margin-bottom: 0.5em; }
    .n-form fieldset[disabled] {
      display: none; }
  .n-form input[type=submit], .n-form button[type=submit] {
    width: auto;
    min-width: 0;
    padding: 0 1em;
    min-height: 2.50005em;
    text-align: start; }
  .n-form.n-form--wide textarea, .n-form.n-form--mast textarea {
    margin: -0.75em 0 0.75em 0; }
  .n-form.n-form--wide input[type=submit], .n-form.n-form--wide button[type=submit] {
    margin-bottom: calc(1.5em - 5px);
    /* fix for the failed box-sizing: border-box */
    line-height: 1em; }
  .n-form.n-form--wide select {
    width: 100%;
    height: 3em;
    margin: -0.75em 0 0.75em 0; }
  .n-form.n-form--wide label, .n-form.n-form--wide label span, .n-form.n-form--wide .n-form--check span, .n-form.n-form--wide label, .n-form.n-form--wide .n-form--file {
    display: block;
    width: 100%;
    clear: both; }
  .n-form.n-form--wide:not(.sticky-submit) input:not([type=checkbox]):not([type=radio]), .n-form.n-form--wide textarea, .n-form.n-form--wide select {
    display: block;
    width: 100%;
    border: none;
    margin: 0 0 1.5em 0; }
  .n-form.n-form--wide .n-form--check label input[type=checkbox], .n-form.n-form--wide .n-form--check label input[type=radio] {
    margin-top: -.2em; }
  .n-form.n-form--mast label {
    width: 100%; }
    .n-form.n-form--mast label > input {
      margin-top: -0.75em; }
  .n-form.n-form--mast > label > *, .n-form.n-form--mast > .n-form--check > * {
    width: 50%;
    float: right;
    margin: -0.75em 0 2.25em 0; }
  .n-form.n-form--mast > label > span, .n-form.n-form--mast > .n-form--check > span {
    width: 50%;
    text-align: right;
    padding-right: 1em;
    float: left;
    margin: 0; }
  .n-form.n-form--mast > .n-form--check > * {
    margin: 0; }
  .n-form.n-form--mast .n-form--mandatory:before {
    left: calc(50% - 1em);
    z-index: -1; }
  .n-form.n-form--language select {
    height: auto;
    width: 100%;
    background-position: calc(100% - .5em);
    margin-left: 0;
    background-color: unset;
    height: 1.5em;
    line-height: 1.5em; }
  .n-form.n-form--language input[type=submit] {
    min-height: 1em;
    padding: 0 .5em; }

:root .n-form--check-icon {
  /* Not IE8 */
  display: inline-block;
  vertical-align: middle; }

[dir=rtl] .n-form .n-form--mandatory:before {
  left: 0;
  right: auto; }
[dir=rtl] .n-form.n-form--mast .n-form--mandatory:before {
  right: calc(50% - 1em);
  left: auto; }

@-moz-document url-prefix() {
  .n-form select {
    padding-left: 0;
    text-indent: .3em; }
    .n-form select option {
      padding: 0; }
  .n-form input::-moz-focus-inner, .n-form button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  .n-form input[type=text], .n-form input[type=email], .n-form input[type=url] {
    padding-top: 0; }
  .n-form span {
    margin-top: -1px; }
  .n-form input[type=file] {
    padding-left: 100%;
    text-indent: -1em;
    margin-top: -1.5em; } }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* IE10 */
  .n-form input[type=file] {
    margin-left: -100%; } }
:root .n-form .n-form--check label {
  /* Not IE9 */
  padding-left: 0;
  padding-bottom: 0;
  display: inline; }

[dir=rtl] .n-form select {
  padding-left: 0;
  padding-right: .8em; }

@supports (--a: 1) {
  .n-form {
    padding: 1.5em 0; } }

/*# sourceMappingURL=natuive-form.css.map */
