/* natUIve – Fold */

@import '../../css/natuive-setup';

.n-fold {

	position: relative;
	margin: 0;
	max-width: 100%;
	z-index: 1;
	
	&:not([data-ready]) {

		display: grid;
		
	}

	> .n-fold--label {
		
		margin: 0;
		float: none;
		text-align: left;
		text-align: start;
		width: 100%;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		user-select: none;
		position: relative;
		padding: .75em;
		padding-right: 1.5em;
		word-wrap: break-word;
		word-break: break-all;
		box-sizing: border-box;
		background-color: var(--control-bg, inherit);
		color: var(--control-color, inherit);
		
		&:after {
			
			content: "▼";
			position: absolute;
			right: 1em;
			font-size: .67em;
			top: 50%;
			transform: rotate(0) translateY(-50%);
			transition: transform .2s ease-in-out;
		    transform-origin: top;			
			
		}
		
	}
	
	&[aria-expanded] > .n-fold--label {
		
		cursor: zoom-out;
		
		&:after {
			
			transform: rotate(180deg) translateY(-50%);

		}
		
	}

	&.n-fold--mobile {
		
		padding: 0;
		width: auto;

		> .n-fold--label:after {
			
			display: none;
	
		}
		
		> .n-fold--label, > input.n-trigger {
			
			display: none;
			width: auto;
			line-height: $line-height;
			min-height: $line-height-em;
			height: $line-height-em*2;
	
		}

		.n-fold--content { /* hidden fold item */
			
			overflow: visible;
	
		}
	
	}
	
	&:not([data-init]):not(.n-fold--mobile) .n-fold--content { /* hidden fold item */

	    overflow: hidden;
	    cursor: auto;
	    will-change: max-width;

		> .n-fold { // Don't crop the focus outline
			
			margin: .3em;

		}

	}

	&[aria-expanded] .n-fold--content {
		
		max-height: none;

	}
	
	&:not([aria-expanded]):not(.n-fold--mobile):not(.n-fold--horizontal) > .n-fold--content, &[aria-expanded]:not(.n-fold--horizontal) input.n-trigger:checked ~ .n-fold--content /* also for CSS-only open by default */ {

	    max-height: 0;
	    max-height: var(--start-height, 0); // Fallback to 0

	}
	
	&.n-fold--horizontal {
		
		> * { // Not working in IE11-
			
			display: none;
	
		}
		
		> .n-fold--label:after {
			
			content: "▶";
	
		}
			
		&[aria-expanded] > .n-fold--label:after {
			
			content: "◀";
	
		}
			
		&:not([data-init]) > .n-fold--content {
			
			width: 0;
			
		}
	
		&[data-init] > .n-fold--content, &[aria-expanded] > .n-fold--content, > input.n-trigger:checked ~ .n-fold--content {
			
			width: 100%;
	
		}
	
		> .n-fold--content {
			
			height: 0;
	
			> * {
				
				width: var(--width);
		
			}
		
		}
		
	}	

	
	&:first-of-type {

	    margin-bottom: 0;

		.n-fold--content {
	
		    padding-top: 0;
	
		}

	}

	.n-fold--content > * {
		
		margin-top: 0;

	}

	&:not(.n-fold--horizontal) > input.n-trigger:checked ~ .n-fold--content, &.n-fold--mobile:not(.n-fold--horizontal) .n-fold--content {
		
		max-height: none;

	}

	&[aria-expanded] > input.n-trigger + .n-fold--content {
		
		display: inline-block;
		
	}
	
	span.n-burger {
		
		width: $line-height-em;
		height: $line-height-em;
		line-height: $line-height-em;
		font-size: 2em;
		display: inline-block;
		text-align: center;
		position: relative;
		background: #fff;

		&:after {
			
			content: "=";
	
		}
	
	}

}

.n-fold--label, .n-fold > input[type=checkbox] { // Overlay the checkbox over the label
	
	grid-column-start: 1;
	grid-row-start: 1;
	width: auto;
	height: auto;	
	cursor: zoom-in;

}

.n-fold > input[type=checkbox] {

	z-index: 1;
	-webkit-appearance: none;
	
	&:checked {
		
		cursor: zoom-out;

	}

}
	
@supports (--a: 1) { // Newer browsers than Android Browser get 3-lines n-burger via box-shadow. Lame check if they support CSS variables.

	.n-fold {
		
		span.n-burger {
	
			&:before {
				
				content: "";
				position: absolute;
				left: $line-height-em/6;
				width: $line-height-em/1.5;
				top: $line-height-em/10;
				box-shadow: 0 $line-height-em/6 0 1px #333, 0 $line-height-em/2.4 0 1px #333, 0 $line-height-em/1.5 0 1px #333;
		
			}
		
			&:after {
				
				display: none;
		
			}
		
		}

		&.n-fold--horizontal > * {
			
			display: block;
	
		}
	
	}

}

@media screen and (max-width: $screen-narrow-max) {

	.n-fold.n-fold--mobile {

		> .n-fold--label, > input.n-trigger {
			
			display: inline-block; // Android Browser doesn't support the below version (flex)
			display: flex;
			width: 3em;
			padding: 0;
	
		}
	
		&:not([aria-expanded]) .n-fold--content {
		
			max-height: 0;
			max-width: 0;
		
		}
		
		> input.n-trigger:checked ~ .n-fold--content, > input.n-trigger:checked + .n-fold--content { // Android Browser doesn't support "~", only "+"
			
			max-height: none;
			
		}
		
		.n-fold--content { // hidden fold item
			
			overflow: hidden;
	
		}
	
	}

	@supports (--a: 1) {

		.n-header.n-fixed-mobile .n-fold.n-fold--mobile {
			
			position: fixed;
		    top: 0;
	   		z-index: 2;
		
			&[aria-expanded] {
				
			    bottom: 0;
			    overflow: visible; // iPhone fix
		
				.n-fold--content {
					
					overflow: auto;
					-webkit-overflow-scrolling: touch;
					position: fixed;
					top: 3em; // header height, shouldn't be hardcoded
					bottom: 0;		
			
				}
		
			}
		
			.n-fold--content {
				
				padding: 0 $line-height-em/4;
			    background: #fff;
		
			}
			
		}
	
	}
	
}

@media screen and (min-width: $screen-narrow) {

	.n-fold.n-fold--mobile {
		
		overflow: visible;
		
	}	

}
