@charset "UTF-8";
/* natUIve – Fold */
/*
$color: #fff;
$bg: #1E8DaC;
*/
:root {
  /*
  // Crashes Chrome 49 Beta, FF 44 bug can't calc properly
  	--line-height: 2;
  	--line-height-em: calc(var(--line-height)*1em);
  */
  /*
  	--color: #fff;
  	--bg: #1E8DaC;
  */
  --color: #333;
  --bg: #fff; }

.n-fold {
  position: relative;
  margin: 0;
  max-width: 100%;
  z-index: 1; }
  .n-fold:not([data-ready]) {
    display: grid; }
  .n-fold > .n-fold--label {
    margin: 0;
    float: none;
    text-align: left;
    text-align: start;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    padding: .75em 0;
    padding-right: 1.5em;
    word-wrap: break-word;
    word-break: break-all;
    box-sizing: border-box; }
    .n-fold > .n-fold--label:after {
      content: "▼";
      position: absolute;
      right: 1em;
      font-size: .5em;
      top: 50%;
      transform: translateY(-50%); }
  .n-fold[aria-expanded] > .n-fold--label {
    cursor: zoom-out; }
    .n-fold[aria-expanded] > .n-fold--label:after {
      content: "▲"; }
  .n-fold.n-fold--mobile {
    padding: 0;
    width: auto; }
    .n-fold.n-fold--mobile > .n-fold--label:after {
      display: none; }
    .n-fold.n-fold--mobile > .n-fold--label, .n-fold.n-fold--mobile > input.n-trigger {
      display: none;
      width: auto;
      line-height: 1.5;
      min-height: 1.5em;
      height: 3em; }
    .n-fold.n-fold--mobile .n-fold--content {
      /* hidden fold item */
      overflow: visible; }
  .n-fold:not([data-init]):not(.n-fold--mobile) .n-fold--content {
    /* hidden fold item */
    overflow: hidden;
    cursor: auto;
    will-change: max-width; }
    .n-fold:not([data-init]):not(.n-fold--mobile) .n-fold--content > .n-fold {
      margin: .3em; }
  .n-fold[aria-expanded] .n-fold--content {
    max-height: none; }
  .n-fold:not([aria-expanded]):not(.n-fold--mobile):not(.n-fold--horizontal) > .n-fold--content, .n-fold[aria-expanded]:not(.n-fold--horizontal) input.n-trigger:checked ~ .n-fold--content {
    max-height: 0;
    max-height: var(--start-height, 0); }
  .n-fold.n-fold--horizontal > * {
    display: none; }
  .n-fold.n-fold--horizontal > .n-fold--label:after {
    content: "▶"; }
  .n-fold.n-fold--horizontal[aria-expanded] > .n-fold--label:after {
    content: "◀"; }
  .n-fold.n-fold--horizontal:not([data-init]) > .n-fold--content {
    width: 0; }
  .n-fold.n-fold--horizontal[data-init] > .n-fold--content, .n-fold.n-fold--horizontal[aria-expanded] > .n-fold--content, .n-fold.n-fold--horizontal > input.n-trigger:checked ~ .n-fold--content {
    width: 100%; }
  .n-fold.n-fold--horizontal > .n-fold--content {
    height: 0; }
    .n-fold.n-fold--horizontal > .n-fold--content > * {
      width: var(--width); }
  .n-fold:first-of-type {
    margin-bottom: 0; }
    .n-fold:first-of-type .n-fold--content {
      padding-top: 0; }
  .n-fold .n-fold--content > * {
    margin-top: 0; }
  .n-fold:not(.n-fold--horizontal) > input.n-trigger:checked ~ .n-fold--content, .n-fold.n-fold--mobile:not(.n-fold--horizontal) .n-fold--content {
    max-height: none; }
  .n-fold[aria-expanded] > input.n-trigger + .n-fold--content {
    display: inline-block; }
  .n-fold span.n-burger {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 2em;
    display: inline-block;
    text-align: center;
    position: relative;
    background: #fff; }
    .n-fold span.n-burger:after {
      content: "="; }

.n-fold--label, .n-fold > input[type=checkbox] {
  grid-column-start: 1;
  grid-row-start: 1;
  width: auto;
  height: auto;
  cursor: zoom-in; }

.n-fold > input[type=checkbox]:checked {
  cursor: zoom-out; }

@supports (--a: 1) {
  .n-fold span.n-burger:before {
    content: "";
    position: absolute;
    left: 0.25em;
    width: 1em;
    top: 0.15em;
    box-shadow: 0 0.25em 0 1px #333, 0 0.625em 0 1px #333, 0 1em 0 1px #333; }
  .n-fold span.n-burger:after {
    display: none; }
  .n-fold.n-fold--horizontal > * {
    display: block; } }
@media screen and (max-width: 599.9px) {
  .n-fold.n-fold--mobile > .n-fold--label, .n-fold.n-fold--mobile > input.n-trigger {
    display: inline-block;
    display: flex;
    width: 3em;
    padding: 0; }
  .n-fold.n-fold--mobile:not([aria-expanded]) .n-fold--content {
    max-height: 0;
    max-width: 0; }
  .n-fold.n-fold--mobile > input.n-trigger:checked ~ .n-fold--content, .n-fold.n-fold--mobile > input.n-trigger:checked + .n-fold--content {
    max-height: none; }
  .n-fold.n-fold--mobile .n-fold--content {
    /* hidden fold item */
    overflow: hidden; }

  @supports (--a: 1) {
    .n-header.n-fixed-mobile .n-fold.n-fold--mobile {
      position: fixed;
      top: 0;
      z-index: 2; }
      .n-header.n-fixed-mobile .n-fold.n-fold--mobile[aria-expanded] {
        bottom: 0;
        overflow: visible; }
        .n-header.n-fixed-mobile .n-fold.n-fold--mobile[aria-expanded] .n-fold--content {
          overflow: auto;
          -webkit-overflow-scrolling: touch;
          position: fixed;
          top: 3em;
          bottom: 0; }
      .n-header.n-fixed-mobile .n-fold.n-fold--mobile .n-fold--content {
        padding: 0 0.375em;
        background: #fff; } } }
@media screen and (min-width: 600px) {
  .n-fold.n-fold--mobile {
    overflow: visible; } }

/*# sourceMappingURL=natuive-fold.css.map */
