/* natUIve – List */

@import '../../css/natuive-setup';

ul.n-list {
	
	padding: 0;
// 	font-size: $font-size;
	line-height: $line-height;
// 	line-height: var(--line-height);
	min-height: $line-height-em;
// 	min-height: var(--line-height-em);
// 	margin: 0;
	margin: $line-height-em/2 0 $line-height-em/2 0;
// 	margin: var(--line-height-em)/2 0 var(--line-height-em)/2 0;

	&.n-list--indent {
		
		margin-left: 1.5em;
	
	}
	
	li {
	
		display: block;
		position: relative;
		width: 100%;
		list-style: none;
	
	}
	
	&:not(.n-list--no-bullet):not(.n-list--inline) li {
	
		margin-left: 1em;
		
		&:before {
			
			content: '·';
			position: absolute;
			margin-left: -.75em;
			
		}
		
	}
	
	&.n-list--inline > li:first-child {
		
		margin-left: 0;
	
	}

}

ol.n-list {

    list-style-type: none;
    counter-reset: level1;
	padding: 0;
	margin: 0 0 $line-height-em 0;

	> li {
	
		text-indent: -2.3em;
		margin: $line-height-em 0 $line-height-em/2 2.3em;
	// 	margin: calc(var(--line-height-em)/2) 0 calc(var(--line-height-em)/2) 2.3em;
	
		&:before {
		
		    content: counter(level1);
		    counter-increment: level1;
		    font-weight: bold;
		    background: #999;
		    padding: 0 .5em;
		//     padding: calc(var(--line-height-em)/4) .6em calc(var(--line-height-em)/4) .6em;
		    border-radius: 50%;
		    margin-right: .5em;
		    color: #fff;
		//     min-width: 1.5em;
		    min-height: 1em;
		    display: inline-block;
		    text-indent: 0;
		    text-align: center;
		
		}
		
	}
	
	li > * {
		
		text-indent: 0;
		display: inline-block;
	
	}
	
	li > ul {
		
		display: block;
	
	}
	
	> li ol {
	
	    list-style-type: none;
	    counter-reset: level2;
		display: block;
	
	}
	
	> li ol > li:before {
	
	    content: counter(level1) '.' counter(level2) ' ';
	    counter-increment: level2;
	//     padding: $line-height-em/4 .4em $line-height-em/4 .5em;
	//     padding: calc(var(--line-height-em)/4) .4em calc(var(--line-height-em)/4) .5em;
	    border-radius: 1em;
	    background: #999;
	    color: #fff;
	
	}
	
	ol > li ol {
	
	    list-style-type: none;
	    counter-reset: level3;
	    margin-left: 1em;
	
		li:before {
	
		    content: counter(level1) '.' counter(level2) '.' counter(level3) ' ';
		    counter-increment: level3;
		
		}
		
	}
	
	ol > li {
	
		text-indent: -3em;
	
	}
	
	ol ol > li {
	
		text-indent: -3.9em;
	
	}
	
	ul {
	
		text-indent: .1em;
	
	}
	
	p {
	
		text-indent: 0;
	
	}

}

ul.n-list.n-list--inline, ul.n-list.n-list--inline li, .n-nav.n-nav--scroll ul li {
	
	vertical-align: top;
	display: inline-block;
// 	margin: $line-height-em/2 0;
// 	margin: var(--line-height-em) 0 0 0;
	width: auto;

}

.n-nav ul.n-list {
	
	&:not(.n-list--no-bullet):not(.n-list--inline) li {
	
		margin-left: 0;
	
	}
	
	li:before {
		
		display: none;
	
	}

}

[dir=rtl] ol.n-list > li {

	margin: $line-height-em 2.3em $line-height-em/2 0;
// 	margin: calc(var(--line-height-em)/2) 2.3em calc(var(--line-height-em)/2) 0;

	&:before {
	
	    margin: 0 0 0 .5em;
	
	}

}
