/* Image aspect ratio – don't shift the page after loading the image */

$selector: '.n-aspect';
	
@supports (--a: 1) {

	#{$selector} { // aspect ratio is specified as this element's --ratio CSS variable
		
	    flex-direction: row;
	    align-items: flex-start;
	    overflow: hidden;
	    position: relative;
	    text-align: center;
	    
		display: inline-flex;
		justify-content: center; // When aspect inside aspect, like an inline lightbox
		vertical-align: top; // Lose the unwanted spacing at the bottom
		width: calc(1px * var(--width, 100%)); // Number without 'px'
		max-width: 100%;
		text-align: start;
		
		> img {
			
			max-width: 100%;
			height: auto;
			margin: 0 auto;
			
		}

		&:before {
			
			content: '';
			padding-top: calc(100%*1/(var(--width)/var(--height)));  // Number without 'px'
			
		}
	
		&[style*='--ratio'], &#{$selector}--ratio {
			
			width: calc(1px * var(--width, 10000)); // Magic number to achieve 100%, because max-width will kick in
			max-width: 100%;
			
			&:before { // When ratio is specified with inline style, use it instead of width/height
				
				padding-top: calc(100%*1/var(--ratio, 1.7778)); // Default 16:9
				
			}
		
		}
		
		&.n-bottom > * {
			
			align-self: flex-end;
			vertical-align: bottom;
	
		}
	
		&.n-middle > * {
			
			align-self: center;
			vertical-align: middle;
	
		}

	}
	
}
