body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: 100vh;
  height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: darkcyan;
  height: 100%;
  line-height: 1.333;
  color: white;
}

.n-carousel {
  text-align: center;
  --control-bg: rgb(255, 158, 158);
  --control-color: #670d5b;
}

.n-carousel__content {
  text-align: start;
}
.n-carousel__content img {
  max-width: 100%;
  align-self: center;
}

pre {
  overflow: auto;
}

.n-carousel:not(.n-carousel--lightbox) > .n-carousel__content > * > :not(.n-carousel--overlay) {
  padding: 0 1rem;
  box-sizing: border-box;
}

.n-carousel:not(.n-carousel--lightbox) > .n-carousel__content > * > :first-child,
.n-carousel:not(.n-carousel--lightbox) > .n-carousel__content > * > :last-child {
  padding: 1rem;
}

.demo .n-carousel:not(.n-carousel--auto-height):not(.n-carousel--lightbox) > .n-carousel__content > *,
.demo .n-carousel.n-carousel--vertical:not(.n-carousel--lightbox):not(.n-carousel--auto-height) > .n-carousel__content > * {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

html {
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */
}

.demo .n-carousel .n-carousel__content > * {
  background: var(--carousel-bg, aliceblue);
  color: var(--carousel-color, #027b7b);
}
.demo .n-carousel .n-carousel__content a[href] {
  color: #4d64bd;
}

@media (min-width: 900px) {
  .demo .n-carousel.n-carousel--overlay .n-carousel__content p {
    columns: 1;
    max-width: 60ch;
    margin: auto;
  }
}

.demo .n-carousel.n-carousel--lightbox .n-carousel__content > * {
  background: none;
}

.n-carousel--lightbox > .n-carousel__content > * {
  padding: 0;
  margin: 0;
}

@media (min-width: 600px) {
  .demo-grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .demo-grid > * {
    text-align: center;
  }
}
.demo {
  background: #fffff5;
  color: darkslateblue;
  max-width: 1366.666px;
  margin: auto;
}
.demo.n-carousel.n-carousel--vertical:not(.n-carousel--auto-height), .demo.n-carousel.n-carousel--vertical:not(.n-carousel--auto-height) > .n-carousel__content {
  --max-height: 100%;
}
.demo > .n-carousel__content > * {
  justify-content: center;
  align-items: center;
}
.demo.n-carousel.n-carousel--tabs > .n-carousel__index {
  max-height: 100%;
  overflow: auto;
  flex-wrap: nowrap;
  background: var(--control-bg);
}
.demo .source {
  display: flex;
}
.demo .source > * {
  margin-inline-end: 3ch;
}
.demo .source pre {
  all: initial;
  font: inherit;
}
.demo a[href] {
  color: inherit;
}
.demo a[href]:visited {
  text-decoration: none;
}

code[class*=language-] {
  font-family: Monaco, monospace !important;
  line-height: 1.9 !important;
  display: block;
  font-size: 0.812em;
}

.code {
  position: relative;
  margin-bottom: 1.5em;
  display: inline-block;
  width: 100%;
}
.code pre {
  padding: 1em;
  margin: 0 !important;
  background: #f1f3f8 !important;
}
.code button.n-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.75em;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  background: lightcoral;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 0;
}

h1:after {
  content: attr(data-version);
  padding-inline-start: 1ch;
  font-size: 0.5em;
  font-weight: normal;
  vertical-align: super;
}

[href="n-carousel.min.css"],
[href="n-carousel.min.js"] {
  text-decoration: none;
  white-space: nowrap;
}
[href="n-carousel.min.css"]:after,
[href="n-carousel.min.js"]:after {
  content: attr(data-size);
  padding-inline-start: 1ch;
  min-width: 6ch;
  display: inline-block;
  font-size: 0.75em;
  vertical-align: top;
}
[href="n-carousel.min.css"][data-size="0.0 KB"]:after,
[href="n-carousel.min.js"][data-size="0.0 KB"]:after {
  opacity: 0;
}
[href="n-carousel.min.css"] b,
[href="n-carousel.min.js"] b {
  text-decoration: underline;
  min-width: 4ch;
  display: inline-block;
}

_::-webkit-full-page-media,
_:future,
:root .demo {
  height: -webkit-fill-available;
}

.n-carousel__previous,
.n-carousel__next,
.n-carousel__index *,
.n-tool:after,
.n-btn,
.n-form input[type=submit],
.n-form button[type=submit],
.n-form button[type=reset],
button.n-btn,
a.n-btn[href],
.n-type a.n-btn[href],
.n-fold > .n-fold--label,
.n-nav__drop,
.n-form,
.n-ovrl > .n-ovrl--close,
.n-fold span.n-burger,
.n-select,
.n-select__options {
  --control-bg: lightcoral;
  --control-color: #fff;
  --control-active-bg: #cc7c7e;
  --control-active-color: #eee;
  --control-highlight: #bf2a2a;
}

.n-form input,
.n-form textarea {
  --input-color: darkslateblue;
  --input-bg: aliceblue;
}

.n-list {
  --list-bg: aquamarine;
  --list-color: darkmagenta;
}

.n-lightbox__thumbnails {
  --thumb-size: 3em;
}

nav li[aria-haspopup][aria-expanded=true],
html:not(.can-touch) nav li[aria-haspopup]:hover {
  transition: background-color 0.2s ease-in-out;
  --control-bg: #d47171;
}

nav li li[aria-haspopup][aria-expanded=true],
html:not(.can-touch) nav li li[aria-haspopup]:hover {
  --control-bg: #b76262;
}

.n-row.grid-demo > * {
  background: lightseagreen;
  color: #fff;
}

/*# sourceMappingURL=guide.css.map */
