body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

html {
	height: 100vh;
	height: -webkit-fill-available;
	margin: 0;
	padding: 0;
	overflow: hidden; // Safari bug when zoomed in
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: darkcyan;
	height: 100%;
	line-height: 1.333;
	color: white;
}

pre {
	overflow: auto;
}

.n-carousel:not(.n-carousel--lightbox) > .n-carousel__content > * > :not(.n-carousel--overlay) {
	padding: 0 1rem;
	box-sizing: border-box;
}

.n-carousel:not(.n-carousel--lightbox) > .n-carousel__content > * > :first-child,
.n-carousel:not(.n-carousel--lightbox) > .n-carousel__content > * > :last-child {
	padding: 1rem;
}

.demo .n-carousel:not(.n-carousel--auto-height):not(.n-carousel--lightbox) > .n-carousel__content > *,
.demo .n-carousel.n-carousel--vertical:not(.n-carousel--lightbox):not(.n-carousel--auto-height) > .n-carousel__content > * {
	display: flex;
	justify-content: center;
	flex-direction: column;
	// aspect-ratio: 2;
}

html {
	-webkit-text-size-adjust: 100%;
	/* Prevent font scaling in landscape while allowing user zoom */
}

.demo .n-carousel .n-carousel__content {
	> * {
		background: var(--carousel-bg, aliceblue);
		color: var(--carousel-color, #027b7b);
		// min-height: 100%;
		// box-sizing: border-box;
		// display: flex; // Very slow in Safari
	}

	a[href] {
		color: #4d64bd;
	}
}

.demo .n-carousel.n-carousel--overlay .n-carousel__content {
	@media (min-width: 900px) {
		p {
			columns: 1;
			max-width: 60ch;
			margin: auto;
		}
	}
}

.demo .n-carousel.n-carousel--lightbox .n-carousel__content {
	> * {
		background: none;
	}
}

.n-carousel--lightbox > .n-carousel__content > * {
	padding: 0;
	margin: 0;
}

@media (min-width: 600px) {
	.demo-grid {
		display: grid;
		grid-gap: 1em;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}

	.demo-grid > * {
		text-align: center;
	}
}

.demo {

	&,
	.n-carousel__content > * {
		background: #fffff5;
	}

	.n-carousel__content > [data-active] {
		z-index: 1;
	}

	color: darkslateblue;

	&.n-carousel.n-carousel--vertical:not(.n-carousel--auto-height),
	&.n-carousel.n-carousel--vertical:not(.n-carousel--auto-height) > .n-carousel__content {
		--max-height: 100%;
	}

	max-width: 1366.666px;

	> .n-carousel__content {
		> * {
			// display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	margin: auto;

	&.n-carousel.n-carousel--tabs > .n-carousel__index {
		max-height: 100%;
		overflow: auto;
		flex-wrap: nowrap;
		// padding: 1ch 0;
		background: var(--control-bg);

		button {
			// max-width: 25vw;
		}
	}

	.source {
		display: flex;

		> * {
			margin-inline-end: 3ch;
		}

		pre {
			all: initial;
			font: inherit;
		}
	}

	a[href] {
		color: inherit;
	}

	a[href]:visited {
		text-decoration: none;
	}
}

code[class*="language-"] {
	font-family: Monaco, monospace !important;
	line-height: 1.9 !important;
	display: block;
	font-size: 0.812em;
}

.code {
	position: relative;
	margin-bottom: 1.5em;
	display: inline-block;
	width: 100%;

	pre {
		padding: 1em;
		margin: 0 !important;
		// background: #f1f3f8 !important;
	}

	button.n-btn {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 0.75em;
		margin: 0;
		-webkit-appearance: none;
		appearance: none;
		background: #017e7e;
		border: none;
		cursor: pointer;
		color: white;
		font-weight: bold;
		padding: 0.5em;
		border-radius: 0;
	}
	
	code[class*=language-], pre[class*=language-] {
		text-shadow: none;
		background: white;
	}
}

// @media (min-width: 600px) {
// 	h1,
// 	h2 {
// 		&:first-child {
// 			margin-top: 0;
// 		}
// 	}
// }
h1:after {
	content: attr(data-version);
	padding-inline-start: 1ch;
	font-size: 0.5em;
	font-weight: normal;
	vertical-align: super;
}

[href*=".min.css"],
[href*=".min.js"] {
	// text-decoration: none;
	white-space: nowrap;

	&:after {
		content: attr(data-size);
		padding-inline-start: 1ch;
		min-width: 6ch;
		display: inline-block;
		font-size: 0.75em;
		vertical-align: top;
	}

	&[data-size="0.0 KB"]:after {
		opacity: 0;
	}

	b {
		text-decoration: underline;
		min-width: 4ch;
		display: inline-block;
	}
}

// Safari only
_::-webkit-full-page-media,
_:future,
:root .demo {
	height: -webkit-fill-available;
}

// Guide theme
:root {
	--control-bg: #017e7e;
	--control-color: white;
	--control-active-bg: #cc7c7e;
	--control-active-color: #eee;
	--control-highlight: #2abfb0;
}

.n-form input,
.n-form textarea {
	--input-color: darkslateblue;
	--input-bg: aliceblue;
}

.n-list {
	--list-bg: aquamarine;
	--list-color: darkmagenta;
}

.n-lightbox__thumbnails {
	--thumb-size: 3em;
}

nav li[aria-haspopup][aria-expanded="true"],
html:not(.can-touch) nav li[aria-haspopup]:hover {
	transition: background-color 0.2s ease-in-out;
	--control-bg: #d47171;
}

nav li li[aria-haspopup][aria-expanded="true"],
html:not(.can-touch) nav li li[aria-haspopup]:hover {
	--control-bg: #b76262;
}

.n-row.grid-demo > * {
	background: lightseagreen;
	color: #fff;
}