$pink: #ff3b79;

body, .coverage ._1\/4 b, a[href].n-btn.n-btn__big, form input[type=submit] {
	
	font-weight: 400;

}

.n-contain {
	
	max-width: 1412px;

}

.n-banner {
	
	color: #fff;
	background: #e6e6e6;

	.n-row:first-child {
		
		padding-top: 7em;
		padding-bottom: 1em;
		background: url(original-51f1faec1ad3aee78ae35a84d1887940.jpg); 
		background-size: cover; 
		background-position: center center;
	
	}
	
	h1 {
		
		font-weight: 400;
		font-size: 3.25em;
	
	}
	
	h3 {
		
		font-weight: 400;
		font-size: 1.5em;
	
	}
	
	.n-form {
		
		padding: 0 0 7.5em 0;
	
	}

}

.n-header em {
	
	font-style: normal;

}

input[type=text] {
	
	background: #fff;
	margin: .25em 0;
	text-align: left;
	color: #666;
	min-width: 20em;

}

main input[type=text] {
	
	border: 1px solid #ddd;

}

input[type=submit] {
	
	background: $pink; // Pink
	margin-left: -.25em;
	color: #fff;

}

main .n-form {
	
	padding: 1em 0;
	display: inline-block;

}

main .n-right .n-form {
	
	text-align: left;
    margin-right: -1em;
	
}

.n-type a[href] {
	
	text-decoration: none;

}

footer {
	
	background: #000;
	color: #fff;
	padding: 0;

}

footer p {
	
	margin: 0;

}

.n-row>div>div.logos > img {
	
	height: 2em;

}

#operator_logos span {
	
	display: inline-block;
	vertical-align: middle;
	margin: 0 2em;
}

footer ul.n-list {
	
	margin-left: -1em;
	    
}

.staff {
	
	padding: 3em 0;

}

ul.staff.n-list__inline li {
	
	width: 24%;
	text-align: center;
	margin: 0;
	font-weight: bold;
	padding: 0 2em;
	box-sizing: border-box;

}

.staff img {
	
	display: block;
	border-radius: 50%;
	border: 2px solid teal;
	margin-bottom: 2em;
	max-width: 100%;

}

.staff a.n-btn {
	
	background: #fff;
	color: $pink;

}

.app img, .trustpilot img {
	
	height: 2.5em;
	margin: 0 .25em;

}

.trustpilot {
	
	text-align: center;
	display: inline-block;

}

.trustpilot > * {
	
	display: inline-block;
	margin: 0
	
}

.n-banner a[href], main a[href] {
	
	color: $pink;
	
}

.coverage {
	
	background: url(map-europe.png) right center no-repeat;
	background-size: auto calc(100% - 5em);
	background-position: 80% 5em;
	padding-bottom: 7em;

}

.coverage a.n-btn.n-btn__big {
	
	white-space: nowrap;

}

.discover.n-row > div {

	background-position: top center;
	background-size: 100% auto;
	background-repeat: no-repeat;

}

@media (max-width: 900px) {
	
	.discover.n-row > div {
	
	    background-size: cover;
	
	}
	
}

.discover.n-row > div.n-bottom > div {
	
	background: #fff;

}

.discover.n-row > div:not(.n-bottom):not(:last-child) > div {
	
	color: #fff;

}

.discover.n-row > div > div {
	
	padding: 1em;

}

.discover.n-row > div:nth-child(2) ~ div:not(:last-child) {

	min-height: 25em;
	box-shadow: 0 0 0 1px #ddd;

}

.discover .author b {
	
	display: block;

}

.discover .author span, .discover .author img {
	
	display: inline-block;
	vertical-align: middle;

}

.discover .author img {
	
	border-radius: 50%;
	border: 2px solid teal;
	margin-right: .5em;
	
}

.coverage a.n-btn {
	
	color: $pink;
	background: #f7f7f7;

}

.coverage ._1\/4 > div {

	padding-left: 8em;
	padding-top: 5em;
	white-space: nowrap;

}

.coverage ._1\/4 b {
	
	display: block;
	font-size: 3em;
	margin-bottom: -.25em;
	white-space: nowrap;

}

.coverage ._1\/4 b:first-of-type {
	
	color: #00a4ba;
	
}

.coverage ._1\/4 b:nth-of-type(2) {
	
	color: #036685;
	
}

.coverage ._1\/4 b:nth-of-type(3) {
	
	color: $pink;
	
}

@media (max-width: 599.9px) {
	
	ul.n-list__inline li {
		
		display: block;
		width: auto;
		
	}
	
	ul.n-list__inline {
		
		width: 100%;
	
	}
	
	.staff img {
		
		margin: 1em auto;
		
	}

	input[type=text] {
		
	    width: 100%;
	
	}
	
	.trustpilot {
		
		width: 100%;
		
		img {
			
			width: auto;
			
		}

	}

	main .n-right .n-form, footer ul.n-list {
		
		width: 100%;
		margin: 0;
	
	}	
	
}
