$pink: #ff3b79;

body {
	
	font-weight: 400;

}

.contain {
	
	max-width: 1400px;

}

.banner {
	
	color: #fff;
	background: #e6e6e6;

}

.banner .row:first-child {
	
	padding-top: 7em;
	padding-bottom: 1em;
	background: url(original-51f1faec1ad3aee78ae35a84d1887940.jpg); 
	background-size: cover; 
	background-position: center center;

}

.banner h1 {
	
	font-weight: 400;
	font-size: 3.25em;

}

.banner h3 {
	
	font-weight: 400;
	font-size: 1.5em;

}

.banner form {
	
	padding: 0 0 7.5em 0;

}

input[type=text] {
	
	background: #fff;
	margin: 0;
	text-align: left;
	color: #666;

}

main input[type=text] {
	
	border: 1px solid #ddd;

}

input[type=submit] {
	
	background: $pink; // Pink
	margin-left: -.25em;
	color: #fff;

}

main form {
	
	padding: 1em 0;
	display: inline-block;

}

main .align-right form {
	
	text-align: left;
	
}

a[href] {
	
	text-decoration: none;

}

footer {
	
	background: #000;
	color: #fff;
	padding: 0;

}

footer p {
	
	margin: 0;

}

.logos img {
	
	height: 2em;

}

#operator_logos span {
	
	display: inline-block;
	vertical-align: middle;
	margin: 0 2em;
}

footer ul {
	
	margin-left: -1em;
	    
}

.staff {
	
	padding: 3em 0;

}

.staff li {
	
	width: 24%;
	text-align: center;
	margin: 0;
	font-weight: bold;
	padding: 0 2em;

}

.staff img {
	
	display: block;
	border-radius: 50%;
	border: 2px solid teal;
	margin-bottom: 2em;


}

.staff a.button {
	
	background: #fff;
	color: $pink;

}

.app img, .trustpilot img {
	
	height: 2.5em;
	margin: 0 .25em;

}

.trustpilot {
	
	text-align: center;
	display: inline-block;

}

.trustpilot > * {
	
	display: inline-block;
	margin: 0
	
}

.banner a[href], main a[href] {
	
	color: $pink;
	
}

.coverage {
	
	background: url(map-europe.png) right center no-repeat;
	background-size: auto calc(100% - 5em);
	background-position: 80% 5em;
	padding-bottom: 7em;

}

.discover.row > div {

	background-position: center center;
	background-size: cover;

}

.discover.row > div.align-bottom > div {
	
	background: #fff;

}

.discover.row > div:not(.align-bottom):not(:last-child) > div {
	
	color: #fff;

}

.discover.row > div > div {
	
	padding: 1em;

}

.discover.row > div:nth-child(2) ~ div:not(:last-child) {

	min-height: 25em;

}

.discover .author b {
	
	display: block;

}

.discover .author span, .discover .author img {
	
	display: inline-block;
	vertical-align: middle;

}

.discover .author img {
	
	border-radius: 50%;
	border: 2px solid teal;
	margin-right: .5em;
	
}

.coverage a.button {
	
	color: $pink;
	background: #f7f7f7;

}

.coverage .col4 > div {

	padding-left: 8em;
	padding-top: 5em;

}

.coverage .col4 b {
	
	display: block;
	font-size: 3em;
	margin-bottom: -.25em;

}

.coverage .col4 b:first-of-type {
	
	color: #00a4ba;
	
}

.coverage .col4 b:nth-of-type(2) {
	
	color: #036685;
	
}

.coverage .col4 b:nth-of-type(3) {
	
	color: $pink;
	
}
