.banner {
	
	color: #fff;
	background: #e6e6e6;

}

a[href] {
	
	text-decoration: none;

}

footer {
	
	background: #000;
	color: #fff;

}

.logos img {
	
	height: 2em;

}

#operator_logos span {
	
	display: inline-block;
	vertical-align: middle;
	margin: 0 1em;
}

footer ul {
	
	margin-left: -1em;
	    
}