/* niui – Notification bar */

@import "../../css/niui-setup";

.n-notify {
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	padding: 1em;
	color: #fff;
	cursor: pointer;
	z-index: 1;

	&:after {
		content: " ✕";
	}

	&.n-notify__fixed {
		font-weight: 500;
		position: fixed;
		left: 0;
		right: 0;
		z-index: 2;
	}
}
