/* natUIve – Lightbox */

@import '../../css/natuive-setup';

.n-slider--wrap:not([data-active]) > .n-slider.n-slider--vertical.n-lightbox > * {

	height: 100%;

}

*:not(.aspect) > .n-slider--wrap > .n-slider.n-slider--vertical.n-lightbox.n-lightbox--inline[data-sliding]:not(.n-slider--overlay) > * {

	height: auto;

}

.n-lightbox a {
	
	max-width: 100%;
	height: auto;
	border: none;
	text-align: center;

}

.n-aspect > .n-slider--wrap > .n-slider.n-lightbox.n-lightbox--inline img {

    position: absolute;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    
}
	
.n-slider.n-lightbox {

	img {
	
		cursor: zoom-in;
		max-width: 100%;
	
	}
	
	&[data-ready] img {
	
		height: auto !important; // Override CSS-only height to avoid horizontal squash
	
	}

	> * {
	
		text-align: center;
		position: relative;
		
		&:before {
		
			display: none;
		
		}
	
		p.n-lightbox--caption { /* Image captions */
		
			position: absolute;
			bottom: 2em;
			text-align: center;
			color: #fff;
			left: 50%;
			transform: translateX(-50%);
			padding: 0 .25em;
			background: rgba(0, 0, 0, .4);
		
		}

		> iframe {
		
			width: 100%;
			height: 100%;
			background: #fff;
		
		}
		
		> .n-aspect {
			
			margin: 0 auto;

		}

	}

	&.n-lightbox--inline[data-ready] > * {
	
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		
	}

	&.n-slider--overlay {
		
		> * {
	
			height: 100%;
			overflow: hidden;
		
		}
		
		&.n-slider--vertical > * { // Firefox fix
		
			display: none;
		
			&[data-active] { // Firefox fix
			
				display: flex;
			
			}
			
		}

		> [data-active] > img.n-lightbox--zoom {
		
			width: auto;
			height: auto;
			max-height: none;
			max-width: none;
			position: absolute;
			top: 50%;
			bottom: 50%;
			left: 50%;
			right: 50%;
	//		transform: translate3d(-50%, -50%, 0) scale(2);
	//		zoom: 0.5; // scale(2) + zoom: 0.5 restores fixes the blur imposed by transform. Great in Safari, not so much in Chrome.
			transition: transfrom .2s linear;
			cursor: zoom-out;
			zoom: 0;
			transform: translate3d(var(--x), var(--y), 0);
		
		}
	
	}

	video {
	
		display: inline-block;
		width: 100%;
		max-height: 100%;
		vertical-align: middle;
		
	}


	&.n-slider--top > * p { /* Image captions */
	
		bottom: 0;
	
	}


	a.n-btn.n-lightbox--copy {
		
		position: absolute;
		top: $line-height-em/2;
		right: $line-height-em/2;
		margin: 0;
		color: transparent;
	    text-shadow: 0 0 #fff;
	
		&:before {
			
			content: "🔗";
		
		}
	
	}
	
	> [data-active]:not(.n-lightbox--loaded):after { // Loading spinner
	
		content: "";
		position: absolute;
		display: block;
		top: calc(50% - 20px);
		left: calc(50% - 20px);
		width: 40px;
		height: 40px;
		background-color: #999;
		border-radius: 100%;  
		animation: sk-scaleout 1.0s 9 ease-in-out;
	
	}

}

.n-slider.n-lightbox.n-lightbox--thumbnails:not(.n-slider--detached-nav) > * p.n-lightbox--caption {
	
	bottom: 4em;

}

.n-slider.n-lightbox.n-slider--detached-nav > * p, .n-slider--wrap.n-slider--outside .n-slider.n-lightbox > * p {
	
	bottom: 0;
	margin-bottom: .5em;

}

.can-touch .n-lightbox.n-slider > * > iframe {

	pointer-events: none; // Restore lightbox swiping on touch. To do: also allow iframe scrolling.

}

@keyframes sk-scaleout { // Loading spinner animation. Thanks to SpinKit

  0% { 

    transform: scale(0);
    opacity: 0;

  } 
  
  50% {

    transform: scale(1.0);
    opacity: 1;

  }

  100% {

    transform: scale(0);
    opacity: 0;

  }

}

.n-lightbox:not(.n-slider) a {
	
	display: inline-block;
	vertical-align: middle;
	margin: $line-height-em/2;
// 	margin: var(--line-height-em) calc(var(--line-height-em)/4);
	position: relative;
	
}

	.n-lightbox a img {
		
		display: block;
// 		padding-bottom: 0; // used to be necessary for the baseline compensation
		margin: 0 auto;
	
	}
	
	@supports (--a: 1) {
	
		.n-lightbox a.n-lightbox--video:before {
			
			content: "▸";
			border: 1px solid #999;
			position: absolute;
		    min-width: 1.5em;
		    text-align: center;
		    font-size: 2em;
		    line-height: 1em;
		    background: rgba(255,255,255,.8);
		    top: 50%;
		    transform: translate3d(-50%,-50%,0);
		    left: 50%;
	    
		}
	
	}

.n-lightbox--thumbnails {
	
	&.n-slider--nav a {
	
		line-height: 4em;
		width: 4em;
		min-height: 4em;
		background-size: cover;
		border-radius: 0;
		cursor: zoom-in;
		outline-offset: -6px;
		
	}
	
	&.n-slider--nav a[data-active] {
	
		opacity: .25;
		transition: opacity .2s ease-in-out;
	
	}
	
}

.n-slider--outside:not(.n-slider--vertical) {
	
	.n-slider--nav {
	
		position: static;
		transform: none;
		width: calc(100% + 1em);
		max-width: none;
		margin: .5em 0 0 -.5em;
	
	}
	
	&.n-slider--wrap:not(.n-lightbox--inline) {
		
		padding-bottom: 4em;
		
		&.n-lightbox--thumbnails {
			
			padding-bottom: 5.5em;
			
		}
		
	}

}


.n-aspect > .n-lightbox--thumbnails.n-slider--wrap > .n-slider.n-slider--vertical[data-ready] > * > p.n-lightbox--caption {
		
	height: auto;
	
}
	
@media (max-height: $screen-narrow-max) {

	div.n-lightbox--thumbnails.n-slider--wrap {
		
		.n-slider--nav {
			
			a, a[data-active] {
		
				line-height: 1.5;
				width: 1.5em;
				min-height: 1.5em;
				color: transparent;
				text-shadow: none;
				
			}
		
		}
		
		&:not(.n-slider--top) .n-slider.n-lightbox > * p.n-lightbox--caption {
			
			bottom: auto;
		    top: -1.5em;
			
		}

		.n-slider.n-lightbox.n-slider--vertical > * p.n-lightbox--caption {
			
			bottom: 3em;
			top: auto;
			
		}

		&.n-slider--vertical.n-slider--outside.n-slider--right {
		
		    padding-right: 2em;

		}

		&.n-slider--vertical.n-slider--outside:not(.n-slider--right) {
		
		    padding-left: 2em;

		}

	}

}
