/* niui – Lightbox */

@import '../../css/niui-setup';

.n-slider--wrap:not([data-active]) > .n-slider.n-slider__vertical.n-lightbox > * {

	height: 100%;

}

*:not(.aspect) > .n-slider--wrap > .n-slider.n-slider__vertical.n-lightbox.n-lightbox__inline[data-sliding]:not(.n-slider__overlay) > * {

	height: auto;

}

.n-lightbox {
    		
	a {
	
		max-width: 100%;
		height: auto;
		border: none;
		text-align: center;
		
		&:focus {
			
			z-index: 1;

		}
	
		img {
				
			display: block;
			margin: 0 auto;
			max-width: 100%;
		
		}

	}

	&:not(.n-slider) {

	    margin-left: -$line-height-em/4;
	    width: calc(100% + #{$line-height-em/2});
	    max-width: none;
    
		a {
		
			display: inline-block;
			vertical-align: middle;
			margin: $line-height-em/4;
			position: relative;
			
		}
	
	}

	&.n-slider {

		img {
		
			cursor: zoom-in;
			max-width: 100%;
			transition: opacity .2s ease-in-out;
		
		}
		
		&[data-ready] {
			
			img {
			
				height: auto; // Override CSS-only height to avoid horizontal squash
				width: auto;
			
			}
			
			> div:not(.n-lightbox--loaded) img {
				
				opacity: 0;
				
			}
			
			&[data-peek]:not(.n-slider__vertical).n-slider__overlay > div:not([data-active]) {
				
				display: flex;
				
			}
		
		}
	
		> * {
		
			text-align: center;
			position: relative;
			
			&:before {
			
				display: none;
			
			}
		
			p.n-lightbox--caption { /* Image captions */
			
				position: absolute;
				top: .5em;
				margin: 0;
				text-align: center;
				color: #fff;
				left: 50%;
				transform: translateX(-50%);
				padding: 0 .25em;
				background: rgba(0, 0, 0, .4);
			
			}
	
			> iframe {
			
				width: 100%;
				height: 100%;
				background: #fff;
			
			}
			
			> .n-aspect {
				
				margin: 0 auto;
	
			}
	
		}
	
		&.n-lightbox__inline[data-ready] > * {
		
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			
		}
	
		&.n-slider__overlay {
			
			> * {
		
				height: 100%;
				overflow: hidden;
				display: flex;
				flex-direction: column;
				justify-content: center;
	    		
			}
			
			&.n-slider__vertical > *:not([data-active]) {
			
				display: none;
			
			}
	
			> [data-active] {
				
				display: flex;
						
				> img.n-lightbox--zoom {
				
					width: auto;
					height: auto;
					max-height: none;
					max-width: none;
					position: absolute;
					top: 50%;
					bottom: 50%;
					left: 50%;
					right: 50%;
					transition: transfrom .2s linear;
					cursor: zoom-out;
					zoom: 0;
					transform: translate3d(var(--x), var(--y), 0);
				
				}
			
			}
		
		}
	
		video {
		
			display: inline-block;
			width: 100%;
			max-height: 100%;
			vertical-align: middle;
			
		}
	
	
		&.n-slider__top > * p { /* Image captions */
		
			bottom: 0;
		
		}
	
	
		a.n-btn.n-lightbox--copy {
			
			position: absolute;
			top: $line-height-em/2;
			right: 0;
			margin: 0;
			color: transparent;
		    text-shadow: 0 0 #fff;
		    transform: translate3d(0,0,0); // Safari bug: hidden during slide
		
			&:before {
				
				content: "🔗";
			
			}
		
		}
		
		&[data-ready] > [data-active]:not(.n-lightbox--no-image):not(.n-lightbox--loaded):after { // Loading spinner
		
			content: "";
			position: absolute;
			display: block;
			top: calc(50% - 20px);
			left: calc(50% - 20px);
			width: 40px;
			height: 40px;
			background-color: #999;
			border-radius: 100%;  
			animation-fill-mode: forwards;
			
		}
	
	}

}

[data-active] > .n-lightbox.n-slider[data-ready] > div[data-active] > img:not(.n-lightbox--zoom) { // Don't flash the next slide and have the image visible immediately
	
	transform: translate3d(0,0,0);

}

[data-active] > .n-lightbox.n-slider > * p.n-lightbox--caption {
	
	will-change: transform; // Safari fix for disappearing while sliding
	
}

// Safari doesn't do the loop properly:

.n-lightbox.n-slider[data-ready] > [data-active]:not(.n-lightbox--no-image):not(.n-lightbox--loaded):after {
	
	animation: sk-scaleout 1.0s 9 ease-in-out;
	
}

/*
[data-nui-safari] .n-lightbox.n-slider[data-ready] > [data-active]:not(.n-lightbox--no-image):not(.n-lightbox--loaded):after {
	
	animation-iteration-count: infinite;
	
}
*/

.n-lightbox.n-slider.n-slider__top > * p.n-lightbox--caption {
	
	bottom: .5em;
	top: auto;
	
}

.n-aspect > .n-slider--wrap > .n-slider.n-lightbox.n-lightbox__inline img {

    position: absolute;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    
}
	
.n-slider--wrap.n-slider__top:not(.n-slider__outside) > .n-slider.n-lightbox.n-lightbox__thumbnails:not(.n-slider__vertical):not(.n-slider__detached-nav):not(.n-slider__top) > * p.n-lightbox--caption {
	
	bottom: .5em;
	top: auto;

}

.n-slider.n-lightbox.n-slider__detached-nav > * p, .n-slider--wrap.n-slider__outside .n-slider.n-lightbox > * p {
	
	bottom: 0;
	top: auto;
	margin-bottom: .5em;

}

.can-touch .n-lightbox.n-slider > * > iframe {

	pointer-events: none; // Restore lightbox swiping on touch. To do: also allow iframe scrolling.

}

@keyframes sk-scaleout { // Loading spinner animation. Thanks to SpinKit

  0% { 

    transform: scale(0);
    opacity: 0;

  } 
  
  50% {

    transform: scale(1.0);
    opacity: 1;

  }

  100% {

    transform: scale(0);
    opacity: 0;

  }

}

	@supports (--a: 1) {
	
		.n-lightbox a.n-lightbox--video:before {
			
			content: "▸";
			border: 1px solid #999;
			position: absolute;
		    min-width: 1.5em;
		    text-align: center;
		    font-size: 2em;
		    line-height: 1em;
		    background: rgba(255,255,255,.8);
		    top: 50%;
		    transform: translate3d(-50%,-50%,0);
		    left: 50%;
	    
		}
	
	}

.n-lightbox__thumbnails {
	
	&.n-slider--nav * {
	
		line-height: var(--thumb-size, 4em);
		width: var(--thumb-size, 4em);
		min-height: var(--thumb-size, 4em);
		background-size: cover;
		border-radius: 0;
		cursor: zoom-in;
		outline-offset: -6px;
		
	}
	
	&.n-slider--nav [data-active] {
	
		opacity: .25;
		transition: opacity .2s ease-in-out;
	
	}
	
}

.n-slider__outside:not(.n-slider__vertical) {
	
	.n-slider--nav {
	
		position: static;
		transform: none;
		width: calc(100% + 1em);
		max-width: none;
		margin: .5em 0 0 -.5em;
	
	}
	
}


.n-aspect > .n-lightbox__thumbnails.n-slider--wrap > .n-slider.n-slider__vertical[data-ready] > * > p.n-lightbox--caption {
		
	height: auto;
	
}
	
.n-lightbox__thumbnails.n-slider--wrap > .n-slider.n-slider__vertical[data-ready] > * > p.n-lightbox--caption {
		
	top: auto;
	bottom: 3em;
	
}

@media (max-height: 512px) and (orientation: landscape) {
	
	.n-lightbox.n-slider a.n-btn.n-lightbox--copy {
	
	    top: 0;
	
	}
	
	.n-slider__overlay.n-slider--wrap.n-slider__vertical > .n-slider--nav {
		
	    padding-top: 3em;
	    box-sizing: border-box;		
		
	}

}
	
@media (max-height: $screen-narrow-max) {

	div.n-lightbox__thumbnails.n-slider--wrap {
		
		.n-slider--nav {
			
/*
			*, [data-active] {
		
				line-height: 1.5;
				width: 1.5em;
				min-height: 1.5em;
				color: transparent;
				text-shadow: none;
				
			}
*/
			
			display: none; // Screen too small for thumbnails
		
		}
		
		&:not(.n-slider__top) .n-slider.n-lightbox > * p.n-lightbox--caption, .n-slider.n-lightbox.n-lightbox__thumbnails:not(.n-slider__vertical):not(.n-slider__detached-nav):not(.n-slider__outside):not(.n-slider__top) > * p.n-lightbox--caption {
			
			bottom: auto;
// 		    top: -1.5em;
		    top: 0;
			
		}
		
		.n-slider.n-lightbox.n-slider__vertical > * p.n-lightbox--caption {
			
			bottom: 3em;
			top: auto;
			
		}

		&.n-slider__vertical.n-slider__outside.n-slider__right {
		
		    padding-right: 2em;

		}

		&.n-slider__vertical.n-slider__outside:not(.n-slider__right) {
		
		    padding-left: 2em;

		}

	}

}
