body {
	
	font-family: Helvetica Neue;
	color: #565a5c;
	
}

footer ul li, footer ul li a {
	
	display: block;

}

.header-and-banner {
	
	background: url(paris-ac2c9c35b05b19e65af7c8eee89f2fae.jpg) center center no-repeat;
	background-size: cover;
	color: #fff;

}

.banner h1 {
	
	text-transform: uppercase;
	font-size: 3.3em;

}

.banner form {
	
	background: rgba(0,0,0,.5);
	margin-top: 3em;
	
}

main {
	
	background-color: #edefed;

}

main .row > * {
	
	background: #fff;
	min-height: 27em;
	color: #fff;
	
}

main .row.no-spacing > * {
	
	color: #565a5c;
	
}

main .row a[href] {
	
	text-decoration: none;
	background-size: cover;

}

main .row, main .row.no-spacing {
	
	margin: 3em 0;
	
}

main .slider {
	
	color: #fff;

}

footer {
	
	background: #2b2d2e url(background-7c73b7858fe7c4bc03505fc1f7f672fd.jpeg);
	color: #fff;


}

footer a[href] {
	
	color: #fff;
	text-decoration: none;


}

