.n-contain {
	
	max-width: 1132px;

}

img {
	
	max-width: 100%;

}
.n-header-banner .n-contain {
	
	max-width: 1700px;

}

main .n-contain {
	
	max-width: 1100px;

}

main {
	
	background: #fff;

}

main iframe {
	
	max-height: 350px;

}

.news h3 {
	
	border-bottom: 4px solid #000;
	margin-bottom: 1em;

}

.news .n-table--wrap {
	
	margin-top: 0;

}

.n-center .n-table td {
	
	text-align: left;
	vertical-align: top;

}

td {
	
	vertical-align: top;

}

td:first-child {
	
	white-space: nowrap;
// 	padding-left: 0;

}

tr:nth-child(2n+1) {
	
	background: none;

}

td {
	
	padding: .25em .5em;

}

h1, h2, h3 {
	
	text-transform: uppercase;

}

.people h2 {
	
	text-transform: lowercase;
	
}

.n-form__language {
	
	background: #000;
	color: #fff;
	display: inline-block;
	background: #000 url(earth.png) left center no-repeat;
	background-size: auto 1.5em;
	padding: 0 0 0 3em;
	background-position: .75em center;
    --control-bg: #aaa;
	
}

.n-form__language select {
	
	margin: .75em 0;
	text-transform: uppercase;

}

.n-type hr {
	
	display: inline-block;
	width: 3em;
	border-color: #FF4500;
	border-width: 2px;
    margin-top: 0;
	
}

nav.n-nav a[href] {
	
	text-decoration: none;
	
}

a[href].n-btn {
	
	background: none;
	border: 1px solid #000;
	color: #000;
	padding: .5em 1.25em;
	
}

a[href].n-btn:hover {
	
	background: #000;
	color: #fff;
	
}

.black {
	
	color: #fff;
	 
}

.black a[href].n-btn {
	
	border: 1px solid #fff;
	color: #fff;
	
}

.black a[href].n-btn:hover {
	
	background-color: #fff;
	color: #000;
	
}

.banner-bg {
	
	height: calc(100% + 6em); position: absolute; width: 100%; background: url(TOP-BANNER-DB-2.jpg) center bottom no-repeat; background-size: auto calc(100% + 6em);
	
}

.n-banner p {
	
	font-size: 1.5vw;

}

.aspect:before {
	
	display: none; // Firefox bug

}

.n-parallax {
	
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    	
}

.n-parallax--content .n-aspect {

	--width: 1890;
	--height: 1000;
// 	height: 100vh;
 
}

.red-box {
	
	box-shadow: 0 0 0px 5px #FF4500 inset; 
	margin: 12px;

}

.n-type footer p {
	
	margin: 0;
	padding: 1em 0;

}

img[src='davidbowiecoming2.png'] {

	height: 72px; 
	margin: 0 auto; 
	padding: 1em; 
	display: block;
	box-sizing: border-box;
 
}
 
@media (max-width: 599.9px) {

	.banner-bg {	

		height: 100vh;

	}
	
	.n-banner p {
		
		font-size: inherit;

	}
	
	.red-box {
		
		margin: 0;
	
	}

	img[src='davidbowiecoming2.png'] {
		
		height: auto;
		max-width: 100%;	
	 
	}

}
