.contain {
	
	max-width: 1132px;

}

.header-and-banner .contain {
	
	max-width: 1800px;

}

main .contain {
	
	max-width: 1000px;

}

main {
	
	background: #fff;

}

main iframe {
	
	max-height: 350px;

}

.align-center table td {
	
	text-align: left;
	vertical-align: top;

}

h1, h2, h3 {
	
	text-transform: uppercase;

}

.people h2 {
	
	text-transform: lowercase;
	
}

form.language {
	
	background: #000;
	color: #fff;
	
}