@font-face {

  font-family: 'Font';
  src: url('font-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

@font-face {

  font-family: 'Font';
  src: url('font-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;

}

@font-face {

  font-family: 'Font';
  src: url('font-bold-italic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;

}

@font-face {

  font-family: 'Font';
  src: url('font-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;

}

body {

  font-family: 'Font';

}

header {
	
	border-bottom: #6FB89B .4em solid;

}

header nav {
	
	text-transform: uppercase;
	font-weight: bold;

}

footer {
	
	background: #000;
	color: #fff;

}

.banner .row .row {
	
	background: #AD2C1E;
	color: #fff;
	border-radius: 20px;
	padding: 20px;

}

.content--brand-green {
	
	background-color: #6FB89B;
	color: #fff;

}

.content--brand-orange {
	
	background-color: #D3582E;
	color: #fff;

}

.content--brand-black {
	
	background-color: #000;
	color: #fff;

}

.partners img {
	
	height: 4em;
	margin: 1em;

}

a.button[href] {

	border: solid 3px #D3582E;
	background: #fff;
	color: #D3582E;
	border-radius: 12px;
	padding: 0.7rem 1.1rem .5rem 1.1rem;
	text-transform: uppercase;
	letter-spacing: .15em;
	box-shadow: 0 4px 6px rgba(50,50,93,0.18), 0 1px 3px rgba(27,26,25,0.1);

}

a.button[href].primary, input[type=submit] {
	
    background-color: #D3582E;
    color: #fff;
	
}

.content a.button[href] {
	
	border-color: transparent;
	
}

.content.content--brand-orange a.button[href] {
	
	background-color: #6FB89B;
	color: #fff;
	
}

.content img {
	
	border-radius: 50%;
	border: .75em solid #6FB89B;

}

.content .row .row {
	
	background: #fff;
	border-radius: 20px;
	
}

.speakers {
	
	color: #000;
	
}

.speakers .row .row {
	
	width: 75%;
	margin: 1em 0 1em 25%;
	 
}

.speakers img {
	
	margin-top: -1em; 
	position: absolute;
	height: calc(100% + 2em);
	margin-left: -25%;
 
}
