/*

Theme:

--control-color: red;
--control-bg: lightgoldenrodyellow;

--control-active-color: chocolate;
--control-active-bg: beige;

--control-highlight: red;

*/
@keyframes n-select {
  100% {
    visibility: hidden;
  }
}
@keyframes n-select-native {
  100% {
    visibility: visible;
  }
}
.n-select {
  position: relative;
  height: var(--active-option-height, auto);
  display: inline-grid;
  vertical-align: middle;
  max-width: 100%;
  width: var(--width, auto);
  z-index: 0;
  background-color: var(--control-bg, #fff);
  line-height: var(--line-height, 1.333);
}
.n-select:before {
  content: "";
  position: absolute;
  cursor: pointer;
  background-color: var(--control-color, #333);
  --chevron: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M16.003 18.626l7.081-7.081L25 13.46l-8.997 8.998-9.003-9 1.917-1.916z'/%3E%3C/svg%3E");
  -webkit-mask: var(--chevron) no-repeat 0 0/contain;
  mask: var(--chevron) no-repeat 0 0/contain;
  -webkit-mask-size: 150%;
  -webkit-mask-position: 50%;
  mask-size: 150%;
  mask-position: 50%;
  width: 0.75em;
  height: 0.75em;
  margin-inline-start: calc(100% - 1.25em);
  top: calc(50% - 0.375em);
  z-index: -1;
}
.n-select:after {
  position: absolute;
  top: 0;
  z-index: 5;
}
.n-select[data-ready] {
  font-size: 1em;
  transition: height 0.2s ease-in-out;
}
.n-select[data-ready] > .n-select__options > :not([aria-selected]) {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  visibility: hidden;
  overflow: hidden;
  display: block;
}
.n-select:not([data-ready]) .n-select__options,
.n-select:not([data-ready]) select {
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.n-select:not([data-ready]) select {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  width: 100%;
  padding-inline-start: 0.5em;
  padding-inline-end: 1.961em;
  height: auto;
  margin: 0;
  background: none;
}
.n-select:not([data-ready]) select:not(:only-child) {
  visibility: hidden;
  animation-name: n-select-native;
}
.n-select:not([data-ready]) .n-select__options {
  display: inline-grid;
}
.n-select:not([data-ready]) .n-select__options > * {
  grid-column: 1/2;
  grid-row: 1/2;
}
.n-select:not([data-ready]) .n-select__options > :not(:first-child):not([aria-selected]) {
  opacity: 0;
}
.n-select:not([data-ready]) .n-select__options:not([aria-expanded]) button[aria-selected] {
  background: var(--control-bg, #fff);
}
.n-select > input {
  display: none;
}
.n-select.n-select--wide {
  width: 100%;
}
.n-select.n-select--open {
  opacity: 0;
}

.n-select__options,
.n-select {
  --padding: 0.5em;
}

.n-select__options,
.n-select select {
  width: auto;
  max-width: 100%;
  color: var(--control-color, #333);
  background-color: transparent;
  top: 0;
  z-index: 5;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  border-radius: 0;
  border: none;
  grid-column: 1/1;
  grid-row: 1/1;
  overflow: hidden;
}

.n-select select {
  padding: var(--padding, 0.5em);
  padding-inline-end: 1.961em;
  cursor: pointer;
  line-height: calc(1 + var(--line-height, 1.333));
}
.n-select select ~ .n-select__options {
  animation-name: n-select;
}

.n-select__options > * {
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
  line-height: inherit;
}
.n-select__options button {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  border: 0;
  width: 100%;
  text-align: start;
  margin: 0;
  font-size: 1em;
  position: relative;
  color: var(--control-color, #333);
  background-color: var(--control-bg, #fff);
}
.n-select__options button * {
  pointer-events: none;
  vertical-align: middle;
}
.n-select__options button img {
  width: 2em;
  height: 2em;
  margin-inline-end: 0.5em;
  max-width: none;
}
.n-select__options.n-scrollbar {
  scrollbar-width: none;
  scrollbar-color: #999 transparent;
}
.n-select__options.n-scrollbar::-webkit-scrollbar {
  width: 0.333em;
}
.n-select__options.n-scrollbar::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 0.333em;
}
.n-select__options.n-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.333em;
}
.n-select__options[aria-expanded] {
  position: absolute;
  margin-top: calc(-1px * (var(--active-option-offset, 0) - var(--top-offset, 0)) - 1px * var(--scroll-help-top, 0));
  max-height: var(--max-height);
  overflow: auto;
  background: transparent;
  padding: 0 var(--padding, 1em);
  margin-inline-start: calc(-1 * var(--padding, 1em));
  left: calc(1px * var(--body-offset-x));
  top: calc(1px * var(--body-offset-y));
  box-sizing: content-box;
  min-width: var(--max-width);
}
.n-select__options[aria-expanded] > :first-child {
  margin-top: var(--padding, 1em);
}
.n-select__options[aria-expanded] > :last-child {
  margin-bottom: var(--padding, 1em);
}
.n-select__options[aria-expanded].n-select--crop-top {
  top: calc(1px * var(--body-offset-y));
  margin-top: calc(-1px * (var(--active-option-offset, 0) - var(--top-offset, 0)) - 1px * var(--scroll-help-top, 0));
}
.n-select__options[aria-expanded]:not(.n-select--crop-top) {
  padding-top: calc(1px * var(--scroll-help-top, 0));
}
.n-select__options[aria-expanded]:not(.n-select--crop-top):before {
  margin-top: calc(1px * var(--scroll-help-top, 0));
}
.n-select__options[aria-expanded] [aria-selected] {
  background-color: var(--control-active-bg, #eee);
  color: var(--control-active-color, #000);
}
.n-select__options[aria-expanded] button,
.n-select__options[aria-expanded] a[href] {
  width: 100%;
  box-sizing: border-box;
}
.n-select__options[aria-expanded] button:not([aria-selected]):hover,
.n-select__options[aria-expanded] a[href]:not([aria-selected]):hover {
  background-color: var(--control-highlight, #ececec);
  color: var(--control-active-color, inherit);
}
.n-select__options[aria-expanded] button:focus,
.n-select__options[aria-expanded] a[href]:focus {
  z-index: 1;
}
.n-select__options[aria-expanded]:before {
  content: "";
  position: absolute;
  background-color: var(--control-bg, #fff);
  top: var(--padding, 1em);
  left: var(--padding, 1em);
  right: var(--padding, 1em);
  height: calc(var(--select-scroll-height) - 2 * var(--padding, 1em));
}
.n-select__options[aria-expanded].n-select--scroll-help-top:before {
  height: calc(100% + 1px * var(--top-offset, 0));
}
.n-select__options[aria-expanded].n-select--shadow:before {
  box-shadow: 0 0 4px 3px #3333338c;
}
.n-select__options:not([aria-expanded]) {
  cursor: pointer;
}
.n-select__options:not([aria-expanded]) button {
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - 1.5em);
  width: auto;
  margin: 0;
  outline-offset: -1.5px;
  font-size: 1em;
  border: none;
  padding-inline-end: 2em;
  font-weight: normal;
  min-height: 0;
  color: var(--control-color, #333);
  background: none;
}
.n-select__options > *, .n-select__options > button {
  padding: 0.5em;
  padding-inline-end: 2em;
  position: relative;
  font-family: inherit;
}

select[data-n_select],
.n-select[data-ready] select,
.n-select[data-ready] + select {
  display: none;
}

.n-select__options[aria-expanded] {
  -webkit-mask: linear-gradient(0, #000, #000) no-repeat 0 calc((var(--mask-position-y) + var(--scroll-help-top, 0)) * 1px)/calc(var(--max-width) + var(--padding, 1em)) var(--mask-size-y);
  overscroll-behavior: contain;
}
.n-select__options[aria-expanded][data-n-select-animation] {
  transition: -webkit-mask-size 0.15s ease-in-out, -webkit-mask-position-y 0.15s ease-in-out;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position-y: 0;
}

@media (prefers-reduced-motion: reduce) {
  .n-select__options[aria-expanded][data-n-select-animation] {
    transition: none;
  }
}
@media (min-width: 600px) {
  .n-select .n-select__options[aria-expanded] {
    width: calc(var(--max-width) + var(--padding));
  }
}
.n-select--rounded.n-select, .n-select--rounded.n-select__options:before {
  border-radius: var(--radius, 0.333em);
}
.n-select--rounded.n-select__options button:first-of-type {
  border-top-left-radius: var(--radius, 0.333em);
  border-top-right-radius: var(--radius, 0.333em);
}
.n-select--rounded.n-select__options button:last-of-type {
  border-bottom-left-radius: var(--radius, 0.333em);
  border-bottom-right-radius: var(--radius, 0.333em);
}

.n-select:focus:not(:focus-visible),
.n-select__options button:focus:not(:focus-visible) {
  outline: 0;
}

_::-webkit-full-page-media,
_:future,
:root body.n-select--open {
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

[dir=rtl] .n-select__options[aria-expanded] {
  margin-inline-end: 0;
  left: auto;
  right: calc(100% - 1px * var(--body-offset-x) - var(--max-width));
  -webkit-mask-position-x: 100%;
  mask-position-x: 100%;
}

/*# sourceMappingURL=n-select.scss.css.map */
