.contain {
	
	max-width: 1132px;

}

body {
	
	background-color: #f1f1f1;

}

main a[href], footer a[href], a[href] u {
	
    color: #c41734;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid #d0adb5;
    display: inline-block;

}

a[href]:hover {

	color: #003d50;
	border-color: #003d50;
    
}
    
.promo a[href] {
	
	text-decoration: none;
	background-color: #c61734;
	color: #fff;

}

.promo p {
	
	margin: 0;

}

.row.promo > *, .row.promo .row > * {
	
	box-shadow: 0 0 0px 2px #fff inset;
	box-sizing: border-box;
	padding: 1em;

}

.row > * > .unpad, .unpad {
	
	margin: -1em;
	width: calc(100% + 2em);
	
}

main .row > a[href] {
	
	border: none;

}

.circle a[href] {

	text-decoration: none;
	border-bottom: none;

}

.circle a[href] img {
	
	display: block;
	margin: 1em auto;
	border-radius: 50%;

}

.circle {
	
	text-align: center;
	
}

form.n-form.news {
	
	margin: 1em 0;
	padding: 1.5em;

}

footer, form.n-form.news, .banner .n-slider-wrap {
	
	background: #e3e3e3;
	    
}

footer form.n-form select {

	background-color: #fff;

}

footer .n-form input[type=submit] {
	
	background-color: #d8d8d8;
	color: #003d50;

}

footer h3 {
	
	padding-bottom: 0;

}

footer ul, footer li {
	
	list-style: none;
	
}

footer nav.n-nav a {
	
	padding: 0;

}

nav.n-nav ul {
	
	margin: 0;

}

.banner {
	
	background: url(front-header.jpg) center left no-repeat;
	background-size: cover;
	padding: 3em 0;

}

header {
	
	background-color: #fff;
	    
}

header a[href] {

	text-decoration: none;

}

header a[href].logo {
	
	background-color: #c61734;
	border: none;
	
}

header a[href].logo img {

	margin: 1.5em 2em 0 3em;
	height: 2.5em;

}

header a[href] {
	
	vertical-align: middle;
	
}

header.row > div {
	
	padding: 0;
	margin: 0;
	
}

form select {
	
	background: none;	
	border: 3px solid #c3c3c3;
	    
}

form > * {
	
	display: block;

}

form > p, main form .checkbox {
	
	margin: 0;

}

main form.n-form input {
	
	margin: 0;
	background: #fff;

}

main .n-form input[type=submit] {
	
	color: #fff;
	background-color: #003d50;

}

form.n-form select:hover {
	
    border-color: #003d50;
	    
}

form.n-form select {
	
	background: url(icon-dropdown-arrow.svg) right center no-repeat;
	background-position: calc(100% - 1em) 1em;

}

.n-slider, .n-slider-wrap.n-tabs>.slider-nav a[data-active] {
	
	background-color: #e3e3e3;

}

.n-slider-wrap.n-tabs>.slider-nav a[data-active] {
	
	color: #003d50;

}

.n-slider-wrap.n-tabs>.slider-nav a {
	
	color: #fff;
	background-color: #002a37;
	padding: .75em 1.5em;
	
}

.n-slider > * {
	
	padding: 1.25em;
	
}

@media (min-width: 900px) {

	.banner .n-slider-wrap {
		
		max-width: 75%;
		margin: 0 auto;
		box-shadow: 0 0 1em #666;
	
	}

}

.banner .n-form input[type=submit] {
	
	color: #fff;
	background-color: #d81939;
	
}

form.n-form.n-form--wide input[type=submit] {
	
	margin: 0;

}

form.n-form.n-form--wide > .col1 {
	
	margin-top: -1.5em;
	
}

.banner .n-form select {
	
	background-color: #fff;
	
}

.banner u {
	
	text-decoration: none;
	border-bottom: 2px dotted;
	cursor: pointer;

}

header a[href] {
	
	margin: 0 .5em;

}

header a[href]:first-of-type {
	
	margin-left: 1em;

}

header a[href].logo {
	
	margin-right: 0;
	

}

header span.burger {
	
	background-color: #d81939;
	vertical-align: middle;
	width: 2.2em;
	height: 2.2em;
	line-height: 2.2em;
	cursor: pointer;

}

header span.burger:before {
	
	box-shadow: 0 .25em 0 2px #fff, 0 .625em 0 2px #fff, 0 1em 0 2px #fff;

	left: .75em;
	top: .7em;
	box-shadow: 0 0.1em 0 2px #fff, 0 0.4em 0 2px #fff, 0 .66em 0 2px #fff;
	width: .7em;

}

@media (max-width: 600px) {
	
	header.row {
		
		display: none;
		
	}
	
	.banner {
		
		padding: 0;

	}

	.row > * > .unpad, .unpad {
		
		margin: 0;
		width: auto;
	
	}

}
