* {
	
	box-sizing: border-box;
	
}

.n-contain {
	
	max-width: 1132px;

}

body {
	
	background-color: #f1f1f1;

}

main a[href], footer a[href], a[href] u {
	
    color: #c41734;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid #d0adb5;
    display: inline-block;

}

.n-type {
	
	a[href]:hover {
	
		color: #003d50;
		border-color: #003d50;
	    
	}

}
    
.promo a[href] {
	
	text-decoration: none;
	background-color: #c61734;
	color: #fff;

}

.promo p {
	
	margin: 0;

}

.n-row.promo > *, .n-row.promo .n-row > * {
	
	box-shadow: 0 0 0px 2px #fff inset;
	box-sizing: border-box;
	padding: 1em;

}

.n-row > * > .n-unpad, .n-unpad {
	
	margin: -1em;
	width: calc(100% + 2em);
	
}

main .n-row > a[href] {
	
	border: none;

}

.circle a[href] {

	text-decoration: none;
	border-bottom: none;

}

.circle a[href] img {
	
	display: block;
	margin: 1em auto;
	border-radius: 50%;

}

.circle {
	
	text-align: center;
	
}

form.n-form.news {
	
	margin: 1em 0;
	padding: 1.5em;

}

footer, form.n-form.news, .n-banner .n-slider--wrap {
	
	background: #e3e3e3;
	    
}

footer form.n-form select {

	background-color: #fff;

}

footer .n-form input[type=submit] {
	
	background-color: #d8d8d8;
	color: #003d50;

}

footer h3 {
	
	padding-bottom: 0;

}

footer ul, footer li {
	
	list-style: none;
	
}

footer nav.n-nav a {
	
	padding: 0;

}

nav.n-nav ul.n-list {
	
	margin: 0;

}

.n-banner {
	
	background: url(front-header.jpg) center left no-repeat;
	background-size: cover;
	padding: 3em 0;

}

.n-header {
	
	background-color: #fff;
	    
	a[href] {
	
		text-decoration: none;
	
	}
	
	a[href].n-logo {
		
		background-color: #c61734;
		border: none;
		
	}
	
	a[href].n-logo img {
	
		margin: 1.5em 2em 0 3em;
		height: 2.5em;
	
	}
	
	a[href] {
		
		vertical-align: middle;
		
	}
	
	&.n-row > div {
		
		padding: 0;
		margin: 0;
		
	}

}

form select {
	
	background: none;	
	border: 3px solid #c3c3c3;
	    
}

form > * {
	
	display: block;

}

form > p, main form .checkbox {
	
	margin: 0;

}

main form.n-form input {
	
	margin: 0;
	background: #fff;

}

main .n-form input[type=submit] {
	
	color: #fff;
	background-color: #003d50;

}

form.n-form select:hover {
	
    border-color: #003d50;
	    
}

form.n-form select {
	
	background: url(icon-dropdown-arrow.svg) right center no-repeat;
	background-position: calc(100% - 1em) 1em;

}

.n-slider, .n-slider--wrap.n-tabs>.n-slider--nav a[data-active] {
	
	background-color: #e3e3e3;

}

.n-slider--wrap.n-tabs>.n-slider--nav a[data-active] {
	
	color: #003d50;

}

.n-slider--wrap.n-tabs>.n-slider--nav a {
	
	color: #fff;
	background-color: #002a37;
	padding: .75em 1.5em;
	min-height: 0;
	
}

.n-slider > * {
	
	padding: 1.25em;
	
}

@media (min-width: 900px) {

	.n-banner .n-slider--wrap {
		
		max-width: 75%;
		margin: 0 auto;
		box-shadow: 0 0 1em #666;
	
	}

}

.n-banner .n-form input[type=submit] {
	
	color: #fff;
	background-color: #d81939;
	
}

form.n-form.n-form--wide input[type=submit] {
	
	margin: 0;

}

form.n-form.n-form--wide > ._1\/1 {
	
	margin-top: -1.5em;
	
}

.n-banner .n-form select {
	
	background-color: #fff;
	
}

.n-banner u {
	
	text-decoration: none;
	border-bottom: 2px dotted;
	cursor: pointer;

}

.n-header {
	
	a[href] {
	
		margin: 0 .5em;
	
	}

	a[href]:first-of-type {
		
		margin-left: 1em;
	
	}
	
	a[href].n-logo {
		
		margin-right: 0;
		
	
	}
	
	span.n-burger {
		
		background-color: #d81939;
		vertical-align: middle;
		width: 2.2em;
		height: 2.2em;
		line-height: 2.2em;
		cursor: pointer;
	
	}
	
	span.n-burger:before {
		
		box-shadow: 0 .25em 0 2px #fff, 0 .625em 0 2px #fff, 0 1em 0 2px #fff;
	
		left: .75em;
		top: .7em;
		box-shadow: 0 0.1em 0 2px #fff, 0 0.4em 0 2px #fff, 0 .66em 0 2px #fff;
		width: .7em;
	
	}

}

@media (max-width: 600px) {
	
/*
	header.n-row {
		
		display: none;
		
	}
*/
	
	.n-banner {
		
		padding: 0;

	}

	.n-row > * > .n-unpad, .n-unpad {
		
		margin: 0;
		width: auto;
	
	}
	
	.n-aspect {
		
		display: block;
		
	}
	
	._1\/2 {
		
		overflow: hidden;
		
	}
	
	.n-row.n-row--no-spacing {
		
		padding: 1em;
		width: 100%;
		
	}

}
