.contain {
	
	max-width: 1132px;

}

body {
	
	background-color: #f1f1f1;

}

a[href] {
	
    color: #c41734;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid #d0adb5;

}

a[href]:hover {

	color: #003d50;
	border-color: #003d50;
    
}
    
.promo a[href] {
	
	text-decoration: none;
	background-color: #c61734;
	color: #fff;

}

.circle a[href] {

	text-decoration: none;

}

.circle a[href] img {
	
	display: block;
	margin: 1em auto;
	border-radius: 50%;

}

.circle {
	
	text-align: center;
	
}

.circle u {
	
	display: block;
	
}

form.news {
	
	margin: 1em 0;
	padding: 1.5em;

}

footer, form.news, .banner .slider-wrap {
	
	background: #e3e3e3;
	    
}

footer ul, footer li {
	
	list-style: none;
	
}

.banner {
	
	background: url(front-header.jpg) center left no-repeat;

}

header {
	
	background-color: #fff;
	    
}

header a[href].logo {
	
	background-color: #c61734;
	border: none;
	
}

header a[href] {
	
	vertical-align: middle;
	
}

header.row > div {
	
	padding: 0;
	margin: 0;
	
}
