body.n-type {
	
	font-size: 15px;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;

}

.n-contain {
	
	max-width: 72rem;

}

main > .n-row > * {
	
	margin: 0;
	
}

.n-header-banner {
	
	background: linear-gradient(0deg, rgba(52, 126, 185, 1) 0%, rgba(57, 173, 204, 1) 95.09%);
	color: #fff;
	
}

.n-header-banner .n-btn {
	
	border-radius: 1em;
	background: #fff;
	
}

.n-header a.n-btn[href] {
	
	color: #fff;
	background: rgba(255, 255, 255, 0.25);
	font-weight: bold;
	padding: .5em 1em;
	border-radius: 2em;
	margin-left: 1em;

}

.n-header nav.n-nav a[href] {
	
	color: #fff;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	margin: 0 .5em;
	
}

.n-banner {
	
	a.n-btn[href] {
	
	color: #3690C0;
	background: #fff;
	font-weight: bold;
	padding: .5em 1em;
	border-radius: 2em;
	margin: 1.5em 0;
	
	}

	h1 {
		
		text-transform: uppercase;
		font-size: 2.5em;
		font-weight: 700;
	
	}

}

.grey {
	
	background: #f8f8f8;

}

.n-slider .n-tab-title {
	
	display: none;
	
}

footer {
	
	background: #f8f8f8;

}

footer .n-row > * {
	
	width: 16.666%;
	
}

footer ul.n-list li {
	
	margin-top: 0;
	
}

footer ul.n-list li a[href] {
	
	text-decoration: none;
	font-size: .8em;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
	display: block;
	
}

footer ul.n-list li a[href].n-btn {
	
	background: none;
	color: rgba(0,0,0,.3);
	font-weight: normal;
	padding: 0;

}

footer ul.n-list li a[href].n-btn:after, .arrow-links a[href]:not(p *):after {

	content: ' →';
	font-weight: bold;
	font-size: .8em;

}

footer p {
	
	margin: 0;
	color: rgba(0, 0, 0, 0.75);
	font-size: .8em;

}

footer a[href] {
	
	text-decoration: none;
	font-weight: bold;
	color: #3887BE;

}

ul.n-list {
	
	list-style: none;
	
}

.showcase {
	
	padding: 2em;

}

	.showcase a {
		
		display: inline-block;
		margin: 1em 2em;
		vertical-align: middle;
		
	}
	
	.showcase img {
		
		height: 1.8em;
		width: auto;
		display: block;
		opacity: .5;
		padding-bottom: 0 !important;
		
	}
	
main a.n-btn[href], main n-btn, input[type=submit] {
	
	border-radius: .3em;
	background-color: #3887be;
	padding: .7em 2.5em;
	font-weight: bold;
	color: #fff;
	
}

main a.n-btn[href]:after, main button.n-btn:after {
	
	content: ' →';
	
}

main a[href] {
	
	text-decoration: none;
	
}

.tag {
	
	font-size: .8em;
	opacity: .5;
	
}

.tag:before {
	
	content: '|';
	margin: 0 1em;
	display: inline-block;
	
}

.bright h2 {
	
	color: #495d77;
	
}

.building-blocks img {
	
	width: 50%;
	display: inline-block;
	margin-top: 2em;
	
}

.building-blocks h3 {

	color: #3887BE;

}

.n-row.n-row--no-spacing>*> h3 {
	
	font-size: 1.5rem;

}

.dark a[href] {
	
	color: rgba(255, 255, 255, .5);
	
}

.n-slider--wrap {
	
	margin: 1em 0;
	
}

.n-slider--wrap.n-tabs>.n-slider--nav a {
	
	margin: .3em;
	border-radius: .3em;
	color: rgba(0, 0, 0, .5);
	background: #f8f8f8;
	padding: .7em 1em;
	text-align: center;
	
}

.n-slider--wrap.n-tabs>.n-slider--nav a[data-active] {
	
	background-color: #39adcc;
	color: white;
	
}

section {
	
	padding: 1em;
	
}

input[type=email] {
	
	background: #fff;
	
}

.n-row * .n-row {
	
	margin-top: -11px;
	
}

@media screen and (max-width: 640px) {
	
	.n-banner .n-row > div:first-child {
		
		display: none;
		
	}
	
	.n-banner .n-row div.n-pad {
		
		margin: 0 !important;

	}
	
	.n-slider--wrap.n-tabs > .n-slider--nav a {
		
		margin: .3em 0;
		box-sizing: border-box;
		
	}
	
}
