/* natUIve – Notification bar */

@import '../../css/natuive-setup';

.n-notify {

	background: rgba(0, 0, 0, .8);
	text-align: center;
	padding: 1em;
	color: #fff;
	cursor: pointer;
    z-index: 1;

}

.n-notify:after {
	
	content: ' ✕';

}

.n-notify.n-notify--fixed {

	font-weight: 500;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 2;

}
