@font-face {
    font-family: "CNNSans";
    font-style: normal;
    font-weight: 300;
    src: url(557bb10607ba3d656d2bd2b59e020119.woff2) format("woff2");
}

@font-face {
    font-family: "CNNSans";
    font-style: normal;
    font-weight: 400;
    src: url(211b2f2141e3c4e2ddef82016bf521e8.woff2) format("woff2");
}

@font-face {
    font-family: "CNNTravel";
    font-style: normal;
    font-weight: 200;
    src: url(01117b3bc5b6b91ed8e0586de8569d73.woff2) format("woff2");
}

@font-face {
    font-family: "CNNTravel";
    font-style: normal;
    font-weight: 300;
    src: url(a9dd70f8b1b04de30f0d5ad1bb1134d2.woff2) format("woff2");
}

@font-face {
    font-family: "CNNTravel";
    font-style: normal;
    font-weight: 400;
    src: url(531dff7d4e1abb89f59f087aa22a0e8d.woff2) format("woff2");
}

@font-face {
    font-family: "CNNTravel";
    font-style: normal;
    font-weight: 500;
    src: url(cd02fb2f31c0dd5036f647c8ee20c586.woff2) format("woff2");
}

@font-face {
    font-family: "CNNTravel";
    font-style: normal;
    font-weight: 600;
    src: url(9c13f4c0a5b24fa0bd5f249da45b85c2.woff2) format("woff2");
}

@font-face {
    font-family: "CNNTravel";
    font-style: normal;
    font-weight: 700;
    src: url(01d67c62c3203106e75c7e67ab11bb53.woff2) format("woff2");
}

body.n-type {

    font-family: CNNTravel,Helvetica Neue,Helvetica,Arial,sans-serif;
    
}

.n-type p {
	
	font-family: CNNSans;
	font-size: .8em;

}

.n-contain {
	
	max-width: 1111px;

}

.n-header {
	
	text-transform: uppercase;
	
	._1-4 {
		
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
		
		> * {

			display: flex;
		
		}
	
	}

}

.Header__logoCNN {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NSIgaGVpZ2h0PSI2NSIgdmlld0JveD0iMCAwIDY1IDY1Ij48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGZpbGw9IiNDMDAiIGQ9Ik0wIDY1aDY1VjBIMHoiLz48ZyBmaWxsPSIjRkVGRUZFIj48cGF0aCBkPSJNNTQuMjc4IDIyLjM3NHYxOC4yMjFjMCAuNzIzLS40NTMgMS4zMzMtMS4xMjcgMS41MTdhMS41NDcgMS41NDcgMCAwIDEtLjM5Ny4wNTNjLS41MTQgMC0xLjEwNi0uMjU3LTEuNTMzLS45ODItLjAyMy0uMDM5LTEuNzE0LTIuOTU3LTQuMjk1LTcuNDA0bC00LjI3Ni03LjM3Yy0uMjM2LS40MDQtLjU2OC0uNTk0LS44ODUtLjUwOC0uMjY5LjA3NC0uNDQ0LjMyMS0uNDQ0LjYzdjE0LjA2NGMwIC43MjMtLjQ1MiAxLjMzMy0xLjEyNiAxLjUxNy0uNTc2LjE1OC0xLjM4Ny0uMDA2LTEuOTMtLjkyOWwtMy45MTktNi43NTQtNC42NS04LjAyYy0uMjQtLjQwNS0uNTc0LS41OTUtLjg5Ni0uNTA3LS4yMDYuMDU3LS40NDcuMjU1LS40NDcuNjI5djEzLjc1N2MwIC45MDYtLjc5NiAxLjctMS43MDMgMS43aC02Ljk4NGMtNC42NDYgMC04LjQyNi0zLjc3OS04LjQyNi04LjQyNiAwLTQuNjQ2IDMuNzgtOC40MjUgOC40MjYtOC40MjVoMy42Mjd2LTIuNzYzSDE5LjY3Yy02LjE4IDAtMTEuMTg5IDUuMDA5LTExLjE4OSAxMS4xODggMCA2LjE4IDUuMDEgMTEuMTkgMTEuMTkgMTEuMTloNy4wNWMyLjY4MS4wMDEgNC40MDUtMS41NjkgNC40MDEtNC40Njh2LTYuMzgxczQuNSA3Ljc0OSA0LjcwNiA4LjFjMi44NTUgNC44NTEgOC4yNTIgMi44NDYgOC4yNTItMS4zMjl2LTYuNzcxczQuNDk4IDcuNzQ5IDQuNzA0IDguMWMyLjg1NSA0Ljg1MSA4LjI1MiAyLjg0NiA4LjI1Mi0xLjMyOXYtMTguM2gtMi43NTd6Ii8+PHBhdGggZD0iTTEyLjE2MiAzMy41NjNjMCA0LjEzNyAzLjM2NyA3LjUwNCA3LjUwNCA3LjUwNGg2Ljk4NWMuNDM5IDAgLjc4LS40MTkuNzgtLjc3OGwuMDAyLTEzLjc1OWMwLS43MjQuNDUyLTEuMzMzIDEuMTI2LTEuNTE3LjU3Ny0uMTU4IDEuMzg2LjAwNCAxLjkzLjkyOGw0LjY1NSA4LjAyNSAzLjkxNiA2Ljc1Yy4yMzcuNDA1LjU3Mi41OTQuODkzLjUwNi4yMDctLjA1Ni40NDktLjI1NC40NDktLjYyOFYyNi41M2MwLS43MjUuNDUtMS4zMzUgMS4xMjItMS41MTcuNTczLS4xNTcgMS4zNzkuMDA2IDEuOTIuOTI4bDQuMjggNy4zNzUgNC4yOTIgNy40Yy4yMzguNDA1LjU3Mi41OTUuODk0LjUwNi4yMDctLjA1Ni40NDgtLjI1NC40NDgtLjYyOHYtMTguMjJoLTIuNzd2MTAuODQ4cy00LjQ5OC03Ljc1LTQuNzA1LTguMWMtMi44NTQtNC44NTItOC4yNTItMi44NDctOC4yNTIgMS4zM3Y2Ljc3cy00LjQ5OC03Ljc1LTQuNzAzLTguMWMtMi44NTYtNC44NTItOC4yNTItMi44NDctOC4yNTIgMS4zM3YxMS4wOTVhLjczOC43MzggMCAwIDEtLjc0NS43NTdoLTQuMjM0YTQuNzQyIDQuNzQyIDAgMSAxIDAtOS40ODNoMy41OTd2LTIuNzYzaC0zLjYyOGMtNC4xMzcgMC03LjUwNCAzLjM2OC03LjUwNCA3LjUwNSIvPjwvZz48L2c+PC9zdmc+);
    margin-right: 8px;
    width: 60px;
    display: inline-block;
}

.Header__logoTravel {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSIyMiIgdmlld0JveD0iMCAwIDcwIDIyIj48cGF0aCBkPSJNOC4zMjQgOC4yMDRINC41djkuMzM3YzAgMS40MDYuNzYgMS44ODQgMS42NiAxLjg4NC44MTUgMCAxLjg1NS0uMjUzIDIuNTYtLjYxOGwuMzY0IDEuNzE0Yy0uNzg3LjQyMi0yLjA4LjczMi0zLjIwNi43MzItMS44NTYgMC0zLjQ4Ny0uNzU5LTMuNDg3LTMuMzQ3VjguMjA0SC4wMjhWNi40NjFIMi4zOVYxLjI4Nkg0LjV2NS4xNzVoNC4xNmwtLjMzNyAxLjc0M3ptNC43MjYgMTEuMDUzVjguMjA0aC0xLjc3M1Y2LjQ2aDMuODI1djEuOTdjMS4wNC0xLjQzNSAyLjYxNS0yLjEzOCA0LjQ0My0yLjEzOC40NSAwIC45LjAyOCAxLjI5NC4xNGwtLjM2NiAyLjExYy0uMzA5LS4wODQtLjc4Ny0uMTEyLTEuMjM3LS4xMTItMS43MTYgMC0zLjA2NS42MTgtNC4wNzggMi4wNTN2OC43NzRoMi4xNjVWMjFoLTYuMDQ2di0xLjc0M2gxLjc3MnptMTQuMzE0LTQuODk0Yy0xLjk2OCAwLTMuMDM3IDEuMDY4LTMuMDM3IDIuNjQ0IDAgMS4zNS43ODcgMi42NDMgMi45NTMgMi42NDMgMS44MjggMCAzLjAzNy0uOTU2IDMuNi0xLjQ5di0zLjc5N2gtMy41MTZ6bTMuNTE2LTMuNDNjMC0xLjk0LS44NzItMi45ODItMy4wMS0yLjk4Mi0yLjA1MiAwLTMuNzY4Ljk4NC00LjY5NiAxLjYzMWwtLjM2Ni0xLjg4NGMxLjEyNS0uNzMgMi45MjUtMS42MDMgNS4yNi0xLjYwMyAzLjI5IDAgNC45MjEgMS43MTUgNC45MjEgNC4zM3Y4LjgzMmgxLjUxOFYyMWgtMy41MTV2LTEuMjY2Yy0xLjAxMi45ODQtMi4yNzggMS42MzEtNC4xMDYgMS42MzEtMi45MjQgMC00LjY2OC0xLjgyNy00LjY2OC00LjM1OCAwLTIuNyAxLjgtNC4zMDMgNC44OTMtNC4zMDNoMy43N3YtMS43NzJ6bTE3LjAxNS0yLjcyOUw0My43ODggMjFINDAuNjFMMzYuNDc4IDguMjA0aC0xLjMyMlY2LjQ2MWg1LjY1M3YxLjc0M2gtMi4wNTNsMy4yODggMTAuOTY4aC4zNjdsMy4yNjItMTAuOTY4aC0yLjA4MVY2LjQ2MWg1LjY1M3YxLjc0M3ptMTEuMjUgMy4yOTFjMC0yLjEwOS0uNzg4LTMuNTQ0LTMuMDk0LTMuNTQ0LTIuMjIgMC0zLjEyMiAxLjMyMi0zLjEyMiAzLjQzMXYxLjE1M2g2LjIxNXYtMS4wNHptLTYuMjE2IDQuNjY4YzAgMi40NzUgMS40OSAzLjM0NyAzLjQwNCAzLjM0NyAxLjY2IDAgMi45ODItLjY3NSA0LjE5LTEuNDlsLjU5IDEuODI3Yy0xLjc0MiAxLjI2NS0zLjcxMiAxLjUxOC00Ljk0OSAxLjUxOC0zLjU0MyAwLTUuMzcyLTIuMDI0LTUuMzcyLTQuNzUydi01LjczN2MwLTIuNzI4IDEuOTctNC43OCA1LjI4OC00Ljc4IDMuMjkgMCA1LjE3NCAyLjAyNCA1LjE3NCA1LjAzM3YzLjA2NWgtOC4zMjV2MS45N3ptMTIuNzE0IDMuMDk0VjIuMjE1aC0xLjc3MVYuNDdoMy44OHYxOC43ODZoMS43NzJWMjFoLTUuNjUydi0xLjc0M3oiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
    width: 70px;
    display: inline-block;
}

.Header__logoCNN, .Header__logoTravel {

    height: 60px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    
	
}

.SocialBar__icon.SocialBar__instagram {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9I…EtMi40IDAgMS4yIDEuMiAwIDAgMSAyLjQgMCIgZmlsbD0iIzBBMEEwOCIvPjwvZz48L3N2Zz4=");
}

.SocialBar__icon.SocialBar__facebook {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMjMiIHZpZXdCb3g9I…YxMi4xMzNoMy40MTZ6IiBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=");
}

.SocialBar__icon.SocialBar__twitter {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMTgiIHZpZXdCb3g9I…AwIDAgMi4xNTgtMi4yNCIgZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+");
}

.Footer__navigation {
	
	margin-left: 0;
	text-transform: uppercase;

}

main img {
	
	display: block;
	width: 100%;

}

footer a[href] {
	
	text-decoration: none;
	
}

span.vertical {

	writing-mode: vertical-lr;
	text-align: center;
	border-right: 1px solid #ccc;
	margin-right: 1em;
	padding-right: .5em;
	    font-size: 32px;

}

.n-slider--wrap {
	
	overflow: visible;
	margin-bottom: 3em;
	
}

.n-slider--wrap>.n-slider--nav {
	
	bottom: -3em;
	
}

.n-type a[href].n-btn {
	
	border: 1px solid #eee;
	background: transparent;
	color: #000;
	padding: .5em 3em;
	
}

@media (max-width: 599.9px) {

	.n-row > * > .n-unpad, .n-unpad {
		
		margin: 0;
		width: auto;
		
	}

}