/* v1.1 – transitions */

.truncate {
	
	line-height: 1.25;
	position: relative;

}

.truncate > input {
	
	display: block;
	height: 3em;
	margin: 0;
	cursor: pointer;
	width: 100%;
	position: absolute;
	bottom: -4em;
	opacity: 0;
	z-index: 1;
	
}

.truncate > :last-child:after {
	
	border-top: 1px dotted;
	height: 2.5em;
	display: block;
	line-height: 2.5;
	position: absolute;
	bottom: -3em;
	content: 'More ↓';
	
}

.truncate > input:checked {
	
	bottom: -3.5em;

}

.truncate > input:checked ~ :last-child:after {
	
	border: none;
	content: 'Less ↑';
	bottom: -2.5em;

}

.truncate > :last-child {
	
	max-height: 4.95em;
	overflow: hidden;
	margin-bottom: 3em;
	transition: max-height .2s linear;
	
}

.truncate > input:checked ~ :last-child {
	
	max-height: 100%;
	transition: max-height .5s linear;
	
}
