@charset "UTF-8";
/* niui  – Form */
:root {
  --font-size: 16px;
  --line-height: 1.5;
  --line-height-em: calc(1em * var(--line-height));
  --color: #333;
  --bg: #fff;
}

.n-form {
  padding: 1.5rem 0;
  --placeholder_color: #aaa;
}
.n-form * {
  box-sizing: border-box;
}
.n-form label,
.n-form input,
.n-form textarea {
  display: inline-block;
  vertical-align: middle;
}
.n-form ::-webkit-input-placeholder {
  color: var(--placeholder_color);
  -webkit-text-fill-color: var(--placeholder_color);
}
.n-form input[type=submit],
.n-form button[type=submit],
.n-form label, .n-form__check span,
.n-form label > span {
  line-height: 1.5;
  min-height: 1.5rem;
}
.n-form label {
  font-weight: bold;
  max-width: 100%;
  position: relative;
  padding: 0;
  margin: 0 0 1.5rem 0;
  min-height: 3rem;
}
.n-form input[type=submit],
.n-form button,
.n-form button[type=submit] {
  height: auto;
  line-height: 1.5;
  white-space: normal;
  word-break: break-all;
  margin: 0;
  max-width: 100%;
  padding: 0 1em;
  font-weight: bold;
}
.n-form input,
.n-form select,
.n-form textarea,
.n-form input[type=search],
.n-form button {
  font-family: inherit;
  display: inline-block;
  overflow: hidden;
  resize: none;
  vertical-align: top;
  border-radius: 0;
  padding: 0 0.75rem;
  min-height: 3rem;
  border: 0;
  font-size: 1em;
  border: 1px dotted transparent;
}
.n-form textarea {
  border-bottom: 1px dotted transparent;
  height: 0;
  min-height: 4.5rem;
  padding-top: 0.75rem;
  margin: 1.5rem 0;
}
.n-form textarea:not([data-auto]) {
  overflow: auto;
}
.n-form textarea[data-auto] {
  transform: translate3d(0, 0, 0);
}
.n-form input,
.n-form textarea {
  background-color: var(--input-bg, #eee);
  color: var(--input-color, #333);
}
.n-form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  min-height: 0;
  text-indent: 0px;
  padding: 0 1.6em 0 0.8em;
  height: 3rem;
  white-space: nowrap;
  text-indent: -1px;
  text-overflow: "";
  margin: 0;
  text-indent: 1px;
  cursor: pointer;
  background: linear-gradient(to bottom left, transparent 30%, var(--control-color, #333) 10%, var(--control-color, #333) 50%, transparent 30%), linear-gradient(to bottom right, transparent 30%, var(--control-color, #333) 10%, var(--control-color, #333) 50%, transparent 30%);
  background-size: 0.4em 0.4em;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.85em), calc(100% - 0.5em);
  color: var(--control-color, #333);
  background-color: var(--control-bg, #eee);
}
.n-form select option {
  padding: 0;
  padding-inline-end: 1.5em;
}
.n-form select, .n-form__file {
  vertical-align: top;
  border: none;
  margin-inline-start: 0;
}
.n-form input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
.n-form input[type=search]::-webkit-search-decoration, .n-form input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.n-form label,
.n-form label span, .n-form__check span {
  margin: 0;
  text-align: start;
}
.n-form input,
.n-form select {
  display: inline-block;
  width: auto;
  padding-top: 0;
  margin: 1.5rem 0;
  vertical-align: middle;
}
.n-form.sticky-submit {
  position: relative;
}
.n-form.sticky-submit input[type=submit],
.n-form.sticky-submit button[type=submit] {
  position: absolute;
  top: 50%;
  inset-inline-end: 0;
  transform: translateY(-50%);
}
.n-form__check {
  display: block;
  min-height: 1.5rem;
  margin-bottom: 1.5rem;
}
.n-form__check span {
  display: inline-block;
  font-weight: bold;
  margin-top: 0;
  cursor: default;
}
.n-form__check:after {
  content: "";
  display: block;
  clear: both;
}
.n-form__check label {
  text-align: start;
  font-weight: normal;
  clear: end;
  margin: 0;
  cursor: pointer;
  min-height: 0;
  user-select: none;
  padding-inline-start: 0;
  padding-bottom: 0;
  display: inline;
}
.n-form__check label span {
  width: auto;
}
.n-form__check label:last-child {
  margin-bottom: 0;
}
.n-form__check label input[type=checkbox],
.n-form__check label input[type=radio] {
  margin: -0.25em 0.2em 0 0;
}
.n-form__check-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  background-color: var(--control-bg, #eee);
  color: var(--control-color, #333);
  line-height: 1.6666666667;
  font-size: -0.3333333333em;
  text-align: center;
  border: none;
  margin: 0;
  position: absolute;
  inset-inline-start: 0;
  z-index: 1;
  top: 0.05em;
  vertical-align: middle;
}
.n-form--mast .n-form__check-icon {
  top: 0.25em;
}
.n-form--wide .n-form__check-icon {
  top: 0.08em;
}
.n-form input[type=checkbox] + .n-form__check-icon:before {
  content: "✓";
  display: block;
  height: 1em;
  line-height: 1;
}
.n-form input[type=checkbox]:not(:checked) + .n-form__check-icon:before {
  opacity: 0;
}
.n-form input[type=checkbox],
.n-form input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: window;
  -ms-appearance: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  min-height: 0;
  height: 1em;
  width: 1em;
  display: inline-block;
  margin: 0;
  border: none;
}
.n-form input[type=radio] + .n-form__check-icon {
  border-radius: 50%;
}
.n-form input[type=radio]:checked + .n-form__check-icon:before {
  content: "";
  position: absolute;
  background-color: var(--control-color, #333);
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  border-radius: 50%;
}
.n-form--mandatory {
  position: relative;
}
.n-form--mandatory span.n-form__check:before,
.n-form--mandatory span.tip:after {
  display: none;
}
.n-form--mandatory:before {
  content: "*";
  color: #a00;
  position: absolute;
  top: 0;
  font-weight: bold;
  inset-inline-start: auto;
  inset-inline-end: 0;
}
.n-form--alert {
  /*
  		input {

  			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 26' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Ctext%3E%3Ctspan x='0' y='20'%3E⚠️%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E");
  			background-position: calc(100% - .5em) calc(50% - .1em);
  			background-size: 1.25em;
  			background-repeat: no-repeat;
  			padding-inline-end: 2.5em;

  		}

  		input[type=checkbox] {

  		    padding-inline-end: 3em;

  		}
  */
}
.n-form--alert span,
.n-form--alert p {
  background: #666;
  color: #eee;
  padding: 0 0.25em;
}
.n-form--alert span.n-form__check {
  background: none;
  color: #555;
}
.n-form--alert span.tip {
  background: #222;
}
.n-form__file {
  font-weight: normal;
  margin: 0 0 1.5rem 0;
  cursor: pointer;
  font-style: italic;
  padding: 0;
  position: relative;
  z-index: 0;
}
.n-form__file span {
  text-align: start;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--control-bg, #ddd);
  color: var(--control-color, inherit);
  padding: 0 0.75rem 0 0.75em;
  display: block;
  line-height: 1.5rem;
  padding-top: 0.75rem;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.n-form__file span .n-form__file-tag {
  display: none;
}
.n-form__file span .n-form__file-name:empty ~ .n-form__file-tag {
  display: block;
}
.n-form__file input[type=file] {
  width: 100%;
  cursor: pointer;
  border: none;
  margin: 0;
  background: transparent;
  color: transparent;
  text-indent: -100%;
  padding: 0;
}
.n-form__file input[type=file]:focus + span {
  outline: auto;
}
.n-form input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background: none;
  margin: 0;
  padding: 0;
  /*
  		&::-ms-track {

  			width: 100%;
  			height: .7125em;
  			cursor: pointer;
  			background: transparent;
  			border-color: transparent;
  			color: transparent;

  		}

  		&::-ms-fill-lower {

  			background: rgba(0, 0, 0, 0.1);

  		}

  		&::-ms-fill-upper {

  			background: rgba(0, 0, 0, 0.1);

  		}

  		&::-ms-thumb {

  			border: 0px solid rgba(0, 0, 0, 0);
  			height: 1.625em;
  			width: 1.625em;
  			border-radius: .9375em;
  			background: var(--thumb-color);
  			cursor: pointer;
  			height: .7125em;

  		}

  		&:focus::-ms-fill-lower {

  			background: rgba(0, 0, 0, 0.1);

  		}

  		&:focus::-ms-fill-upper {

  			background: rgba(5, 5, 5, 0.1);

  		}
  */
}
.n-form input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.7125em;
  cursor: pointer;
  background: var(--control-bg, rgba(0, 0, 0, 0.1));
}
.n-form input[type=range]::-webkit-slider-thumb {
  height: 1.625em;
  width: 1.625em;
  border-radius: 50%;
  background: var(--control-highlight, #000);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.45625em;
}
.n-form input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--control-bg, rgba(0, 0, 0, 0.1));
}
.n-form input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.7125em;
  cursor: pointer;
  background: var(--control-bg, rgba(0, 0, 0, 0.1));
}
.n-form input[type=range]::-moz-range-thumb {
  border: 0px solid rgba(0, 0, 0, 0);
  height: 1.625em;
  width: 1.625em;
  border-radius: 50%;
  background: var(--control-bg, rgba(0, 0, 0, 0.1));
  cursor: pointer;
}
.n-form legend {
  padding: 0 0.5em;
}
.n-form fieldset {
  border: 1px solid;
  display: block;
  margin: 0.75rem 0;
}
.n-form fieldset input:last-of-type {
  margin-bottom: 0.5rem;
}
.n-form fieldset[disabled] {
  display: none;
}
.n-form input[type=submit],
.n-form button {
  width: auto;
  min-width: 0;
  padding: 0 1em;
  min-height: 2.50005rem;
  text-align: start;
  font-size: 1.2em;
}
.n-form--wide textarea, .n-form--mast textarea {
  margin: -0.75rem 0 0.75rem 0;
}
.n-form--wide input[type=submit],
.n-form--wide button,
.n-form--wide button[type=submit] {
  margin-bottom: calc(1.5rem - 5px);
  /* fix for the failed box-sizing: border-box */
  line-height: 1rem;
  font-size: 1.2em;
  min-height: 2.50005em;
  width: 100%;
}
.n-form--wide select {
  width: 100%;
  height: 3rem;
  margin: -0.75rem 0 0.75rem 0;
}
.n-form--wide label,
.n-form--wide label span,
.n-form--wide .n-form__check span,
.n-form--wide label,
.n-form--wide .n-form__file {
  display: block;
  width: 100%;
  clear: both;
}
.n-form--wide:not(.sticky-submit) input:not([type=checkbox]):not([type=radio]),
.n-form--wide textarea,
.n-form--wide select {
  display: block;
  width: 100%;
  border: none;
  margin: 0 0 1.5rem 0;
}
.n-form--wide .n-form__check label input[type=checkbox],
.n-form--wide .n-form__check label input[type=radio] {
  margin-top: -0.2em;
}
.n-form.n-form--mast input[type=submit],
.n-form.n-form--mast button,
.n-form.n-form--mast button[type=submit] {
  margin-inline-start: 50%;
  margin-bottom: 2.25rem;
}
.n-form.n-form--mast label {
  width: 100%;
  display: grid;
  grid-template: auto/1fr 1fr;
  gap: 1em;
  margin-bottom: 1.5em;
}
.n-form.n-form--mast label > input {
  margin-top: -0.75rem;
}
.n-form.n-form--mast > label > *,
.n-form.n-form--mast > .n-form__check > * {
  width: 100%;
  margin: -0.75rem 0 2.25rem 0;
  grid-column: -2/-1;
}
.n-form.n-form--mast > label > span,
.n-form.n-form--mast > .n-form__check > span {
  text-align: end;
  padding-inline-end: 1em;
  grid-column: 1;
  margin: 0;
}
.n-form.n-form--mast > .n-form__check {
  display: grid;
  grid-template: auto/1fr 1fr;
}
.n-form.n-form--mast > .n-form__check > * {
  margin: 0;
}
.n-form.n-form--mast > .n-form__check label {
  display: block;
  margin-inline-start: 0.5em;
}
.n-form.n-form--mast .n-form--mandatory:before {
  inset-inline-start: calc(50% - 1em);
  z-index: -1;
}
.n-form--language select {
  height: auto;
  width: 100%;
  background-position: calc(100% - 0.5em);
  margin-inline-start: 0;
  height: 3rem;
  line-height: 3rem;
  margin: 0;
}
.n-form--language input[type=submit] {
  min-height: 1em;
  padding: 0 0.5em;
}

/*# sourceMappingURL=form.scss.css.map */
