$grey: #f5f5f5;
$blue: #00338D;
$lightblue: #005EB8;

footer {
	
    background-color: $grey;

}


.blue-section {
	
    background: $blue;
    color: #fff;
    	
}

header {

	color: #fff;
    background-color: $lightblue;	

}
