$grey: #f5f5f5;
$blue: #00338D;
$lightblue: #005EB8;

body {
	margin: 0;
}
.n-contain {
	
	max-width: 1100px;
	
}

footer {
	
    background-color: $grey;

}


.blue-section {
	
    background: $blue;
    color: #fff;
    	
}

header {

	color: #fff;
    background-color: $lightblue;	

}
