body {
	
	font-family: 'Helvetica Neue', sans-serif;
	color: #3B4043;

}

.row {
	
	margin: 0;

}

.contain {
	
	max-width: 91rem;

}

nav.n-nav a {
	
	font-size: 1em;

}

a[href] {
	
	text-decoration: none;

}

h1, h2, h3, h4 {
	
	font-weight: 400;

}

.banner a[href], #content a[href] {
	
	color: inherit;
	text-decoration: none;

}

.banner a[href]:after, #content a[href]:after, a.arrow:after {

	content: ' ›';

}

a[href].button {
	
	background: transparent;
	border: 1px solid;
	border-color: inherit;
	text-transform: uppercase;
	font-family: 'Helvetica Neue', sans-serif;
	padding: .5em .7em;
	margin-bottom: 2em;

}

#content a[href].button:hover {
	
	color: #000;

}

header {
	
	padding: 1em;
	
}

header a.logo, header nav.n-nav {
	
	display: inline-block;
	vertical-align: middle;

}

header a.logo img {
	
	display: block;
	height: 2.5em;

}

header.row {
	
	margin: 0;

}

header nav.n-nav.secondary {
	
	font-size: .8em;
	margin: 0 1em;

}

h1, h2 {
	
	line-height: 1;
	margin: 11px 0;

}

.banner h2 {
	
	font-size: 1.2em;
	line-height: 1.5;
	
}

#content h2 {
	
	font-size: 2.5em;

}

#content h3 {
	
	font-size: 1.7em;
	line-height: 1.1;
	margin-top: .5em;

}

.aspect.banner {
	
	text-align: left;
	background: url(all-new-mrj-first-flight.jpg) no-repeat center center;
	background-size: cover;
	
}

.aspect.banner > div {
	
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin: 1.5em;
	padding: .5em 1.5em;
	background: rgba(70, 80, 92, 0.65);
	color: #fff;
	
}

footer {
	
	padding: 2em 0;
	color: #888;

}

footer nav.n-nav a {
	
	line-height: 2;
	min-height: 0;

}
