body {
	
	font-size: 12px;
	font-family: 'Karla';

}

a[href] {
	
	text-decoration: none;

}

.aspect {
	
	align-items: center;
	background-size: cover;
	
}

.aspect > div {

	width: 100%;
	
}

main {
	
	color: #fff;

}

main.row > * {
	
	--width: 1/4;

}

.modal {
	
	overflow: hidden;

}

.modal .bg {
	
	z-index: 1; position: absolute; top: 0; right: 0; bottom: 0; left: 0;
	background-size: cover;
	transition: all .3s ease-in-out;
	
}

.modal:hover .bg {

	opacity: 0;
	top: -2em;
	right: -2em;
	bottom: -2em;
	left: -2em;

}

footer {
	
	position: absolute;
	bottom: 1em;
	z-index: 1;
	padding: 1em;

}

.full-window-wrap {
	
	background: rgba(0, 0, 0, .1);
	
}

.full-window-wrap .content {
	
	margin-left: 50%;
	background: #fff;
	padding: 1em;

}

.full-window-wrap .close {
	
	width: 2em;
	right: 1em;
	height: 2em;
	
}

.full-window-wrap .slider-wrap {
	
	margin: 0;
	position: fixed;
	background: #fff;
	bottom: 0;
	height: 100% !important;

}
