/* niui – Tooltip */
@import "../../css/niui-setup";

.n-tool {
	cursor: help;
	font-weight: bold;
	position: relative;

	&:after {
		content: "?";
		display: inline-block;
		border-radius: 100%;
		width: 1.5em;
		text-align: center;
		font-weight: normal;
	}
}

.n-tool:after,
.n-tool__tip {
	background-color: var(--control-bg, #444);
	color: var(--control-color, #ddd);
}

.n-tool__tip[aria-expanded],
html:not(.can-touch) .n-tool:hover .n-tool__tip {
	opacity: 1;
	visibility: visible;
	display: block;
}

.n-tool__tip {
	overflow: visible;
	max-height: calc(100vh - 40px);
	padding: $line-height-em/2;
	font-size: 0.8em;
	font-weight: normal;
	position: absolute;
	top: auto;
	inset-inline-start: 0;
	inset-inline-end: 0;
	z-index: 999;
	text-align: start;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	width: 20em;
	line-height: $line-height/1.25;
	display: none;

	&[aria-expanded] {
		display: flex;
	}

	span {
		overflow: auto;
	}

	&:after {
		content: "";
		position: absolute;
		background-color: var(--control-bg, #444);
		transform: rotate(45deg);
		width: 1em;
		height: 1em;
	}

	&[data-n-position="top"],
	&[data-n-position="bottom"] {
		margin-inline-start: var(--offset_x, 0);

		&:after {
			inset-inline-start: calc(50% - 0.5em - var(--offset_x, 0));
			bottom: -0.45em;
		}
	}

	&[data-n-position="bottom"]:after {
		top: -0.45em;
	}

	&[data-n-position="left"],
	&[data-n-position="right"] {
		margin-top: var(--offset_y, 0);

		&:after {
			top: calc(50% - 0.5em - var(--offset_y, 0));
			inset-inline-start: -0.45em;
		}
	}

	&[data-n-position="left"]:after {
		inset-inline-start: -0.45em;
		inset-inline-end: auto;
	}
}