@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Open+Sans");
@import url("//fonts.googleapis.com/css?family=Abril+Fatface");
body {
  color: #aca59e;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.n-type h2,
.n-type h3 {
  font-family: "Abril Fatface", cursive;
}
.n-type h2 {
  font-size: 350%;
}
.n-type a[href].n-btn:hover,
.n-type .n-banner a[href].n-btn:hover,
.n-type .promo a[href].n-btn:hover {
  color: #fff;
  background-color: #aca59e;
  border-color: #aca59e;
}
.n-type a[href].n-btn {
  color: #fff;
  font-weight: bold;
  padding: 0.5em 1em;
  border: 1px solid;
  border-radius: 0.25em;
  background-color: #eecf3f;
  margin: 0;
}

.n-nav a {
  padding: 0 0.5em;
}

.n-banner .n-carousel__content > div,
.n-banner .n-carousel {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #0059a7;
}

.n-banner .n-carousel__content .n-row > div {
  min-height: calc(100vh - 5.6em);
  padding: 0;
  margin: 0;
  background-position: center;
}
@media (min-width: 600px) {
  .n-banner .n-carousel__content .n-row > div {
    min-height: 100vh;
  }
}

.n-banner .n-slider--arrow {
  display: none;
}

.n-header-banner {
  color: #fff;
}

.n-header {
  z-index: 2;
  position: absolute;
  width: 100%;
}
.n-header .n-contain > .n-row {
  margin: 0 0 2em 0;
}
.n-header a[href] {
  text-decoration: none;
}
.n-header .n-row > * {
  position: relative;
}
.n-header img[src*=logo] {
  position: absolute;
  bottom: -2em;
  left: 1.2em;
  max-width: calc(100% - 2.4em);
}
.n-header nav.n-nav {
  font-size: 0.9em;
}
.n-header ._2\/5 {
  border-bottom: 1px solid;
}
.n-header ._1\/5 {
  margin-top: 3em;
}

main a[href] {
  text-decoration: none;
}

main a[href]:not(.n-btn):after {
  content: "⟩";
  padding: 0 0.5em;
}

main .promo {
  min-height: 28em;
  color: #fff;
  background-position: center;
  background-size: cover;
}

main .promo h3 {
  font-size: 200%;
}

main .n-carousel__content ._1\/3 {
  box-shadow: 0 0 0 1px #aca59e;
  min-height: 20em;
  padding: 0;
}

main .n-carousel__content ._1\/3 .image {
  min-height: 10em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.n-carousel__index > * {
  --nav-size: 1rem;
  font-size: 0;
  margin: 1rem 0.5rem;
}

.n-carousel__index [aria-current],
.n-banner .n-carousel__index [aria-current] {
  background: #eecf3f;
}

.n-banner .n-carousel__index > * {
  background: #fff;
}

header a[href].n-btn {
  padding: 0.25em 0.5em;
  border-color: transparent;
  margin-left: 1em;
}

.n-banner a[href].n-btn,
.promo a[href].n-btn {
  background-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs {
  font-size: 0.75em;
  color: #fff;
}

img[src*=logo] {
  width: 220px;
  margin: 1em 0;
}

footer {
  background-color: #aca59e;
  padding-bottom: 1em;
}

footer nav.n-nav {
  color: #fff;
  font-size: 0.75em;
}

footer .about {
  background: #fff;
}

@media screen and (max-width: 599.9px) {
  header nav.n-nav.n-nav--drop {
    display: none;
  }

  header.n-header--fixed-mobile .n-accordion--mobile [aria-expanded=true] ~ .n-accordion__content {
    right: 0;
    left: 0;
    background: #000;
  }

  header .n-accordion {
    position: fixed;
    top: 0;
    --accordion-margin: 0;
    --nui-control-bg: transparent;
    --nui-control-color: white;
  }
  header .n-accordion .n-accordion__label {
    background: var(--nui-control-bg, #fff);
  }

  header .n-row > ._1\/5 {
    display: none;
  }

  header nav.n-nav ul.n-list {
    color: white;
    padding: 0.5rem;
  }

  header .n-row > * {
    text-align: right;
  }

  .n-banner .n-carousel__content > div {
    margin-top: 5.6em;
  }
}

/*# sourceMappingURL=seehotel-jaegerwirt.css.map */
