@charset "UTF-8";

body.n-type {

	font-size: 1.125rem;

}

section,
footer {

	padding: 2em 0;

}

.n-contain {

	max-width: 1180px;

}

.n-header,
.n-header.n-fixed {

	border-bottom: 1px solid #f2f2f2;
	position: fixed;
	z-index: 1;
	background: #fff;

	img[src*=logo] {

		display: block;

	}

}

.n-row.columns > * {

	--col-width: 1/3;

}

img[alt="Cycle"] {

	border-radius: 50%;

}

.n-type footer {

	background: #2a2859;
	color: #fff;

	a[href]:hover {

		color: #b3f5ff;

	}

}

.n-type a[href] {

	text-decoration: none;

	&:hover {

		color: #1f42aa;

	}

}

@font-face {
	font-family: osloicons;
	src: url(838e9fa079d1e4dae3c7d8f281f002f1.eot);
	src: url(838e9fa079d1e4dae3c7d8f281f002f1.eot) format("embedded-opentype"), url(47c47cfa7d4a65e2a7988da7275f9142.ttf) format("truetype"), url(5cd00bbaf8eb640b1a1d07a99205e746.woff) format("woff"), url(osloicons.svg) format("svg");
	font-weight: 400;
	font-style: normal
}

[class*=io-icon--] {

	speak: none;
	font-family: osloicons !important;
	line-height: 1;
	font-size: 32px;
	height: 32px;
	width: 32px;
	font-style: normal;
	color: inherit;

}

.io-icon--h24:before {
	content: ""
}

.io-icon--backpack:before {
	content: ""
}

.io-icon--bike:before {
	content: ""
}

.io-icon--bus:before {
	content: ""
}

.io-icon--cafe:before {
	content: ""
}

.io-icon--calendar:before {
	content: ""
}

.io-icon--chevron-down:before {
	content: ""
}

.io-icon--chevron-left:before {
	content: ""
}

.io-icon--chevron-right:before {
	content: ""
}

.io-icon--chevron-up:before {
	content: ""
}

.io-icon--coin-stacks:before {
	content: ""
}

.io-icon--crane:before {
	content: ""
}

.io-icon--dog:before {
	content: ""
}

.io-icon--drone:before {
	content: ""
}

.io-icon--exclamation-mark-circle:before {
	content: ""
}

.io-icon--filter:before {
	content: ""
}

.io-icon--fire-emblem:before {
	content: ""
}

.io-icon--handicap:before {
	content: ""
}

.io-icon--house-heart:before {
	content: ""
}

.io-icon--location-pin:before {
	content: ""
}

.io-icon--magnifying-glass-big:before {
	content: ""
}

.io-icon--magnifying-glass-small:before {
	content: ""
}

.io-icon--menu:before {
	content: ""
}

.io-icon--minus-sign:before {
	content: ""
}

.io-icon--museum:before {
	content: ""
}

.io-icon--park:before {
	content: ""
}

.io-icon--plus-sign:before {
	content: ""
}

.io-icon--recycling:before {
	content: ""
}

.io-icon--resturant:before {
	content: ""
}

.io-icon--swingset:before {
	content: ""
}

.io-icon--toilet:before {
	content: ""
}

.io-icon--tram:before {
	content: ""
}

.io-icon--user:before {
	content: ""
}

.io-icon--water-faucet:before {
	content: ""
}

.io-icon--x:before {
	content: ""
}

.io-icon--facebook:before {
	content: ""
}

.io-icon--instagram:before {
	content: ""
}

.io-icon--linked-in:before {
	content: ""
}

.io-icon--twitter:before {
	content: ""
}

.io-icon--heart-plus:before {
	content: ""
}

ul {

	list-style: none;
	padding-inline-start: 0;

}

.sr-only {

	font-size: 0;

}

.n-form input {

	margin: 0;

}

.n-banner {

	padding-top: 9rem;
	padding-bottom: 1rem;

	.n-form input[type=text] {

		height: 4em;
		background: #fff;

	}

	.n-form button[type=submit] {

		height: 4em;
		width: 4em;
		padding: 0;
		text-align: center;
		color: rgb(42, 40, 89);
		background: #ff8274;
		border-radius: 50%;
		line-height: 1;

	}

}

.n-type .osg-icon-link,
.n-type .io-link-list {

	a {

		display: flex;

	}

	h2 {

		margin: 0 0 .25em 0;

	}

	.osg-icon-link__link-icon {

		margin-inline-end: 1em;

	}

	.io-link-list__icon {

		margin-inline-end: .5em;

	}

}

.n-type main > section:first-of-type {

	.osg-icon-link,
	.n-type .io-link-list {

		a {

			display: block;

		}

	}
}

@font-face {
	font-family: Oslo Sans;
	font-weight: 400;
	src: url(4ee6a819b3279d0525e2884d013e85d9.woff) format("woff")
}

@font-face {
	font-family: Oslo Sans;
	font-style: italic;
	font-weight: 400;
	src: url(1b164fe01629d9d67f01440ae56f0d00.woff) format("woff")
}

@font-face {
	font-family: Oslo Sans;
	font-weight: 500;
	src: url(5d3dc5b36a0e033375626e4f5c0d0967.woff) format("woff")
}

@font-face {
	font-family: Oslo Sans;
	font-weight: 700;
	src: url(183cd7db06b21f0bc404c7d39cfdaee0.woff) format("woff")
}

body.n-type,
.n-form button {

	font-family: Oslo Sans;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2a2859;

}

.n-banner .n-pad {

	padding: 2.25em;

}

.n-type a.n-btn[href],
.n-form button {

	background: none;
	border: 2px solid #f9c66b;
	padding: .6em 1em;

}

header .n-accordion__label {

	border: 2px solid;
	padding-top: .75em;
	padding-bottom: .75em;
	padding: 0;
	--accordion-margin: 0;

}

header h3 {
	text-align: start;
}

header .n-accordion--inline .n-accordion__content > * {

	vertical-align: middle;

}

header .n-accordion__content .account {

	line-height: 2;

	display: inline-flex;

	i {

		margin-inline-start: .5em;


	}

}

.n-type footer a.n-btn[href],
.n-form button {

	padding: .5em 1em;

}

main .n-form button {

	border-color: inherit;
	cursor: pointer;

}

.n-type header a.n-btn[href] {

	color: inherit;

}

.menu {

	position: fixed;
	left: 0px;
	right: 0px;
	top: 5.5rem;
	bottom: 0;

	background: rgba(0, 0, 0, .6);

	> div {

		background: rgb(255, 255, 255);
		padding: 1em 2em;

	}

	.n-masonry > * {

		padding-inline-start: 0;
		padding-inline-end: 0.25rem;

	}

}

.n-type .menu p.osg-icon-link__description {

	margin-top: 0;

}


.n-accordion.n-accordion--mobile:not(.n-accordion--horizontal) .n-accordion__content.menu {

	overflow: auto;

}

@media (min-width: 600px) {
	// Header buttons/logo spacing

	header .n-accordion--mobile > .n-accordion__content > * {

		margin-inline-start: .75em;

		&:last-child {

			margin-inline-start: 2em;

		}

	}

}

@media (min-width: 1280px) {
	// Header buttons/logo spacing

	img[src*=logo] {

		margin-inline-start: 2em;

	}

	header .n-accordion--mobile > .n-accordion__content > * {

		&:last-child {

			margin-inline-end: 2em;

		}

	}

}

@media (min-width: 1080px) {

	.menu {

		padding: 0 7rem;

	}

}

@media not screen and (min-width: 600px) {

	.n-header.n-row.n-row--half > :first-child {

		flex-basis: 30%;

	}

	.n-header.n-row.n-row--half > :last-child {

		flex-basis: 70%;

	}

	.n-accordion.n-accordion--mobile {

		justify-items: flex-end;

	}

	.menu {

		top: 8.25rem;

	}

	.n-accordion.n-accordion--mobile > .n-accordion__label {

		line-height: 3;
		justify-content: center;

	}
	
	.n-accordion__label button {
		padding-inline-end: calc(var(--line-height-em,1.5rem)/ 2);
		&:after {
			display: none;
		}
	}

}

.osg-icon-link__link-text {
	text-align: start;
}