@font-face {

    font-family: 'font';
    src: url('gov.uk.regular.woff') format('woff');
    font-weight: normal;
    font-style: normal

}

@font-face {

    font-family: 'font';
    src: url('gov.uk.bold.woff') format('woff');
    font-weight: bold;
    font-style: normal

}

body {
	
	font-family: 'font';

}

.contain {
	
	max-width: 63rem;

}

header {
	
	background: #000;

}

header .pad {
	
	padding: .8em 1.5em .5em 1.5em;
	 
}

header img {
	
	width: 10em;
	 
}

.banner {
	
	background: #005ea5;

}

.banner h1 {
	
	font-size: 3em;

}

.banner .row > .popular, .banner .row > .popular > * {
	
	margin-bottom: 0;
	padding-bottom: 0;
	
}

.banner .popular .pad {
	
	background: #000;

}

.banner, .banner a[href] {
	
	color: #fff;

}

main a[href] {
	
	color: #005ea5;
}

main h2 {
	
	font-size: 1.5em;
	margin: .75em 0;
	line-height: 1em;

}

.banner ul {
	
	margin-bottom: 0;

}

.banner ul li, main ul li {
	
	margin: 0;

}

main ul li a[href], .banner ul li a[href] {
	
	font-weight: bold;

}

footer ul {
	
	margin: 0;

}

footer ul:not(.block-items) li {
	
	display: inline-block;
	
}

footer ul:not(.block-items) li + li {
	
	margin-left: 1em;

}

ul {
	
	list-style: none;

}

input[type=text] {
	
	background: #fff;

}

.masonry p {
	
	margin: 0;

}

.banner input[type=submit] {
	
	background: #000 url(loupe.svg) center center no-repeat;
	background-size: 50%;
	width: 3em;
	min-width: 0;

}

footer {
	
	border-top: .7em solid #005ea5;
	background: #dee0e2;
	
}

footer img[alt=ogl] {
	
	height: 1.1em;

}

footer img[alt=crown] {
	
	opacity: .5;

}

a[href].button.huge {
	
	display: block;
	font-size: 2.5em;
	line-height: 1.1em;
	background: #005ea5;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 1em;
	margin: 1.5rem 0;
	
}

a[href].huge-b {
	
	text-decoration: none;
	margin-bottom: 1.5em;
	display: block;

}

a.huge-b b {
	
	display: block;
	font-size: 5em;
	font-weight: bold;
	line-height: 1em;
	
}

.departments-intro p {
	
	font-size: 1.5em;
	line-height: 1.2em;

}

main p, .banner p {
	
	margin-top: 0;

}

main hr {
	
	margin: 0;
	border-top: 5px solid #000;

}

ul li:before {
	
	content: '';

}

.banner form.wide input {
	
	margin: 0;
	
}
