main .nav-column .n-slider--nav.n-row {

/*
	position: fixed;
	top: 0;
	bottom: 1em;
	overflow: auto;
	width: calc(25% - 1em);
*/
	-webkit-overflow-scrolling: touch;
	flex-wrap: nowrap;
// 	max-height: 100vh;
	padding: 1em;
	box-sizing: border-box;
//     position: fixed;
    bottom: auto;
// 	height: 100%;
    display: flex;
    flex-direction: column;
	background: lightseagreen;
	color: #fff;
	width: 100%;
    
}

main .nav-column {
	
	height: 100vh;
	background: lightseagreen;

}

@-moz-document url-prefix() {

	main .nav-column .n-slider--nav.n-row:after { // FF & Edge fix
		    
	    padding-top: 1em;
	
	}

}

_:-ms-lang(x), main .nav-column .n-slider--nav.n-row:after { // FF & Edge fix
	    
    padding-top: 1em;

}


main, main.n-row > *, main > .n-slider--wrap {
	
	height: 100vh;
    box-sizing: border-box;

}

main > 	._3-4 > .n-slider--wrap > .n-slider.n-slider--vertical > * {
	
	max-height: 100vh; // Because sliding animates to full slide height
	min-height: 100vh; // Because of slides shorter than viewport
	
}

.n-slider.n-slider--vertical > [data-active] {
	
    overflow: auto;
    overflow-x: hidden;
    	
}

.nav-column .n-slider--nav a {

	display: block;
    width: auto;
    border-radius: 0;	
	background: none;
    color: #fff;
	text-align: left;
	text-align: start;
    padding: .25em .5em;
    line-height: 1.25;
    height: auto;

// 	min-height: 1.5em;
	line-height: 1.5;
	
}

.nav-column .n-slider--nav a[data-active] {

	color: lightblue	;

}

main > .n-slider--wrap.n-slider--vertical.tabs > .n-slider--nav a {

	padding: .25em 0.5em;
	padding-left: 0;
	margin: .25em 0;

}

.n-slider.n-slider--vertical {
	
	flex-direction: column;
	
}

main > ._3-4 > .n-slider--wrap.n-slider--vertical.n-tabs > .n-slider {

	width: 100%;
	height: 100vh !important;
	float: none;

}

main > ._3-4 > .n-slider--wrap.n-slider--vertical.n-tabs > .n-slider {

// 	overflow: hidden;

}

main > ._3-4 > .n-slider--wrap.n-slider--vertical.n-tabs > .n-slider[data-sliding] {

	overflow: visible;

}

main > .n-slider--wrap > .n-slider--nav a {

	background: none;
	color: #333;

}

main > .n-slider--wrap > .n-slider--nav a[data-active] {

	color: lightseagreen;

}

.n-slider--wrap.n-tabs > .n-slider--nav a {

	flex: 1 !important;


}

main > .n-slider--wrap > .n-slider.n-slider--vertical > .visible {

	height: 100vh;
	overflow-y: auto;

}

main#content {

	padding: 0;

}

pre, .n-row > pre {

	padding: 0 1em;
	color: slateblue;
	word-wrap: initial;
	tab-size: 2;
	background: #fff;

}

.n-row.grid-demo pre {

	display: inline-block;

}

li pre {

	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	max-width: 100%;
	line-height: 1.2;

}

.n-row.grid-demo b {

	padding: 0 1em;

}

.n-row.grid-demo > *, #slider > .n-row .n-slider > * {

	background: lightseagreen;
	color: #fff;

}

.n-row.grid-demo .n-row > * {

	background: lightcyan;
	color: #111;

}

@media (max-width: 599.9px) {
	
	main.n-row.n-row--no-spacing > [class^=col]._3-4 {
	
	    width: 75%;
	    margin: 0 0 0 25%;	
		
	}
	
	main.n-row.n-row--no-spacing > [class^=col]._1-4 {
	
	    width: 25%;
	    margin: 0;	
	    float: left;
		
	}
	
	.nav-column .n-slider--nav a {
		
		height: auto;
		
	}
	
	main .nav-column .n-slider--nav.n-row {
		
		display: block;
		
	}
	
	.nav-column .n-slider--nav a {
		
		padding: 0;
	    margin: .5em 0;
	
	}
	
}

.code {
	
	position: relative;
	margin-bottom: 1.5em;
// 	padding: 0 1em;
	display: inline-block;
	max-width: 100%;
	
}

.code pre {
	
	padding: 0;

}

.code button.n-btn {
	
	position: absolute;
	bottom: .5em;
    right: -2px;
	font-size: .75em;

}

.grid-inline-popup > div:not(.grid-inline-popup--popup) {

	text-align: center;
	background: lightseagreen;
	color: #fff;
	
}

.grid-inline-popup > .grid-inline-popup--popup {
	
    background: lightcyan;
   
}

.code :not(pre) > code[class*="language-"], .code pre[class*="language-"] {

	background: #f1f3f8;

}

body:not(data-threshold) #content > * {
		
	overflow: auto;
	
}
