main .nav-column .slider-nav.row {

// 	position: fixed;
	top: 0;
	bottom: 1em;
	overflow: auto;
	width: calc(25% - 1em);
	-webkit-overflow-scrolling: touch;
	flex-wrap: nowrap;
	max-height: 100vh;
	padding: 1em;
	box-sizing: border-box;

    position: fixed;
    bottom: auto;
    padding-bottom: 2em;
    

	height: 100%;
    display: flex;
    flex-direction: column;    

}

main, main .nav-column .slider-nav.row, main.row > *, main > .n-sldr {
	
	height: 100vh;
    box-sizing: border-box;

}

main > 	.col34 > .n-sldr > .slider.vertical > * {
	
	height: 100vh;
	
}

.slider.vertical > .active {
	
	overflow: auto;
	
}

.nav-column .slider-nav a {

	display: block;
    width: auto;
    border-radius: 0;	
	background: none;
    color: initial;
	text-align: start;
    padding: .25em .5em;
    line-height: 1.25;
    height: auto;

	min-height: 1.5em;
	line-height: 1.5;
	
}

.nav-column .slider-nav a.active {

	color: lightseagreen;

}

main > .n-sldr.vertical.tabs > .slider-nav a {

	padding: .25em 0.5em;
	padding-left: 0;
	margin: .25em 0;

}

.slider.vertical {
	
	flex-direction: column;
	
}

main > .col34 > .n-sldr.vertical.tabs > .slider {

	width: 100%;
	height: 100vh !important;
	float: none;

}

main > .n-sldr > .slider-nav a {

	background: none;
	color: #333;

}

main > .n-sldr > .slider-nav a.active {

	color: lightseagreen;

}

.n-sldr.tabs > .slider-nav a {

	flex: 1 !important;


}

main > .n-sldr > .slider.vertical > .visible {

	height: 100vh;
	overflow-y: auto;

}

main#content {

	padding: 0;

}

pre, .row > pre {

	padding: 0 1em;
	color: slateblue;
	word-wrap: initial;
	tab-size: 2;
	background: #fff;

}

.row.grid-demo pre {

	display: inline-block;

}

li pre {

	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	max-width: 100%;
	line-height: 1.2;

}

.row.grid-demo b {

	padding: 0 1em;

}

.row.grid-demo > *, #slider.row .slider > * {

	background: lightseagreen;
	color: #fff;

}

.row.grid-demo .row > * {

	background: lightcyan;
	color: #111;

}

@media (max-width: 599.9px) {
	
	main.row.no-spacing > [class^=col].col34 {
	
	    width: 75%;
	    margin: 0 0 0 25%;	
		
	}
	
	main.row.no-spacing > [class^=col].col4 {
	
	    width: 25%;
	    margin: 0;	
	    float: left;
		
	}
	
	.nav-column .slider-nav a {
		
		height: auto;
		
	}
	
	main .nav-column .slider-nav.row {
		
		display: block;
		
	}
	
	.nav-column .slider-nav a {
		
		padding: 0;
	    margin: .5em 0;
	
	}
	
}

.code {
	
	position: relative;
	margin-bottom: 1.5em;
	
}

.code button {
	
	position: absolute;
	bottom: -1.5em;
    right: 0;
	font-size: .75em;

}
