main > .slider-wrap.vertical.tabs > .slider-nav.row {
		
// 	position: fixed;
	top: 1em;
	bottom: 1em;
	overflow: auto;
	width: calc(25% - 1em);
	-webkit-overflow-scrolling: touch;
	flex-wrap: nowrap;
	max-height: 100vh;
	padding: 1em;
	box-sizing: border-box;

    position: fixed;
    bottom: auto;
    padding-bottom: 2em;

}

main > .slider-wrap {
	
	min-height: 100vh;

}

main > .slider-wrap.vertical.tabs > .slider-nav a {
	
	padding: .25em 0.5em;
	padding-left: 0;
	margin: .25em 0;
	
}

main > .slider-wrap.vertical.tabs > .slider {
	
	width: 75%;
	
}

.slider-wrap .slider.vertical:not(.sliding) > .active {

// 	max-height: 100vh;
	overflow: auto;	
	
}

main > .slider-wrap > .slider-nav a {
	
	background: none;
	color: #333;

}

main > .slider-wrap > .slider-nav a.active {
	
	color: lightseagreen;

}

.slider-wrap.tabs > .slider-nav a {
	
	flex: 1 !important;


}

main > .slider-wrap > .slider.vertical > .visible {
	
	height: 100vh;
	overflow-y: auto;	
	
}

main#content {
	
	padding: 0;

}

pre, .row > pre {
	
	padding: 0 1em;
	color: slateblue;
	word-wrap: initial;
	tab-size: 2;
	background: #fff;

}

.row.grid-demo pre {
	
	display: inline-block;

}

li pre {
	
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	max-width: 100%;
	line-height: 1.2;

}

.row.grid-demo b {
	
	padding: 0 1em;

}

.row.grid-demo > *, #slider.row .slider > * {
	
	background: lightseagreen;
	color: #fff; 

}

.row.grid-demo .row > * {
	
	background: lightcyan;
	color: #111;

}
