/* IE9- fixes */

$font-size: 15px;
$line-height: 22px;

@import 'natuive-setup';
@import 'theme-variables'; /* Rewrite base variables here; add theme CSS below this one in <head> */

.n-row {
	
	font-size: 0;
	text-align: left;

	> * {
		
		font-size: 16px; /* To do: replace by actual font size of column's n-row's parent */
		min-width: 20%; /* To do: support +33% */
		display: inline-block;
		padding: 0;
		margin: 0;
		border: none;
		color: #333;
		box-sizing: border-box;
		vertical-align: top;
		position: relative;
		word-wrap: break-word;
		max-width: 20%;
	
	}
	
	> *[class^=col] {
		
		max-width: none;
	
	}
	
	> .table-row {
		
		display: table;
		width: 100%;
		max-width: 100%;
		table-layout: fixed;
		border-spacing: .5em;
		border-collapse: separate;
		font-size: inherit;
		margin-bottom: -.5em;
		padding: 0;
	
	}
	
	> .table-row > * {
		
		display: table-cell;
		padding: .5em;
		vertical-align: top;
		word-wrap: break-word;	
		
	}
	
	&.n-row--no-spacing > .table-row {
		
		border-collapse: collapse;
		
	}
		
	&.n-row--no-padding > .table-row > * {
		
		padding: 0;
		
	}

}
	
._1\/1 {
	
	width: 100%;
	max-width: 100%;

}

._1\/2 {
	
	width: 50%;

}

._1\/3 {
	
	width: 33.333%;

}

._2\/3 {
	
	width: 66.667%;
	
}

._1\/4 {
	
	width: 25%;

}

._3\/4 {

	width: 75%;	

}

._1\/5 {
	
	width: 20%;	
	
}

._2\/5 {

	width: 40%;

}

._3\/5 {

	width: 60%;

}

._4\/5 {

	width: 80%;

}

.n-right {
	
	text-align: right;
	
}

.n-left {
	
	text-align: left;
	
}

.n-center {
	
	text-align: center;

}

.n-middle, .n-row > .table-row > .n-middle {
	
	vertical-align: middle;

}

.n-bottom, .n-row > .table-row > .n-bottom {
	
	vertical-align: bottom;

}

.n-border-all {

	&.n-row > * {
		
		padding-right: 0;
	
	}
	
	&.n-row .n-row {
	
		margin-left: -$line-height-em/2;
		padding: $line-height-em/2 0;
	
	}
	
	&.n-row .n-row > * {
		
		padding-right: 0;
		box-sizing: border-box;
	
	}
	
	&.n-row .n-row > * > * {
		
		margin-left: 0;
		padding-right: 0;
	
	}

}

input, textarea {
	
	line-height: $line-height*2;
	width: 100%;
	display: block;

}

form {
	
	padding-top: 1em;
	
	select {
		
		padding-right: 0;
		margin-top: $line-height/2;
		height: auto;
		padding: .75em;
	
	}
	
	.checkbox {
		
		clear: both;
		
		span {
			
			padding-bottom: 1em;

		}
		
	}
	
	label textarea, label .file, label select {
		
		margin-top: 1em !important;

	}
	
	select, .file {
		
		background-image: none;
	
	}
	
	.file span {
		
		min-height: $line-height-em;
	
	}
	
	&#language-selector select {
		
		margin: 0;
		padding-left: 0;
		height: $line-height*2;
	
	}

	&.mast input[type=checkbox], &.mast input[type=radio] {
		
		float: left;
		width: auto;
	
	}
	
	&.mast textarea, &.mast label > input, &.mast label > .file, &.mast label > select {
		
		clear: right;

	}
	
	&.wide textarea, &.wide select, &.mast > label > * {
		
		margin-top: 0;

	}

	&.mast label {
		
		display: block;
		clear: both;

	}
		
	&.mast label > input {
		
		margin-top: .25em;
		
	}
	
	&.wide select {
		
		height: auto;
		padding: .75em;
		
	}

}

:root form select, :root form.wide select { /* IE9 not IE8 */
	
	height: $line-height*2;
	margin-top: 0;
	height: $line-height;

}

input[type=checkbox], input[type=radio], form.wide input[type=checkbox], form.wide input[type=radio] {
	
	margin-left: 0;
	float: none;
	position: static;
	display: inline-block;
	clear: left;

}

:root input[type=checkbox], :root input[type=radio], :root form.wide input[type=checkbox], :root form.wide input[type=radio] {
	
	display: none;

}

input[type=file] {
	
	margin-left: -100%;
	height: 0;

}

input[type=submit] {
	
	padding: 0;
		
}

.checkbox-icon {
	
// 	margin-right: 1em;
// 	display: inline-block;
	opacity: 0;
	position: static;

}

:root .checkbox-icon {
	
	opacity: 1	;

}

.n-slider--nav {
	
	left: 1em;
	
}

.n-slider > *:after, .n-slider > *:before {

	display: none;	

}

.n-slider {
	
	overflow-x: scroll;

}
	
.n-slider--vertical .n-slider--nav {
	
	top: 1em;

}

nav input[type=reset], nav input.n-trigger, nav input.n-trigger.n-burger {
	
	display: none;

}

nav.n-drop {

	li > input, ul.n-list ul.n-list {
		
		display: none;
	
	}
	
	ul.n-list li:hover > ul.n-list, ul.n-list ul.n-list li:hover > ul.n-list {
	
		display: block !important;
		max-height: none !important;
		z-index: 2 !important;
	
	}

	ul.n-list ul.n-list {
	
		overflow: visible !important;
	
	}
	
}

.n-header-banner.n-viewport {
	
	overflow: hidden;

}

.n-tool:hover .tip {
	
	opacity: 1;
	visibility: visible;
	top: 100%;
	
}

.n-fold {

	> .content {
	
	    max-height: none !important;
	
	}
	
	input.trigger {
		
		display: none;
		
	}
	
	&.mobile {
		
		overflow: visible;
		
	}	

}

table {
	
	table-layout: fixed; // Overflow fix

}

.n-row.grid-inline-popup > .table-row > * {
	
	display: block;
	
}