/* natUIve – Slider */

@import 'natuive-setup';

.full-window-wrap .slider, .full-window-wrap .slider-wrap {
	
	height: 100% !important;
	
}

/* .no-touch  */.full-window-wrap .slider-wrap, /* .no-touch */ .full-window-wrap .slider-wrap.vertical {
			
	margin-top: $line-height-em*2;
// 		margin-top: calc(var(--line-height-em)*2);
	height: calc(100% - #{$line-height-em*2}) !important;
// 		height: calc(100% - var(--line-height-em)*2);

}		

// To do: move all .slider-wrap (enhanced slider) behind a @supports for modern browsers. Leave the basic CSS-only version for old browsers.

.slider-wrap { 
	
	position: relative;
	overflow: hidden;
	max-height: 100%;
	z-index: 1;
	// Fix Safari, Chrome bug where 1px of previous slide is visible during slide
//     padding: 0 .5px;

}

.slider-wrap.vertical.tabs > .slider { // Floats, because flex version is glitching when tab stack is taller than the slider. To do: fix flex version.

	width: 75%;
    float: right;

}

.slider-wrap.vertical.tabs > .slider-nav.row {
	
	width: 25%;
	float: left;
	display: flex;
	flex-direction: column;

}

.slider-wrap.vertical.tabs.right > .slider {

    float: left;

}

.slider-wrap.vertical.tabs.right > .slider-nav.row {
	
	float: right;

}

.slider-wrap.vertical.tabs > .slider-nav a {
	
	display: block;
	box-sizing: border-box;
	padding: $line-height-em .5em;

}

.full-window-wrap .slider-wrap {
	
	top: 0px;
	bottom: 0px;
	height: 100%;
	right: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;
// 	background: #fff;
	position: absolute;

}

.aspect > .slider-wrap {
	
	height: 100%;
	position: absolute;

}

.aspect > .slider-wrap.outside {
	
	padding-bottom: 4em;	

}

.aspect > .slider-wrap .slider {
	
	height: 100%;

}

*:-webkit-full-screen  .slider-wrap {

	background: #000;

}
	
*:-moz-full-screen  .slider-wrap {

	background: #000;

}
	
*:fullscreen  .slider-wrap {

	background: #000;

}
	
.slider {

	overflow: visible;
	overflow-y: hidden;
	white-space: nowrap; /* keep inline-block elements together */
	word-wrap: normal; /* IE8 fix */
	position: relative;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none; /* No scrollbars on IE10+ */
	left: 0;

/*
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: .4s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-duration: .4s;
*/

/*
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
*/

// 	transition: none;

	display: flex;
	// will-change: transform; // Breaks WebKit full screen video
    min-height: 4em; // Make controls visible on very short slides

}

.slider-wrap .slider {
	
	overflow: visible;
	// Fix Safari bug where 1px of previous slide is visible during slide
// 	margin-left: -.5px;
//     width: calc(100% + 1px); // Eliminate unwanted pixels on the sides
    width: 100%;
    padding: 0; // Because .slider.pad breaks the slider layout

}

/*
.slider-wrap .slider > * {
	
	contain: strict;
	
}

.slider-wrap .slider > .visible {
	
	contain: none;
	
}
*/

.full-window-wrap .slider-wrap.vertical, .full-window-wrap .slider, .full-window-wrap .slider > * {
	
	height: 100%;

}

.full-window-wrap .slider:not(.vertical) > * {
	
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	
}

.slider-wrap .slider.vertical {
	
	overflow: hidden;
	overflow-y: scroll;

}

.slider-wrap .slider.vertical {
	
	overflow: visible;
	flex-direction: column;

}

.slider-wrap .slider.vertical > *, .slider-wrap .slider.sliding > *:not(.visible), .slider-wrap .slider::-webkit-scrollbar, .slider-wrap.tabs > .slider-arrow {

	height: auto;
	display: none;

}

.slider-wrap > .pad {
	
    padding: 0;
    margin: $line-height-em*2;
    overflow-x: hidden;
	
}

.slider > * {

	width: 100%;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	overflow: hidden;
// 	padding: 0 1px;
/*
	font-size: $font-size;
	line-height: $line-height;
	min-height: $line-height;
*/
	margin: 0;

	flex: 1 0 auto;

}

.slider-wrap .slider > * {

// 	display: none; // Only display .visible slides. Because if slider has transforms (showing only current slide while others are still in the flow), there are problems with its children of position fixed etc. Breaks non-auto height sliders, can't set to height to the tallest slide. Make it with margin-left after the animation is done.
	display: inline-block;

}

.full-window-wrap .slider > * {
	
	padding: 0;

}

.no-flex .slider > * + * { // Fallback
	
	margin-left: -.3em;
	
}

.slider.vertical > * {
	
	display: block;

}

.full-window-wrap .slider.vertical > * {
	
	height: 100%;

}

.slider > *.visible, .full-window-wrap .lightbox.slider > *.visible > img {

	display: inline-block;

}

.slider.vertical > img {

	max-width: none;
	width: auto;
	max-height: 100%;

}

.full-window-wrap .slider > img {
	
	padding: 0 !important;
	height: auto;
	
}

@supports (--a: 1) { // New browsers only

	.slider > *:after, .slider > *:before { /* Slide background with full slider height */
		
		content: '<';
		display: block;
		position: absolute;
		top: 50%;
		bottom: 0;
		width: 100%;
		background: transparent;
		z-index: -1;
		opacity: .5;
	
	}
	
	.slider > *:after {
		
		content: '>';
		text-align: end;
		
	}
	
	
	.slider-wrap .slider > *:after, .slider-wrap .slider > *:before, .slider > *:first-child:before, .slider > *:last-child:after, .slider-wrap .slider > * > div.bg {
	
		display: none;	
	
	}

}

.slider > div:before { // Specify full-height per-slide background here
	
	background: transparent;
	
}

.row .slider {
	
	padding: 0;
/*
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
*/

}

.slider-arrow {
	
	position: absolute;
	top: 50%;
	left: $line-height-em/2;
	z-index: 3; /* Stay on top of slider-nav if they are aligned vertically */
	transform: translateY(-50%);
	
}

	.slider-arrow:before {
	
		content: '←';
	
	}

	.vertical > .slider-arrow:before {
	
		content: '↑';
	
	}

	.vertical > .slider-arrow {
		
		top: 1em;
		left: 48%;
		left: calc(50% - 1em);
		text-align: center;
		transform: none;
	
	}

	.slider-arrow.right {
	
		left: auto;
		right: $line-height-em/2;
	
	}

	.slider-arrow.right:before {
	
		content: '→';
	
	}

	.vertical > .slider-arrow.right:before {
	
		content: '↓';
	
	}

	.vertical > .slider-arrow.right {
		
		left: 48%;
		left: calc(50% - 1em);
		right: auto;
		bottom: 1em;
		top: auto;
	
	}
	
	.slider-arrow, .slider-nav a {
		
		cursor: pointer;
		padding: .6em;
		width: 1em;
		height: 1em;
		-webkit-border-radius: 50px;
		border-radius: 50%;
		background: rgba(0, 0, 0, .1);
		color: #fff;
		transition: background-color .2s linear;
		line-height: 1em;
		box-sizing: content-box;
	
	}

.slider-arrow, .slider-nav {

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;

}

.slider-nav {
	
	text-align: center;
	position: absolute;
	bottom: 0;
	white-space: nowrap;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
	box-sizing: content-box; // For hard scrollbars (mouse without trackpad)
	
}

.top .slider-nav {
	
	bottom: auto;
	top: 0;
	
}

	.slider-nav {
		
		text-align: start;
		justify-content: flex-start;

	}

	.slider-wrap.tabs > .slider-nav a {
		
		-webkit-flex: 0 1 auto;
		flex: 0 1 auto;

	}

	.vertical > .slider-nav {
		
		width: auto;
		display: flex;
		flex-direction: column;
		bottom: auto;
		left: .5em;
		padding: 1em 0;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		
	}

	.right.vertical > .slider-nav {
		
	    right: .5em;
	    left: auto;

	}
	
	.slider-nav a {
		
		display: inline-block;
		margin: .5em;
		line-height: 2em;
		padding: 0;
		width: 2em;
		height: 2em;
		text-align: center;
		
	}
	
	.slider-nav a:first-child {
		
		margin-left: 0;
		
	}
	
	.slider-nav a:last-child {
		
		margin-right: 0;
		
	}
	
	.thumbnails .slider-nav a {
		
		line-height: 4em;
		width: 4em;
		height: 4em;
		background-size: cover;
		border-radius: 0;
		
	}
	
	.thumbnails.outside .slider-nav {
		
		position: static;
		transform: none;
		
	}
	
	.slider-wrap .slider.vertical > .visible, .vertical > .slider-nav a {
		
		display: block;
		overflow: visible;
		
	}
		
	.slider-nav a.active {
	
		background-color: rgba(0, 0, 0, .2);
		color: inherit;
	
	}

	.slider-wrap.tabs > .slider-nav {
		
		right: auto;
		position: static;
		transform: none;
		
	}

	.slider-wrap.tabs > .slider-nav.row {
		
		padding: 0;
		margin: 0;
		width: auto;

	}
	
	.full-window .slider-wrap.tabs > .slider-nav {
		
		position: absolute;
		bottom: 0;
		padding: 0;
	
	}
	
	.slider-wrap.tabs > .slider-nav a {
		
		text-indent: 0;
		width: auto;
		height: auto;
		display: table-cell;
		text-align: start;
		border-radius: 0;
		line-height: $line-height;
// 		line-height: var(--line-height);
		padding: 0 .5em;
		-webkit-flex: 1;
		flex: 1;
		margin: 0;
		white-space: normal;
	
	}

.slider > * > img {

	max-height: 100%;
    vertical-align: middle;
	margin: 0 auto;
	display: block;

}

.slider.center > * {
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	
}

.slider.auto-height > *:not(.visible) {
	
	height: 0;

}

/*
.full-window-wrap .slider-wrap.vertical.tabs > .slider-nav.row {
		
	position: fixed;
	top: 1em;
	bottom: 1em;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	flex-wrap: nowrap;

}
*/

@media screen and (max-width: $screen-narrow) {

	.slider-wrap.tabs > .slider-nav.row {
		
		display: flex;
		
	}

	.slider > * { // Stack slides vertically on old mobile browsers

		display: block;

	}

	@supports (--a: 1) { // ...and restore the slider on modern browsers
		
		.slider > * {
	
			display: inline-block;
	
		}
	
	}

}
