@charset "UTF-8";
/* natUIve WordPress – rado.bg */
.n-slider--wrap {
  background: #eee; }

.n-slider--wrap.n-slider--overlay {
  margin-bottom: 0; }

.n-slider.featured {
  margin-bottom: 22px;
  /* 	height: auto !important; */ }

.n-slider.featured h2 a[href] {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.n-slider--wrap .n-slider.featured {
  margin-bottom: 0; }

.n-slider.featured > * {
  position: relative;
  text-align: center;
  padding: 9% 0;
  overflow: visible; }

.n-slider.featured a[href], .n-slider.featured p {
  color: #fff; }

.n-slider.featured > div > * {
  padding: 0 .5em;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: #fff; }

#content .n-slider.featured img {
  display: none; }

#content .n-slider.featured > * > img[class*='thumbnail'] {
  position: absolute;
  z-index: -1;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: none;
  padding: 0;
  display: block; }

#content .sidebar form {
  padding-top: 0;
  margin-top: 11px;
  margin-bottom: 0;
  padding-bottom: 0; }

#content img {
  display: block; }
  #content img :not(.avatar) {
    margin: 0 auto; }

#content .n-aspect img {
  display: inline-block; }

#content .sidebar ul, #content .sidebar li, #content .comments ul, #content .sidebar li a[href] {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: block; }

button.search-submit {
  display: none; }

.n-lightbox.gallery {
  margin: .5em -.7em;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0; }
  .n-lightbox.gallery a {
    width: 20%;
    margin: 0;
    border: 1px solid #fff;
    text-align: center;
    box-sizing: border-box; }
    .n-lightbox.gallery a:before {
      content: '';
      display: inline-block;
      padding-top: 100%;
      vertical-align: middle; }

#content .n-lightbox.gallery a img {
  display: inline-block;
  vertical-align: middle; }

body {
  min-height: 100%;
  display: flex;
  flex-direction: column; }
  body.home .n-lightbox.gallery, body.archive .n-lightbox.gallery, body.search-results .n-lightbox.gallery {
    max-height: 20em;
    overflow: hidden;
    position: relative; }
  body.home .n-lightbox.gallery:before, body.archive .n-lightbox.gallery:before, body.search-results .n-lightbox.gallery:before {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px dotted;
    top: calc(20em - 1px); }

#content.n-type h2 a[href] {
  color: #fff; }

#full-window .n-slider--arrow {
  top: 49%; }

.wp-caption, iframe {
  max-width: 100%; }

iframe, article h2 a {
  margin: 0 auto;
  display: block; }

.home article, .archive article, .search-results article {
  margin-bottom: 44px;
  position: relative;
  overflow: hidden; }

.n-type section > article > p, .n-type section > article > ol, .n-type section > article > ul {
  max-width: 40em;
  margin: 1.5em auto; }

article ul {
  padding-left: 2px; }

.comments p {
  width: 100%;
  margin-bottom: 0; }

.comments form input {
  border: 0; }

.img-crop {
  width: 100%;
  display: block;
  background-color: #eee;
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0;
  white-space: nowrap; }
  .img-crop:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    padding-top: 25vmin; }
  .img-crop img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0); }

.img-crop h2, article h2 a[href] {
  display: inline-block;
  vertical-align: bottom;
  padding: .5em;
  font-size: 1.5rem;
  background: #488e89;
  color: #fff;
  text-decoration: none; }

article h2 a[href]:after {
  content: ' →'; }

.comment-author img {
  padding-bottom: 0; }

/*
#head .logo a {
	
	display: block;
	max-width: calc(100% - .5em);

}
*/
.menu .current_page_item a:link, .menu .current_page_item a:visited, .img-crop:hover h2 {
  color: #e82; }

article {
  overflow: hidden; }

.n-header .logo {
  display: flex; }

.logo-img {
  min-height: 37px; }

.rsswidget img {
  display: none; }

footer {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 1em; }

.comment-form p label {
  display: block; }

nav.n-nav.n-drop ul li a[href] {
  text-decoration: underline; }

nav.n-nav a {
  color: #666;
  text-transform: uppercase;
  text-decoration: none;
  color: #666;
  text-transform: uppercase;
  text-decoration: none; }
  nav.n-nav a.active[href] {
    color: #ee8822; }
  nav.n-nav a[href]:hover {
    color: #ee8822; }

.single h1 {
  margin-top: .25em; }

.n-type a[href] {
  color: #333; }
.n-type a[href]:hover, .n-type input[type=submit]:hover, .n-type a.n-btn[href]:hover, .n-type button.n-btn:hover {
  color: #ee8822; }
.n-type article h1, .n-type article h2, .n-type article h3, .n-type article h4, .n-type article h5 {
  font-weight: 500;
  color: #488e89; }
.n-type article .img-crop h2 {
  color: #fff;
  position: relative;
  white-space: normal;
  line-height: 1.33;
  background: rgba(72, 142, 137, 0.88);
  transition: background-color .2s ease-in-out; }
.n-type article .img-crop:hover h2 {
  background: #488e89; }

.wp-block-image {
  margin: 0;
  max-width: 100%; }
  .wp-block-image figure, .wp-block-image figure[class*=align] {
    display: block;
    margin: 0; }
  .wp-block-image, .wp-block-image figure, .wp-block-image figure[class*=align] {
    display: flex;
    flex-direction: column;
    max-width: 100%; }
  .wp-block-image .aligncenter {
    text-align: center; }
    .wp-block-image .aligncenter .n-aspect {
      margin: 0 auto; }
  .wp-block-image .alignright {
    text-align: right; }
    .wp-block-image .alignright .n-aspect {
      margin: 0 0 0 auto; }

.n-header .n-fold.n-fold--mobile {
  display: inline-block; }

.wp-caption {
  margin-top: 1em; }
  .wp-caption a[href] {
    display: inline-block; }
  .wp-caption.aligncenter {
    margin: 0 auto; }
  .wp-caption.alignright {
    margin: 0 0 0 auto; }
  .wp-caption p.wp-caption-text {
    margin-top: 0;
    font-size: smaller; }

a.backtotop[href] {
  background: none;
  bottom: -2em; }

@media (min-width: 600px) {
  .home section {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1em; }

  .home section article {
    width: calc(50% - 2em);
    margin: .75em 1em 2em 1em; }

  .home section article:nth-child(1), .home section article:nth-child(2), .home section .pagination {
    width: 100%; }

  .home section .pagination {
    margin-left: 1em; } }
@media (max-width: 599.9px) {
  .single h1 {
    font-size: 1.5em; } }

/*# sourceMappingURL=natuive-wordpress.css.map */
