/* natUIve – rado.bg */

@charset 'utf-8';

@import 'natuive-setup';
@import 'theme-variables'; /* Rewrite base variables here; add theme CSS below this one in <head> */

.contain {

	max-width: 82*$font-size;
	margin: 0 auto;
    width: 100%;

}

/* Basic elements */

html, body {

	height: 100%;
	margin: 0 auto;
	overflow-x: hidden;

}

body {

	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto; // Problem with Chrome 66

	-webkit-tap-highlight-color: rgba(0,0,0,.5);

	color: $color; /* Fallback when CSS variables aren't supported */
	color: var(--color);
	background: var(--bg, $bg);

}

.n-sticky-footer {

	min-height: 100vh; // % has problems with Chrome 67
	display: flex;  /* Sticky footer */
	flex-direction: column;

	main {
	
		flex-grow: 1;
	
	}

}

body * {

	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* iOS: Don't flash on tap */

}

img, picture, .lightbox a {

	max-width: 100%; // Prevent images overflowing
	height: auto;
	border: none;
	text-align: center;

}

.n-viewport.header-and-banner {

	min-height: 100vh;
// 	overflow: auto;
	display: flex;
	flex-direction: column;

}

.n-viewport.header-and-banner .banner {

	flex-grow: 1;
	justify-content: center;
	flex-direction: column;
	display: flex;

}

.n-viewport.header-and-banner.push-up:after { // Move centered content up, because the middle seems low

	content: '';
	flex-grow: 1;

}

header a.logo {

	display: inline-block;

}

.wide-screen {

	display: block;

}

.narrow-screen {

	display: none;

}

/* Footer */

footer {

	position: relative; // Because of the backtotop button

}

footer > * {

	position: static;

}

video {

	height: auto;
	background: #000;
	margin: 0 auto;
	display: block;
	max-width: 100%;

	a[href] {

		color: #fff;

	}

}

/* Overthrow CSS:
   For Mobile devices not supporting overflow: scroll. Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {

    overflow: auto;
    -webkit-overflow-scrolling: touch;

}

/* Element as a window to an image spanning viewpoert dimensions. iOS doesn't support it natively and requires div.fixed-bg-image */

.fixed-bg {

	background-size: cover;
	background-position: center center;

}

@supports (clip: rect(auto, auto, auto, auto)) {

	.fixed-bg {

	    will-change: scroll;
	    background-size: 0;
	    position: relative;

	}

		.fixed-bg .fixed-bg-image, .fixed-bg .fixed-bg-image:before {

			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: inherit;

		}

		.fixed-bg .fixed-bg-image {

			position: absolute;
			background-size: 0;
			z-index: -1;
			clip: rect(auto, auto, auto, auto);

		}

		.fixed-bg .fixed-bg-image:before {

			content: '';
			position: fixed;
			background-size: cover;
			background-position: center center;
			height: 100vh; // Mobile browser resize when hiding/showing toolbars

		}

		.fixed-bg .fixed-bg-image:before {

			transform: translate3d(0,0,0); // Force refresh while scrolling (iPad), fix missing image parts on (macOS Safari)

		}

}

@supports (-ms-ime-align:auto) { // Disable jumpy Edge

	.fixed-bg {

		background-size: cover;

	}

	.fixed-bg .fixed-bg-image {

		display: none;

	}

}

.n-fixed {

	position: fixed;

}

header.n-fixed {

	position: static;

}

a[href].span-relative-parent {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

[data-animation] { // Speed up animated elements

	pointer-events: none;

}

// Fallback before loading the full parallax CSS

.n-parallax--back {

	position: absolute;

}

:focus, :focus + .n-form--check-icon { // Because default focus indication is overlapped in Chrome for Windows

	outline-offset: -1px;
	outline-style: dashed;
	outline-width: 1px;

}

/* Narrow Screens */

@media screen and (max-width: $screen-narrow-max) {

	.wide-screen {

		display: none;

	}

	.narrow-screen {

		display: block;

	}

	.n-viewport.header-and-banner {

		height: auto;
		overflow: hidden;

	}

	header .head-right {

		text-align: start;

	}

	header.n-fixed {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: #fff;
		z-index: 7;

	}

}
