/* natUIve – Navigation */

@import 'natuive-setup';

nav {
	
	vertical-align: baseline;
	display: inline-block;

}

	nav ul {
	
		margin: 0 0 0 -.5em;
		padding: 0;
		display: inline-block;
		width: auto;
		list-style: none;
	
	}
	
	@supports (--a: 1) {
		
		nav.scroll a {
			
			padding: 0;

		}
		
		nav.scroll {
		
			max-width: 100%;
	
		}
			
		nav.scroll > ul {
	
			white-space: nowrap;
		    overflow: auto;
		    max-width: 100%;
		    transform: translate3d(0, 0, 0); // Safari macOS bug fix when using scrollbars: Not working initially.
		    -webkit-overflow-scrolling: touch;
		    padding: .25em 0;
	
		}
	
		nav.scroll ul li {
	
		    padding: $line-height-em/2;
	
		}
	
	}

	nav a {
		
		position: relative;
		padding: 0 .5em;

	}
	
	nav .active a[href] {
		
		text-decoration: none;
		opacity: .7;

	}
	
	nav:not(.drop) a[href^='#'] {
		
		text-decoration: none;

	}
	
	nav li:last-child a, nav .vertical li a {
		
		padding-right: 0;

	}

	nav ul li {
	
		margin: 0;
	
	}

	nav li:last-child {

		margin-right: 0;

	}

	main nav ul {
	
		padding-left: 0;
	
	}
	
// Drop nav

nav.drop {

	--nav-bg: #fff;

}

/*
nav.drop, nav.scroll {
	
	:focus {
	
		outline: solid 2px rgba(0,0,0,.2);
		outline-offset: -.3em;

	}

}
*/

nav.drop ul {
	
	padding: 0;
	margin: 0;
	min-height: 0;

}

nav.drop ul ul {
	
	padding: 0;
	position: absolute;
	left: 0;
	background: var(--nav-bg);

}

nav.drop ul ul ul {
	
	margin-left: 100%;
	top: 0;

}

nav.drop li {
	
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	
}

nav.drop li:focus {
	
	z-index: 2;

}

nav.drop li:not([tabindex]) {

	padding-right: 2em;

}

nav.drop li > a {
	
	padding: 1em;
	display: block;

}

nav.drop a[href] {
	
// 	z-index: 1;
	position: relative;

}

nav.drop a:focus {

	outline-offset: -6px;

}

nav.drop li li {
	
	display: block;

}

nav.drop ul ul:not([aria-expanded]) {
	
	min-height: 0;
	max-height: 0;
	z-index: 2;
	overflow: hidden;

}

nav.drop input:checked ~ ul, nav.drop input:focus ~ ul, 
nav.drop a:focus ~ ul, nav.drop ul ul[aria-expanded], nav.drop li li ul[aria-expanded], nav.drop li li:not(:focus) :checked ~ ul {
	
	max-height: none;
	overflow: visible;
	opacity: 1;
	z-index: 1;

}

nav.drop input {
	
	-webkit-appearance: none;
	-moz-appearance: none;
	display: block;
	position: absolute;
	margin: -4.75em 0 0 0;
	width: 100%; // iOS doesn't work with left/right
	height: 100%; 
	background: linear-gradient(45deg, transparent 75%, #000 75%) 0 0 no-repeat;
	background-size: 1em 1em;
	background-position: calc(100% - 1em);
	border: none;
	border-radius: 0;
				
}

nav.drop li[aria-haspopup]:after {

	content: '';
	position: absolute;
	right: .5em;
	width: 1em;
	height: 1em;
	top: .75em;
	background: linear-gradient(45deg, transparent 75%, #000 75%) 0 0 no-repeat;
	background-size: 1em 1em;
	transform: rotate(135deg);

}

nav.drop li li[aria-haspopup]:after {
	
	right: 1em;
	top: 1em;
	transform: rotate(45deg);

}

nav.drop li[aria-haspopup] {
	
	padding-right: 2em;
				
}

@media (min-width: 600px) {

	html:not(.can-touch) { // Hover rules here
		
		nav.drop ul ul ul:not([aria-expanded]) {
		
			transition: .1s .2s;
			opacity: 0;
		
		}
		
		nav.drop > ul > li > ul li {
			
			background: var(--nav-bg);
			
		}

		nav.drop > ul > li:hover > ul, nav.drop > ul li ul li:hover ul {
			
			max-height: none;
			overflow: visible;
			opacity: 1;
			
		}
		
		nav.drop > ul li ul li:hover ul {

			transition-delay: 0.2s;

		}

	}

	nav.drop li {
		
		white-space: nowrap;
		
	}

}

@media (max-width: 599.9px) {

	nav.drop ul ul {
		
		position: static;
		width: calc(100% + 1.5em);
		padding-left: .5em;
		overflow: hidden;
	
	}

	nav.drop li {
		
		width: 100%;
	
	}

	nav.drop ul ul ul {
		
		margin: 0;	

	}

}
