/* natUIve WordPress – rado.bg */

@charset 'utf-8';

// Maybe drop SCSS when CSS variables become widely supported in March 2016. Combine with Grunt.
@import 'natuive-setup';
@import 'natuive';
@import 'natuive-extra';
@import 'theme';


.n-sldr {
	
	background: #eee;
	margin-bottom: 44px;

}

#full-window .n-sldr {
	
	margin-bottom: 0;

}

.slider.featured {
	
	margin-bottom: 22px;
/* 	height: auto !important; */

}

.slider.featured h2 a[href] {
	
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
}

.n-sldr .slider.featured {
	
	margin-bottom: 0;

}

.slider.featured > * {
	
	position: relative;
	text-align: center;
	padding: 9% 0;
	overflow: visible;
	
}

.slider.featured a[href], .slider.featured p {
	
	color: #fff;

}

.slider.featured > div > * {
	
	padding: 0 .5em;
	display: inline-block;
	background: rgba(0,0,0,.5);
	color: #fff;

}

#content .slider.featured img {
	
	display: none;
	
}

#content .slider.featured > * > img[class*='thumbnail'] {
	
	position: absolute;
	z-index: -1;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-height: none;
	padding: 0;
	display: block;
   
}

#content .sidebar form {
	
	padding-top: 0;
	margin-top: -11px;
	margin-bottom: 11px;


}

#content img {
	
	display: block;
	margin: 0 auto;
}

#content .aspect img {
	
	display: inline-block;

}

#content .sidebar ul, #content .sidebar li, #content .comments ul, #content .sidebar li a[href] {
	
	list-style: none;
	padding-left: 0;
	margin: 0;
	display: block;
	
}

button.search-submit {
	
	display: none;

}

.lightbox.gallery {
	
	margin: .5em -.7em;	
	display: flex;
	flex-wrap: wrap;

}

body.home .lightbox.gallery {
	
	max-height: 20em;
	overflow: hidden;
	position: relative;

}

body.home .lightbox.gallery:before {
	
	content: '';
	position: absolute;
	width: 100%;
	border-bottom: 1px dotted;
	top: calc(20em - 1px);	

}

/*
.lightbox.gallery:after { // Push last row left
	
	content: '';
	flex: auto;

}
*/

.lightbox a {
	
// 	flex-grow: 1;

	margin: .75em .66em;

}

#full-window .slider-arrow {
	
	top: 49%;

}

.wp-caption, iframe {
	
	max-width: 100%;

}

iframe, article h2 a {
	
	margin: 0 auto;
	display: block;

}

.home article, .archive article, .search-results article {
	
	margin-bottom: 44px;
	position: relative;
	overflow: hidden;
// 	padding-left: 2px;

}

section > article > p {
	
	max-width: 40em;
	margin: 1.5em auto;

}

article ul {
	
	padding-left: 2px;

}

.comments p {
	
	width: 100%;

}


.comments form textarea, .comments form input {
	
	margin: 0;
    border: 0;

}

.img-crop {

	width: 100%;
	display: block;
	background-color: #eee;
	overflow: hidden;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 0;

}

.img-crop:before {

	display: inline-block;
	vertical-align: middle;
	content: '';
	padding-top: 25vmin;

}

.img-crop h2, article h2 a[href] {
	
	display: inline-block;
	vertical-align: bottom;
// 	background: rgba(255, 255, 255, .8);
	padding: .5em;
	font-size: 1.5rem;	
	background: #488e89;
	color: 	#fff;
	text-decoration: none;

}

article h2 a[href]:after {
	
	content: ' →';

}

.comment-author img {
	
	padding-bottom: 0 !important;

} 

#head .logo a {
	
	display: block;
	max-width: calc(100% - .5em);

}

.menu .current_page_item a:link, .menu .current_page_item a:visited, .img-crop:hover h2 {
	
	color: #e82;

}

article {
	
	overflow: hidden;

}

.logo-img {
	
	min-height: 37px;

}

.rsswidget img {
	
	display: none;
}

footer { // Stick footer to the bottom
	
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;

}

.comment-form p label {
	
	margin-right: 1em;
		
}

nav.drop ul li a[href] {
	
	text-decoration: underline;

}

@media screen and (max-width: $screen-narrow-max) {

	.lightbox.gallery {
		
		text-align: center;
		justify-content: center;

	}

}

