/* natUIve – Lightbox */

@import 'natuive-setup';

.slider-wrap > .slider.vertical.lightbox > * {

	height: 100%;

}

.slider.lightbox > * {

	height: 100%;
	text-align: center;
	position: relative;
	
}

.slider.lightbox video {

	display: inline-block;
	width: 100%;
	max-height: 100%;
	vertical-align: middle;
	
}

.slider.lightbox > *:before {

	content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
	height: 100%;
	position: static;
	width: 0;

}

.slider.lightbox > * p { /* Image captions */

	position: absolute;
	bottom: 48px;
	text-align: center;
	color: #fff;
	left: 50%;
	transform: translateX(-50%);
	padding: .2em .5em;
	background: rgba(0, 0, 0, .4);

}

.lightbox.slider > * > img {
	
	display: none;

}

.lightbox.slider > * > iframe {

	width: 100%;
	height: 100%;

}

.can-touch .lightbox.slider > * > iframe {

	pointer-events: none; // Restore lightbox swiping on touch. To do: also allow iframe scrolling.

}

.lightbox.slider > *.visible > img.zoom {

	width: auto;
	height: auto;
	max-height: none;
	max-width: none;
	position: absolute;
	top: 50%;
	bottom: 50%;
	left: 50%;
	right: 50%;
	transform: translate3d(-50%, -50%, 0);

}

.full-window-wrap .lightbox.slider > * {
	
	overflow: hidden;

}

.lightbox a {
	
	display: inline-block;
	vertical-align: middle;
	margin: $line-height-em/2 $line-height-em/4;
// 	margin: var(--line-height-em) calc(var(--line-height-em)/4);
	position: relative;
	
}

	.lightbox a img {
		
		display: block;
		padding-bottom: 0 !important;
	
	}
	
	@supports (--a: 1) {
	
		.lightbox a.video:before {
			
			content: '▸';
			border: 1px solid #999;
			position: absolute;
		    min-width: 1.5em;
		    text-align: center;
		    font-size: 2em;
		    line-height: 1em;
		    background: rgba(255,255,255,.8);
		    top: 50%;
		    transform: translate3d(-50%,-50%,0);
		    left: 50%;
	    
		}
	
	}

.lightbox.slider a.button.copy {
	
	position: absolute;
	top: $line-height-em/2;
	right: $line-height-em/2;
	margin: 0;

}

	.lightbox.slider a.button.copy:before {
		
		content: 'Link';
	
	}

