@charset "UTF-8";
/* natUIve WordPress – rado.bg */
.n-slider--wrap {
  background: #eee;
}

.n-slider--wrap.n-slider__overlay {
  margin-bottom: 0;
}

.n-slider.featured {
  margin-bottom: 22px;
}

.n-slider.featured h2 a[href] {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.n-slider--wrap .n-slider.featured {
  margin-bottom: 0;
}

.n-slider.featured > * {
  position: relative;
  text-align: center;
  padding: 9% 0;
  overflow: visible;
}

.n-slider.featured a[href], .n-slider.featured p {
  color: #fff;
}

.n-slider.featured > div > * {
  padding: 0 0.5em;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

#content .n-slider.featured img {
  display: none;
}

#content .n-slider.featured > * > img[class*=thumbnail] {
  position: absolute;
  z-index: -1;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: none;
  padding: 0;
  display: block;
}

#content .sidebar form {
  margin: 0;
  padding: 0;
}

#content img {
  display: block;
  max-width: 100%;
  height: auto;
}
#content img :not(.avatar) {
  margin: 0 auto;
}

#content .n-aspect img, #content .wp-caption > img {
  display: inline-block;
}

#content .sidebar ul, #content .sidebar li, #content .comments ul, #content .sidebar li a[href] {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: block;
}

#content .sidebar li {
  margin-bottom: 0.5em;
}

button.search-submit {
  display: none;
}

.n-lightbox.gallery {
  margin: 0.5em -0.7em;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.n-lightbox.gallery a {
  width: 20%;
  margin: 0;
  border: 1px solid transparent;
  text-align: center;
  box-sizing: border-box;
}
.n-lightbox.gallery a:before {
  content: "";
  display: inline-block;
  padding-top: 100%;
  vertical-align: middle;
}

#content .n-lightbox.gallery a img {
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body.home .n-lightbox.gallery, body.archive .n-lightbox.gallery, body.search-results .n-lightbox.gallery {
  max-height: 20em;
  overflow: hidden;
  position: relative;
}
body.home .n-lightbox.gallery:before, body.archive .n-lightbox.gallery:before, body.search-results .n-lightbox.gallery:before {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px dotted;
  top: calc(20em - 1px);
}

#content.n-type h2 a[href] {
  color: #fff;
}

#full-window .n-slider--arrow {
  top: 49%;
}

.wp-caption, iframe {
  max-width: 100%;
}

iframe, article h2 a {
  margin: 0 auto;
  display: block;
}

.home article, .archive article, .search-results article {
  margin-bottom: 44px;
  position: relative;
}

.n-type #content section > article > p:not(.has-image):not(.has-iframe), .n-type #content section > article > ol, .n-type #content section > article > ul, .n-type #content section > article > blockquote {
  max-width: 40em;
  margin: 1.5em auto;
  box-sizing: border-box;
}
.n-type #content section > article > p.has-image {
  text-align: center;
}
.n-type #content section > article > p.has-image img {
  display: inline-block;
}
.n-type #content section > article > .headline + p.has-image {
  margin-top: 0.5em;
}

article ul {
  padding-left: 2px;
}

.comments li {
  margin-bottom: 2em;
}
.comments p {
  width: 100%;
  margin-bottom: 0;
}
.comments .n-form {
  padding: 0;
}
.comments .n-form.n-form__wide label span {
  display: inline;
}
.comments .comments form input {
  border: 0;
}
.comments .comment-meta.commentmetadata {
  font-size: 0.75em;
}
.comments .n-form label {
  min-height: 2em;
}
.comments .comment-body {
  padding-right: 1em;
}

.img-crop {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  white-space: nowrap;
}
.img-crop:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  padding-top: 25vmin;
}
.img-crop img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  max-width: 100%;
}

.img-crop h2, article h2 a[href] {
  display: inline-block;
  vertical-align: bottom;
  padding: 0.5em;
  font-size: 1.5rem;
  background: #488e89;
  color: #fff;
  text-decoration: none;
}

article h2 a[href]:after {
  content: " →";
}

.comment-author img {
  padding-bottom: 0;
}

/*
#head .logo a {

	display: block;
	max-width: calc(100% - .5em);

}
*/
.menu .current_page_item a:link, .menu .current_page_item a:visited, .img-crop:hover h2, .n-form button.search-submit:hover, .n-type article .img-crop:hover h2, #content.n-type article .headline:hover h2 a[href] {
  color: #e82;
}

/*
article {

	overflow: hidden;

}
*/
.n-header .logo {
  display: flex;
}
.n-header .logo ~ .n-fold {
  margin-top: 1em;
}
.n-header .logo div {
  padding: 0 1em;
  flex-grow: 1;
}
.n-header .logo div h2, .n-header .logo div h3 {
  padding-top: 0;
}
.n-header .logo div h2 {
  font-size: 2em;
}

.logo-img {
  min-height: 37px;
}

.rsswidget img {
  display: none;
}

footer {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 1em;
}

.comment-form p label {
  display: block;
}

nav.n-nav a {
  color: var(--control-color, #666);
  text-transform: uppercase;
  text-decoration: none;
}
nav.n-nav a.active[href], nav.n-nav a[href]:hover {
  color: var(--control-highlight, #ee8822);
}
nav.n-nav.n-nav__drop {
  --control-bg: #eee;
}
nav.n-nav.n-nav__drop li.current_page_item {
  --control-bg: #ddd;
}

.single h1 {
  margin-top: 0.25em;
}

.n-type h3.comment-reply-title {
  padding-top: 0;
}
.n-type a[href] {
  color: lightcoral;
  text-decoration: none;
}
.n-type a[href]:hover, .n-type input[type=submit]:hover, .n-type a.n-btn[href]:hover, .n-type button.n-btn:hover {
  color: var(--control-highlight, #ee8822);
}
.n-type .page_item a[href] {
  color: unset;
  padding: 0 0.5em;
  line-height: 1.5;
}
.n-type p {
  text-align: left;
}
.n-type article h1, .n-type article h2, .n-type article h3, .n-type article h4, .n-type article h5 {
  font-weight: 500;
  color: #488e89;
}
.n-type article .headline > h2 {
  padding: 0;
  line-height: 1.33;
}
.n-type article .img-crop h2 {
  color: #fff;
  position: relative;
  white-space: normal;
  line-height: 1.33;
  background: rgba(72, 142, 137, 0.88);
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 0;
}
.n-type article .img-crop:hover h2 {
  background: #488e89;
}

.wp-block-image {
  margin: 1em 0;
  max-width: 100%;
}
.wp-block-image figure, .wp-block-image figure[class*=align] {
  display: block;
  margin: 0;
}
.wp-block-image, .wp-block-image figure, .wp-block-image figure[class*=align] {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.wp-block-image .aligncenter {
  text-align: center;
}
.wp-block-image .aligncenter .n-aspect {
  margin: 0 auto;
}
.wp-block-image .alignright {
  text-align: right;
}
.wp-block-image .alignright .n-aspect {
  margin: 0 0 0 auto;
}

.n-aspect.aligncenter {
  display: flex;
  margin: 0 auto;
}

.n-aspect.alignright {
  display: flex;
  margin: 0 0 0 auto;
}

/*
.n-fold span.n-burger:before { // Workaround for the weirdest bug where the fallback value of the CSS variable disappears

    --control-color: #333;

}
*/
.wp-caption {
  margin: 0.5em auto 0 auto;
}
.wp-caption a[href] {
  display: inline-block;
  max-width: 100%;
}
.wp-caption.aligncenter {
  margin: 0.5em auto 0 auto;
}
.wp-caption.alignright {
  margin: 0 0 0 auto;
}
.wp-caption p.wp-caption-text {
  margin-top: 0;
  font-size: 12px;
  line-height: 24px;
  padding: 0;
}

a.backtotop[href] {
  background: none;
  bottom: -1em;
}

.textwidget a {
  margin-bottom: 0.5em;
  display: inline-block;
}

@media (min-width: 600px) {
  nav.n-nav.n-nav__drop ul li {
    margin-right: 0.5em;
  }

  .home section {
    display: flex;
    flex-wrap: wrap;
  }

  .home section article {
    width: calc(50% - .75em);
    margin: 0 0 3em 0;
  }

  .home section article:nth-child(2) ~ :nth-child(2n+1), .home.paged section article:first-child {
    margin-right: 1.5em;
  }

  .home:not(.paged) section article:nth-child(1), .home:not(.paged) section article:nth-child(2), .home section .pagination {
    width: 100%;
  }
  .home:not(.paged) section article:nth-child(1) .n-lightbox.gallery a, .home:not(.paged) section article:nth-child(2) .n-lightbox.gallery a, .home section .pagination .n-lightbox.gallery a {
    width: 10%;
  }

  .single .n-lightbox.gallery a, .search-results .n-lightbox.gallery a, .archive .n-lightbox.gallery a {
    width: 10%;
  }

  .comments {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .comments > h2 {
    grid-column: 1/3;
  }
  .comments > ul {
    grid-column: 1/2;
  }
  .comments > div {
    grid-column: 2/3;
  }
}
.n-nav__drop li[aria-haspopup] {
  padding-right: 1em;
}

.wp-video {
  margin: 1.5em auto 0 auto;
}

@media (max-width: 599.9px) {
  .single h1 {
    font-size: 1.5em;
  }
}
.n-slider--arrow, .n-slider--nav *, .n-tool:after, .n-btn, .n-form input[type=submit], .n-form button[type=submit], .n-form button[type=reset], button.n-btn, a.n-btn[href], .n-type a.n-btn[href], .n-fold > .n-fold--label, .n-nav__drop, .n-form, .n-ovrl > .n-ovrl--close, .n-nav__drop ul li, .n-type nav.n-nav a[href] {
  --control-bg: lightcoral;
  --control-color: #fff;
  --control-active-bg: #cc7c7e;
  --control-active-color: #eee;
  --control-highlight: #bf2a2a;
}

.n-form input, .n-form textarea {
  --input-color: darkslateblue;
  --input-bg: aliceblue;
}

@media (prefers-color-scheme: dark) {
  body, .n-ovrl > *, .n-slider--wrap {
    background: #000;
  }

  .n-type {
    color: #ddd;
  }

  .img-crop {
    background: #222;
  }

  .n-form input, .n-form textarea {
    --input-color: #ddd;
    --input-bg: #222;
  }

  .logo .default-logo {
    background: url(img/logo-white.svg) top left no-repeat;
    background-size: contain;
  }
  .logo .default-logo img {
    opacity: 0;
  }
}

/*# sourceMappingURL=natuive-wordpress.css.map */
