/* natUIve  – Card */

@import 'natuive-setup';

.card {
	
	margin: 1em 0;
	--card-bg: #{rgba(0,0,0,.1)};
	background: var(--card-bg);

}

.card > * {
	
	padding: 1em;

}

.card .content {
	
	background: var(--card-bg);

}

.card > img {
	
	display: block;
	margin: 0 auto;
	max-width: 100%;
	padding: 0;

}

.card .head.image {
	
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;

}

.card .head.image:after {
	
	content: ''; 
	padding-bottom: 56.25%; // 16:9
	width: 0;
	display: inline-block;
	vertical-align: bottom;

}

.card .head.image > * {
	
	display: inline-block;

}

