/* natUIve – Accordion */

@import 'natuive-setup';

.accordion {

	position: relative;
	padding: 0 .5em 0 1em;
	cursor: pointer;
	margin: 0;
	max-width: 100%;
	
}

	.accordion > label {
		
		text-align: left;
		text-align: start;
		width: 100%;
		cursor: pointer;
		-webkit-transition: padding 0.25s;
		-moz-transition: padding 0.25s;
		-ms-transition: padding 0.25s;
		-o-transition: padding 0.25s;
		transition: padding 0.25s;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		
	}

	.accordion > div { /* hidden accordion item */

	    overflow: hidden;
	    cursor: auto;
	    contain: none;

	}

	.accordion:not(.open) > div {

	    max-height: 0;
	    contain: strict;

	}

	.accordion > div.transition {

		-webkit-animation-name: transition;
		animation-name: transition;
		

	}

	.accordion:first-of-type > div {

	    padding-top: 0;

	}

	.accordion:first-of-type {

	    margin-bottom: 0;

	}

	.accordion > div > * {
		
		margin-top: 0;

	}

	.accordion input.trigger:checked ~ div {
		
		max-height: none;

	}
	
	.accordion.open input.trigger + * {
		
		display: inline-block;
		
	}
	
	.accordion > label {
		
		margin: 0;
		float: none;
		
	}

.accordion > label {
	
	line-height: $line-height * 2;
// 	line-height: calc(var(--line-height) * 2);
	min-height: $line-height-em * 2;
// 	min-height: calc(var(--line-height-em) * 2);
	
}
