@charset "UTF-8";
/* natUIve WordPress – rado.bg */
/*
$color: #fff;
$bg: #1E8DaC;
*/
:root {
  /*
  // Crashes Chrome 49 Beta, FF 44 bug can't calc properly
  	--line-height: 2;
  	--line-height-em: calc(var(--line-height)*1em);
  */
  /*
  	--color: #fff;
  	--bg: #1E8DaC;
  */
  --color: #333;
  --bg: #fff; }

/*
$font-size: 26px;
$line-height: 34px;
*/
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  color: #555;
  background: #fff; }

li > h4 {
  margin-top: -1px; }

h1, h2, h3, h4, h5 {
  font-weight: 500;
  color: #488e89; }

b {
  font-weight: bold; }

a[href] {
  color: #333; }

a[href]:hover, input[type=submit]:hover, a.button[href]:hover, button:hover {
  color: #ee8822; }

nav a {
  color: #666;
  text-transform: uppercase;
  text-decoration: none; }

nav a.active[href] {
  color: #ee8822; }

nav.sub a {
  color: #727272;
  text-transform: none; }

nav.sub li:not(:first-child):before {
  content: '';
  border-left: 1px solid #ddd;
  padding-right: .6em; }

nav a[href]:hover {
  color: #ee8822; }

form#language-selector select {
  padding-left: 2em;
  background: url(../images/globe.svg) no-repeat 0.5em center/auto 66%;
  height: 1.5; }

form .select {
  background: #eee url(../images/select-arrow.svg) calc(100% - .7em) 50% no-repeat/auto 50%; }

header form .select {
  height: 1.5; }

.button, input[type=submit], button[type=submit], button[type=reset], button, a.button[href] {
  font-weight: bold;
  background: #00ddf0;
  color: #fff; }

.button:active, input[type=submit]:active {
  background: #ccc; }

.button.big:after {
  content: '►';
  padding-left: .3em; }

.button.big, input[type=submit], button {
  font-size: 1.2em;
  color: #fff;
  background: #00ddf0; }

.button.big:active, input[type=submit]:active {
  background: #00798c; }

.button.yellow {
  color: #862165;
  background: #fbde04; }

.button.yellow:active {
  background: #977a00; }

/* Top */
header .align-right {
  text-align: right;
  vertical-align: top; }

header img {
  margin: 0; }

/*
		header form {
			
			display: inline-block;
			font-size: .4em;
			padding: 0;
	
		}
		
		header form select {
			
			height: $line-height;
	
		}
*/
header img.logo {
  height: 40px; }

header .row {
  padding: 0; }

/* Head */
header h1, header p {
  color: #333; }

/* Etc */
.social {
  text-align: right; }

.social a + a {
  margin-left: 1em; }

.checkbox-icon {
  background: #00ddf0; }

@media screen and (max-width: 640px) {
  nav.sub li:not(:first-child):before {
    content: none; } }
.n-slider-wrap {
  background: #eee; }

.n-slider-wrap.overlay {
  margin-bottom: 0; }

.slider.featured {
  margin-bottom: 22px;
  /* 	height: auto !important; */ }

.slider.featured h2 a[href] {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.n-slider-wrap .slider.featured {
  margin-bottom: 0; }

.slider.featured > * {
  position: relative;
  text-align: center;
  padding: 9% 0;
  overflow: visible; }

.slider.featured a[href], .slider.featured p {
  color: #fff; }

.slider.featured > div > * {
  padding: 0 .5em;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: #fff; }

#content .slider.featured img {
  display: none; }

#content .slider.featured > * > img[class*='thumbnail'] {
  position: absolute;
  z-index: -1;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: none;
  padding: 0;
  display: block; }

#content .sidebar form {
  padding-top: 0;
  margin-top: 11px;
  margin-bottom: 0;
  padding-bottom: 0; }

#content img {
  display: block;
  margin: 0 auto; }

#content .aspect img {
  display: inline-block; }

#content .sidebar ul, #content .sidebar li, #content .comments ul, #content .sidebar li a[href] {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: block; }

button.search-submit {
  display: none; }

.n-lightbox.gallery {
  margin: .5em -.7em;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0; }
  .n-lightbox.gallery a {
    width: 20%;
    margin: 0;
    border: 1px solid #fff; }
    .n-lightbox.gallery a:before {
      content: '';
      display: inline-block;
      padding-top: 100%;
      vertical-align: middle; }

#content .n-lightbox.gallery a img {
  display: inline-block;
  vertical-align: middle; }

body.home .n-lightbox.gallery, body.archive .n-lightbox.gallery, body.search-results .n-lightbox.gallery {
  max-height: 20em;
  overflow: hidden;
  position: relative; }
body.home .n-lightbox.gallery:before, body.archive .n-lightbox.gallery:before, body.search-results .n-lightbox.gallery:before {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 1px dotted;
  top: calc(20em - 1px); }

/*
.n-lightbox.gallery:after { // Push last row left
	
	content: '';
	flex: auto;

}
*/
#full-window .slider-arrow {
  top: 49%; }

.wp-caption, iframe {
  max-width: 100%; }

iframe, article h2 a {
  margin: 0 auto;
  display: block; }

.home article, .archive article, .search-results article {
  margin-bottom: 44px;
  position: relative;
  overflow: hidden; }

section > article > p, section > article > ol, section > article > ul {
  max-width: 40em;
  margin: 1.5em auto; }

article ul {
  padding-left: 2px; }

.comments p {
  width: 100%;
  margin-bottom: 0; }

.comments form input {
  border: 0; }

.img-crop {
  width: 100%;
  display: block;
  background-color: #eee;
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0; }

.img-crop:before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  padding-top: 25vmin; }

.img-crop h2, article h2 a[href] {
  display: inline-block;
  vertical-align: bottom;
  padding: .5em;
  font-size: 1.5rem;
  background: #488e89;
  color: #fff;
  text-decoration: none; }

article h2 a[href]:after {
  content: ' →'; }

.comment-author img {
  padding-bottom: 0; }

#head .logo a {
  display: block;
  max-width: calc(100% - .5em); }

.menu .current_page_item a:link, .menu .current_page_item a:visited, .img-crop:hover h2 {
  color: #e82; }

article {
  overflow: hidden; }

.logo-img {
  min-height: 37px; }

.rsswidget img {
  display: none; }

footer {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column; }

.comment-form p label {
  display: block; }

nav.n-drop ul li a[href] {
  text-decoration: underline; }

.single h1 {
  margin-top: .25em; }

.wp-block-image {
  margin: 0; }

@media (min-width: 600px) {
  .home section {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1em; }

  .home section article {
    width: calc(50% - 2em);
    margin: .75em 1em 2em 1em; }

  .home section article:nth-child(1), .home section article:nth-child(2), .home section .pagination {
    width: 100%; }

  .home section .pagination {
    margin-left: 1em; } }
@media (max-width: 599.9px) {
  .single h1 {
    font-size: 1.5em; } }

/*# sourceMappingURL=natuive-wordpress.css.map */
