/* natUIve – Modal */

@import 'natuive-setup';

.n-ovrl {

	z-index: 999999;
	background: #fff;
	background: rgba(255,255,255,.97);
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-top: none;
    -webkit-overflow-scrolling: touch;
    padding-top: 0;

}
	
	.n-ovrl > .content {
		
		overflow-y: scroll;
		position: relative;
		background: transparent;
		height: 100%; // For Android Browser, which doesn't understand the bottom line
		height: calc(100% - #{$line-height-em*2});
// 		height: calc(100% - var(--line-height-em)*2);
		padding-top: $line-height-em*2;

	}
	
	.n-ovrl.limited > .content, /* .no-touch */ .n-ovrl.limited > .content {

		background: #666;
    	color: #eee;
    	padding: 0;
    	height: 50vh;
   	    margin-top: 25vh;
	    width: 50vw;
	    margin-left: 25vw;

	}
	
	.n-ovrl .close {

		color: #fff;
		cursor: pointer;
		padding: .75em;
		font-weight: bold;
		background: #000;
		background: rgba(0,0,0,.7);
		width: 100%;
		z-index: 99999;
		top: 0;
		overflow: hidden;
		height: 3em;
	    overflow-x: auto;
	    white-space: nowrap;

	}

	/* On touch, disable fixed-position "close" bar, because it's jumpy */
/* 	.no-touch */ .n-ovrl .close {

		position: fixed;

	}

/* 	.no-touch */ .n-ovrl {
	
		overflow-y: scroll;
	
	}

/* 	.no-touch */ .n-ovrl.headless {
		
		padding-top: 0;

	}

/* 	.no-touch */ .n-ovrl > .content {

		height: 100%;
		overflow: auto;
	
	}

	.n-ovrl > * {
		
		background: #fff;
		position: relative;
		
	}
	
	.overlay-bg {
		
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		cursor: crosshair;
		background: transparent;

	}

@media screen and (max-width: $screen-narrow-max) {


	.n-ovrl.limited > .content {
		
    	height: 60vh;
   	    margin-top: 20vh;
	    width: 80vw;
	    margin-left: 10vw;
	
	}


}
