// Line height is 1.5 * 16px = 24px and every element height must be divisible by 24 to achieve baseline alignment

$font-size: 16px;
$line-height: 1.5;
$line-height-em: 1em*$line-height;
$screen-narrow: 600px;
$screen-narrow-max: 599.9px;
$screen-limited: 900px;
$screen-limited-max: 899.9px;
/*
$color: #fff;
$bg: #1E8DaC;
*/
$color: #333;
$bg: #fff;

:root {
	
/*
// Crashes Chrome 49 Beta, FF 44 bug can't calc properly
	--line-height: 2;
	--line-height-em: calc(var(--line-height)*1em);
*/

/*
	--color: #fff;
	--bg: #1E8DaC;
*/
/*
	--color: #333;
	--bg: #fff;
*/

}
