@charset "UTF-8";
/*
$color: #fff;
$bg: #1E8DaC;
*/
:root {
  /*
// Crashes Chrome 49 Beta, FF 44 bug can't calc properly
	--line-height: 2;
	--line-height-em: calc(var(--line-height)*1em);
*/
  /*
	--color: #fff;
	--bg: #1E8DaC;
*/
  --color: #333;
  --bg: #fff; }

/*
$font-size: 26px;
$line-height: 34px;
*/
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  color: #555;
  background: #fff; }

.n-list li > h4 {
  margin-top: -1px; }

.n-type h1, .n-type h2, .n-type h3, .n-type h4, .n-type h5 {
  font-weight: 500;
  color: #488e89; }

.n-type b {
  font-weight: bold; }

.n-type a[href] {
  color: #333; }

.n-type a[href]:hover, .n-type input[type=submit]:hover, .n-type a.n-btn[href]:hover, .n-type button.n-btn:hover {
  color: #ee8822; }

nav.n-nav a {
  color: #666;
  text-transform: uppercase;
  text-decoration: none; }
  nav.n-nav a.active[href] {
    color: #ee8822; }
  nav.n-nav a[href]:hover {
    color: #ee8822; }

.n-btn, input[type=submit], button[type=submit], button[type=reset], button, a.button[href] {
  font-weight: bold;
  background: #00ddf0;
  color: #fff; }

.button:active, input[type=submit]:active {
  background: #ccc; }

.button.button-big:after {
  content: '►';
  padding-left: .3em; }

.button.button-big, input[type=submit], button {
  font-size: 1.2em;
  color: #fff;
  background: #00ddf0; }

.button.button-big:active, input[type=submit]:active {
  background: #00798c; }

.button.yellow {
  color: #862165;
  background: #fbde04; }

.button.yellow:active {
  background: #977a00; }

/* Top */
.n-header .n-right {
  text-align: right;
  vertical-align: top; }

.n-header img {
  margin: 0; }

/*
		header form {
			
			display: inline-block;
			font-size: .4em;
			padding: 0;
	
		}
		
		header form select {
			
			height: $line-height;
	
		}
*/
.n-header img.logo {
  height: 40px; }

.n-header .n-row {
  padding: 0; }

/* Head */
.n-header h1, .n-header p {
  color: #333; }

/* Etc */
.social {
  text-align: right; }

.social a + a {
  margin-left: 1em; }

.n-form--check-icon {
  background: #00ddf0; }

@media screen and (max-width: 640px) {
  nav.n-nav.sub li:not(:first-child):before {
    content: none; } }
