.contain {
	
	max-width: 77rem;

}

body {
	
	font-family: Helvetica Neue;
	color: #565a5c;
	background: #fafafa;
	
}

.header-and-banner {
	
    background-color: rgb(66, 133, 244);
	color: #fff;

}

header a[href] {
	
	text-transform: uppercase;

}

.banner h1 {
	
	font-size: 3em;
	margin: .5em 0;

}

header a[href], footer a[href] {
	
	text-decoration: none;
	font-weight: 500;

}

main .row > * {
	
	background-size: cover;

}

footer {
	
	padding-top: 7em;

}

footer ul li {
	
	display: inline-block;

}

svg {
	
	height: 2em;
	opacity: .5;

}

header svg {
	
	height: 1em;
	line-height: 1.5;
	opacity: 1;

}

footer svg:hover {
	
	opacity: 1;

}
