@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900");
* {
  box-sizing: border-box; }

body {
  color: #0d313f;
  font-family: Roboto,"Gill Sans",Calibri,"Helvetica Neue",Arial,sans-serif;
  font-weight: 300; }

.n-banner {
  background: url(home-banner_bg.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }
  .n-banner .n-row > * > .n-row {
    margin-left: -.4em;
    max-width: none;
    width: calc(100% + 2.2em); }

.n-type h1 {
  font-weight: 100;
  font-size: 5em; }

.n-type h2, .n-type h3, .n-type h4 {
  font-weight: 300; }

.n-type a[href], .n-type a {
  text-decoration: none;
  color: #1f9ec4; }

.n-banner .n-row .n-row > * {
  color: #0d313f;
  background-color: rgba(255, 255, 255, 0.9); }

.n-row > * > img {
  margin: 0; }

.n-banner .n-row .n-row > *:nth-child(2), .banner .n-row .n-row > *:nth-child(3) {
  background-color: rgba(236, 236, 236, 0.9); }

.n-banner .n-row .n-row > * {
  padding: 1em;
  box-sizing: border-box; }

.n-contain {
  max-width: 1176px;
  overflow: hidden; }

.n-header .n-contain {
  overflow: visible; }

.customers img {
  margin: 2em 3em;
  display: inline-block;
  vertical-align: middle; }

.n-form {
  --nui-control-bg: #eee; }

select {
  background: none; }

nav.n-nav.n-nav--drop ul.n-list li b.sub {
  margin-left: -1.25em; }

footer {
  background-color: #023240;
  color: #fff; }

footer ul.n-list li {
  margin: 0; }

footer ul.n-list li:before {
  content: ''; }

.grey {
  background-color: #f6f6f6;
  padding: 2em 0; }

.grey img {
  height: 54px;
  margin: 0 auto; }

@media (max-width: 599.9px) {
  .n-accordion.n-accordion--mobile.n-middle {
    display: block; } }
