<<<<<<< HEAD

@import url('//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900');

=======
>>>>>>> parent of dd6e47a... New demo: Truphone
body {
	
	    color: #0d313f;
	    
}

.banner {
	
	background: url(home-banner_bg.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;

}

.banner .row .row > * {
	
	    color: #0d313f;
	        background-color: rgba(255,255,255,.9);

}

.banner .row .row > *:nth-child(2), .banner .row .row > *:nth-child(3) {

	background-color: rgba(236,236,236,.9);

}

footer {
	
    background-color: #023240;
    color: #fff;

}

.grey {
	
	background-color: #f6f6f6;
	   
}

.grey img {
	
	height: 54px;

}