@font-face {
  font-family: "AvenirNextLTW01-Regular";
  src: url("AvenirNextLTW01-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "Tw Cen W01 Medium";
  src: url("Tw Cen W01 Medium.woff2") format("woff2"); }

html {
  font-size: 40%; }

body {
  font-family: "AvenirNextLTW01-Regular";
  font-size: 1.2rem;
  line-height: 2em;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased; }

.n-type h1, .n-type h2, .n-type h3 {
  font-family: "Tw Cen W01 Medium", Arial, sans-serif;
  font-weight: normal; }

.n-contain {
  max-width: 1024px; }

.n-header, .social {
  background: #000;
  color: #fff; }

.n-header {
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 1em 0; }
  .n-header .n-contain {
    padding: 0 1em; }
  .n-header .n-logo {
    background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='2.5 13 118 9' style='enable-background:new 2.5 13 118 9;' xml:space='preserve'%3E %3Cpath fill='%23fff' class='svg' d='M23.5,13.1l-2.9,5.1l0,0h-2.3L18,18.9h2.1h0l-1.8,3h1.1l1.8-3l0,0h2.6l0.6,3h2.1l-1.6-8.9H23.5z M21.7,18.2 L21.7,18.2l1.5-2.7l0.5,2.7H21.7z M53.4,17.2L53.4,17.2l-1.3,0L51.9,18h1.3l0,0l-1.3,4h5.8l0.2-0.8h-3.6l1-3.2h2.3l0.2-0.7h-2.3h0 l1.1-3.3h3.6l0.2-0.8h-5.8L53.4,17.2z M68.4,13.1h-2.1L63.5,22h5.1l0.3-0.8h-3L68.4,13.1z M92,13.1h-2.1L87,22h5.1l0.3-0.8h-3 L92,13.1z M102.2,13.1l-2.9,5.1l0,0h-2.3l-0.3,0.7h2.1h0l-1.8,3h1.1l1.8-3l0,0h2.6l0.6,3h2.1l-1.6-8.9H102.2z M100.4,18.2 L100.4,18.2l1.5-2.7l0.5,2.7H100.4z M11.7,17.3H8.4l1.3-4.2H7.6l-1.3,4.2H4.1l-0.2,0.8H6L4.8,22h2.1l1.2-3.9h3.3L10.2,22h2.1 l2.8-8.9H13L11.7,17.3z M36.9,14.4l0.4-0.7c-4.2-2.3-7.2,2.1-4.2,4.1c0.5,0.3,1.2,0.6,1.9,1.1c1.8,1.2-0.9,3.8-3.6,1.4L30.9,21 c2.1,1.8,5.6,1.2,6.2-1.6c0.2-1,0-1.8-0.8-2.3c-0.8-0.6-1.3-0.7-1.9-1C32.2,15.1,34.3,12.7,36.9,14.4z M47.1,14.4l0.4-0.7 c-4.2-2.3-7.2,2.1-4.2,4.1c0.5,0.3,1.2,0.6,1.9,1.1c1.8,1.2-0.9,3.8-3.6,1.4L41,21c2.1,1.8,5.6,1.2,6.2-1.6c0.2-1,0-1.8-0.8-2.3 c-0.8-0.6-1.3-0.7-1.9-1C42.4,15.1,44.5,12.7,47.1,14.4z M79.5,13.1c-2.6,0-2.9,0-2.9,0l-1.4,4.1l-0.8,0h-0.5L73.6,18H75l0,0 l-1.1,3.2L73.7,22h4c4.1-0.1,5.5-3.8,2.4-4.5C83.5,16.4,83.1,13.1,79.5,13.1z M77.6,21.2h-0.7l-0.8,0l1-3.2h1.3 C80.9,18,79.2,21.1,77.6,21.2z M78.6,17.2h-1.1l1-3.3H79C81.3,13.8,80.8,17.1,78.6,17.2z M115.4,13.1h-2.6l-2.9,8.9h3.4 C120.2,21.7,121.5,13,115.4,13.1z M113.2,21.1h-1l2.5-7.2h0.7C118.7,13.9,117.1,21.1,113.2,21.1z'/%3E %3C/svg%3E") no-repeat 50% 50%;
    background-size: 100%;
    height: 14px;
    width: 150px; }

.n-accordion {
  display: inline-block; }

main .aspect.n-left > * {
  vertical-align: top; }

.n-header .n-accordion .n-accordion__label {
  background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'%3E %3Cstyle%3E .st0%7B fill:none; stroke:%23fff; stroke-width: 2; stroke-miterlimit: 10; %7D .st1%7B fill:none; stroke:%23fff; stroke-miterlimit:10; %7D %3C/style%3E %3Cpath class='st0' d='M19,10c0,5-4,9-9,9c-5,0-9-4.2-9-9.2C1,4.9,4.8,1.2,9.6,1C9.7,1,9.9,1,10,1C15,1,19,5,19,10z'/%3E %3Cpath class='st0' d='M9.6,1c-4.7,5.1-4.7,11.7,0,18'/%3E %3Cpath class='st0' d='M10.4,1c4.7,5.1,4.7,11.7,0,18'/%3E %3Cline class='st1' x1='2.5' y1='4.9' x2='17.5' y2='4.9'/%3E %3Cline class='st1' x1='1' y1='9.6' x2='19' y2='9.6'/%3E %3Cline class='st1' x1='2.2' y1='14.3' x2='17.9' y2='14.3'/%3E %3C/svg%3E") no-repeat 50% 50%;
  width: 14px;
  height: 14px;
  background-size: 100%;
  display: block;
  margin: 0 0.5em; }

.n-header .n-accordion .n-accordion .n-accordion__label.n-burger- {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'%3E %3Cstyle%3E.st0%7Bfill:none;stroke:%23fff;stroke-width:2;stroke-miterlimit:10;%7D%3C/style%3E %3Cg%3E %3Cline class='st0' x1='2' y1='10' x2='18' y2='10'/%3E %3C/g%3E %3Cg%3E %3Cline class='st0' x1='2' y1='16' x2='18' y2='16'/%3E %3C/g%3E %3Cg%3E %3Cline class='st0' x1='2' y1='4' x2='18' y2='4'/%3E %3C/g%3E %3C/svg%3E"); }

.n-header .n-accordion .n-accordion .n-accordion__label:after {
  display: none; }

.n-header .n-accordion .n-accordion .n-accordion__content {
  position: absolute;
  background: #000; }

.n-banner {
  background: #262b2e url(9bbb6f56d08ea0b80556838c542293208974307f_h6d-400cms-hero.jpg) center center no-repeat;
  background-size: 1500px auto;
  color: #fff;
  font-size: 3rem; }
  .n-banner .n-row {
    height: 1150px;
    max-height: 100vh; }
  .n-banner h1 b {
    color: #d95e00; }
  .n-banner h2 {
    font-size: 3rem;
    margin: 0.5em 0 1em 0;
    letter-spacing: 0.167em; }

@media (max-height: 1000px) {
  .banner .n-row {
    height: 768px; } }

main {
  font-size: 2rem; }

main .n-contain .n-row > div {
  background: url(5bedc7e822682d4c8fedeb6e14f420936972071e_hbl_h6d_sideright_darkgrey_2048x2048.jpg) center center no-repeat;
  background-size: cover;
  color: #fff; }

main .n-row > * > * {
  padding: 2rem;
  box-sizing: border-box; }

.social img {
  width: 30px;
  display: inline-block;
  margin: 1.5em 0.75em; }

footer {
  font-size: 12px; }

footer nav.n-nav {
  margin: 3em 0; }

footer ul.n-list li {
  margin: 0;
  list-style: none; }

footer ul.n-list li:before {
  display: none; }

footer h2 {
  margin: 2em 0 0.5em 0; }

footer a[href] {
  text-decoration: none; }

.n-type a[href].n-btn {
  background: none;
  border: 1px solid #000;
  color: #000;
  padding: 0.25em 0.667em; }

.white-text a[href].n-btn {
  color: #fff;
  border-color: #fff; }

.splash h2 {
  font-size: 4em;
  margin: .5em 0; }

.splash h3 {
  font-size: 2em; }

.splash a[href].n-btn {
  font-size: 1.5em; }

@media (max-width: 599.9px) {
  .n-banner {
    background-size: 200vw;
    background-position: -100vw 100%; }
    .n-banner .n-row {
      height: 768px;
      max-height: none; } }
