$grey: #f5f4f1;
$dark-grey: #edece8;
$darker-grey: #6f6660;
$line-height: 22px;
$brown: #9e9890;

body {
	
	font-family: Helvetica Neue, sans-serif;
	color: $brown;

}

.contain {
	
	max-width: 65em;

}

a[href] {
	
	text-decoration: none;
	color: #9e9890;

}

h1, h2, h3, h4 {
	
	color: #333;

}

.backtotop[href] {
	
	display: none;

}

header, #content, footer {
	
	background: #fff;

}

header {
	
	margin: 0;
	padding-bottom: 4em;
	
}

header nav, header form, footer nav, footer form, main form, main nav {
	
	display: inline-block;
	vertical-align: middle;

}

header nav ul li a[href] {
	
	color: #333;

}

header .logo img {
	
	height: 2.2em;
	vertical-align: middle;

}

header nav.drop ul li {
	
	background: transparent;

}

header nav.drop ul li a, nav.drop ul li b.sub, header nav.top ul li a[href] {
	
	font-size: .7rem;
	padding: 0 .5em;
	background: none;
	min-height: 0;
	text-transform: uppercase;
	font-weight: bold;
	color: $brown;

}

#content {
	
	min-height: 100vh;
	padding-top: 1.5em;

}

.banner {
	
	height: 33em;

}

.banner .slider-wrap {
	
	margin-top: -3em;

}

.banner .contain {
	
	padding: 0 $line-height/2;

}

.parallax-back {

	background: #fff url(Taxi-A330-Stage.jpg) top center no-repeat;

}

footer nav:not(.about nav) a, footer nav:not(.about nav) ul {
	
	display: block;

}

footer {

	padding-bottom: 2em;
	background: $grey;

}

footer .about img {
	
	height: 1.3em;

}

footer .about {
	
	background: $dark-grey;

}

footer .about nav a {
	
	font-weight: bold;
	color: $darker-grey;

}

.highlights a {
	
	background: $grey;
	padding-bottom: 2em;
	
}

.highlights a > span {
	
	padding-bottom: 3em;
	
}

.highlights img {
	
	display: block;
	margin-bottom: -1em;
	border-bottom: 4px solid #d6d3cc;
	padding-bottom: 0 !important;
	
}

.highlights span span {
	
	color: #333;
	text-transform: uppercase;
	font-size: .7em;
	display: block;
	margin-top: 1em;
	position: absolute;
	bottom: 1em;
	line-height: 1;
	
}

.highlights span span:after {
	
	content: ' ►';
	font-size: .8em;

}

.highlights h3 {
	
	line-height: 1;
	margin-top: .7em

}

.slider-wrap.tabs > .slider-nav a {
	
	background: $grey;
	padding: .75em;
	color: $darker-grey;
	border-top: 1px solid #e1dfda;
	border-right: 1px solid #e1dfda;
	
}

.slider-wrap.tabs > .slider-nav a:first-child {
	
	border-left: 1px solid #e1dfda;
	
}

.slider-wrap.tabs > .slider-nav a.active {
	
	background: $darker-grey;
	border-top: 1px solid $darker-grey;
	color: #fff;
	
}

.slider-wrap.tabs > .slider-nav a.active:first-child {
	
	border-left: 1px solid $darker-grey;
	
}

.slider > * {
	
	background: $darker-grey;
	padding: 1em;
	
}

.slider > * .tab {
	
	display: none;
	
}

.offers a, .offers a b, .offers a em {
	
	display: block;
	background: center center no-repeat;
	background-size: cover;

}

.offers a em {
	
	font-style: normal;
	font-weight: bold;

}

.offers a {
	
	margin-bottom: 1em;

}

.offers a span {
	
	background: url(offer-box-bg.png) top right no-repeat;
	color: #fff;
	display: inline-block;
	padding: .5em 3em .5em 1em;
	margin: 4em 0 1em -1em;
	font-size: 1.3em;

}

form .checkbox, form.flat .checkbox label:first-of-type {
	
	margin: 0;

}

