$font-size: 15px;
$line-height: 22px;

body {

	font-family: Helvetica Neue, Arial, sans-serif;
	font-weight: 300;
	color: #555;
	background: #fff;

}

h1 {
	
	font-size: 2.67em;
}

h2 {
	
	font-size: 2.134em;

}

h3, nav, nav a, nav form {
	
	font-size: 1.6em;

}

h4 {
	
	font-size: 1.2em;

}

li > h4 {
	
	margin-top: -1px;

}

h5, nav.sub {
	
	font-size: 1em;

}

h1, h2, h3, h4, h5 {
	
	font-weight: 500;
	color: #488e89;

}

b {
	
	font-weight: bold;

}

a[href] {

	color: #333;

}

	a[href]:hover, input[type=submit]:hover, a.button[href]:hover, button:hover {

		color: #ee8822;

	}

nav a {
	
	color: #666;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 $line-height/2 0 0;

}

	nav a.active[href] {
	
		color: #ee8822;
	
	}
	
	nav.sub a {
	
		color: #727272;
		text-transform: none;
	
	}

	nav.sub li:not(:first-child):before {

		content: '';
		border-left: 1px solid #ddd;
		padding-right: .6em;

	}
	
	nav a[href]:hover {
		
		color: #ee8822;
		
	}

nav form {

	display: inline-block;
	white-space: nowrap;

}

nav form#language-selector .select {

	background: url(../images/country_select_globes.png) center left no-repeat;
	background-position: 0 3px;

}

nav form#language-selector select {

	font-size: .9em;
	border: none;
	-moz-appearance: window;
	vertical-align: middle;
	background: transparent;
	padding-left: 1.5em;

}

#language-selector noscript input[type=submit] {
	
	max-height: .5454em;
	line-height: .5454em;
	padding: 0 .1em;
	min-width: 0;
	margin-top: 0;
	min-height: 0;
	font-size: .8em;

}

.button, input[type=submit], button[type=submit], button[type=reset], button, a.button[href] {

	font-weight: bold;
	background: rgb(0,221,240);
	color: #fff;

}

	.button:active, input[type=submit]:active {

		background: #ccc;
		
	}
	
	.button.big:after {
	
		content: '►';
		padding-left: .3em;
	
	}

	.button.big, input[type=submit], button {

		font-size: 1.2em;
		color: #fff;
		background: rgb(0,221,240);

	}
	
	.button.big:active, input[type=submit]:active {

		background: rgb(0,121,140);

	}

	.button.yellow {
		
		color: #862165;
		background: rgb(251,222,4);
		
	}
	
	.button.yellow:active {
		
		background: rgb(151,122,0);
		
	}
	/* Top */
	
	header .head-right {
		
		text-align: right;
		vertical-align: top;
		
	}
		
		header .head-right nav a {
			
			padding-right: 0;
			
		}
	
		header img {
			
			margin: 0;
			
		}
		
		header form {
			
			display: inline-block;
			font-size: .4em;
			padding: 0;
	
		}
		
		header form select {
			
			height: $line-height;
	
		}
		
		header img.logo {
			
			height: 40px;
	
		}
		
		header .row {
			
			padding: 0;
			
		}
	
/* Head */

header h1, header p {

	color: #333;

}

/* Etc */

.social {
	
	text-align: right;
	
}

.social a + a {
	
	margin-left: 1em;

}

	.checkbox-icon {

		background: rgba(0,221,240,1);

}
