/* IE9- fixes */

$font-size: 15px;
$line-height: 22px;

@import 'theme-variables'; /* Rewrite base variables here; add theme CSS below this one in <head> */

.row > * > .row {

	width: 100%;
	margin: 0;

}

input {
	
	line-height: $line-height*2;

}

select {
	
	padding-right: 0;
	height: $line-height;
	margin-top: $line-height/2;

}

form#language-selector select {
	
	margin-top: 0;
	padding-left: 0;

}

:root select { /* IE9 not IE8 */
	
	height: $line-height*2;
	margin-top: 0;

}

input[type=checkbox], input[type=radio] {
	
	margin-left: 0;

}

input[type=file] {
	
	margin-left: -100%;

}

input[type=submit] {
	
	padding: 0;
		
}

form .select, form .file-input {
	
	background-image: none;

}

.slider-nav {
	
	left: 1em;
	
}

.vertical .slider-nav {
	
	top: 1em;

}

nav input[type=reset], nav input.trigger, nav input.trigger.burger, nav.drop > ul input.trigger {
	
	display: none;

}

nav.drop > ul, nav.drop > ul > li {
	
	display: block;
	visibility: visible;
	opacity: 1;

}

.no-touch nav.drop ul ul li:hover ul, .no-touch nav.drop ul ul li:hover div {
	
	visibility: visible;
	z-index: 4;
	
}
