/* natUIve by rado.bg */

.slider-container {
	
	position: relative;
	overflow: hidden;

}
	
.slider {

	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch; /* fast, hardware-accelerated scrolling */
	background: #fafafa;

}

.slider > * {

	width: 100%;
	display: inline-block;
	white-space: normal;
	margin: 0 -4px 0 0; /* Fix inline-block right padding */
	vertical-align: top;
	overflow: hidden;

}

.slider-arrow {
	
	position: absolute;
	top: 45%;
	left: 1em;
	z-index: 999; /* Stay on top of slider-nav if they are aligned vertically */
	
}
.slider-arrow.right {

	left: auto;
	right: 1em;

}

.slider-arrow, .slider-nav a {
	
	cursor: pointer;
	padding: .6em;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	background: #bbb;
	color: #fff;
	transition: background-color .2s linear;
	line-height: .9em;

}
.slider-arrow, .slider-nav {

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.slider-nav a.active {

	background: #666;

}

.slider-nav {
	
	text-align: center;
	position: absolute;
	bottom: 1em;
	width: 100%;
	
}
		
.slider-nav a {
	
	display: inline-block;
	margin: .5em;
	
}

.slider > * > img {

	display: block; /* Fix image bottom padding */
	margin: 0 auto;

}

.disable-hover, .disable-hover * {

	pointer-events: none !important;

}
