/* natUIve – Modal */

@import 'natuive-setup';

.full-window-wrap {

	z-index: 999999;
	background: #fff;
	background: rgba(255,255,255,.97);
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-top: none;
    -webkit-overflow-scrolling: touch;
    padding-top: 0;

	}
	
	.full-window-wrap > .content {
		
		overflow-y: scroll;
		position: relative;
		background: transparent;
		height: calc(100% - 3em);
		padding-top: 3em;

	}
	
	.full-window-wrap .close {

		color: #fff;
		cursor: pointer;
		padding: 0 .6em;
		font-weight: bold;
		background: #000;
		background: rgba(0,0,0,.7);
		width: 100%;
		z-index: 99999;
		top: 0;
		overflow: hidden;

	}

	/* On touch, disable fixed-position "close" bar, because it's jumpy */
	.no-touch .full-window-wrap .close {

		position: fixed;

	}

	.no-touch .full-window-wrap {
	
		overflow-y: scroll;
	
	}

	.no-touch .full-window-wrap.headless {
		
		padding-top: 0;

	}

	.no-touch .full-window-wrap > .content {

		height: 100%;
	
	}

	.full-window-wrap > * {
		
		background: #fff;
		position: relative;
		
	}
	
	.full-window-wrap-bg {
		
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		cursor: crosshair;
		background: transparent;

	}

