@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bold-webfont.woff') format('woff'),
         url('fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans_extraboldregular';
    src: url('fonts/opensans-extrabold-webfont.eot');
    src: url('fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('fonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('fonts/opensans-extrabold-webfont.svg#open_sans_extraboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('fonts/opensans-condbold-webfont.eot');
    src: url('fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-condbold-webfont.woff') format('woff'),
         url('fonts/opensans-condbold-webfont.ttf') format('truetype'),
         url('fonts/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('opensans-italic-webfont.eot');
    src: url('opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-italic-webfont.woff') format('woff'),
         url('opensans-italic-webfont.ttf') format('truetype'),
         url('opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	
	font-size: 16px;
	font-family: 'open_sansregular', 'Helvetica Neue', sans-serif; 
	
}

#main {
	
	background: #f6f6f6 url(../images/content.gif);
	box-shadow: 0 1px 2px #333;

}
#main .column3 {
	
	box-shadow: 0 0 5px #666;
	padding: 2em 1em;
	border-radius: 2px;
	text-align: center;
	background: #f6f6f6 radial-gradient(ellipse at center,  #ffffff 51%,#d6d6d6 100%);
	
}
#main h3 {
	
	color: #801866;
}



.slider-container .slider-arrow {
	
	display: none;
	
}

.slider {
	
	background: transparent;

}
.slider-nav {
	
	text-align: right;
	top: 0;
	bottom: auto;
	right: 1em;
	
}
.slider-nav a {
	
	text-align: center;

}


.center {
	
	text-align: center;
	
}

#main .row {
	
	border-spacing: 1em;

}

.column, .column2, .column3, .column23, .column4, .column34 {

	padding: 0;

}

.row > * {
	
	position: relative;
	
}

.banner {
	
/* 	background: transparent url(../images/scanlines.png), transparent url(../images/header_circle_1280.png) left 1em no-repeat; */
	background-color: #862165;
	background: url(../images/scanlines.png), #862165 url(../images/header_circle_1280.png) no-repeat 5% 0;
	font-size: 20px;
/* 	padding-top: 1em; */
	
}

.banner .container {
	
	background-image: -webkit-radial-gradient(50% 100%, circle farthest-side, #c02499, rgba(192, 36, 153, 0) 80%);
	
}

.banner, #head .banner p, #footer {
	
	color: #fff;
	
}
.banner .column, .banner .column2, .banner .column2 {
	
	padding-bottom: 0;
	
}

.banner.row .container {
	
	padding: 0 6%;
	
}

.banner img {
	
	display: block;
	
}

.banner h2 {

	margin-top: .6em;
	
}
.banner.row {
	
	
}

.nav {
	
	font-family: 'open_sans_condensedbold', 'Helvetica Neue', Arial, sans-serif;
	
}

.nav .active {
	
	position: relative;
	
}

.nav .active:after {
	
	content: "";
	left: 0;  
	right: 0;
	height: 14px;
	display: block;
	position: absolute;
	bottom: -10px;
	background: transparent url(../images/nav-arrow.png) center center no-repeat;
	
}

.subnav a:link, .subnav a:visited {
	
	text-shadow: none;
	color: #333;
	padding: .5em 0;
	
}

.subnav {

	background: #ddd;
	border-top: 1px solid #b2b2b2;
	
}
.subnav li::before {
	
	color: #aaa;
	
}
#footer .subnav {
	
	margin-bottom: 1em;
	
}

#footer {
	
	background-color: #801866;
	background-image: -webkit-linear-gradient(top, #661351, #801866, #c02499);
	background-image: -moz-linear-gradient(top, #661351, #801866, #c02499);
	background-image: -ms-linear-gradient(top, #661351, #801866, #c02499);
	background-image: -o-linear-gradient(top, #661351, #801866, #c02499);
	background-image: linear-gradient(top, #661351, #801866, #c02499);

}

html {
	
	background: #c02499;
}

	#top .row:first-child .column2, #top .row:first-child .column34, #top .row:first-child .column4 {
		
		vertical-align: top;
				
	}

	#top .column2 > div, #top .column4 {
		
		vertical-align: top;
		text-align: right;

	}
	
	#top .row > * {
		
		padding-bottom: 0;
		
	}


#top img {
	
	margin-right: 1em;
	
}

#main .row {

	margin-top: -6em;

}

h1, h2, h3, h4, h5, a.button {
	
	font-family: 'open_sans_extraboldregular', 'Helvetica Neue', Arial, sans-serif;
	
}

h2 { 
	
	font-size: 2.3em;
	
}

h3 {
	
	font-size: 1.5em;
	
}

a.button {
	
font-family: 'open_sansbold', 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	text-shadow: 1px 1px 1px #eee;
	background-image: -webkit-linear-gradient(
	  top,
	  #f1f1f1,
	  #cbcbcb
	);

}
a.button.yellow {
		background-image: -webkit-gradient(
  linear,
  left top, left bottom,
  from(#f6d31c),
  to(#F4AA00)
);
	

}
a.button.big {
	
	font-size: .9em;
	background-image: -webkit-linear-gradient( top, #f6d31c, #F4AA00 );
	
}

#language select {
	
	font-weight: normal;
	font-family: 'open_sansregular', 'Helvetica Neue', Arial, sans-serif;
	color: #666;
	
}

#top .row > .column4:first-child {
	
	display: none;
	
}

.wide-screen {
	
	display: block;
	
}

.narrow-screen {
	
	display: none !important;
	
}

#nav-main {
	
	display: inline-block;

}

#nav-main label {
	
	display: none;
	
}

#nav-main li ul {
	
	display: none;
	
}

#top li ul {
	
	display: none;
	
}

#top .subnav li.active {

	position: relative;
	color: #000;
	
}

#top .subnav li.active li {

	display: block;
	white-space: nowrap;
	
}

#top .subnav li.active li:before {

	display: none;
	
}

#top .subnav li.active ul {
	
	display: inline-block;
	position: absolute;
	top: 2em;
	left: 0;
	z-index: 99999;
	background: #ddd;
	padding: .5em;
	margin-left: -.5em;
	
}

@media screen and (max-width: 512px) {

	#main .column3 {

		padding: 3% 1%;
		margin: 5% 0;

	}
	
	#head {
				
	}
	
	#top {
		
		z-index: 99999;
		min-height: 3.3em;		

	}
	
	#top .column34 {
		
		text-align: center;
		background: #fff;
		padding-bottom: 0;
		height: 20px;
		
	}
	
	#top .column4 {

		right: 1em;
		display: table-cell;
		width: 25%;
		vertical-align: middle;
		padding-bottom: 0;

	}	
	
	#top .nav {
		
		background: #fff;
		position: fixed;
		top: 2em;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: scroll;
		padding: .3em .5em;
		display: none;

	}
	
	#top a:link ~ a:link {
		
		display: none;
		
	}
	
	#top .row {
		
		border-spacing: 0;
		position: fixed;
		background: #fff;
		z-index: 99999;
		box-shadow: 0 2px 3px #666;
		padding-top: .5em;
		
	}
	
	#top .row > .column4:first-child {
		
		display: table-cell;
		
	}
	
	#top img {
		
		height: 2em;
		
	}

	#top .row:first-child .column2, #top .row:first-child .column34, #top .row:first-child .column4 {
		
		padding-bottom: .5em;
				
	}
	
	.wide-screen {
		
		display: none;
		
	}

	.narrow-screen {
		
		display: block !important;
		
	}

	#top #nav-main > input:checked ~ .nav, #top #nav-main > input:checked ~ div .nav {
		
		display: block;
		
	}

	
	#nav-main {
		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		position: fixed;
		left: .5em;
		
	}
	
	#nav-main label {
		
		cursor: pointer;
		margin: .5em 0;
		display: block;
		
	}
	
	#nav-main .nav li, #nav-main .subnav li {
		
		display: block;
		text-align: left;
			
	}
	
	#nav-main form {
		
		text-align: left;
	}
	
	#nav-main li a {
		
		display: block;
		padding: .3em 0;
		
	}
	
	.nav ul {
		
		display: none;
	}
	
	.nav .active:after {
	
		display: none;
	
	}
	
	#top li ul {
		
		display: block;
		margin-left: 1em;
	}

}
