/* natUIve – Button */

@import 'natuive-setup';

.button, button {
	
	font-size: $font-size;
	line-height: $line-height;
	min-height: $line-height;

}

.button.big {
	
	line-height: $line-height * 2;
	min-height: $line-height * 2;
	
}

.button, input[type=submit], button[type=submit], button[type=reset], button, a.button[href] {

	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	width: auto;
	word-break: break-word;
	padding: 0 .7em;
	-webkit-appearance: none;
	background: #333;
	color: #eee;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
	border: none;
	font-family: inherit;

}

	button:not(.big), .button:not(.big) {
		
		margin: 0;
		line-height: $line-height - 1px;
		min-height: $line-height - 1px;

	}
	
	button[disabled] {
		
		cursor: default;
		opacity: .2;

	}

	.button:hover, input[type=submit]:hover, button[type=submit]:hover, button[type=reset]:hover, form button:hover, a.button[href]:hover, button:not([disabled]):hover {
		
		background: #eee;
		color: #333;
		
	}

	a.button + a.button {
		
		margin-left: $line-height/2;
		
	}

	.button, input[type=submit], label, .trigger, td[data-sort] {
	
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

	}

	.button.big, input[type=submit], form button, button.big {

		padding: 0 1em;
		margin: $line-height 0;
		height: $line-height*2;
		font-size: 1.2em;

	}

@media screen and (max-width: $screen-narrow) {

	.button.big {
		
		display: block;
		text-align: center;
		
	}
	
}