/* natUIve Slider */

.slider-container {
	
	position: relative;
	overflow: hidden;
	max-height: 100%;

}

.slider-container.vertical-thumbnails {
	
	padding-left: 33%;

}

.slider-container.vertical-thumbnails .slider-nav.thumbnails {
	
	position: absolute;
	top: 0px;
	left: 0px;
	width: 33%;
	display: block;
	background: #fff;
	padding-right: 0.5em;	

}

.slider-container.vertical-thumbnails .slider-nav.thumbnails a {
	
	display: block;

}

.slider-container.full-screen {
	
	top: 0px;
	bottom: 0px;
	height: 100%;
	right: 0px;
	left: 0px;
	width: 100%;
	z-index: 99999;
	background: #FFF;
	position: fixed;

}
	
.slider {

	overflow-x: visible;
	overflow-y: hidden;
	white-space: nowrap; /* keep inline-block elements together */
	word-wrap: normal; /* IE8 fix */
	position: relative;
	-webkit-overflow-scrolling: auto; /* momentum scrolling off because of iOS 8 new behaviour */
    -webkit-transform: translate3d(0, 0, 0); /* fast, hardware-accelerated scrolling */
    -webkit-transform: translateZ(0);
	-ms-overflow-style: none; /* No scrollbars on IE10+ */
	font-size: 0; /* no space between inline-block */
	-webkit-transform-style: preserve-3d;
	left: 0;

}

.slider-container .slider {
	
	overflow-y: visible;
	
}

.slider-container.vertical, .slider.vertical {
	
	height: 500px;

}

.slider.vertical {
	
	overflow-x: hidden;
	overflow-y: scroll;

}

.slider-container .slider.vertical {
	
	overflow-x: visible;
	overflow-y: visible;

}

.full-screen .slider {
	
	height: 100%;

}

.slider > * {

	width: 100%;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	overflow: hidden;
	padding: 0;
	font-size: 15px;
	margin: 0;

}

.slider.vertical > * {

	height: 100%;
	display: block;
	
}

.slider.vertical > img {

	width: auto;
	max-width: none;
	
}

.full-screen .slider > img {
	
	padding: 0 !important;
	
}

.slider > *:after { /* Slide background with full slider height */
	
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background: transparent;
	z-index: -1;

}

.row > .slider {
	
	padding: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;

}

.slider.lightbox > * {

	height: 100%;
	text-align: center;
	position: relative;
	
}

.slider.lightbox > *:before {

	content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
	height: 100%;

}

.slider.lightbox > * p { /* Image captions */

	position: absolute;
	width: 100%;
	bottom: 3em;
	text-align: center;
	text-shadow: 0 -1px 1px #999;
	color: #000;

}

.slider::-webkit-scrollbar {

    display: none;

}

.slider-arrow {
	
	position: absolute;
	top: 45%;
	left: 1em;
	z-index: 999; /* Stay on top of slider-nav if they are aligned vertically */
	
}

	.slider-arrow:before {
	
		content: "←";
	
	}

	.vertical .slider-arrow:before {
	
		content: "↑";
	
	}

	.vertical .slider-arrow {
		
		top: 1em;
		left: calc(50% - 1em);
		text-align: center;
	
	}

	.slider-arrow.right {
	
		left: auto;
		right: 1em;
	
	}

	.slider-arrow.right:before {
	
		content: "→";
	
	}

	.vertical .slider-arrow.right:before {
	
		content: "↓";
	
	}

	.vertical .slider-arrow.right {
	
		left: calc(50% - 1em);
		right: auto;
		bottom: 1em;
		top: auto;
	
	}
	
	.slider-arrow, .slider-nav a {
		
		cursor: pointer;
		padding: .6em;
		width: 1em;
		height: 1em;
		-webkit-border-radius: 50px;
		border-radius: 50%;
		background: #bbb;
		color: #fff;
		transition: background-color .2s linear;
		line-height: .7em;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	
	}

.slider-arrow, .slider-nav {

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.slider-nav {
	
	text-align: center;
	position: absolute;
	bottom: .5em;
	width: 100%;
	
}

	.vertical .slider-nav {
		
		width: auto;
		top: 0;
		bottom: 0;
		height: 100%;
		left: .5em;
		padding: 1em 0;
		
	}

	.vertical .slider-nav div {
		
		height: 100%;
		display: table;
		
	}

	.vertical .slider-nav span {

		display: table-cell;
		vertical-align: middle;

	}
	
	.slider-nav a {
		
		display: inline-block;
		margin: .5em;
		line-height: .9em;
		
	}
	
	.vertical .slider-nav a {
		
		display: block;
		
	}
		
	.slider-nav a.active {
	
		background: #fff;
		color: #666;
	
	}

	.slider-nav.thumbnails {
		
		right: auto;
		position: static;
		
	}

	.slider-nav.thumbnails .row {
		
		padding: 0;

	}
	
	.full-screen .slider-nav.thumbnails {
		
		position: absolute;
		bottom: 0;
		padding: 0;
	
	}
	
	.slider-nav.thumbnails a {
		
		text-indent: 0;
		width: auto;
		height: auto;
		display: table-cell;
		text-align: left;
		color: #333;
		border-radius: 0;
		line-height: 22px;
		padding: 0 .5em;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		margin: 0;
	
	}

.slider > * > img {

	max-height: 100%;
    vertical-align: middle;
}
