/* natUIve by rado.bg */

.slider-container {
	
	position: relative;
	overflow: hidden;

}
	
.slider {

	overflow-x: visible;
	overflow-y: hidden;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch; /* momentum scrolling */
    -webkit-transform: translate3d(0, 0, 0); /* fast, hardware-accelerated scrolling */
    -webkit-transform: translateZ(0);
/* 	font-size: 0; */
	z-index: 0;
	-ms-overflow-style: none; /* No scrollbars on IE10+ */

}

.slider > * {

	width: 100%;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	overflow: hidden;
	padding: 0;
/* 	font-size: 15px; */

}

.slider::-webkit-scrollbar {

    display: none;

}

.slider-arrow {
	
	position: absolute;
	top: 45%;
	left: 1em;
	z-index: 999; /* Stay on top of slider-nav if they are aligned vertically */
	
}
.slider-arrow.right {

	left: auto;
	right: 1em;

}

.slider-arrow, .slider-nav a {
	
	cursor: pointer;
	padding: .6em;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	background: #bbb;
	color: #fff;
	transition: background-color .2s linear;
	line-height: .9em;

}
.slider-arrow, .slider-nav {

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.slider-nav a.active {

	background: #fff;
	color: #666;

}

.slider-nav {
	
	text-align: center;
	position: absolute;
	bottom: 1em;
	width: 100%;
	
}
		
.slider-nav a {
	
	display: inline-block;
	margin: .5em;
	
}

.slider > * > img {

	display: block; /* Fix image bottom padding */
	margin: 0 auto;

}

.disable-hover, .disable-hover * {

	pointer-events: none !important;

}

.slider-nav.thumbnails {
	
	right: auto;
	position: static;
	
}

.slider-nav.thumbnails a {
	
	text-indent: 0;
	width: auto;
	height: auto;
	display: table-cell;
	text-align: left;
	color: #333;
	border-radius: 0;
	line-height: 1.2;
	padding: .5em;	
}
