/* natUIve – rado.bg */

@charset 'utf-8';

@import 'natuive-setup';
@import 'theme-variables'; /* Rewrite base variables here; add theme CSS below this one in <head> */
@import 'natuive-grid';
@import 'natuive-button';
@import 'natuive-form';
@import 'natuive-table';
@import 'natuive-nav';
@import 'natuive-list';
@import 'natuive-accordion';
@import 'natuive-tooltip';
@import 'natuive-slider';
@import 'natuive-modal';
@import 'natuive-parallax';

.contain {

	max-width: 82em;
	margin: 0 auto;

}
	
/* Basic elements */

html {
	
	overflow-x: hidden;

}

html, body {
	
	height: 100%;
	margin: 0 auto;
	
}

html.nooverflow, html.nooverflow body {
	
	overflow: hidden;

}

.no-hover, .no-hover * {

	pointer-events: none !important;
	-webkit-transition: -webkit-transform .4s ease;
	transition: transform .4s ease;

}

/* Elements with single line-height */

html, body, p, h4, h5 {
	
	font-size: $font-size;
	line-height: $line-height;
	min-height: $line-height;

}

/* Elements with double line-height */

h1, h2, h3, .full-window-wrap .close {
	
	line-height: $line-height * 2;
	min-height: $line-height * 2;
	
}

body {

	position: relative;
	width: 100%;
	height: auto;
	min-height: 100%;
	-webkit-text-size-adjust: none;
	display: flex;  /* Sticky footer */
	flex-direction: column;
	color: #333;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,.5);
	
}

body * {
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* iOS: Don't flash on tap */

}

h1, h2, h3, h4, h5, h6 {
	
	margin: 0;
	word-break: break-word;
	word-wrap: break-word;

}

img {
	
	max-width: 100%;
	height: auto;
	border: none;
	
}

pre {
	
	overflow: auto;

}

p, header {

	margin: $line-height 0;

}

.drop-cap:first-letter {

	float: left;
	font-size: 5em;
	padding: .1em .1em .1em 0;

}

.header-and-banner {

	flex: none;	

}

.viewport.header-and-banner {
	
	height: 100vh;
	overflow: auto;

}

header .row {
	
	padding: 0;
	
}


header a.logo {
	
	display: inline-block;
	min-height: 46px; /* Don't shift page after image is loaded */

}

a[href] {
	
	color: #333;

}

.wide-screen {
	
	display: block;
	
}

.narrow-screen {
	
	display: none !important;
	
}
	
/* Main */

main#content {
	
	flex: 1 0 auto;
	
}

/* Footer */

footer {
	
	flex: none;
	position: relative; // backtotop button
	
}

footer .row > * {
	
	position: static;

}

/* Back to top button */

.backtotop[href] {

	text-align: center;
	display: block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	margin: .7333em auto;
	font-weight: bold;
	background: transparent;
	background: rgba(0,0,0,.2);
	color: #fff;
	border-radius: 2em;
	font-family: Hiragino Mincho ProN; /* fix for iOS */
	cursor: pointer;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-decoration: none;
	z-index: 999;

}
	
.quote, blockquote {
	
	margin-left: 1em;
	border-left: 1px solid #bbb;
	padding-left: 1em;
	
}

video {
	
	height: auto !important;
	background: #000;
	margin: 0 auto;
	display: block;

}

video a[href] {
	
	color: #fff;

}

/* Image aspect ratio – don't shift the page after loading the image */

.aspect {
	
	 display: block;
	 overflow: hidden;
	 text-align: center;

}

.aspect > * {
	
	display: inline-block;
	vertical-align: top;

}

.aspect img {
	
	max-width: 100%;
	height: auto;
	padding-bottom: 0 !important;
	vertical-align: middle;

}

.aspect span { /*  Ratio can be overwritten with inline CSS padding-bottom */

	padding-bottom: 56.25%; /*    y / x * 100   default 16:9    */
	width: 0; 
	display: inline-block;
	vertical-align: middle;

}

/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {

    overflow: auto;
    -webkit-overflow-scrolling: touch;

}

/* Narrow Screens */

@media screen and (max-width: $screen-narrow) {

	header {
		
		margin: 0;
		
	}
		
	.wide-screen {
		
		display: none !important;
		
	}

	.narrow-screen {
		
		display: block !important;
		
	}

	.viewport.header-and-banner {
		
		height: auto;
		
	}
	
	header > .row:first-child div {
		
		text-align: right;
		
	}
 	
		form#language-selector select {
			
			height: auto;
			width: 100%;
			background-position: calc(100% - .5em);
			margin-left: 0;
			
		}

		form#language-selector select {
			
			margin-left: 0;
			
		}
		
		header .head-right {
			
			text-align: left;
		
		}
	
	.semi-transparent main, .semi-transparent footer, .semi-transparent header > .row {
		
		opacity: .1;
	
	}
	
	footer .row > * {
		
		display: inline-block;
		
	}

	footer .row p {
		
		margin: 0;
		
	}

	footer .row > .social {
		
		float: right;
		
	}
	
}

hr {

    display: block;
    height: 1px;
    border: 0;   
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;

}
