/* natUIve – List */

@import 'natuive-setup';

ul {

	padding-left: 1.3em;
	font-size: $font-size;
	line-height: $line-height;
	min-height: $line-height;
	margin: $line-height 0 $line-height .3em;

}

ul li {
	
	margin: $line-height 0 0 0;

}

ol {

    list-style-type: none;
    counter-reset: level1;
	padding: 0;
	margin: 0;

	}

ol > li {

	text-indent: -2.3em;
	margin-left: 2.3em;

}

ol li > * {
	
	text-indent: 0;
	display: inline-block;

}

ol li > ul {
	
	display: block;

}

ol > li:before {

    content: counter(level1);
    counter-increment: level1;
    font-weight: bold;
    background: #999;
    padding: $line-height/4 .6em $line-height/4 .6em;
    border-radius: 1em;
    margin-right: .5em;
    color: #fff;

}

ol > li ol {

    list-style-type: none;
    counter-reset: level2;
	display: block;

}

ol > li ol > li:before {

    content: counter(level1) '.' counter(level2) ' ';
    counter-increment: level2;
    padding: $line-height/4 .4em $line-height/4 .5em;
    border-radius: 1em;
    background: #999;
    color: #fff;

}

ol ol > li ol {

    list-style-type: none;
    counter-reset: level3;
    margin-left: 1em;

}

ol ol > li ol > li:before {

    content: counter(level1) '.' counter(level2) '.' counter(level3) ' ';
    counter-increment: level3;

}

ol ol > li {

	text-indent: -3em;

}

ol ol ol > li {

	text-indent: -3.9em;

}

ol ul {

	text-indent: .1em;

}

ol p {

	text-indent: 0;

}
