@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bold-webfont.woff') format('woff'),
         url('fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans_extraboldregular';
    src: url('fonts/opensans-extrabold-webfont.eot');
    src: url('fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('fonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('fonts/opensans-extrabold-webfont.svg#open_sans_extraboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('fonts/opensans-condbold-webfont.eot');
    src: url('fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-condbold-webfont.woff') format('woff'),
         url('fonts/opensans-condbold-webfont.ttf') format('truetype'),
         url('fonts/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('opensans-italic-webfont.eot');
    src: url('opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-italic-webfont.woff') format('woff'),
         url('opensans-italic-webfont.ttf') format('truetype'),
         url('opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	
	background: #c02499;
}

body {
	
	font-size: 16px;
	font-family: 'open_sansregular', 'Helvetica Neue', sans-serif;
	background: #f6f6f6 url(../images/content.gif);
	
}

	body.lock-position {
	
		height: 100%;
		overflow: hidden;
		width: 100%;
	
	}
	
	body.lock-position .backtotop {
		
		display: none;
		
	}
	
h1, h2, h3, h4, h5 {
	
	font-family: 'open_sans_extraboldregular', 'Helvetica Neue', Arial, sans-serif;
	color: #801866;
	
}

	h2 { 
		
		font-size: 2.3em;
		
	}
	
	h3 {
		
		font-size: 1.5em;
		
	}
	
#main a:link, #main a:visited {

	color: #801866;
	text-decoration: none;

}

#main h3 {
	
	color: #801866;

}
	
/* Teaser Box */

.teasers {
	
	border-spacing: 1em;
	padding-bottom: 1em;
	margin-top: -5em;
	
}

.teasers.contain {
	
	overflow: visible;
	
}

	.teasers > div {
		
			box-shadow: 0 0 5px #666;
			border-radius: 2px;
			background: #f6f6f6 url(../images/content.gif);
			background: #f6f6f6 radial-gradient(ellipse at center,  #ffffff 51%,#d6d6d6 100%);
			border: 1px solid #ccc;
			transition: all .2s linear;
		
	}

	.teasers > div:hover {
		
		box-shadow: 0 0 2px #666;
		border: 1px solid #aaa;
		
	}
	
	.teasers > div > div {
		
		position: static;
		height: 100%;
		text-align: center;
		padding: 1em .5em 2em .5em;
		
	}
	
	.teasers > div > div > a:link, .teasers > div > div > a:visited {
		
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		bottom: -50%; /* IE fix */
		left: 0;
		z-index: 9;
		background: url(../images/transparent.png); /* IE8,9,10 */
		text-indent: -999em;

	}

	.teasers > div > div:before, .teasers > div > div:after {
	
		content: "";
		width: 50px;
		height: 50px;
		margin: 0 auto;
		
		box-shadow: inset 0 6px 4px -4px #666;
		
		border-radius: 25px;
		background: url(../images/content.gif) center top repeat;  
		
		position: absolute;
		display: inline-block;
		bottom: -30px;
		left: 50%;
		margin: 0 -25px;
	
	}
	
	.teasers > div > div:after {

		background: url(../images/arrow-multi_teaser_yellow.png) 15px center no-repeat;  	
	
	}

	@-moz-document url-prefix() {
		
		.teasers > div > div { position: relative; height: 100%; padding-bottom: 1em; }
	
		.teasers > div > div:before, .teasers > div > div:after { bottom: -.2em; }
		
		.teasers > div > div > a:link, .teasers > div > div > a:visited { bottom: -.2em; }

	}

/* Slider Tweaks */
	
.banner .slider-container {
	
	width: 88%;
	margin: 0 auto;
	
}

	.slider-container .slider-arrow {
		
		display: none;
		
	}

	.slider {
		
		background: transparent;
	
	}
	
	.slider-nav {
		
		text-align: right;
		top: 1em;
		bottom: auto;
		right: 1em;
		
	}
	.slider-nav a {
		
		text-align: center;
	
	}
	
	.slider-arrow, .slider-nav a {
		
		background: #fff;
		text-indent: -999em;
		width: 1.2em;
		height: 1.2em;
		padding: 0;
		margin: .3em;
			
	}
	
	.slider-nav a.active {
		
		background: orange;
	
	}
	
	.slider .row > * {
		
		padding: 0;
		
	}

#top .row {
	
	border-spacing: .2em;
	overflow: visible;
	
}

	#top .column2 {
		
		vertical-align: bottom;
		
	}
	
	#top .row > *, #footer .row > * {
		
		padding: 0 .5em;
		
	}


	#top img {
		
		margin-right: 1em;
		
	}
	
#head {
	
	background: #fff;
	
}

.banner {
	
	background-color: #862165;
	background: url(../images/scanlines.png), #862165 url(../images/header_circle_1280.png) no-repeat 5% 0;
	font-size: 20px;
	
}

	.banner .contain {
		
		background-image: -webkit-radial-gradient(50% 100%, circle farthest-side, #c02499, rgba(192, 36, 153, 0) 80%);
		
	}
	
	.banner, #head .banner p, #footer {
		
		color: #fff;
		
	}
	
	.banner.row .contain {
		
		padding: 0;
		
	}
	
	.banner.row > div {
		
		padding: 0;
		
	}
	
	.banner img {
		
		display: block;
		
	}
	
	#head .banner h2, #head .banner h1 {
	
		margin-top: .6em;
		color: #fff;
		
	}
	
	.banner .slider img {
		
		max-width: none;
		
	}

.nav {
	
	font-family: 'open_sans_condensedbold', 'Helvetica Neue', Arial, sans-serif;
	
}

	.nav .active {
		
		position: relative;
		
	}
	
	.nav > li.active > a:link, .nav > li.active  > a:visited {
	
		color: #801866;
		
	}
	
	.nav .active:after {
		
		content: "";
		left: 0;  
		right: 0;
		height: 14px;
		display: block;
		position: absolute;
		bottom: -.293em;
		background: transparent url(../images/nav-arrow.png) center center no-repeat;
		
	}

	.nav .active:after {
	
		display: none;

	}
		
	.sub.nav a:link, .sub.nav a:visited {
		
		padding: .5em;
		text-shadow: 1px 1px #eee;
		color: #666;
		border-left: 1px solid rgba(0,0,0,0);
		
	}

	.sub.nav a:hover {
		
		color: #333;
		
	}
		
	.sub.nav ul ul a:link, .sub.nav ul ul a:visited {
	
		display: block;	
		
	}
	
	.sub.nav ul ul li:before {
	
		display: none;
	
	}
	
	.sub.nav {
	
		background: #ddd;
		border-top: 1px solid #b2b2b2;
		
	}
	
	.sub.nav li:before {
		
		color: #aaa;
		
	}
	
	.sub.nav label.trigger {
	
		width: 12px;
		height: 12px;
		border: 1px solid #999;
		border-radius: 2px;
		background: url(../images/triangle-subnav.png) center center no-repeat;
	
	}

	.sub.nav .row {
		
		overflow: visible;
		
	}
		
	.sub.nav label.trigger:before {
		
		display: none;
		
	}
	
	#top .sub.nav.wide-screen div > ul {
		
		 margin-left: -.8em;

	}
	
	.sub.nav a.logo {
		
		float: left; height: 0; overflow: hidden; padding-top: 1px; padding-bottom: 0; padding-right: 0;		
		
	}
	
	#language select {
		
		font-weight: normal;
		font-family: 'open_sansregular', 'Helvetica Neue', Arial, sans-serif;
		color: #666;
		
	}
	
	#nav-main {
		
		display: inline-block;
	
	}
	
	#nav-main label {
		
		display: none;
		
	}
	
	#nav-main label[for="nav-narrow"] {
		
		border: 1px solid #c0c0c0;
		border-radius: 2px;
		position: relative;
		width: 2.4em;
		background: #d6d6d6; /* Old browsers */
		background: -moz-linear-gradient(top,  #eeeeee 0%, #d7d7d7 99%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(99%,#d7d7d7)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #eeeeee 0%,#d7d7d7 99%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #eeeeee 0%,#d7d7d7 99%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #eeeeee 0%,#d7d7d7 99%); /* IE10+ */
		background: linear-gradient(to bottom,  #eeeeee 0%,#d7d7d7 99%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-9 */	
	
	}
	
	#nav-main label[for="nav-narrow"]:before {
	
		content: "";
		position: absolute;
		top: 0.08em;
		left: 0.13em;
		width: .6em;
		height: 0.13em;
		border-top: 0.35em double #801866;
		border-bottom: 0.12em solid #801866;
		-webkit-transform: scale(1,.8);
		transform: scale(.9,.8);
	 	
	}
	
	#nav-main li ul {
		
		display: none;
		
	}
	
	#top .sub.nav li {
	
		position: relative;
		color: #000;
		
	}
	
	#top .sub.nav li ul li:not(:first-child) a {
	
		border-top: 1px solid #fff;
	
	}
	
	#top .sub.nav li ul li:not(:last-child) a {
	
		border-bottom: 1px solid #c1bfbf;
	
	}
	
	#top .sub.nav li.active li {
	
		display: block;
		
	}
	
	#top .sub.nav li.active li:before {
	
		display: none;
		
	}
	
	/* 3rd level navigation dropdown on wide screens */
	
	#top .sub.nav li ul {
		
		display: block;
		position: absolute;
		top: 1.6em;
		left: 1px;
		z-index: 99999;
		background: #ddd;
		padding: 0;
		max-height: 0;
		overflow: hidden;
		-webkit-transition: max-height .2s ease-in-out;
		transition: max-height .2s ease-in-out;
		border: 1px solid rgba(0,0,0,0);
		border-top: none;
		border-bottom: none;
		box-shadow: -1px 1px 1px #999999, 1px 1px 1px rgba(0, 0, 0, .3);
	
	}
	
	#top .sub.nav li:first-child ul {
	
		left: 0;
	
	}
	
	#top .sub.nav li ul.open {
		
		max-height: 500px;
	
	}
	
	#top .sub.nav li input.trigger:checked ~ ul {
		
		max-height: 500px;
	
	}
	
	#top .sub.nav li input.trigger:checked ~ a, #top .sub.nav li input.trigger:checked ~ a {
		
		box-shadow: -1px 1px 1px #999999, 1px 1px 1px rgba(0, 0, 0, .3);
		
	}
	

	#top .sub.nav li:first-child a {
		
		padding-left: .5em;

	}

	#footer .sub.nav {
		
		margin-bottom: 1em;
		
	}
	
#footer {
	
	background-color: #801866;
	background-image: -webkit-linear-gradient(top, #661351, #801866, #c02499);
	background-image: -moz-linear-gradient(top, #661351, #801866, #c02499);
	background-image: -ms-linear-gradient(top, #661351, #801866, #c02499);
	background-image: -o-linear-gradient(top, #661351, #801866, #c02499);
	background-image: linear-gradient(top, #661351, #801866, #c02499);

}

a.button, #main input[type='submit'] {
	
	font-family: 'open_sansbold', 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	text-shadow: 1px 1px 1px #ddd;
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1f1f1 0%, #cbcbcb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#cbcbcb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f1f1 0%,#cbcbcb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f1f1 0%,#cbcbcb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f1f1 0%,#cbcbcb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1f1f1 0%,#cbcbcb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#cbcbcb',GradientType=0 ); /* IE6-9 */

	border: 1px solid #c0c0c0;

}

	a.button.yellow, #main input[type='submit'] {
	
		border: 1px solid #F4AA00;
		background: #f6d31c; /* Old browsers */
		background: -moz-linear-gradient(top,  #f6d31c 0%, #f4aa00 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6d31c), color-stop(100%,#f4aa00)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f6d31c 0%,#f4aa00 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f6d31c 0%,#f4aa00 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f6d31c 0%,#f4aa00 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #f6d31c 0%,#f4aa00 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d31c', endColorstr='#f4aa00',GradientType=0 ); /* IE6-9 */
	
	}
	
	a.button.blue {
	
		background: #00c6eb; /* Old browsers */
		background: -moz-linear-gradient(top,  #00c6eb 0%, #009ddc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00c6eb), color-stop(100%,#009ddc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #00c6eb 0%,#009ddc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #00c6eb 0%,#009ddc 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #00c6eb 0%,#009ddc 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #00c6eb 0%,#009ddc 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c6eb', endColorstr='#009ddc',GradientType=0 ); /* IE6-9 */

	}

	a.button.big {
		
		font-size: .9em;
		
	}
	
	#top a.button:link, #top a.button:visited {
		
		color: #555;
		
	}

	#top a.button.yellow:link, #top a.button.yellow:visited {
		
		color: #801866;
		
	}

	.button.big, #main input[type="submit"] {

		color: #801866;

	}

	a.button.yellow:link, a.button.yellow:visited {
		
		color: #801866;
		
	}

	a.button:active, #main input[type='submit']:active {
		
		border-color: transparent;
		text-shadow: none;		
		color: #333;
		
	}

	#main input[type="submit"]:active {

		background: none repeat scroll 0% 0% #977A00;

	}

	#main a.button:hover, #head a.button:hover, #top a.button:hover, #main input[type='submit']:hover, #top a.button.yellow:hover {
		
		color: #333;
		
	}
	
label.trigger {
	
	display: inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0;
	cursor: pointer;
	width: 2em;
	height: 2em;
	line-height: .3;
	overflow: hidden;
	-webkit-transform: translateY(.1em);
	transform: translateY(.1em);
	
}

	ul label.trigger {
		
		width: 1.2em;
		height: 1.1em;
		
	}
	
	label.trigger:hover {
	
		color: red;
		
	}
	
	label.trigger:before {
		
		content: "≣";
		font-size: 3em;
		
	}
	
	ul label.trigger:before {
	
		font-size: 2em;
	
	}
	
	input.trigger {
		
		display: none;
		
	}

.panel {
	
	border-radius: 7px;
	text-align: center;
    padding: 3% 5%;
    border: 1px solid #862165;
    background-color: #801866;
    background: url(../images/scanlines.png), url("img/bg/cta-purple-grad.svg");
    background-image: url(../images/scanlines.png), -webkit-linear-gradient(top, #661351, #801866, #c02499);
    background-image: url(../images/scanlines.png), -moz-linear-gradient(top, #661351, #801866, #c02499);
    background-image: url(../images/scanlines.png), -ms-linear-gradient(top, #661351, #801866, #c02499);
    background-image: url(../images/scanlines.png), -o-linear-gradient(top, #661351, #801866, #c02499);
    background-image: url(../images/scanlines.png), linear-gradient(top, #661351, #801866, #c02499));  
	margin: 1em 0;	

}
	
	.panel.grey {

	    border-color: #c7c8ca;
	    background: #efefef url("img/bg/cta-grey-grad.svg");
	    background-image: -webkit-linear-gradient(top, #f5f5f5, #c9c9c9);
	    background-image: -moz-linear-gradient(top, #f5f5f5, #c9c9c9);
	    background-image: -ms-linear-gradient(top, #f5f5f5, #c9c9c9);
	    background-image: -o-linear-gradient(top, #f5f5f5, #c9c9c9);
	    background-image: linear-gradient(top, #f5f5f5, #c9c9c9));  
 		
	}
	
	.panel, .panel h2 {
		
		color: #fff;
		
	}

	.panel.grey h2 {
		
		color: #801866;
		
	}
	
	.panel.grey {
		
		color: #444;
		
	}
	
	.panel a.button {
		
		font-size: 1.2em;
	}
	
/* Accordion */

.accordion {
	
	margin: 2em 0;
	
}
	
.accordion:before, .accordion:after {

	display: block;
	content: '';
	width: 110px;
	height: 80px;
	bottom: -26px;
	left: -12px;
	position: absolute;
	background: url(../images/accordion-l.png) no-repeat left bottom;

}

.accordion:before {
	
	left: auto;
	right: -12px;
	width: 100%;
	background: url(../images/accordion-r.png) no-repeat right bottom;
	
}

.accordion.open:after { /* invert the arrow */

	background: url(../images/accordion-expanded-l.png) no-repeat left bottom;

}

.accordion > label {

	padding-left: 7em;
	
}

/* Single Text */

.row.single-text > * {
	
	vertical-align: middle;
	
}

/* Table */

	table {
		
		border-radius: .4em;
	}
	
	table tr:first-child td {
		
		border-radius: .4em .4em 0 0;
		
	}
	
	table tr:last-child td {
		
		border-radius: 0 0 .4em .4em;
		
	}

	table tr {
		
		background: #fff;
			
	}
	
	table tr:nth-child(2n+1) {

		background: #ccc;
	}

	table tr:first-child {
	
		background: #801866;
	
	}
	
	table td, table tr td:first-child {
		
		border: none;
		
	}
	
/* Lists */

ul {
	
	margin-left: 0;
}

ul li {
	
	background: url(../images/checklist-yellow.png) left .2em no-repeat;
	list-style: none;
	padding-left: 2em;
}

.blue li {
	
	background: url(../images/checklist-blue.png) left .2em no-repeat;
	list-style: none;
	padding-left: 2em;
}

#top ul li, .sub.nav ul li {
	
	background-image: none;
	padding-left: 0;
}

/* Narrow Screens */

@media screen and (max-width: 640px) {

	@-moz-document url-prefix() 	
	{ 		 		
		.teasers > div > div { position: static; }  	
	}

	.teasers > div {

		margin: 2em 0;

	}
	
	#top {
		
		z-index: 99999;
		min-height: 3.3em;		

	}
	
		#top .column2 {
			
			text-align: center;
			
		}
		
		#top .nav {
			
			background: transparent;
			position: fixed;
			top: 2.1em;
			left: 0;
			right: 0;
			bottom: 0;
			overflow-y: scroll;
			display: block;
			height: 0%;
			-webkit-transition: height .2s ease-in-out;
			transition: height .2s ease-in-out;
	
		}
		
		#top .nav li:last-child {
			
			box-shadow: 0 4px 3px #666;
			
		}
		
		#top .row {
			
			background: #fff;
			position: fixed;
			height: auto;
			z-index: 99999;
			box-shadow: 0 2px 3px #666;
			padding: .5em 0;
			
		}
		
		#top .row > .column:first-child {
			
			display: table-cell;
			
		}

	
		#top .row:first-child .column, #top .row:first-child .column34, #top .row:first-child .column {
			
			padding-bottom: .5em;
					
		}
		
		#top li ul {
			
			background: #fff;
			z-index: 99999;
			margin-left: 1em;
			max-height: 0;
			display: block;
			overflow: hidden;
			-webkit-transition: max-height .2s ease-in-out;
			transition: max-height .2s ease-in-out;
			
		}
	
		#top ul {
			
			display: none;
		}
	
		#top input.trigger:checked ~ ul, #top ul.open {
			
			display: block;
			height: auto;
			transition: max-height .2s ease-in-out;
			max-height: 999px;
	
		}
	
		#top .column4, #top .column2 {
			
			vertical-align: top;
			
		}
		
		#top .row > div.column4 {
			
			vertical-align: top;
			
		}
	
	#top a.button {
		
		margin-bottom: 0;
		
	}

	#nav-main {
		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		position: fixed;
		left: .5em;
		top: .5em;
		
	}
	
		#nav-main label {
			
			cursor: pointer;
			margin: 0;
			display: inline-block;
			
		}
		
		#nav-main .nav li, #nav-main .sub.nav li {
			
			display: block;
			text-align: left;
			position: relative;
			background: #fff;
			padding: 0 .5em;			
			margin-right: 0;
	
		}
		
		#nav-main form {
			
			text-align: left;
		}
		
		#nav-main li a {
			
			display: inline-block;
			padding: .3em 0;
			
		}
	
		#nav-main li li a {
			
			display: inline-block;
			padding: .2em 0;
			text-transform: none;
			font-weight: 100;
			font-size: .7em;
			font-family: 'open_sansregular', 'Helvetica Neue', sans-serif; 
			
		}
		
		.nav ul {
			
			display: none;
		}
		
		.nav .active:after {
		
			display: none;
		
		}
		
		.slider-container img {
			
			display: none;
			
		}
	
}
