/* natUIve by rado.bg */
	
/* Grid */

.container {

	max-width: 1216px;
	margin: 0 auto;

}

.row {

	clear: both;
	display: table;
	table-layout: fixed;
	width: 100%;

}

	.row.padded { /* When the columns need to be centered with padding on the left and right */
	
		padding: 0 15%;
		width: 70%;	
	
	}
	
.column, .column2, .column3, .column23, .column4, .column34 {

	display: table-cell;
	vertical-align: top;
	padding: .8em;
	width: 98%;
	
}

	.column2 {
		width: 48%;
	}
	
	.column3 {
		width: 31.333%;
	}
	
	.column4 {
		width: 23%;
	}
	
	.column23 {
		width: 64.666%;
	}
	
	.column34 {
		width: 73%;
	}

/* Basic elements */

body {

	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: 300;
	color: #555;
	margin: 0;
	font-size: 15px;
	position: relative;
	width: 100%; 
	margin: 0 auto;
	background: #fff;

}

img {
	
	max-width: 100%;
	border: none;
	
}

.alignright {

	 text-align: right;

}

p:first-child {

	margin-top: 0;

}

ul, #top ul, .subnav ul {

	margin: 0;
	padding: 0;

}

	ul {
		
		margin: 1em 0 1em 2em;
	}

a:link, a:visited {

	color: #333;
	line-height: 0;

}
	li a:link, li a:visited {
		
		text-decoration: none;
		
	}
	a[href]:hover, input[type="submit"]:hover {

		color: #ff6600 !important;

	}

li, p {

	line-height: 1.4;

}

.nav {
	
	font-size: 1.6em;
	display: inline-block; 
	line-height: 0.8;
	vertical-align: baseline;

}

	.nav a:link, .nav a:visited {
		
		color: #666666;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 1em;
		line-height: 1;	
	}
	
	.nav a.active:link, .nav a.active:visited, .subnav a.active:link, .subnav a.active:visited {
	
		color: #ee8822;
		position: relative;
	
	}
	
	.nav li {
		margin-right: .6em;
	}

	.nav li:last-child {
		margin-right: 0;
	}

	.nav a.active {
		
		position: relative;
		
	}

	.nav li, .subnav li {
	
		display: inline;
	
	}

.subnav a:link, .subnav a:visited {

	color: #727272;
	font-size: .9em;
	display: inline-block;
	padding: .3em 0;
	text-shadow: 0 1px 1px #fff;
	line-height: 1.2;

}
	.subnav li:before {

		content: "| ";
		color: #ddd;

	}

	.subnav li:first-child:before {

		display: none;

	}

	.subnav .column34, .subnav .column4, .subnav .column3, .subnav .column2, .subnav .column {
		
		padding-top: .5%;
		padding-bottom: .5%;
		
	}

/* Buttons */

a.button, input[type="submit"] {

	text-decoration: none;
	font-weight: bold;
	color: #555;
	border-radius: 3px;
	padding: .4em .8em .4em .8em;
	font-size: .8em;
	display: inline-block;
	background: #eee;
	line-height: 1.5;
	box-shadow: none;
	cursor: pointer;
	margin-bottom: .5em;
	width: auto;

	background: #f1f1f1;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	-webkit-appearance: none;

}

	a.button:active, input[type="submit"]:active {

		background: #ccc;
		
	}

	.button.big:after {
	
		content: " ►";
		padding-left: .3em;
	
	}
	.button.big, #main input[type="submit"] {

		background: rgb(0,221,240);
		font-size: 1.2em;
		border: none;
		color: #fff;

	}
	.button.big:active, #main input[type="submit"]:active {

		background: rgb(0,121,140);

	}

	.button.yellow {
		
		color: #862165;
		background: rgb(251,222,4);
		
	}
	
	.button.yellow:active {
		
		background: rgb(151,122,0);
		
	}
	
	noscript input[type="submit"] {
		
		max-height: 1em;
		line-height: 1;
		padding: .1em;

	}

h1, h2, h3, h4 {
	
	line-height: 1.1;
	margin: 0 0 .5em 0;
	font-weight: 500;

}

#head h1, #head p {

	color: #333;

}
	
	#head h1 {
		
		font-size: 3em;

	}

#main {
	
	padding: 1em 0;
		
}
	
	#main .row {
		
		padding: 1em 0;
		
	}

	#main .row + .row { /* Every .row appearing right after another .row */
		
		border-top: 1px dotted #ccc;

	}

	#main img, #head img {
		
/* 		display: block; */
		margin: 0 auto;
		
	}
	#main ul {

		padding: 1.3em;

	}


#top {

	margin-bottom: 2em;
	
}

	#top .row:first-child .column2, #top .row:first-child .column34, #top .row:first-child .column4 {
		
		padding-bottom: 0;
				
	}

	#top .column2 > div, #top .column4 {
		
		vertical-align: top;
		text-align: right;

	}
	#top img {
		
		margin: 0;
		
	}

#language {

	display: inline-block;
	font-size: 1.6em;

}

	#language select {

		background: url(../images/country_select_globes.png) center left no-repeat;
		padding-left: 2em;
		font-size: .5em;
		border: none;

	}

/* Form */

form {
	
	overflow: hidden;
	text-align: right;
	
}

label {
	
	display: block;
	text-align: right;
	margin: 1em 0;
	font-weight: bold;
	max-width: 100%;
	padding: 1px;
	
}

select {
	
		-webkit-appearance: none;
		font-family: inherit;
		-moz-appearance: none;
	    text-indent: 0.01px;
	    text-overflow: '';	
	    margin: 0;

}

	select::-ms-expand {
	
	    display: none;
	
	}

input, #main select, textarea {
	
	background: #fff;
	font-family: inherit;
	font-size: 1em;
	border-radius: 3px;
	border: 1px solid #bbb;
	padding: 2.2% 2%;
	box-shadow: 0px 1px 1px #bbb inset;
	width: 41%;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	resize: none;
	
}

label input,  #main label select, textarea {

	margin-left: 1%;

}

form input[type="submit"] {
	
	margin-right: 0;
	min-width: 45%;
	
}

	label span {
		
		position: relative;
		padding: 2.5% 1% 2.5% 0;
		display: inline-block;
		width: 50%;
		border-radius: 4px;
		
	}
	
	label.mandatory span:after {
		
		content: "*";
		color: #a00;
		position: absolute;
		right: -2%;
		top: 20%;
		font-size: .8em;
		
	}
	
	label.mandatory.alert span {
		
		background: #666;
		color: #eee;
		
	}

#main select {
	
	width: 45%;
	box-shadow: 0 1px 2px #999;
	border: 1px solid rgba(0,0,0,0);
	background: #fff url(../images/select-arrow.svg) center right no-repeat;
	background-position: 96% 50%;
	background-size: 10px;
	margin-top: 2px;
	padding-right: 1.3em; /* Prevent overlapping */
	padding-right: 2%\9; /* IE8 */
	background: #fff\9; /* IE8 */
	
}
	:root #main select { padding-right: 2% \0/IE9; background: #fff \0/IE9; }  /* Disable the custom arrow in IE9 */

	select:hover {
		
		cursor: pointer;
		
	}

.social {
	
	text-align: right;
	
}

/* Modal window */

#blackbox {

	z-index: 9999;
	background: rgba(0,0,0,.9);
	overflow-y: scroll;
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	border: 3em solid rgba(0,0,0,.0);
	border-top: none;
	padding-top: 3.6em;
	-webkit-overflow-scrolling: touch;

	}

	#blackbox .close {

		display: block;
		content: "";
		color: #fff;
		cursor: pointer;
		padding: 1em 0;
		font-weight: bold;
		position: fixed;
		background: rgba(0,0,0,.5);
		width: 100%;
		z-index: 99999;
		top: 0;

	}

	#blackbox > * {
		
		background: #fff;
		
	}

/* Back to top button */

a.backtotop {

	text-align: center;
	display: block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	margin: .5em auto 1.5em auto;
	font-weight: bold;
	background: #333;
	color: #fff;
	border-radius: 2em;
	font-family: "Hiragino Mincho ProN"; /* fix for iOS */
	cursor: pointer;

	}

	.backtotop:hover {

		color: #000;

	}

/* Tooltip */

.tool {

	border-bottom: 1px dotted rgba(255,255,255,.2);
	cursor: help;
	font-weight: bold;

}

.tip, label span .tip {

	background: #333;
	color: #ddd;
	padding: .5em;
	border-radius: 4px;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	top: auto;
	left: 0;
	right: 0;
	display: none;
	cursor: default;
	overflow: hidden;
	line-height: 1.5em;
	z-index: 999;
	text-align: left;
	opacity: 0;
    transition: all .4s ease-in-out;
    width: 98%;

}

/* Nested Ordered Lists */

ol {

    list-style-type: none;
    counter-reset: level1;
	margin-left: -2em;

	}

	ol > li:before {

	    content: counter(level1);
	    counter-increment: level1;
	    font-weight: bold;
	    background: #999;
	    padding: .3em .6em .3em .6em;
	    border-radius: 1em;
	    margin-right: .5em;
	    color: #fff;

	}

	ol > li ol {

	    list-style-type: none;
	    counter-reset: level2;
	    margin: 1em 0 0 0;
	    padding-left: 1em;

	}

	ol > li ol > li:before {

	    content: counter(level1) "." counter(level2) " ";
	    counter-increment: level2;
	    padding: .3em .4em .3em .5em;
	    border-radius: 1em;
	    background: #999;
	    color: #fff;

	}

	ol ol > li ol {

	    list-style-type: none;
	    counter-reset: level3;
	    margin-left: 1em;

	}

	ol ol > li ol > li:before {

	    content: counter(level1) "." counter(level2) "." counter(level3) " ";
	    counter-increment: level3;

	}

	ol ol > li {

		text-indent: -3em;

	}

	ol ol ol > li {

		text-indent: -3.9em;

	}

	.rightcolumn > ol {

		padding-left: 20px;
	}

	ol > li {

		padding-bottom: 1em;
		text-indent: -2.3em;
		margin-left: 2.3em;

	}

	ol ul {

		text-indent: .1em;

	}

	ol p {

		text-indent: 0;

	}

/* Accordion */

.accordion label {

	background: #fafafa;
	position: relative;
	padding: .9em 1em .6em 3em;
	cursor: pointer;
	color: #777;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: left;
	font-weight: normal;
	display: table; /* IE9 fix */
	
}
	.accordion label:before {

		display: block;
		content: '⇣';
		width: 12px;
		height: 24px;
		bottom: .8em;
		left: 1em;
		position: absolute;
		transition: all .4s ease-in-out;

	}

	.accordion input {

		display: none;

	}
	
	.accordion label > div { /* hidden accordion item */

	    overflow: hidden;
	    transition: all .4s ease-in-out;
	    max-height: 0;
		height: 0;

	}
	.accordion input:checked ~ label > div, .accordion label.open > div { /* visible accordion item */

	    max-height: 999px;
	    height: auto;

	}
	.accordion label.open > div { /* IE8 */

	    max-height: 999px;
	    height: auto;

	}
	.accordion input:checked ~ label:before { /* visible accordion item */

		-webkit-transform: scaleY(-1);
		transform: scaleY(-1);
	    transition: all .4s ease-in-out;

	}

	.accordion input:checked ~ label > h3 {

		margin-left: 0px;

	}

	.accordion h3 {
		
		font-weight: normal;
		
	}

/* Tables */

table {

	display: block;
	width: 100%;
	overflow: auto;
	border-collapse: collapse;
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	}

	tr, td {
		
		border: none;
		
	}

	table td {

		padding: .4em;
		border-bottom: 1px solid #797979;
		border-right: 1px solid #797979;
		vertical-align: middle;

	}

	table tr:first-child {

		border-radius: 5px 5px 0 0;
		font-size: 1.1em;

	}

	table tr:first-child a {

		display: block;
	}

	table tr:first-child td {

		border-left: 1px solid #797979;

	}

	table tr:last-child td {

		border-right: 1px solid #797979;

	}

	table tr td:first-child {

		border-left: 1px solid #797979;
		line-height: 2em;
		vertical-align: middle;

	}

	table tr:first-child td {

		border-top: 1px solid #797979;
		border-bottom: 1px solid #797979;
		color: #fff;
		font-weight: bold;

	}

	table tr:nth-child(2n+1) {

		background: #f4f4f4;
	}

	table tr:first-child {

		background: #292b2e;

	}

	table tr:first-child a:hover {

		color: #fff;

	}

/* Media Queries */

@media screen and (max-width: 512px) {

	.column, .column2, .column3, .column23, .column4, .column34 {

		display: block;
		width: 98%;
		padding: 1%;

	}
	
	#top .column2 {
		
		display: table-cell;
		width: 48%;
	}

	label input, #main label select, textarea {
		
		width: 96%;
		margin: 0;
		margin-top: .5em;
			
	}
	
	#main label select, input[type="submit"] {

		width: 100%;

	}
	
	label {

		text-align: left;

	}
	
	label span {
		
		padding: 0;
		width: 100%;
		
	}
	
	label.mandatory span:after {
		
		right: 0;
		
	}
	
	.accordion {
		
		overflow: hidden;
		
	}

}
