/* natUIve – rado.bg */

@charset 'utf-8';

@import 'natuive-setup';
@import 'theme-variables'; /* Rewrite base variables here; add theme CSS below this one in <head> */
@import 'natuive-grid';
@import 'natuive-button';
@import 'natuive-form';
@import 'natuive-table';
@import 'natuive-nav';
@import 'natuive-list';
@import 'natuive-accordion';
@import 'natuive-tooltip';
@import 'natuive-slider';
@import 'natuive-modal';
@import 'natuive-parallax';

.contain {

	max-width: $font-size*82;
	max-width: 82rem;
	margin: 0 auto;

}
	
/* Basic elements */

html {
	
	overflow-x: hidden;

}

html, body {
	
	height: 100%;
	margin: 0 auto;
	
}

body {

	position: relative;
	width: 100%;
	height: auto;
	min-height: 100%;
	-webkit-text-size-adjust: none;
	display: flex;  /* Sticky footer */
	flex-direction: column;
	color: #333;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,.5);
	font-size: $font-size;
	line-height: $line-height;
	
}

body * {
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* iOS: Don't flash on tap */
	
	word-break: break-word; // Overflow protection for long words
	word-wrap: break-word;

}

html.nooverflow, html.nooverflow body {
	
	overflow: hidden;

}

.animate-scroll {

	pointer-events: none !important;
	-webkit-transition: -webkit-transform .4s ease;
	transition: transform .4s ease;

}

.no-hover {

	pointer-events: none !important;

}

/* Elements with single line-height */

html, p, h4, h5 {
	
	font-size: $font-size;
	line-height: $line-height;
	min-height: $line-height;

}

/* Elements with double line-height */

h1, h2, h3, .full-window-wrap .close {
	
	line-height: $line-height * 2;
	min-height: $line-height * 2;
	
}

h1, h2, h3, h4, h5, h6 {
	
	margin: 0;

}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
	
	margin-top: 0;

}

img {
	
	max-width: 100%;
	height: auto;
	border: none;
	
}

pre {
	
	overflow: auto;

}

p {

	margin: $line-height 0;

}

.drop-cap:first-letter {

	float: left;
	font-size: 5em;
	padding: .1em .1em .1em 0;

}

[dir=rtl] .drop-cap:first-letter {

	float: right;

}

.header-and-banner {

	flex: none;	

}

.viewport.header-and-banner {
	
	height: 100vh;
	overflow: auto;

}

header .row {
	
	padding: 0;
	
}


header a.logo {
	
	display: inline-block;
	min-height: 46px; /* Don't shift page after image is loaded */

}

header form#language-selector select {
	
	padding-right: 2em;

}

a[href] {
	
	color: #333;

}

.wide-screen {
	
	display: block;
	
}

.narrow-screen {
	
	display: none !important;
	
}
	
/* Main */

main#content {
	
	flex: 1 0 auto;
	
}

/* Footer */

footer {
	
	flex: none;
	position: relative; // backtotop button
	
}

footer .row > * {
	
	position: static;

}

.quote, blockquote {
	
	margin-left: 1em;
	border-left: 1px solid #bbb;
	padding-left: 1em;
	
}

video {
	
	height: auto !important;
	background: #000;
	margin: 0 auto;
	display: block;
	max-width: 100%;

}

video a[href] {
	
	color: #fff;

}

/* Image aspect ratio – don't shift the page after loading the image */

.aspect {
	
	 display: block;
	 overflow: hidden;
	 text-align: center;
	 font-size: 0;

}

.aspect > * {
	
	display: inline-block;
	vertical-align: top;

}

.aspect > img {
	
	max-width: 100%;
	height: auto;
	padding-bottom: 0 !important;
	vertical-align: middle;
	font-size: 0;

}

.aspect span { /*  Ratio can be overwritten with inline CSS padding-bottom */

	padding-bottom: 56.25%; /*    y / x * 100   default 16:9    */
	width: 0; 
	display: inline-block;
	vertical-align: middle;

}

/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {

    overflow: auto;
    -webkit-overflow-scrolling: touch;

}

/* Narrow Screens */

@media screen and (max-width: $screen-narrow) {

	header {
		
		margin: 0;
		
	}
		
	.wide-screen {
		
		display: none !important;
		
	}

	.narrow-screen {
		
		display: block !important;
		
	}

	.viewport.header-and-banner {
		
		height: auto;
		
	}
	
	header > .row:first-child div {
		
		text-align: end;
		
	}
 	
		form#language-selector select {
			
			height: auto;
			width: 100%;
			background-position: calc(100% - .5em);
			margin-left: 0;
			margin-left: 0;
			
		}

		header .head-right {
			
			text-align: start;
		
		}
	
	.semi-transparent main, .semi-transparent footer, .semi-transparent header > .row {
		
		opacity: .1;
	
	}
	
	footer .row > * {
		
		display: inline-block;
		
	}

	footer .row p {
		
		margin: 0;
		
	}

	footer .row > .social {
		
		float: end;
		
	}
	
}

hr {

    display: block;
    height: 1px;
    border: 0;   
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;

}
