/* natUIve  – Card */

@import 'natuive-setup';

.card {
	
	margin: 1em 0;
	background: #ddd;

}

.card > * {
	
	padding: 1em;

}

.card .content {
	
	background: #eee;

}

.card > img {
	
	display: block;
	margin: 0 auto;
	max-width: 100%;
	padding: 0;

}

.card .head.image {
	
	background-position: center center;
	background-size: cover;
	color: #fff;

}

.card .head.image:after {
	
	content: '';
	padding-bottom: 56.25%;
	width: 0;
	display: inline-block;
	vertical-align: bottom;

}

.card .head.image > * {
	
	display: inline-block;

}

