/* Grid */

.container {
	max-width: 1216px;
	margin: 0 auto;
}

.row {

	clear: both;
	display: table;
	table-layout: fixed;
	width: 100%;

}

.row.padded { /* When the columns need to be centered with padding on left and right */

	padding: 0 15%;
	width: 70%;	

}

.column1, .column2, .column3, .column23, .column4, .column34 {

	display: table-cell;
	vertical-align: top;
	padding: 1%;
	width: 98%;
	
}

.column2 {
	width: 48%;
}

.column3 {
	width: 31.333%;
}

.column4 {
	width: 23%;
}

.column23 {
	width: 64.666%;
}

.column34 {
	width: 73%;
}

ul {
	margin: 0;
	padding: 0;
}

/* Basic elements */

@font-face {
    font-family: 'Open Sans';
    src: url('opensans-bold-webfont.eot');
    src: url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-bold-webfont.woff') format('woff'),
         url('opensans-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}


@font-face {
    font-family: 'Open Sans Condensed Bold';
    src: url('opensans-condbold-webfont.eot');
    src: url('opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-condbold-webfont.woff') format('woff'),
         url('opensans-condbold-webfont.ttf') format('truetype'),
         url('opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('opensans-extrabold-webfont.eot');
    src: url('opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-extrabold-webfont.woff') format('woff'),
         url('opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {

	font-family: 'Open Sans', Arial, sans-serif;
	color: #555;
	background: #862165 url(../images/scanlines.png);
	margin: 0;
	font-size: 15px;
	position: relative;
	width: 100%; 
	margin: 0 auto;

}

img {
	
	max-width: 100%;
	border: none;
	
}

p:first-child {

	margin-top: 0;

}

.centered {
	text-align: center; 
	vertical-align: middle;
}

a:link, a:visited {

	color: #862165;
	line-height: 0;

}
	a:hover, input[type="submit"]:hover {

		color: #222 !important;

	}
	a:active, input[type="submit"]:hover {

		color: #000 !important;

	}

	li a:link, li a:visited {
		
		text-decoration: none;
		
	}

.nav {
	
	font-size: 1.6em;
	display: inline-block; 
	line-height: 0.8;
	vertical-align: baseline;

}

	.nav a:link, .nav a:visited {
		
		color: #666666;
		text-transform: uppercase;
		text-decoration: none;
		font-family: 'Open Sans Condensed Bold', sans-serif;
		font-size: 1em;
		line-height: 1;	
	}
	
	.nav a.active:link, .nav a.active:visited {
	
		color: #862165;
		position: relative;
	
	}
	
	.nav li:not(:last-child) {
		margin-right: .6em;
	}

	.nav a.active {
		
		position: relative;
		
	}

	.nav li, .subnav li {
	
		display: inline;
	
	}

.subnav {
	
	background: #e6e6e6 url(../images/subnav.png) top repeat-x;
	
}
	.subnav a:link, .subnav a:visited {

		color: #727272;
		font-size: .9em;
		display: inline-block;
		padding: .3em 0 .3em 0;
		text-shadow: 0 1px 1px #fff;
		line-height: 1.2;

	}
	.subnav li:not(:first-child):before, #footer li:not(:first-child):before {

		content: "| ";
		color: #aaa;

	}
	#footer li:not(:first-child):before {
		
		color: #bbb;
	
	}
	.subnav .column34, .subnav .column4, .subnav .column3, .subnav .column2, .subnav .column1 {
		
		padding-top: .5%;
		padding-bottom: .5%;
		
	}

/* Buttons */

a.button, input[type="submit"] {

	text-decoration: none;
	font-weight: bold;
	color: #555;
	border-radius: 3px;
	padding: .4em .8em .4em .8em;
	font-size: .8em;
	display: inline-block;
	text-shadow: 0 1px 1px #fff;
	border: 1px solid #bbb;
	background: #eee;
	line-height: 1.5;
	box-shadow: none;
	cursor: pointer;

	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1f1f1 0%, #cbcbcb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#cbcbcb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f1f1 0%,#cbcbcb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f1f1 0%,#cbcbcb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f1f1 0%,#cbcbcb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1f1f1 0%,#cbcbcb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#cbcbcb',GradientType=0 ); /* IE6-9 */

	width: auto;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	a.button:active, input[type="submit"]:active {

		background: -moz-linear-gradient(top,  #cbcbcb 0%, #f1f1f1 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbcbcb), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #cbcbcb 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #cbcbcb 0%,#f1f1f1 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #cbcbcb 0%,#f1f1f1 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #cbcbcb 0%,#f1f1f1 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcbcb', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
		
	}

	.button.big:after {
	
		content: " ►";
		padding-left: .3em;
	
	}
	.button.big, #main input[type="submit"] {

		background: rgb(0,221,240); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(0,221,240,1) 0%, rgba(0,177,227,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,221,240,1)), color-stop(100%,rgba(0,177,227,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,221,240,1) 0%,rgba(0,177,227,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,221,240,1) 0%,rgba(0,177,227,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,221,240,1) 0%,rgba(0,177,227,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,221,240,1) 0%,rgba(0,177,227,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ddf0', endColorstr='#00b1e3',GradientType=0 ); /* IE6-9 */
		font-size: 1.2em;
		border: none;
		box-shadow: 0 1px 2px #333;
		color: #fff;
		text-shadow: 0 -1px 1px #333;

	}
	a.button.big:hover, #main input[type="submit"]:hover {
		
		color: #eee !important;
		
		}

	.button.big:active, #main input[type="submit"]:active {

		background: -moz-linear-gradient(top, rgba(0,177,227,1) 0%, rgba(0,221,240,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,177,227,1)), color-stop(100%,rgba(0,221,240,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,177,227,1) 0%, rgba(0,221,240,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,177,227,1) 0%, rgba(0,221,240,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,177,227,1) 0%, rgba(0,221,240,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,177,227,1) 0%, rgba(0,221,240,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b1e3', endColorstr='#00ddf0',GradientType=0 ); /* IE6-9 */
		box-shadow: 0 -1px 2px #666;
		text-shadow: 0 -1px 0px #999;

	}

	.button.yellow {
		
		color: #862165;
		background: rgb(251,222,4); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(251,222,4,1) 0%, rgba(246,193,0,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,222,4,1)), color-stop(100%,rgba(246,193,0,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(251,222,4,1) 0%,rgba(246,193,0,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(251,222,4,1) 0%,rgba(246,193,0,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(251,222,4,1) 0%,rgba(246,193,0,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(251,222,4,1) 0%,rgba(246,193,0,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbde04', endColorstr='#f6c100',GradientType=0 ); /* IE6-9 */
		
	}
	
	.button.yellow:active {
		
		background: -moz-linear-gradient(top,  rgba(246,193,0,1) 0%, rgba(251,222,4,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,193,0,1)), color-stop(100%,rgba(251,222,4,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(246,193,0,1) 0%, rgba(251,222,4,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(246,193,0,1) 0%, rgba(251,222,4,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(246,193,0,1) 0%, rgba(251,222,4,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(246,193,0,1) 0%, rgba(251,222,4,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6c100', endColorstr='#fbde04',GradientType=0 ); /* IE6-9 */
		
	}

h1, h2, h3, h4 {
	
	line-height: 1.3;
	margin: .5em 0;
	font-family: open_sansextrabold, Arial, sans-serif;

}

#main h1 {
	color: #862165;
}

#head {

	background: url(../images/header-circle.png) center top no-repeat;
}

	#head h1, #head p {
		color: #fff;
	}
	
	#head h1 {
		
		font-size: 3em;
	}

#main {
	
	padding: 1em 0;
	background: #fff url(../images/bg.png);
		
}

	#main h2 {
	
		font-size: 2em;
		color: #862165;
	
	}

	#main h3 {
	
		font-size: 1.4em;
		color: #862165;
	
	}
	
	#main .row + .row { /* Every .row appearing right after another .row */
		
		border-top: 1px dotted #ccc;
	}

#top {

	background: #fff;
	box-shadow: 0 2px 3px #333;
	
}
	#top .row:first-child .column2, #top .row:first-child .column34, #top .row:first-child .column4 {
		
		padding-bottom: 0;
				
	}
	#top .column2:last-child, #top .column4:last-child {
		
		vertical-align: top;
		text-align: right;		

	}

#language {

	display: inline-block;
	font-size: 1.6em;

}

	#language select {
		background: url(../images/country_select_globes.png) top left no-repeat;
		padding-left: 2em;
		font-size: .5em;
		border: none;
	}

/* Form */

label {
	
	display: block;
	text-align: right;
	margin: 1em 0;
	font-weight: bold;
	
}

select {
	
		-webkit-appearance: none;
		font-family: inherit;
		-moz-appearance: none;
	    text-indent: 0.01px;
	    text-overflow: '';	
	    margin: 0;

}

select::-ms-expand {

    display: none;

}

input, #main select, textarea {
	
	background: #f5f5f5;
	font-family: inherit;
	font-size: 1em;
	border-radius: 3px;
	border: 1px solid #bbb;
	padding: 1%;
	box-shadow: 0px 1px 1px #bbb inset;
	width: 226px;
	display: inline-block;
	vertical-align: top;
	
}

label input,  #main label select, textarea {

	margin-left: 1em;

}

label input[type="submit"] {
	min-width: 234px;
}

label span {
	
	position: relative;
	padding-right: .4em;
	padding-top: .7em;
	display: inline-block;
	
}

label .mandatory:after {
	
	content: "*";
	color: #a00;
	position: absolute;
	right: 0;
	top: 20%;
	font-size: .8em;
	
}

#main select {
	
	width: 237px;
	box-shadow: 0 1px 2px #999;
	border: 1px solid rgba(0,0,0,0);
	background: #f5f5f5 url(../images/select-arrow.svg) center right no-repeat;
	background-position: 96% 50%;
	background-size: 10px;
	
	
}
	select:hover {
		
		cursor: pointer;
		
	}

.container.banner {

	background-image: -webkit-radial-gradient(50% 100%, circle farthest-side, #c02499, rgba(192, 36, 153, 0) 80%);
	background-image: -moz-radial-gradient(50% 75%, circle farthest-side, #c02499, rgba(192, 36, 153, 0) 75%);
	background-image: -ms-radial-gradient(50% 75%, circle farthest-side, #c02499, rgba(192, 36, 153, 0) 75%);
	background-image: -o-radial-gradient(50% 75%, circle farthest-side, #c02499, rgba(192, 36, 153, 0) 75%);
	
}
	.container.banner .button {

		margin: 1.5em 0;
		
	}

	.container.banner .column2:first-child {

		vertical-align: bottom;
		
	}

#footer {

	background: #b0238c url(../images/footer.png) top left repeat-x;
	color: #eee;
	
}
	
	#footer .social {
		
		text-align: right;
		
	}
	
	#footer .subnav {
		
		margin-bottom: 1em;
		
	}

table {
	border-collapse: collapse;
}

tr, td {
	
	border: none;
	
}

/* Modal window */

#blackbox {
	z-index: 9999;
	background: rgba(0,0,0,.8);
	overflow-y: scroll;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;

	}
	#blackbox .modal-box {
		width: 640px;
		max-width: 90%;
		background: #fff;
		box-shadow: 0 0 15px #862165;
		z-index: 99999;
		margin: 1em auto;
		border-radius: 8px;
		border: 2px solid #862165;
		overflow: hidden;
		padding: .5em;
		}
		#blackbox .modal-box:after {
			display: block;
			content: "";
			clear: both;
			}
		#blackbox .modal-box h1 {
			color: #222;
			}
		#tip-close {
			float: right;
			cursor: pointer;
			width: 1em;
			height: 1em;
			padding: .2em;
			color: #862165;
			font-size: 2em;
			}
		#blackbox .modal-box > div {
			position: relative;
			}
		#blackbox .modal-box > * {
			max-width: 100%;
		}

/* Back to top button */

a.backtotop {
	text-align: center;
	display: block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	margin: .5em auto;
	font-weight: bold;
	background: #862165;
	color: #fff;
	border-radius: 2em;
	font-family: "Hiragino Mincho ProN";
	cursor: pointer;
	}
	.backtotop:hover {
		color: #000;
		}

/* Tooltip */

.tool {
	border-bottom: 1px dotted rgba(255,255,255,.2);
	cursor: help;
/* 	position: relative; */
	font-weight: bold;
	}
.tip {
	background: #666;
	background: rgba(0,0,0,.9);
	color: #ddd;
	padding: .5em;
	border-radius: 4px;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	top: auto;
	left: 0;
	right: 0;
	display: none;
	cursor: default;
	overflow: hidden;
	line-height: 1.5em;
	z-index: 999;
	text-align: left;
	}

/* Deeply-nested Ordered Lists */

html>/**/body ol { /* Won't be interpreted by IE6/7. */
    list-style-type: none;
    counter-reset: level1;
	margin-left: -2em;
	}
	ol > li:before {
	    content: counter(level1)/*  ". " */;
	    counter-increment: level1;
	    font-weight: bold;
	    background: #999;
	    padding: .3em .6em .3em .6em;
	    border-radius: 1em;
	    margin-right: .5em;
	    color: #fff;
		}
	ol.icon > li:before {
	    content: counter(level1);
	    font-weight: bold;
	    background: #999;
	    color: #fff;
	    padding: .3em .6em;
	    border-radius: 1em;
	    margin-right: .5em;
	    width: 30px;
		}
	ol > li ol {
	    list-style-type: none;
	    counter-reset: level2;
	    margin: 1em 0 0 0;
	    padding-left: 1em;
		}
	ol > li ol > li:before {
	    content: counter(level1) "." counter(level2) " ";
	    counter-increment: level2;
	    padding: .3em .4em .3em .5em;
	    border-radius: 1em;
	    background: #999;
	    color: #fff;
		}
	ol ol > li ol {
	    list-style-type: none;
	    counter-reset: level3;
	    margin-left: 1em;
		}
	ol ol > li ol > li:before {
	    content: counter(level1) "." counter(level2) "." counter(level3) " ";
	    counter-increment: level3;
		}
	ol ol > li {
		text-indent: -3em;
		}
	ol ol ol > li {
		text-indent: -3.9em;
		}
	.rightcolumn > ol {
		padding-left: 20px;
		}
	ol > li {
		padding-bottom: 1em;
		text-indent: -2.3em;
		margin-left: 2.3em;
		}
	ol ul {
		text-indent: .1em;
		}
	ol p {
		text-indent: 0;
		}

/* Accordion */

.accordion label {
	padding: .5em 1em;
	position: relative;
	cursor: pointer;
	color: #777;
	background: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: left;
	
}
.accordion input:checked + label {
	background: #862165;
	color: #ddd;
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.accordion label:hover:after,
.accordion input:checked + label:after {
	content: '';
	background: url('../images/select-arrow.svg?colour=red') center right no-repeat;
	background-size: auto 66%;
	position: absolute;
	width: 8px;
	height: 24px;
	right: 13px;
	top: 7px;
}
.accordion input:checked + label:hover:after {
	opacity: .5;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.accordion input {
	display: none;
}
.accordion > *:not(label) {
	display: none;
}
.accordion input:checked ~ *:not(label) {
	display: block;
}

/* Media Queries */

@media screen and (max-width: 512px) {

	.column1, .column2, .column3, .column23, .column4, .column34 {
		display: block;
		width: 98%;
	}
	
	#top .column2 {
		
		display: table-cell;
		width: 48%;
	}

	input, #main select, textarea {
		
		width: 98.5%;
		margin-left: 0 !important;
		margin-top: .5em;
			
	}
	
	#main select, input[type="submit"] {
		width: 100%;
	}
	
	label {

		text-align: left;

	}
	
	label span {
		
		padding-top: 0;
	}

}
