/* Grid */

.container {
	max-width: 1216px;
	margin: 0 auto;
}

.row {

	clear: both;
	display: table;
	table-layout: fixed;
	width: 100%;

}

.column1, .column2, .column3, .column23, .column4, .column34 {

	display: table-cell;
	vertical-align: top;
	padding: 1%;
	width: 98%;
	
}

.column2 {
	width: 48%;
}

.column3 {
	width: 31.333%;
}

.column4 {
	width: 23%;
}

.column23 {
	width: 64.666%;
}

.column34 {
	width: 73%;
}

ul {
	margin: 0;
	padding: 0;
}

/* Basic elements */

@font-face {
    font-family: 'Open Sans';
    src: url('opensans-bold-webfont.eot');
    src: url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-bold-webfont.woff') format('woff'),
         url('opensans-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}


@font-face {
    font-family: 'Open Sans Condensed Bold';
    src: url('opensans-condbold-webfont.eot');
    src: url('opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-condbold-webfont.woff') format('woff'),
         url('opensans-condbold-webfont.ttf') format('truetype'),
         url('opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {

	font-family: 'Open Sans', Arial, sans-serif;
	color: #555;
	background: #862165 url(../images/scanlines.png);
	margin: 0;
	font-size: 15px;

}

img {
	
	max-width: 100%;
	border: none;
	
}

p:first-child {

	margin-top: 0;

}

a:link, a:visited {

	color: #862165;
	line-height: 0;

}
	a:hover {

		color: #222 !important;

	}
	a:active {

		color: #000 !important;

	}

li {

	display: inline;

}
	li a:link, li a:visited {
		
		text-decoration: none;
		
	}

.nav {
	
	font-size: 1.6em;
	display: inline-block; 
	line-height: 0.8;
	vertical-align: baseline;

}

	.nav a:link, .nav a:visited {
		
		color: #666666;
		text-transform: uppercase;
		text-decoration: none;
		font-family: 'Open Sans Condensed Bold', sans-serif;
		font-size: 1em;
		line-height: 1;	
	}
	
	.nav a.active:link, .nav a.active:visited {
	
		color: #862165;
		position: relative;
	
	}
	
	.nav .active:after {
		
		content: ".";
		display: block;
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: -.6em;
		color: #999;
		
	}
	
	.nav li:not(:last-child) {
		margin-right: .6em;
	}

	.nav a.active {
		
		position: relative;
		
	}

.subnav {
	
	background: #e6e6e6 url(../images/subnav.png) top repeat-x;
	
}
	.subnav a:link, .subnav a:visited {

		color: #727272;
		font-size: .9em;
		display: inline-block;
		padding: .3em 0 .3em 0;
		text-shadow: 0 1px 1px #fff;
		line-height: 1.2;

	}
	.subnav li:not(:first-child):before, #footer li:not(:first-child):before {

		content: "| ";
		color: #aaa;

	}
	#footer li:not(:first-child):before {
		
		color: #bbb;
	
	}
	.subnav .column34, .subnav .column4, .subnav .column3, .subnav .column2, .subnav .column1 {
		
		padding-top: .5%;
		padding-bottom: .5%;
		
	}

a.button {

	text-decoration: none;
	font-weight: bold;
	color: #555;
	border-radius: 3px;
	padding: .4em .8em .4em .8em;
	font-size: .8em;
	display: inline-block;
	text-shadow: 0 1px 1px #fff;
	border: 1px solid #bbb;
	background: #eee;
	line-height: 1.5;

	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1f1f1 0%, #cbcbcb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#cbcbcb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f1f1 0%,#cbcbcb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f1f1 0%,#cbcbcb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f1f1 0%,#cbcbcb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1f1f1 0%,#cbcbcb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#cbcbcb',GradientType=0 ); /* IE6-9 */

}
	.button.big:after {
	
		content: " ►";
		padding-left: .3em;
	
	}
	.button.big {

		background: rgb(0,221,240); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(0,221,240,1) 0%, rgba(0,177,227,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,221,240,1)), color-stop(100%,rgba(0,177,227,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,221,240,1) 0%,rgba(0,177,227,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,221,240,1) 0%,rgba(0,177,227,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,221,240,1) 0%,rgba(0,177,227,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,221,240,1) 0%,rgba(0,177,227,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ddf0', endColorstr='#00b1e3',GradientType=0 ); /* IE6-9 */
		font-size: 1.2em;
		border: none;
		box-shadow: 0 1px 2px #333;
		color: #fff;
		text-shadow: 0 -1px 1px #333;

	}
	a.button.big:hover, a.button.big:active {
		
		color: #eee !important;
		
		}
	.button.yellow {
		
		color: #862165;
		background: rgb(251,222,4); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(251,222,4,1) 0%, rgba(246,193,0,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,222,4,1)), color-stop(100%,rgba(246,193,0,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(251,222,4,1) 0%,rgba(246,193,0,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(251,222,4,1) 0%,rgba(246,193,0,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(251,222,4,1) 0%,rgba(246,193,0,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(251,222,4,1) 0%,rgba(246,193,0,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbde04', endColorstr='#f6c100',GradientType=0 ); /* IE6-9 */
		
	}

h1, h2, h3, h4 {
	
	font-weight: 900;
	line-height: 1.3;
	margin: .5em 0;

}

#head {

	background: url(../images/header-circle.png) center top no-repeat;
}

	#head h1, #head p {
		color: #fff;
	}
	
	#head h1 {
		
		font-size: 3em;
	}

#main {
	
	padding: 1em 0;
	background: #fff url(../images/bg.png);
		
}

	#main h2 {
	
		font-size: 2em;
		color: #862165;
	
	}

	#main h3 {
	
		font-size: 1.4em;
		color: #862165;
	
	}
	
	#main .row + .row { /* Every .row appearing right after another .row */
		
		border-top: 1px dotted #ccc;
	}

#top {

	background: #fff;
	box-shadow: 0 2px 3px #333;
	
}
	#top .row:first-child .column2, #top .row:first-child .column34, #top .row:first-child .column4 {
		
		padding-bottom: 0;
				
	}
	#top .column2:last-child, #top .column4:last-child {
		
		vertical-align: top;
		text-align: right;		

	}

#language {

	display: inline-block;
	font-size: 1.6em;

}

select {
	border: none;
	padding: 0;
	margin: 0;	
	font-family: inherit;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: window;
	display: inline-block;
	color: #555;
	font-size: .5em;
	padding-left: 2em;
	background: url(../images/country_select_globes.png) top left no-repeat;
	min-height: 1.5em
}

select:hover {
	
	cursor: pointer;
	
}

input {
	
	background: #eeeeee;
	font-family: inherit;
	border-radius: 3px;
	border: 1px solid #999;
	padding: .5em .8em .6em .8em;
	box-shadow: 1px 1px 2px #999 inset;
	margin: 0;
	
}

	input[type="submit"] {
	
		font-weight: bold;
		color: #676767;
		box-shadow: none;
		cursor: pointer;
		text-shadow: 0 1px 1px #fff;
		background: rgb(204,204,204); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(182,182,182,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(182,182,182,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(182,182,182,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(182,182,182,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(182,182,182,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(204,204,204,1) 0%,rgba(182,182,182,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#b6b6b6',GradientType=0 ); /* IE6-9 */
		box-shadow: none;
	
	}
	
	input[type="submit"]:hover {
	
		color: #000;
	
	}

.container.banner {

	background-image: -webkit-radial-gradient(50% 100%, circle farthest-side, #c02499, rgba(192, 36, 153, 0) 80%);
	background-image: -moz-radial-gradient(50% 75%, circle farthest-side, #c02499, rgba(192, 36, 153, 0) 75%);
	background-image: -ms-radial-gradient(50% 75%, circle farthest-side, #c02499, rgba(192, 36, 153, 0) 75%);
	background-image: -o-radial-gradient(50% 75%, circle farthest-side, #c02499, rgba(192, 36, 153, 0) 75%);
	
}
	.container.banner .button {

		margin: 1em 0;
		
	}

	.container.banner .column2:first-child {

		vertical-align: bottom;
		
	}

#footer {

	background: #b0238c url(../images/footer.png) top left repeat-x;
	color: #eee;
	
}
	
	#footer .social {
		
		text-align: right;
		
	}
	
	#footer .subnav {
		
		margin-bottom: 1em;
		
	}

table {
	border-collapse: collapse;
}

tr, td {
	
	border: none;
	
}

@media screen and (max-width: 512px) {

	.column1, .column2, .column3, .column23, .column4, .column34 {
		display: block;
		width: 98%;
	}
	
	#top .column2 {
		
		display: table-cell;
		width: 48%;
	}

}
