/* natUIve – Tooltip */

@import '../../css/natuive-setup';

.n-tool {

	cursor: help;
	font-weight: bold;
	position: relative;

	&:after {
		
		content: '?';
		display: inline-block;
		background-color: var(--control-bg, #444);
		border-radius: 100%;
		color: var(--control-color, #ddd);
		width: 1.5em;
		text-align: center;
	
	}

	&[aria-expanded]:after {
		
		content: '╳';
	
	}

}

.n-tool--tip, .n-tool--label .n-tool--tip {

	font-size: $font-size;
	line-height: $line-height;
	min-height: $line-height-em;
	background: #333;
	color: #ddd;
	padding: $line-height-em/2;
	font-size: .8em;
	font-weight: normal;
	position: absolute;
	top: auto;
	left: 0;
	right: 0;
	cursor: default;
// 	overflow: hidden;
	z-index: 999;
	text-align: left;
	visibility: hidden;
	display: none;
	opacity: 0;
	transition: opacity .2s ease-in-out;
	width: 20em;
	line-height: $line-height/1.25;

}

.n-tool--tip[aria-expanded], html:not(.can-touch) .n-tool:hover .n-tool--tip {
	
	opacity: 1;
	visibility: visible;
	top: 100%;
	display: block;
	
}
