$blue: #009ee0;

.n-contain {
	
	max-width: 1170px;

}

.n-header {
	
	border-bottom: 1px solid #999;
	font-size: 16px;
	
	svg {
		
		height: 1.5em;
	
	}
	
	ul.n-list {
		
		margin: 0;
	
	}
	
	&.top {
		
		color: #ddd;
		background: #000;
		font-size: 14px;
	
	}
	
	img, svg {
		
		height: 2em;
		vertical-align: middle;
	
	}

}

body.n-type {
	
	font-size: 14px;
	
	a[href]:not(:hover) {
		
		text-decoration: none;
	
	}

	h2, h2 a[href] {
	
		color: $blue;
		text-transform: uppercase;
		text-decoration: none;	
		
	}

}

header .n-btn[href] {
	
	color: #009ee0;
	border: 1px solid $blue;
	border-radius: 2px;
	background-color: transparent;
	margin: 0 1em;
	
}

ul.n-list, ul.n-list li {
	
	list-style: none;
	margin: 0;

}

ul.n-list li:before {
	
	display: none;

}

.c-articles-list__link[href] {

	display: flex;
	margin: 1em 0;
		
}

.sidebar .c-articles-list__meta {
	
	display: inline-block;
	white-space: nowrap;
	padding-right: 1em;
	color: #979797;

}

a.c-articles-list-link[href], .c-match-overview-matches-link a[href] {
	
	color: $blue;

}

.c-fixture__row {
	
	display: flex;
	
}

.c-fixture__col--namelarge {
	
	flex-grow: 1;
	
}

.c-fixture__col--score {
	
	font-weight: bold;

}

.c-fixture__row > * {
	
	padding: .5em 1em;
	
	
}

.c-fixture__row img {
	
	vertical-align: middle;
	margin-right: 1em;
	
	
}

.c-striped-list li:nth-child(2n-1) {
	
	background: #eee;
	
	
}

.n-row.n-row--no-spacing h2 {
	
	padding: .5em;
	color: #fff;
	text-transform: none;
	font-family: Yrsa;
	font-size: 2em;

}

.n-row.n-row--no-spacing.n-row--vertical h2 {
	
	font-size: 1.5em;
	
}

header .c-site-nav__link + ul.c-site-nav__list {
	
	margin-left: 1em;

}

header .c-site-nav__link {
	
	padding: .5em 0;

}

header ul.n-list--inline {
	
	vertical-align: middle;

}

header li .c-site-nav__link {
	
	padding: 0 .5em;

}

main .n-aspect {
	
	text-align: left;
	--width: 2000;
	--height: 1000;
	
}

a[href].blue-link, .n-row--no-spacing > ._1\/1 h2 {
	
	color: $blue;

}

.n-row--no-spacing > ._1\/1 h2 {
	
	margin-left: -.5em;

}

.n-row div {
	
	background-size: cover;
	
}

main a[href].n-btn {
	
	width: 100%;
	text-align: center;
	background: $blue;
	font-weight: normal;

}

._1\/4 a[href] {
	
	display: block;

}

time {

	color: #999;

}

.c-tag {
	
	text-transform: uppercase;
	font-size: .8em;
	border: 1px solid;
	border-radius: 3px;
	padding: .25em .5em;
}

.c-articles-list--media ._1\/4 + div {
	
	padding-left: 1em;
	
	
}

@media (max-width: 599.9px) {
	
	.n-row > * > .n-unpad, .n-unpad {
		
		margin: 0;
		width: 100%;
		
	}
	
	.c-articles-list__title {
		
		display: block;
		
	}
	
	.c-striped-list {
		
		max-width: calc(100% - 1.5em);
		
	}
	
	.c-articles-list__body {
		
		text-align: center;
	
	}

}
