@font-face {

    font-family: 'font';
    src: url('gov.uk.regular.woff') format('woff');
    font-weight: normal;
    font-style: normal

}

@font-face {

    font-family: 'font';
    src: url('gov.uk.bold.woff') format('woff');
    font-weight: bold;
    font-style: normal

}

body {
	
	font-family: 'font';

}

.contain {
	
	max-width: 63rem;

}

.banner, .banner a[href] {
	
	color: #fff;

}

ul {
	
	list-style: none;

}

input[type=text] {
	
	background: #fff;

}

.banner input[type=submit] {
	
	background: #000 url(loupe.svg) center center no-repeat;
	background-size: 67%;
	width: 2em;

}

footer {
	
	border-top: .7em solid #005ea5;
	background: #dee0e2;
	
}
