$blue: #306FAA;
$orange: #ff9900;
$dark-blue: #004990;
$darker-blue: #00245D;
$light-blue: #33507d;
$lighter-blue: #f1f5f8;

body, .button, .lightbox a, .row.wrap>*, .tip, body, button, form .checkbox span, form label>span, h4, h5, html, input[type=submit], label, label span .tip, li, nav.sub a, p {
	 
	font-size: 12px;
	font-family: 'Helvetica Neue', sans-serif;
	line-height: 19px;

}

p {
	
	margin: .5em 0;

}
 
a[href] {
	
	color: $blue;
	text-decoration: none;
	font-weight: bold;

} 

a[href]:hover {
	
	color: $dark-blue;
	text-decoration: underline;

}

.contain {
	
	max-width: 83em;

}

button, a[href].button, input[type=submit], a.button {
	
	background: $blue;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	padding: .3em 1.1em;

}

button:href, a[href].button:hover, input[type=submit]:hover, a.button:hover {
	
	background: $dark-blue;
	color: #fff;
	text-decoration: none;

}

ul li {
	
	margin: 0;

}

header {
	
	margin: 0;

}

header nav {
	
	display: inline-block;

}

nav a {
	
	font-size: 1em;
	line-height: 1.5em;
	min-height: 1.5em;

}

.banner.row {
	
	border-spacing: 1em 0;
	margin-left: -1em;
	width: calc(100% + 2em);

}

.banner.row form .row {
	
	border-spacing: 0;

}

.banner.row form .row > * {
	
	padding: 0;

}

form.flat input[type=submit] {
	
	display: inline-block;
	float: none;
	margin: 0;

}

form.flat label, form .checkbox {
	
	display: inline-block;
	width: auto;
	margin: 0;
	float: none;
	
}

form .checkbox {
	
	line-height: 3em;
	padding: 0 1em;

}

form .checkbox label {
	

}

form.flat .checkbox label:first-of-type {
	
	margin-top: 0;
	padding-right: .5em;

}

select {
	
	height: auto;
	margin: 0;

}

.travel-alert b {
	
	color: $orange;
	text-transform: uppercase;
	
}

.travel-alert b:before {
	
	content: '!';
	display: inline-block;
	margin-right: .4em;
	background: $orange;
	color: #fff;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	
}

.travel-alert a[href] {

	font-weight: normal;	
	
}

a.arrow:after {

	content: '▶︎';
	display: inline-block;
	font-size: .8em;
	margin-left: .5em;
	
}

.hi {
	
	background: $darker-blue;
	color: #fff;
	border-radius: 3px;

}

.hi a[href] {
	
	color: #fff;

}

.hi input[type=email], .hi input[type=password] {
	
	background: $light-blue;
	color: #fff;
	
}

.hi p {
	
	margin: .5em 0;

}

.box {
	
	background: $lighter-blue;
	
}

.box input[type=text] {
	
	background: #fff;
	border-radius: 3px;
	box-shadow: -1px -1px 0 0px #ccc;

}

.box h2 {
	
	color: $dark-blue;
	padding: 0;

}

.slider-arrow {
	
	display: none;

}

input[type=radio] + .checkbox-icon {
	
	background: #fff;
	border: 2px solid #999;
	width: .9em;
	height: .9em;

}

input[type=radio]:checked + .checkbox-icon {
	
	background: $dark-blue;
	box-shadow: 0 0 1px 2px $orange;
	border-color: #fff;

}

input[type=radio]:checked+.checkbox-icon:before {
	
	background: $dark-blue;
	
}

form .select {
	
	box-shadow: 1px 1px 0 #ccc;
	height: auto;
	border-radius: 3px;
	background: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);
	cursor: pointer;
}

select {
	
	line-height: 2em;
	background: url(up-dwn-arrows.png) no-repeat center center;
	background-position: calc(100% - .5em) center;
	padding-right: 2em;
	color: $blue;
	font-weight: bold;

}
