body {
	
	font-family: 'Helvetica Neue', sans-serif;
	color: #000;

}

.contain {
	
	max-width: 1488px;
	
}

header {
	
	border-bottom: 1px solid #ddd;
	
}

header li a {
	
	padding: 0 1em;
	
}

header form {
	
	display: inline-block;
	padding: 0;
	
}

footer, .banner h2 {
	
	color: #fff;
	background: #000;
	display: inline-block;

}

.row img {
	
	display: block;
	margin: 0 auto;

}

.row > * {
	
	background: center center;	
	background-size: cover;

}

footer .row img, footer .row a[href] {
	
	margin: 0;
	display: inline-block;

}

footer .row img {
	
	padding: 0 1em;

}

h1 {
	
	padding: .5em;
	font-size: 3em;
	display: inline-block;
	background: #fff;
	color: #000;
	margin-bottom: .5em;
	
}

.banner a[href].button {
	
	background: yellow;
	color: #000;
	
}

.banner h2 {
	
	font-size: 1em;
	padding: 1.5em 1.2em;
	
}

.banner .pad {
	
	padding: 0 9em;
	    
}

main a[href].button {
	
	background: none;
	border: 1px solid;
	color: #000;

}

footer a[href].button {
	
	background: none;
	border: 1px solid;
	color: #fff;

}

form#language-selector select {
	
    background: none;
    font-weight: bold;
    width: 5em;
    margin: 0;
	    
}

@-moz-document url-prefix() {

	form#language-selector select {
	
    	text-indent: -1em;
	    
	}

}

main h3 {
	
	display: inline-block;
	background: #fff;
	padding: 1em;
	color: #000;
}

main b {
	
	display: inline-block;
	background: #000;
	padding: 1em;
	color: #fff;
	
}

footer .row {
	
	position: relative;
	
}

@media screen and (max-width: 640px) {
	
	.banner .pad {
		
		padding: 0;
		    
	}
	
	main .row {
		
		padding: 0 !important;
		
	}
	
}
