/* natUIve – Navigation */

@import '../../css/natuive-setup';

.n-nav {
	
	vertical-align: baseline;
	display: inline-block;
	background-color: transparent;
	background-color: var(--control-bg, transparent);
	color: inherit;
	color: var(--control-color, inherit);

	ul {
	
		margin: 0 0 0 -.5em;
		margin: 0;
		padding: 0;
		display: inline-block;
		width: auto;
		list-style: none;
		display: flex;
	    flex-wrap: wrap;

		li {
		
			margin: 0;
		
			&:last-child {
		
				margin-right: 0;
		
			}
	
		}
	
	}
	
	&.n-nav--scroll {
		
		overflow: auto;
		max-width: 100%;
		
		> ul {
			
			display: flex;
		    padding: .25em 0;
			flex-wrap: nowrap;
			white-space: nowrap;
	    		
		}
	
	}

	a {
		
		position: relative;
		padding: 0 .25em;

	}
	
	.active a[href] {
		
		text-decoration: none;
		opacity: .7;

	}
	
	&:not(.n-drop) a[href^='#'] {
		
		text-decoration: none;

	}
	
	&.n-row {
		
		display: inline-flex;
	
	}
	
}

@supports (--a: 1) {
	
	.n-nav--scroll {
		
		a {
		
			padding: 0;

		}
		
		> ul {
	
		    overflow: auto;
		    max-width: 100%;
		    transform: translate3d(0, 0, 0); // Safari macOS bug fix when using scrollbars: Not working initially.
		    -webkit-overflow-scrolling: touch;
	
		}
	
		ul li {
	
		    padding: $line-height-em/2;
	
		}
	
	}

}

main .n-nav ul {

	padding-left: 0;

}
	
// Drop nav

$bg: inherit; // fallback for browsers unsupporting CSS variables

.n-drop {

    color: #333;
    color: var(--control-color, #333);
    background-color: transparent;
    max-width: 100%;

	ul {
		
		padding: 0;
		margin: 0;
		min-height: 0;
		z-index: 1;
	
	}
	
	ul ul {

		padding: 0;
		position: absolute;
		left: 0;
		top: 100%;
	
	}
	
	ul ul ul {
		
		margin-left: 100%;
		top: 0;
	
	}

	ul ul.n-left-side.n-right-overflow {
		
		margin-left: var(--n-right-overflow, 0);

	}
		
	ul ul.n-left-side ul {
		
		margin-left: 0;
		left: auto;
		right: 100%;
    	
	}
	
	ul li {
		
		display: inline-block;
		vertical-align: top;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		position: relative;
		width: auto;
		background-color: #fff;
		background-color: var(--control-bg, #fff);
		
	}
	
	li > a {
		
		padding: .75em;
		display: block;
	
	}
	
	a:focus, li > :focus {
	
		outline-offset: -7px;
	
	}
	
	a[href] {
		
		position: relative;
	
	}
	
	li:not([aria-haspopup]) > a {
		
		z-index: 0;
		
	}
	
	ul[role=menubar] li > a {
		
	    margin-right: 0;
	    padding-right: .75em;
		
	}
	
	ul[role=menubar] li[aria-haspopup] > a {
		
	    margin-right: 0;
		padding-right: .75em;
		
	}
	
	li li {
		
		display: block;
		width: 100%;
	
	}
	
	ul li:not([aria-expanded]) > ul {
		
		min-height: 0;
		max-height: 0;
		overflow: hidden;
		position: absolute;
	
	}
	
	ul li > :checked ~ ul, :focus ~ ul, 
	a:focus ~ ul, ul li[aria-expanded] > ul, li li[aria-expanded] > ul, li li:not(:focus) :checked ~ ul {
		
		max-height: none;
		overflow: visible;
		opacity: 1;
		z-index: 2;
		background-color: #fff;
		background-color: var(--control-bg, #fff);
	
	}
	
	ul li[aria-expanded] > ul, li li[aria-expanded] > ul, li li:not(:focus) :checked ~ ul {
	
		z-index: 2; // Problem with CSS-only input method
	
	}
	
	li > input {
		
		-webkit-appearance: none;
		-moz-appearance: none;
		display: block;
		position: absolute;
		width: 100%; // iOS doesn't work with left/right
		height: 100%; 
		border: none;
		border-radius: 0;
		right: 0;
		width: 1.875em;
		margin: 0;
		font-size: inherit;
		cursor: pointer;
					
	}
	
	li[aria-haspopup]:before {
		
		content: '';
		position: absolute;
		display: block;
		right: 0;
		top: 0;
		width: 1.25em;
		height: 100%;
		
	}
	
	ul.n-list:not(.n-list--no-bullet):not(.n-list--inline) li:before {
	
	    content: '';
	    margin: 0;
	
	}
	
	ul.n-list:not(.n-list--no-bullet):not(.n-list--inline).n-left-side li:before {
	
		right: auto;
		transform: rotate(180deg);
		left: 0;
	    margin: 0;
	    top: 0;
	    height: 2em;
            	    
	}
	
	&.n-nav ul.n-list li:before {
	
	    display: block;
	    height: 100%;
	
	}

	li[aria-haspopup]:before, li > input {

		-webkit-mask: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpolygon transform='translate(8 8) rotate(180) translate(-8 -8)' points='8 0 16 16 0 16' fill='%23000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E%0A") center center no-repeat;
		-webkit-mask-size: .4em;
		background-color: #000;
		background-color: var(--control-color, #000);

   	}
   	
   	li > input {
	   	
		-webkit-mask-size: .6em;
	   	
	}

	&[data-ready] li > ul ~ a {
		
		background: none;
		
	}

	li[aria-haspopup] {
		
		padding-inline-end: 1.875em;
					
	}

}

@supports (-ms-ime-align:auto) { // Edge

	.n-drop li[aria-haspopup]:before {
			
		background: transparent;
		color: #000 !important;
		color: var(--control-color, #000) !important;
	    content: "↓" !important;
	    text-align: center;
	    line-height: 2 !important;
	
	}
	
	.n-drop li li[aria-haspopup]:before {
		
		content: '→' !important;

	}
	

}
	
@media (min-width: $screen-narrow) {

	.n-drop {
		
		--desktop: true;
		
		ul ul {
	
			transition: transform .2s ease-in-out;
		    transform-origin: top;
			transform: scaleY(0);
		
		}
	
		ul li > :checked ~ ul, :focus ~ ul, 
		a:focus ~ ul, ul li[aria-expanded] > ul, li li[aria-expanded] > ul, li li:not(:focus) :checked ~ ul {
			
			transform: scaleY(1);
			
			ul {
				
				transform: scaleX(1);
				transform-origin: left;
				
			}
		
		}
		
		li li {
			
			&[aria-haspopup]:before, > input {
		
			-webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpolygon transform='translate(8 8) rotate(90) translate(-8 -8)' points='8 0 16 16 0 16' fill='%23000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E%0A");
	    
			}
	
		}
		
		&:not([data-ready]) { // CSS only version
			
			li {
				
				display: flex;

				> input {
					
					position: static;
					order: 1;
				
				}

				&:not([tabindex]) > ul ~ a {
					
					padding-right: .75em;					
					
				}

			}

			
		}
	
		li:not([tabindex]) > ul ~ a {
		
			padding-right: 2.75em;
		
		}
	
		ul.n-left-side li[aria-haspopup] {
			
			padding-inline-end: 0;
			padding-inline-start: 1.875em;

			&:before {
				
				transform: rotate(180deg);
	
			}
						
		}

	}

	html:not(.can-touch) { // Hover rules here
		
		.n-drop {
		
			ul li:not([aria-expanded]) ul ul {
			
				transition: .1s .2s;
				opacity: 0;
				position: absolute;
			    transform: scaleX(0);
				transform-origin: left;
			
			}
			
			ul li:not([aria-expanded]) ul.n-left-side ul {
			
				transform-origin: right;
			
			}
			
			> ul > li > ul li {
				
				background-color: #fff;
				background-color: var(--control-bg, #fff);
				
			}
	
			> ul 		> li:hover > input:not(:checked) ~ ul,
			> ul li ul 	> li:hover > input:not(:checked) ~ ul,
			> ul > li:not([aria-haspopup]):hover > input:not(:checked) ~ ul,
			> ul li:not([aria-haspopup]) ul li:hover > input:not(:checked) ~ ul {
				
				min-height: 0;
				max-height: 0;
				overflow: hidden;
				z-index: 1;
				position: absolute;
	
			}
	
			> ul > li:not([aria-haspopup]):hover > ul,
			> ul 		> li:hover > ul,
			> ul li ul 	> li:hover > ul,
			ul ul li:not([aria-expanded]) :checked ~ ul,
			> ul li:not([aria-haspopup]) ul li:hover ~ ul {
				
				max-height: none;
				overflow: visible;
				opacity: 1;
				z-index: 2;
				background-color: #fff;
				background-color: var(--control-bg, #fff);
				transform: scaleY(1);
				
			}
			
			> ul li ul li:hover ul {
	
				transition-delay: .2s;
				transform: scaleX(1);
	
			}
		
		}

	}

	nav.n-drop ul[role=menubar] > li > a {
		
		max-width: 100vw;
		white-space: normal;

	}

	nav.n-drop li {
		
		white-space: nowrap;
		
		li[haspopup] > a, li li a { // To do: top level width 100em, max-width: 100vw
			
			white-space: normal;
			max-width: calc(33.33vw - 2em);
			width: 100em;

		}
		
	}
	
	// IE11

	_:-ms-input-placeholder, :root nav.n-drop li {
		
		white-space: normal;

	}
		
	_:-ms-input-placeholder, :root nav.n-drop ul ul ul {

		display: block;		

	}

	_:-ms-input-placeholder, :root nav.n-drop li:hover ul {
		
		overflow: visible !important;
		z-index: 2 !important;
		transform: none !important;

	}

	_:-ms-input-placeholder, :root nav.n-drop input[type=checkbox] {
		
		display: none !important;

	}

	_:-ms-input-placeholder, :root nav.n-drop li ul ~ a:before {
		
		content: '↓';
		position: absolute;
		top: .75em;
		right: .5em;
		text-decoration: none !important;

	}

	_:-ms-input-placeholder, :root nav.n-drop li li ul ~ a:before {
		
		content: '→';

	}
	
	_:-ms-input-placeholder, :root .n-drop:not([data-ready]) li:not([tabindex]) > ul ~ a {
		
		padding-right: 1.75em;

	}
	
	.can-touch .n-drop ul li:not([aria-expanded]) > ul {
		
		visibility: hidden;
		
	}

	[dir=rtl] .n-drop {
		
		li ul:not(.n-left-side) > li[aria-haspopup] {
			
			padding-left: 0;
			padding-right: 1.875em;
			
			&:before {
	
				right: 0;
				left: auto;			
				
			}
			
		}
		
		li ul.n-left-side > li > a {
				
			text-align: left;
			text-align: start;
	
		}
	
	
	}

}

[dir=rtl] .n-drop {
	
	ul.n-left-side li[aria-haspopup], li[aria-haspopup] {
		
		padding-right: 0;
		padding-left: 1.875em;
		
	}
	
	&.n-nav ul.n-list li:before {
		
		left: 0;
		right: auto;
		margin-left: 0;
		
	}

	li[aria-haspopup]:before, li > input {
		
	    right: auto;
	    left: 0;		
	
	}

}

@media (max-width: $screen-narrow-max) {

	.n-drop ul {
	
		li:not([aria-expanded]) > ul {
			
			position: static;
		    width: calc(100% + 3em);
		    transition: max-height .2s ease-in-out;
		
		}

		ul {
			
			position: static;
		    width: calc(100% + 3em);
			padding-left: .5em;
			overflow: hidden;
			box-sizing: border-box;
		
			ul {
				
				margin: 0;	
		
			}

		}
	
		li {
			
			width: 100%;
		
			&[aria-haspopup] {
				
				padding-right: 3em;
							
			}
	
		}
	
		li[aria-haspopup][aria-expanded]:before {
	
			-webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpolygon transform='translate(8 8) rotate(0) translate(-8 -8)' points='8 0 16 16 0 16' fill='%23000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E%0A");
	
	   	}

		&.n-list:not(.n-list--no-bullet):not(.n-list--inline).n-left-side li:before {
		
			right: 0;
			left: auto;
			transform: none;
	            	    
		}
		
	}

	.n-drop li[aria-haspopup]:before {
		
		-webkit-mask-position-y: .75em;		
		
	}
	
	.n-drop li > input {
		
		-webkit-mask-position-y: 1.15em;		
		
	}
	
	html:not([data-natuive-js]) .n-drop {
		
		width: 100%;
		
		ul li {
			
			display: flex;
			flex-direction: column;
			
			a {
				
				order: -1;
	
			}
			
		}
		
		ul li:not([aria-expanded]) > ul {
			
			width: 100%;

		}
	
	}

	html:not([data-natuive-js]) .n-fold.n-fold--mobile:not([aria-expanded]) .n-fold--content {
		
		max-width: 100%;
		
	}

	[dir=rtl] .n-drop {
		
		li[aria-haspopup] {
	
		    padding-left: 2.5em;
		    
		    ul {
			    
				max-width: calc(100% + 2.5em);
			    padding-right: .5em;			    
			    padding-left: 0;

				&.n-list:not(.n-list--no-bullet):not(.n-list--inline).n-left-side li:before {
				
					right: auto;
					left: 0;
			            	    
				}
				
				ul {
					
					max-width: calc(100% + 1.875em);
    					
				}
		
		    }
		
		}
		
	}

}

@supports (-webkit-overflow-scrolling: touch) { // Not working on iOS 13?

  /* CSS specific to iOS devices */ 
  .n-drop :focus {
	  
	  outline-style: dotted;
	  outline-width: 1px;
	  
  }

}

