@charset "UTF-8";
/* natUIve – Slider – CSS-only */
/*
$color: #fff;
$bg: #1E8DaC;
*/
:root {
  /*
  // Crashes Chrome 49 Beta, FF 44 bug can't calc properly
  	--line-height: 2;
  	--line-height-em: calc(var(--line-height)*1em);
  */
  /*
  	--color: #fff;
  	--bg: #1E8DaC;
  */
  --color: #333;
  --bg: #fff; }

.n-slider {
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  /* keep inline-block elements together */
  word-wrap: normal;
  /* IE8 fix */
  position: relative;
  -webkit-overflow-scrolling: touch;
  left: 0;
  /*
  	-webkit-animation-timing-function: ease;
  	-webkit-animation-iteration-count: 1;
  	-webkit-animation-duration: .4s;
  	animation-timing-function: ease;
  	animation-iteration-count: 1;
  	animation-duration: .4s;
  */
  /*
  	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	-ms-transform-style: preserve-3d;
  	transform-style: preserve-3d;
  */
  display: flex;
  min-height: 4em; }

.n-slider > * {
  width: 100%;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  overflow: hidden;
  /*
  	font-size: $font-size;
  	line-height: $line-height;
  	min-height: $line-height;
  */
  margin: 0;
  flex: 1 0 auto; }

.n-slider.vertical > * {
  display: block; }

.n-slider.vertical > img {
  max-width: none;
  width: auto;
  max-height: 100%; }

@supports (--a: 1) {
  .n-slider > *:after, .n-slider > *:before {
    /* Slide background with full slider height */
    content: '<';
    display: block;
    position: absolute;
    top: 50%;
    bottom: 0;
    width: 100%;
    background: transparent;
    z-index: -1;
    opacity: .5; }

  .n-slider > *:after {
    content: '>';
    text-align: end; }

  .n-sldr .n-slider > *:after, .n-sldr .n-slider > *:before, .n-slider > *:first-child:before, .n-slider > *:last-child:after, .n-sldr .n-slider > * > div.bg {
    display: none; } }
.n-slider > div:before {
  background: transparent; }

.row .n-slider {
  padding: 0;
  /*
  	border-left: 7px solid transparent;
  	border-right: 7px solid transparent;
  */ }

.n-slider > * > img {
  max-height: 100%;
  vertical-align: middle;
  margin: 0 auto;
  display: block; }

.n-slider[data-peek] > * > img {
  padding: 0 .25em; }

.n-slider.center > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.n-slider.auto-height > *:not([data-active]) {
  height: 0; }

.n-sldr .n-slider.align-middle > *, .n-slider.align-middle > * {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.n-slider.align-middle > * > * {
  text-align: center; }

/*
.overlay .n-sldr.vertical.tabs > .slider-nav.row {
		
	position: fixed;
	top: 1em;
	bottom: 1em;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	flex-wrap: nowrap;

}
*/
.n-sldr.overlay {
  top: 0px;
  bottom: 0px;
  height: 100%;
  right: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
  position: absolute; }

@media screen and (max-width: 599.9px) {
  .n-sldr.tabs > .slider-nav.row, .slider-nav.row.tabs {
    display: flex; }

  .n-slider > * {
    display: block; }

  @supports (--a: 1) {
    .n-slider > * {
      display: inline-block; } } }
.n-slider.overlay, .n-sldr.overlay {
  height: 100%; }

.n-sldr.overlay, .n-sldr.vertical.overlay {
  margin-top: 3em;
  height: calc(100% - 3em); }

.n-sldr.vertical.overlay {
  height: calc(100% - 3em); }

@media screen and (max-width: 599.9px) {
  .n-sldr.overlay, .n-sldr.vertical.overlay {
    margin-top: 1.5em;
    height: calc(100% - 1.5em); } }
.n-sldr {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  z-index: 1; }

.vertical.tabs > .n-slider {
  width: 75%;
  float: right; }

.vertical.tabs > .slider-nav.row, .slider-nav.row.tabs {
  width: 25%;
  /*
  	float: left;
  	display: flex;
  	flex-direction: column;
  */ }

/*
.n-sldr.tabs.vertical > .slider-nav.row a, .slider-nav.row.tabs a {
	
	flex: 0 1 auto;

}
*/
.vertical.tabs.right > .n-slider {
  float: left; }

.vertical.tabs.right > .slider-nav.row, .slider-nav.row.tabs {
  float: right; }

.vertical.tabs > .slider-nav a, .slider-nav.tabs a {
  display: block;
  box-sizing: border-box;
  padding: 1.5em 0.5em; }

@supports (--a: 1) {
  .aspect > .n-sldr {
    height: 100%;
    position: absolute; }

  .aspect > .n-sldr.outside:not(.vertical) {
    padding-bottom: 4em; }

  .aspect > .n-sldr .n-slider {
    height: 100%; } }
_:-ms-lang(x), .aspect > .n-sldr {
  position: static; }

*:-webkit-full-screen .n-sldr {
  background: #000; }

*:-moz-full-screen .n-sldr {
  background: #000; }

*:fullscreen .n-sldr {
  background: #000; }

.n-slider[data-ready] {
  overflow: visible;
  width: 100%;
  padding: 0;
  -ms-overflow-style: none;
  /* No scrollbars on IE10+ */ }

/*
.n-sldr .n-slider > * {
	
	contain: strict;
	
}

.n-sldr .n-slider > .active {
	
	contain: none;
	
}
*/
.overlay.n-slider:not(.vertical) > * {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.n-slider.vertical[data-ready] {
  overflow: hidden;
  overflow-y: scroll;
  overflow: visible;
  flex-direction: column; }

.n-slider.vertical[data-ready] > *, .n-sldr.tabs > .slider-arrow {
  height: auto;
  display: none; }

.n-slider::-webkit-scrollbar {
  height: auto;
  display: none; }

.n-sldr > .pad {
  padding: 0;
  margin: 3em; }

.n-sldr:not(.peek) > .pad {
  overflow-x: hidden; }

.n-slider[data-ready] > *:not([data-active]) {
  display: inline-block;
  pointer-events: none; }

/*
.n-slider > .active + div ~ div:not(:last-child) { // Hide all slides after the next one, for speed
	
	display: none;
	
}
*/
.n-slider[data-ready]:not([data-peek]) > *:not([data-active]) {
  visibility: hidden; }

.n-slider[data-sliding]:not([data-peek]) > *:not([data-active]) {
  display: none; }

.n-slider.vertical[data-ready] > *:not([data-active]) {
  display: none; }

.overlay.n-slider > * {
  padding: 0; }

/*
.no-flex .n-slider > * + * { // Fallback
	
	margin-left: -.3em;
	
}
*/
.overlay.n-slider.vertical > * {
  height: 100%; }

.n-slider[data-ready] > [data-active], .overlay.n-lightbox.n-slider > * > img {
  display: inline-block; }

.overlay.n-slider > img {
  padding: 0;
  height: auto; }

.slider-arrow {
  position: absolute;
  top: 50%;
  left: 0.75em;
  z-index: 3;
  /* Stay on top of slider-nav if they are aligned vertically */
  transform: translateY(-50%); }

.slider-arrow:before {
  content: "←"; }

.vertical > .slider-arrow:before {
  content: "↑"; }

.vertical > .slider-arrow {
  top: 1em;
  left: 48%;
  left: calc(50% - 1em);
  text-align: center;
  transform: none; }

.slider-arrow.right {
  left: auto;
  right: 0.75em; }

.slider-arrow.right:before {
  content: "→"; }

.vertical > .slider-arrow.right:before {
  content: "↓"; }

.vertical > .slider-arrow.right {
  left: 48%;
  left: calc(50% - 1em);
  right: auto;
  bottom: 1em;
  top: auto; }

.slider-arrow, .slider-nav a {
  cursor: pointer;
  padding: .6em;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  transition: background-color .2s linear;
  line-height: 1em;
  box-sizing: content-box; }

.slider-arrow, .slider-nav {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none; }

.n-sldr > .slider-nav, .n-sldr > .pad > .slider-nav {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  box-sizing: content-box;
  text-align: left;
  text-align: start;
  justify-content: flex-start;
  -webkit-overflow-scrolling: touch; }

.n-sldr.top .slider-nav {
  bottom: auto;
  top: 0; }

.n-sldr.vertical > .slider-nav {
  width: auto;
  display: flex;
  flex-direction: column;
  bottom: auto;
  left: .5em;
  padding: 1em 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; }

.n-sldr.vertical.outside.thumbnails > .slider-nav {
  padding: 0;
  left: -.5em; }

.n-sldr.vertical.outside.thumbnails > .slider-nav :last-child {
  margin-bottom: 0; }

.n-sldr.vertical.outside.thumbnails > .slider-nav :first-child {
  margin-top: 0; }

.n-sldr.vertical.outside.thumbnails.right > .slider-nav {
  left: auto;
  right: -.5em; }

.n-sldr.right.vertical > .slider-nav {
  right: .5em;
  left: auto; }

.slider-nav a {
  display: inline-block;
  margin: .5em;
  line-height: 2em;
  padding: 0;
  width: var(--nav-size, 2em);
  height: var(--nav-size, 2em);
  min-height: var(--nav-size, 2em);
  text-align: center; }

.n-slider.vertical > [data-active], .vertical > .slider-nav a {
  display: block;
  overflow: auto; }

.slider-nav a[data-active] {
  background-color: rgba(0, 0, 0, 0.2);
  color: inherit; }

.n-sldr.tabs > .slider-nav, .slider-nav.tabs {
  right: auto;
  position: static;
  transform: none; }

.tabs > .slider-nav.row, .slider-nav.row.tabs {
  padding: 0;
  margin: 0;
  width: 100%; }

.full-window .n-sldr.tabs > .slider-nav {
  position: absolute;
  bottom: 0;
  padding: 0; }

.n-sldr.tabs > .slider-nav a, .tabs.slider-nav a {
  text-indent: 0;
  width: auto;
  height: auto;
  text-align: left;
  text-align: start;
  border-radius: 0;
  line-height: 1.5;
  padding: .5em;
  flex: 1;
  margin: 0;
  white-space: normal; }

.n-sldr.vertical.thumbnails {
  width: 100%; }
  .n-sldr.vertical.thumbnails.outside:not(.right) {
    padding-left: 5em; }
    .n-sldr.vertical.thumbnails.outside:not(.right) > .slider-arrow {
      left: calc(50% + 1.5em); }
  .n-sldr.vertical.thumbnails.outside.right {
    padding-right: 5em; }
    .n-sldr.vertical.thumbnails.outside.right > .slider-arrow {
      left: calc(50% - 3.5em); }

/*# sourceMappingURL=natuive-slider.css.map */
