/* natUIve – Slider – CSS-only */

@import '../../css/natuive-setup';

.n-slider {

	overflow: auto;
	overflow-y: hidden;
	white-space: nowrap; /* keep inline-block elements together */
	word-wrap: normal; /* IE8 fix */
	position: relative;
	-webkit-overflow-scrolling: touch;
	left: 0;

	display: flex;
	// will-change: transform; // Breaks WebKit full screen video
    min-height: 4em; // Make controls visible on very short slides

}

.n-slider > * {

	width: 100%;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	overflow: hidden;
	margin: 0;

	flex: 1 0 auto;

}

.n-slider.vertical > * {
	
	display: block;

}

.n-slider.vertical > img {

	max-width: none;
	width: auto;
	max-height: 100%;

}

@supports (--a: 1) { // New browsers only

	.n-slider > *:after, .n-slider > *:before { /* Slide background with full slider height */
		
		content: '<';
		display: block;
		position: absolute;
		top: 50%;
		bottom: 0;
		width: 100%;
		background: transparent;
		z-index: -1;
		opacity: .5;
	
	}
	
	.n-slider > *:after {
		
		content: '>';
		text-align: end;
		
	}
	
	
	.n-slider-wrap .n-slider > *:after, .n-slider-wrap .n-slider > *:before, .n-slider > *:first-child:before, .n-slider > *:last-child:after, .n-slider-wrap .n-slider > * > div.bg {
	
		display: none;	
	
	}

}

.n-slider > div:before { // Specify full-height per-slide background here
	
	background: transparent;
	
}

.row .n-slider {
	
	padding: 0;

}

.n-slider > * > img {

	max-height: 100%;
    vertical-align: middle;
	margin: 0 auto;
	display: block;

}

.n-slider[data-peek] > * > img {

	padding: 0 .25em;

}

.n-slider.center > * {
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	
}

.n-slider.auto-height > *:not([data-active]) {
	
	height: 0;

}

.n-slider-wrap .n-slider.align-middle > *, .n-slider.align-middle > * {
	
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.n-slider.align-middle > * > * {
	
	text-align: center;

}

.n-slider-wrap.overlay {
	
	top: 0px;
	bottom: 0px;
	height: 100%;
	right: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;
	position: absolute;

}

@media screen and (max-width: $screen-narrow-max) {

	.n-slider-wrap.tabs > .slider-nav.row, .slider-nav.row.tabs {
		
		display: flex;
		
	}

	.n-slider > * { // Stack slides vertically on old mobile browsers

		display: block;

	}

	@supports (--a: 1) { // ...and restore the slider on modern browsers
		
		.n-slider > * {
	
			display: inline-block;
	
		}
	
	}

}

// JS enhanced. To do: add [data-ready]

.n-slider.overlay, .n-slider-wrap.overlay {
	
	height: 100%;
	
}

.n-slider-wrap.overlay, .n-slider-wrap.vertical.overlay {
			
	margin-top: $line-height-em*2;
// 		margin-top: calc(var(--line-height-em)*2);
	height: calc(100% - #{$line-height-em*2});
// 		height: calc(100% - var(--line-height-em)*2);

}		

.n-slider-wrap.vertical.overlay/* , .n-slider.overlay, .overlay.n-slider > * */ {
	
	height: calc(100% - #{$line-height-em*2});

}

@media screen and (max-width: $screen-narrow-max) {

	.n-slider-wrap.overlay, .n-slider-wrap.vertical.overlay {
				
		margin-top: $line-height-em;
	// 		margin-top: calc(var(--line-height-em)*2);
		height: calc(100% - #{$line-height-em});
	// 		height: calc(100% - var(--line-height-em)*2);
	
	}

}		

// To do: move all .n-slider-wrap (enhanced slider) behind a @supports for modern browsers. Leave the basic CSS-only version for old browsers.

.n-slider-wrap {
	
	position: relative;
	overflow: hidden;
	max-height: 100%;
	z-index: 1;

}

.vertical.tabs > .n-slider { // Floats, because flex version is glitching when tab stack is taller than the slider. To do: fix flex version.

	width: 75%;
    float: right;

}

.vertical.tabs > .slider-nav.row, .slider-nav.row.tabs {
	
	width: 25%;

}

.vertical.tabs.right > .n-slider {

    float: left;

}

.vertical.tabs.right > .slider-nav.row, .slider-nav.row.tabs {
	
	float: right;

}

.vertical.tabs > .slider-nav a, .slider-nav.tabs a {
	
	display: block;
	box-sizing: border-box;
	padding: $line-height-em .5em;

}

@supports (--a: 1) {
	
	.aspect > .n-slider-wrap {
		
		height: 100%;
		position: absolute;
	
	}
	
	.aspect > .n-slider-wrap.outside:not(.vertical) {
		
		padding-bottom: 4em;	
	
	}
	
	.aspect > .n-slider-wrap .n-slider {
		
		height: 100%;
	
	}

}

_:-ms-lang(x), .aspect > .n-slider-wrap { // Aspect ratio not working in IE/Edge
		
	position: static;

}

*:-webkit-full-screen .n-slider-wrap {

	background: #000;

}
	
*:-moz-full-screen .n-slider-wrap {

	background: #000;

}
	
*:fullscreen .n-slider-wrap {

	background: #000;

}
	
.n-slider[data-ready] {
	
	overflow: visible;
    width: 100%;
    padding: 0; // Because .n-slider.pad breaks the slider layout
	-ms-overflow-style: none; /* No scrollbars on IE10+ */

}

.overlay.n-slider:not(.vertical) > * {
	
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	
}

.n-slider.vertical[data-ready] {
	
	overflow: hidden;
	overflow-y: scroll;
	overflow: visible;
	flex-direction: column;

}

.n-slider.vertical[data-ready] > *, .n-slider-wrap.tabs > .slider-arrow {

	height: auto;
	display: none;

}

.n-slider::-webkit-scrollbar {

	height: auto;
	display: none;

}

.n-slider-wrap > .pad {
	
    padding: 0;
    margin: $line-height-em*2;
	
}

.n-slider-wrap:not(.peek) > .pad {

	overflow-x: hidden;

}

.n-slider[data-ready] > *:not([data-active]) {

	display: inline-block;
	pointer-events: none;

}

.n-slider[data-ready]:not([data-peek]) > *:not([data-active]) {

	// Disable focusing elements by tab key in inactive slides
	visibility: hidden;

}

.n-slider-wrap[data-active] > .n-slider:not([data-peek]) > *:not([data-active]), 
.n-slider-wrap[data-active] > .pad > .n-slider:not([data-peek]) > *:not([data-active]), 
.n-slider.vertical[data-ready] > *:not([data-active]) {
	
	display: none;

}

.overlay.n-slider > * {
	
	padding: 0;

}

.overlay.n-slider.vertical > * {
	
	height: 100%;

}

.n-slider[data-ready] > [data-active], .overlay.n-lightbox.n-slider > * > img {

	display: inline-block;

}

.overlay.n-slider > img {
	
	padding: 0;
	height: auto;
	
}

.slider-arrow {
	
	position: absolute;
	top: 50%;
	left: $line-height-em/2;
	z-index: 3; /* Stay on top of slider-nav if they are aligned vertically */
	transform: translateY(-50%);
	
}

	.slider-arrow:before {
	
		content: "←";
	
	}

	.vertical > .slider-arrow:before {
	
		content: "↑";
	
	}

	.vertical > .slider-arrow {
		
		top: 1em;
		left: 48%;
		left: calc(50% - 1em);
		text-align: center;
		transform: none;
	
	}

	.slider-arrow.right {
	
		left: auto;
		right: $line-height-em/2;
	
	}

	.slider-arrow.right:before {
	
		content: "→";
	
	}

	.vertical > .slider-arrow.right:before {
	
		content: "↓";
	
	}

	.vertical > .slider-arrow.right {
		
		left: 48%;
		left: calc(50% - 1em);
		right: auto;
		bottom: 1em;
		top: auto;
	
	}
	
	.slider-arrow, .slider-nav a {
		
		cursor: pointer;
		padding: .6em;
		width: 1em;
		height: 1em;
		-webkit-border-radius: 50px;
		border-radius: 50%;
		background: rgba(0, 0, 0, .1);
		color: #fff;
		transition: background-color .2s linear;
		line-height: 1em;
		box-sizing: content-box;
	
	}

.slider-arrow, .slider-nav {

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;

}

.n-slider-wrap > .slider-nav, .n-slider-wrap > .pad > .slider-nav {
	
	position: absolute;
	bottom: 0;
	white-space: nowrap;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
	box-sizing: content-box; // For hard scrollbars (mouse without trackpad)
	text-align: left;
	text-align: start;
	justify-content: flex-start;
	-webkit-overflow-scrolling: touch;
	
}

.n-slider-wrap.top .slider-nav {
	
	bottom: auto;
	top: 0;
	
}

	.n-slider-wrap.vertical > .slider-nav {
		
		width: auto;
		display: flex;
		flex-direction: column;
		bottom: auto;
		left: .5em;
		padding: 1em 0;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		
	}

	.n-slider-wrap.vertical.outside.thumbnails > .slider-nav {
		
		padding: 0;
		left: -.5em;

	}

	.n-slider-wrap.vertical.outside.thumbnails > .slider-nav :last-child {
		
		margin-bottom: 0;

	}
		
	.n-slider-wrap.vertical.outside.thumbnails > .slider-nav :first-child {
		
		margin-top: 0;

	}
		
	.n-slider-wrap.vertical.outside.thumbnails.right > .slider-nav {
		
		left: auto;
		right: -.5em;

	}
	
	.n-slider-wrap.right.vertical > .slider-nav {
		
	    right: .5em;
	    left: auto;

	}
	
	.slider-nav a {
		
		display: inline-block;
		margin: .5em;
		line-height: 2em;
		padding: 0;
		width: var(--nav-size, 2em);
		height: var(--nav-size, 2em);
		min-height: var(--nav-size, 2em);
		text-align: center;
		
	}
	
	.n-slider.vertical > [data-active], .vertical > .slider-nav a {
		
		display: block;
		overflow: auto;
		
	}
		
	.slider-nav a[data-active] {
	
		background-color: rgba(0, 0, 0, .2);
		color: inherit;
	
	}

	.n-slider-wrap.tabs > .slider-nav, .slider-nav.tabs {
		
		right: auto;
		position: static;
		transform: none;
		
	}

	.tabs > .slider-nav.row, .slider-nav.row.tabs {
		
		padding: 0;
		margin: 0;
		width: 100%;

	}
	
	.full-window .n-slider-wrap.tabs > .slider-nav {
		
		position: absolute;
		bottom: 0;
		padding: 0;
	
	}
	
	.n-slider-wrap.tabs > .slider-nav a, .tabs.slider-nav a {
		
		text-indent: 0;
		width: auto;
		height: auto;
		text-align: left;
		text-align: start;
		border-radius: 0;
		line-height: $line-height;
		padding: .5em;
		flex: 1;
		margin: 0;
		white-space: normal;
	
	}

.n-slider-wrap.vertical.thumbnails {
	
	width: 100%;
	
	&.outside {
	
		&:not(.right) {
			
			padding-left: 5em;
			
			> .slider-arrow {
				
				left: calc(50% + 1.5em);
		
			}
		
		}
	
		&.right {
			
			padding-right: 5em;
			
			> .slider-arrow {
				
				left: calc(50% - 3.5em);
		
			}
		
		}
	
	}

}
