/* niui – Slider – CSS-only */

@import '../../css/niui-setup';

.n-slider {

	overflow: auto;
	overflow-y: hidden;
	white-space: nowrap; /* keep inline-block elements together */
	word-wrap: normal; /* IE8 fix */
	position: relative;
	-webkit-overflow-scrolling: touch;
	left: 0;

	display: flex;
	// will-change: transform; // Breaks WebKit full screen video
    min-height: 4em; // Make controls visible on very short slides
    
}

.n-slider > * {

	width: 100%;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	overflow: hidden;
	margin: 0;
	box-sizing: border-box;

	flex: 1 0 auto;

}

.n-slider.n-slider__vertical {

	> * {
		
		display: block;
	
	}
	
	> img {
	
		max-width: none;
		width: auto;
		max-height: 100%;
	
	}

}

@supports (--a: 1) { // New browsers only

	.n-slider > *:after, .n-slider > *:before { /* Slide background with full slider height */
		
		content: '<';
		display: block;
		position: absolute;
		top: 50%;
		bottom: 0;
		width: 100%;
		background: transparent;
		z-index: -1;
		opacity: .5;
	
	}
	
	.n-slider > *:after {
		
		content: '>';
		text-align: end;
		
	}
	
	
	.n-slider--wrap .n-slider > *:after, .n-slider--wrap .n-slider > *:before, .n-slider > *:first-child:before, .n-slider > *:last-child:after {
	
		display: none;	
	
	}

}

.n-slider > div:before { // Specify full-height per-slide background here
	
	background: transparent;
	
}

.n-row .n-slider {
	
	padding: 0;

}

.n-slider > * > img {

	max-height: 100%;
    vertical-align: middle;
	margin: 0 auto;
	display: block;
	max-width: 100%;

}

.n-slider[data-peek] > * > img {

//  	padding: 0 .25em; // Glitch on zoom
	box-sizing: content-box;

}

.n-slider.n-slider--center > * {
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	
}

.n-slider.n-slider__auto-height[data-ready] > *:not([data-active]) {
	
	height: 0;

}

.n-slider--wrap .n-slider.n-middle > *, .n-slider.n-middle > * {
	
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.n-slider.n-middle > * > * {
	
	text-align: center;

}

.n-slider--wrap.n-slider__overlay {
	
	top: 0px;
	bottom: 0px;
	height: 100%;
	right: 0px;
	left: 0px;
	width: 100%;
	z-index: 1;
	position: absolute;

}

// JS enhanced. To do: add [data-ready]

.n-slider.n-slider__overlay, .n-slider--wrap.n-slider__overlay {
	
	height: 100%;
	
}

.n-slider--wrap.n-slider__overlay, .n-slider--wrap.n-slider__vertical.n-slider__overlay {
			
	margin-top: $line-height-em*2;
	height: calc(100% - #{$line-height-em*2});

}		

.n-slider--wrap.n-slider__vertical.n-slider__overlay/* , .n-slider.overlay, .overlay.n-slider > * */ {
	
	height: calc(100% - #{$line-height-em*2});

}

// To do: move all .n-slider--wrap (enhanced slider) behind a @supports for modern browsers. Leave the basic CSS-only version for old browsers.

.n-slider--wrap {
	
	position: relative;
	overflow: hidden;
	max-height: 100%;
// 	z-index: 1; // Hides nav on iOS 13 while sliding

    &, > * {
	    
	    box-sizing: border-box;

    }

}

.n-slider__vertical.n-tabs {


	&:not(.n-slider__detached-nav) > .n-slider { // Floats, because flex version is glitching when tab stack is taller than the slider. To do: fix flex version.
	
		width: 75%;
	    float: right;
	
	}
	
	> .n-slider--nav.n-row, > .n-slider--nav.n-row.n-tabs, , > .n-pad > .n-slider--nav.n-row.n-tabs {
		
		width: 25%;
	
	}
	
	&.n-slider__right > .n-slider {
	
	    float: left;
	
	}
	
	&.n-slider__right > .n-slider--nav.n-row, > .n-slider--nav.n-row.n-tabs, > .n-pad > .n-slider--nav.n-row.n-tabs {
		
		float: right;
	
	}
	
	> .n-slider--nav *, > .n-slider--nav.n-tabs *, > .n-pad > .n-slider--nav.n-tabs * {
		
		display: block;
		box-sizing: border-box;
		padding: $line-height-em/3 .5em;
	
	}

}

@supports (--a: 1) {

	.n-aspect > .n-slider--wrap {
		
		height: 100%;
	    width: 100%;
		position: absolute;
	
		&.n-slider__outside:not(.n-slider__vertical) {
			
			padding-bottom: var(--thumb-size, 4em);
		
		}
		
		> .n-slider, .n-slider.n-slider__vertical[data-ready] > *, > .n-pad > .n-slider {
			
			&, > * {
			
				height: 100%;
			
			}
		
		}
	
	}

}

/*
_:-ms-lang(x), .n-aspect > .n-slider--wrap { // n-aspect ratio not working in IE/Edge
		
	position: static;

}
*/

*:-webkit-full-screen .n-slider--wrap {

	background: #000;

}
	
*:-moz-full-screen .n-slider--wrap {

	background: #000;

}
	
*:fullscreen .n-slider--wrap {

	background: #000;

}
	
.n-slider[data-ready] {
	
	overflow: visible;
    width: 100%;
    padding: 0; // Because .n-slider.n-pad breaks the slider layout
	-ms-overflow-style: none; /* No scrollbars on IE10+ */

}

.n-slider__overlay.n-slider:not(.n-slider__vertical) > * {
	
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	
}

.n-slider.n-slider__vertical[data-ready] {
	
// 	overflow-y: scroll;
	overflow: visible;
	flex-direction: column;

}

.n-slider.n-slider__vertical[data-ready] > *, .n-slider--wrap.n-tabs > .n-slider--arrow {

	height: auto;
	display: none;

}

.n-slider::-webkit-scrollbar {

	height: auto;
	display: none;

}

.n-slider--wrap {
	
	&.n-pad {

	    padding: $line-height-em*2;

	}
	
	> .n-pad {
		
	    padding: 0;
	    margin: $line-height-em*2;
		
	}

}

.n-slider--wrap:not(.n-slider__peek) > .n-pad {

	overflow-x: hidden;

}

.n-slider[data-ready] > *:not([data-active]) {

	display: inline-block;
	pointer-events: none;

}

.n-slider[data-ready]:not([data-peek]) > *:not([data-active]) {

	// Disable focusing elements by tab key in inactive slides
	visibility: hidden;

}

.n-slider--wrap[data-active] > .n-slider:not([data-peek]) > *:not([data-active]), 
.n-slider--wrap[data-active] > .n-pad > .n-slider:not([data-peek]) > *:not([data-active]), 
.n-slider.n-slider__vertical[data-ready] > *:not([data-active]) {
	
	display: none;

}

.n-slider__overlay.n-slider > * {
	
	padding: 0;

}

.n-slider__overlay.n-slider.n-slider__vertical > * {
	
	height: 100%;

}

.n-slider[data-ready] > [data-active] {

	display: inline-block;

}

.n-slider__overlay.n-lightbox.n-slider > * > img {

	display: inline-block;
	object-fit: contain;

}

.n-slider__overlay.n-slider > img {
	
	padding: 0;
	height: auto;
	
}

.n-slider--arrow {
	
	position: absolute;
	top: 50%;
	left: $line-height-em/4;
	z-index: 3; /* Stay on top of n-slider--nav if they are aligned vertically */
	transform: translateY(-50%);
	
}

	.n-slider--arrow:before {
	
		content: "←";
	
	}

	.n-slider__vertical > .n-slider--arrow {
	
		&:before {
		
			content: "↑";
		
		}
	
		top: 1em;
		left: 48%;
		left: calc(50% - 1em);
		text-align: center;
		transform: none;
	
	}

	.n-slider--arrow.n-slider__right {
	
		left: auto;
		right: $line-height-em/4;
	
	}

	.n-slider--arrow.n-slider__right:before {
	
		content: "→";
	
	}

	.n-slider__vertical > .n-slider--arrow.n-slider__right {
		
		&:before {
	
			content: "↓";
		
		}

		left: 48%;
		left: calc(50% - 1em);
		right: auto;
		bottom: 1em;
		top: auto;
	
	}
	
	.n-slider--arrow, .n-slider--nav * {
		
		cursor: pointer;
		padding: .6em;
		width: 1em;
		height: 1em;
		-webkit-border-radius: 50px;
		border-radius: 50%;
		transition: background-color .2s linear;
		line-height: 1;
		box-sizing: content-box;
		background-color: var(--control-bg, #f8f8f8);
		color: var(--control-color, #333);
		border: 0;
		font-size: inherit;
	
	}

.n-slider--arrow, .n-slider--nav {

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;

}

.n-slider--wrap > .n-slider--nav, .n-slider--wrap > .n-pad > .n-slider--nav {
	
	position: absolute;
	bottom: 0;
	white-space: nowrap;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
	box-sizing: content-box; // For hard scrollbars (mouse without trackpad)
	text-align: left;
	text-align: start;
	justify-content: flex-start;
	-webkit-overflow-scrolling: touch;
	
}

.n-slider--wrap.n-slider__top .n-slider--nav {
	
	bottom: auto;
	top: 0;
	
}

	.n-slider--wrap.n-slider__vertical > .n-slider--nav {
		
		width: auto;
		display: flex;
		flex-direction: column;
		bottom: auto;
		left: .5em;
		padding: 1em 0;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		
	}

	.n-slider--wrap.n-slider__vertical.n-slider__outside.n-lightbox__thumbnails {
	
		> .n-slider--nav {
			
			padding: 0;
			left: -.5em;
	
			:last-child {
				
				margin-bottom: 0;
		
			}
				
			:first-child {
				
				margin-top: 0;
		
			}
				
		}
	
		&.n-slider__right > .n-slider--nav {
			
			left: auto;
			right: -.5em;
	
		}
	
	}
	
	.n-slider--wrap.n-slider__right.n-slider__vertical > .n-slider--nav {
		
	    right: .5em;
	    left: auto;

	}
	
	.n-slider--nav * {
		
		display: inline-block;
		margin: .5em;
		line-height: 2em;
		padding: 0;
		width: var(--nav-size, 2em);
		height: var(--nav-size, 2em);
		min-height: var(--nav-size, 2em);
		text-align: center;
		
	}
	
	.n-slider.n-slider__vertical > [data-active], .n-slider__vertical > .n-slider--nav * {
		
		display: block;
		overflow: auto;
		
	}
		
	.n-slider--nav [data-active] {
	
		background-color: var(--control-active-bg, #ededed);
		color: var(--control-active-color, #000);
	
	}

	.n-slider--wrap.n-tabs > .n-slider--nav, .n-slider--nav.n-tabs {
		
		right: auto;
		position: static;
		transform: none;
		
	}

	.n-tabs > .n-slider--nav.n-row, .n-slider--nav.n-row.n-tabs {
		
		padding: 0;
		margin: 0;
		width: 100%;

	}
	
	.n-full-window .n-slider--wrap.n-tabs > .n-slider--nav {
		
		position: absolute;
		bottom: 0;
		padding: 0;
	
	}
	
	.n-slider--wrap.n-tabs > .n-slider--nav *, .n-tabs.n-slider--nav * {
		
		text-indent: 0;
		width: auto;
		height: auto;
		text-align: left;
		text-align: start;
		border-radius: 0;
		line-height: $line-height;
		padding: .5em;
		margin: 0;
		flex: 1;
		outline-offset: -6px; // Don't crop
		white-space: normal;
		min-height: 0;
		box-sizing: border-box;
		
	}

.n-slider--wrap.n-slider__vertical.n-lightbox__thumbnails {
	
	width: 100%;
	
	&.n-slider__outside {
	
		&:not(.n-slider__right) {
			
			padding-left: calc(var(--thumb-size, 4em) + 1em);
			
			> .n-slider--arrow {
				
				left: calc(50% + 1.5em);
		
			}
		
		}
	
		&.n-slider__right {
			
			padding-right: calc(var(--thumb-size, 4em) + 1em);
			
			> .n-slider--arrow {
				
				left: calc(50% - 3.5em);
		
			}
		
		}
	
	}

}

/*
[data-active="true"] > .n-slider.n-slider__vertical.n-tabs[data-ready] {
	
	overflow: hidden;

}
*/

@media screen and (max-width: $screen-narrow-max) {

	.n-slider--wrap.n-tabs > .n-slider--nav.n-row, .n-slider--nav.n-row.n-tabs, .n-slider--wrap.n-tabs > .n-slider--nav * {
		
	    display: block;
	    white-space: normal;
    		
	}

	.n-slider__vertical.n-tabs:not(.n-slider__detached-nav) > .n-slider, .n-slider__vertical.n-tabs > .n-slider--nav.n-row.n-tabs {
	
		width: 100%;
	    float: none;		
		
	}

	.n-slider--wrap.n-slider__overlay, .n-slider--wrap.n-slider__vertical.n-slider__overlay {
				
		margin-top: $line-height-em*2;
		height: calc(100% - #{$line-height-em*2});
	
	}

/*
	.n-slider > * { // Stack slides vertically on old mobile browsers

		display: block;

	}

	@supports (--a: 1) { // ...and restore the slider on modern browsers
		
		.n-slider > * {
	
			display: inline-block;
	
		}
	
	}
*/

}


