/* niui – Typography */
@import "../../css/niui-setup";

.n-type {
	color: #333;
	-webkit-text-size-adjust: none;
	font-size: var(--font-size, 16px);
	line-height: var(--line-height);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	letter-spacing: 0.5px; // For proof: because sometimes there are aberrations with non-default spacing. Safari bug: value flashing from 0 https://bugs.webkit.org/show_bug.cgi?id=193008

	/* Elements with double line-height */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: var(--line-height);
		word-break: break-word; // Overflow protection for long words
		word-wrap: break-word;
		font-size: 1em;
		font-weight: 500;
		margin: 24px 0;

		@media (max-width: $screen-narrow-max) {
			-webkit-hyphens: auto;
			hyphens: auto;
		}

		+ p:not(.n-drop-cap) {
			margin-top: 0;
		}
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em; // 	line-height: 1.333;
		line-height: calc(var(--line-height)/1.5); // = standard line-height / new font-size in em
	}

	h3 {
		font-size: 1.2em;
		line-height: calc((var(--line-height) * 1.011)/1.2);
	}

	h5 {
		font-size: 0.8em;
		line-height: 1.9;
	}

	h6 {
		font-size: 0.6667em;
		line-height: 2.3;
	}

	pre {
		overflow: auto;
	}

	p {
		font-size: 1em;
		margin: var(--line-height-em) 0;
		line-height: var(--line-height);
	}

	.n-drop-cap:first-letter {
		float: left;
		float: inline-start;
		font-size: 5em;
		padding: 0.1em 0.1em 0.1em 0;
		margin-top: -0.2em;
		line-height: 1em;
		// initial-letter: 3;
	}

	a[href] {
		color: inherit;
	}

	p a[href] {
		display: inline;
	}

	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid #cccccc;
		margin: 1em 0;
		padding: 0;
	}

	.quote,
	blockquote,
	q {
		border-inline-start: 1px solid #bbb;
		padding-inline-start: 1em;
		display: block;
		margin: var(--line-height-em) 0;
		margin-inline-start: 1em;
	}

	.n-big-text {
		font-size: 1.125em;
		line-height: 1.3334em;
		min-height: 1.3334em;
	}
}

.n-adjust-height, .n-row picture.n-adjust-height {
	// 	transition: padding-bottom .1s ease-in-out;
	border-bottom: calc(1px * var(--adjust-height)) solid transparent;
	box-sizing: content-box;
}